<pagination-table-container [paginationHandler]="paginationHandler" [noItems]="!list?.length"
    [title]="'Forgot Pin'" [loading]="loading">

    <div class="filters flex justify-space-between w-100">
        <div class="filters-wrapper flex align-items-center">
            <mat-form-field class="crypto-date-input m-right-10">
                <input matInput readonly [matDatepicker]="start" [max]="endDate" [(ngModel)]="startDate"
                    (dateChange)="resetPagination()" (click)="start.open()" class="cursor-pointer"
                    placeholder="Start date">
                <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                <mat-datepicker #start></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="crypto-date-input m-right-10">
                <input matInput readonly [matDatepicker]="end" [min]="startDate" [(ngModel)]="endDate"
                    (dateChange)="resetPagination()" (click)="end.open()" class="cursor-pointer" placeholder="End date">
                <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                <mat-datepicker #end></mat-datepicker>
            </mat-form-field>

            <button class="crypto-button crypto-button_primary" [disabled]="!startDate && !endDate"
                (click)="clearDatePickers()">
                <span>Clear</span>
            </button>
        </div>
        <div class="search-wrapper">
            <debounced-input (valueChange)="onSearchValueChange($event)"></debounced-input>
        </div>
    </div>

    <forgot-pin-table [items]="list"></forgot-pin-table>
</pagination-table-container>