<div class="content">
    <div><h1 class="h1welcomeback">Restore Password</h1>
    <span class="continue">Password restore link will be send on your registration email</span>
    <span class="splitter"></span>
</div>

<div class="forgot-password-page flex">

    <div class="overlay-wrapper">
        <div class="">
            <div class="form-header-bft">  
            <form [formGroup]="formGroup" (submit)="restorePassword()" class="form-wrapper">
                <div class="crypto-form-unit">
                    
                    <mat-form-field class="crypto-input full-width no-borders-input">
                        <input matInput type="email" placeholder="Enter your email" formControlName="email">
                      
                    </mat-form-field>
                </div>

                <div class="notification is-error" *ngIf="serverError">
                    {{serverError}}
                </div>

                <button type="submit" class="btn crypto-button crypto-button-full-width action-btn"
                        [disabled]="formGroup.invalid || processing"
                        (click)="restorePassword()">
                    <div class="lds-ellipsis" *ngIf="processing">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <span *ngIf="!processing">Restore Password</span>
                </button>

                <button [disabled]="processing" class="btn crypto-button crypto-button-full-width action-btnx"
                        (click)="doLogin()">
                    <span>Back to login Page</span>
                </button>

            </form>
        </div>
    </div>
</div>


