:host {
  width: 100%;
  display: block;
  overflow: auto;

  .forgot-password-page {
    margin: 20vh 0;
  }

  .restore-btn {
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .crypto-button {
    font-family: 'PT Sans';
  }

  .logo:before {
    vertical-align: unset;
  }
}