<div class="forgot-password-page flex">
    <div class="background"
         ></div>
    <div class="overlay-wrapper">
        <div class="overlay">
            <div class="form-header-bft">  
                <img  src="assets/img/bftnavigatorlogo.svg" /></div>
            <form [formGroup]="formGroup" (submit)="restorePassword()" class="form-wrapper">
                <div class="form-header">
                   
                    <p class="form-header__title">Restore password</p>
                </div>

                <div class="crypto-form-unit">
                    <mat-form-field class="crypto-input full-width">
                        <input matInput type="email" placeholder="user@email.com" formControlName="email">
                        <i class="crypto-icon crypto-icon-email" matSuffix></i>
                    </mat-form-field>
                </div>

                <div class="notification is-error" *ngIf="serverError">
                    {{serverError}}
                </div>

                <button type="submit" class="btn crypto-button crypto-button-full-width button_primary restore-btn"
                        [disabled]="formGroup.invalid || processing"
                        (click)="restorePassword()">
                    <div class="lds-ellipsis" *ngIf="processing">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <span *ngIf="!processing">Restore Password</span>
                </button>

                <button [disabled]="processing" class="btn crypto-button crypto-button-full-width button_success"
                        (click)="doLogin()">
                    <span>Login Page</span>
                </button>

            </form>
        </div>
    </div>
</div>


