@import "../../themes/themes";
@import "mixins/themify";
@import "global-styles/variables";

:host {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
  font-family:  $primaryFontFamily;

  .content {
    max-width: 300px;
  }
} 