<div class="content">
    <div><h1>Restore Password</h1>
    <span>Password restore link will be send on your registration email</span>
    <span class="splitter"></span>
</div>

<div class="forgot-password-page flex">
    <div class="background"></div>
    <div class="overlay-wrapper">
        <div class="">
            <div class="form-header-bft">  
            <form [formGroup]="formGroup" (submit)="restorePassword()" class="form-wrapper">
                <div class="crypto-form-unit">
                    <label class="labeln">Email</label>
                    <mat-form-field class="crypto-input full-width">
                        <input matInput type="email" placeholder="Your email" formControlName="email">
                        <i class="crypto-icon crypto-icon-email" matSuffix></i>
                    </mat-form-field>
                </div>

                <div class="notification is-error" *ngIf="serverError">
                    {{serverError}}
                </div>

                <button type="submit" class="btn crypto-button crypto-button-full-width action-btn"
                        [disabled]="formGroup.invalid || processing"
                        (click)="restorePassword()">
                    <div class="lds-ellipsis" *ngIf="processing">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <span *ngIf="!processing">Restore Password</span>
                </button>

                <button [disabled]="processing" class="btn crypto-button crypto-button-full-width action-btn"
                        (click)="doLogin()">
                    <span>Login Page</span>
                </button>

            </form>
        </div>
    </div>
</div>


