:host {
  width: 100%;
  display: block;
  overflow: auto;

  .forgot-password-page {
    margin: 20vh 0;
  }

  .restore-btn {
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .crypto-button {
    font-family: 'PT Sans';
  }

  .logo:before {
    vertical-align: unset;
  }
}


button.btn.crypto-button.crypto-button-full-width.button_success.login-btn {
  background-color: black;
  opacity: 0.8;
  font-weight: bold;
}




.overlay {
  background: #fff !important;
  display:block ;
  padding:0px;
  border-radius:5px;
  overflow:hidden;
}

.form-wrapper {
  padding:15px;

}

.form-header-bft {
  background:#191919;
  color:#fff;
  font-size:12px;
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
  
}


.form-header-bft img {

  width: 200px;
  filter: invert(1);
}



::before {
  color: #000000b5;
}

span.form-header__title.signIn {
  color: black !important;
}

.form-header {
  padding-top:10px;
}


.register-btn {
  background: #191919 !important;
}

button.btn.crypto-button.crypto-button-full-width.button_primary.restore-btn {
  background: #191919;
}