<div class="content">
    <mission-row-component Name="Find 3 '1hour' Sonar setups" Points="100" Needed="3" Current="1"></mission-row-component>
    <mission-row-component Name="Find 2 '4hour' Sonar setups" Points="100" Needed="2" Current="1"></mission-row-component>
    <mission-row-component Name="Find daily Sonar setup" Points="100" Needed="1" Current="1"></mission-row-component>
    <mission-row-component Name="Get 1% PL for your account" Points="100" Needed="1" Current="3.2"></mission-row-component>
    <mission-row-component Name="Get 3% PL for your account" Points="300" Needed="3" Current="3.2"></mission-row-component>
    <mission-row-component Name="Get 5% PL for your account" Points="500" Needed="5" Current="3.2"></mission-row-component>
</div>