@import "../../../../global-styles/variables";
@import "../../../../global-styles/themes/themes";
@import "../../../../global-styles/mixins/themify";
@import "../../../../global-styles/mixins/dialog-tab-header";

@include dialogTabHeader();

:host {
  display: block;
  height: 100%;

  .tile-header {
    font-size: 13px !important;
    font-weight: 700;
  }

  .subscriptions-area {
    margin: 15px 0px;
  }

  .no-content {
    justify-content: center;
    font-size: 13px;
    padding: 10px;
  }

  hr {
    width: 100%;
  }

  .header {
    font-weight: 700;
    margin-bottom: 10px;
  }

  .basic-row {
    flex-direction: row;
    width: 100%;
  }

  .account-row {
    width: 100%;
    flex-direction: column;
    margin: 10px 0px;
    padding: 15px;
    border-radius: 5px;
    // background: #7979792e;
    border: 1px solid;
  }

  .account-column {
    width: 25%;
    font-size: 12px;
  }

  .btns {
    justify-content: flex-end;
    margin-top: -20px;
  }

  .description_info {
    font-size: 13px;

    .relogin-now {
      color: #3d61cc;
      text-decoration: underline;
      cursor: pointer;
      margin-left: 6px;
    }
  }

  .section {
    padding: 20px 28px;
    margin-top: 9px;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    flex-direction: column;
  }

  .subscription-row  {
    font-size: 13px;
    width: 100%;
    margin: 5px 0px;
    .date, .interval {
      min-width: 140px;
    }
    .price {
      min-width: 120px;
    }

    .status {
      text-transform: capitalize;
      justify-content: center;
      align-items: center;
      margin-right: 12px;
      width: 140px;
      border-radius: 10px;
    }
    
    .name {
      width: 100%;
    }
  }
}

@include themify($themes, true) {
  .section {
    background-color: themed('appPanelColor');
    box-shadow: themed('box-shadowPanel');
    color: themed('valueTextColor');
  }

  .account-row {
    border-color: themed('tableBorders');
  }
}
