@import "global-styles/variables";

$primeColor: #1a0833;
$secondaryColor: #fff;
$mutedColor: rgba(0, 0, 0, 0.74);
$mutedColorOnHover: rgba(0, 0, 0, 1);
$accentColor: #fc2cad;
$avatarBgColor: #3f4143;
$secondaryBgColor: #f3f4f5;
$secondaryBgBorderColor: #d2d6db;
$primeBgColor: #fff;
$navbarHeight: 75px;
$mobileNavbarHeight: 112px;
$sidebarMenuWidth: 320px;
