<div class="flex justify-content-center align-items-center svg-image">
    <img src="assets/img/metatrader.png" class="mt-image">
</div>

<div class="connected-broker-area" *ngIf="!brokerConnected">
    <div class="flex-row" *ngIf="savedAccountExists()">
        <div class="connected-accounts">
            <connected-account-info (onBrokerSelected)="brokerSelected($event)"></connected-account-info>
        </div>
    </div>

    <div class="flex-row">
        <div class="flex-column">
            <div class="mat-form-field-wrapper crypto-form-unit">
                <span class="form-unit__label">Broker:</span>
                <selector class="dropdown"
                        [title]="'Select broker'"
                        [options]="brokers"
                        (onSelect)="onBrokerSelected($event)"
                        [selectedOption]="selectedBroker"></selector>
            </div>
        </div>
        <div class="flex-column">
            <div class="mat-form-field-wrapper crypto-form-unit is-secondary">
                <span class="form-unit__label">Server:</span>
                <selector class="dropdown"
                        [title]="'Select server'"
                        [optionCaption]="captionText"
                        [options]="getServerBySelectedBroker()"
                        (onSelect)="onServerSelected($event)"
                        [selectedOption]="selectedServer"></selector>
            </div>
        </div>
    </div>

    <div class="flex-row">
        <div class="flex-column">
            <div class="mat-form-field-wrapper crypto-form-unit">
                <span class="form-unit__label">Login:</span>
                <input type="text" class="full-width crypto-input mtInput" [(ngModel)]="login"
                        placeholder="Login">
            </div>
        </div>
        
        <div class="flex-column">
            <div class="mat-form-field-wrapper crypto-form-unit">
                <span class="form-unit__label">Password:</span>
                <input type="text" class="full-width crypto-input mtInput" [(ngModel)]="password"
                        placeholder="Password">
            </div>
        </div>
    </div>
    
</div>

<div class="connectBrokerBlock" [class.disabled]="!policyAccepted">
    <button class="crypto-button crypto-button_primary w-100" (click)="connect()" *ngIf="!brokerConnected">
        {{'broker.connect' | translate}}
    </button>
    <button class="crypto-button crypto-button_primary w-100" (click)="disconnect()" *ngIf="brokerConnected">
        {{'broker.disconnect' | translate}}
    </button>
</div>

<loader *ngIf="showSpinner"></loader>

