

<div class="connected-broker-area" *ngIf="!brokerConnected" [class.disabled]="showSpinner">
    <div class="flex-row" *ngIf="savedAccountExists()">
        <div class="connected-accounts">
            <connected-account-info (onBrokerSelected)="brokerSelected($event)"></connected-account-info>
        </div>
    </div>

    <div class="flex-row">
        <div class="flex-column">
            <div class="mat-form-field-wrapper crypto-form-unit">
                <span class="form-unit__label">Broker:</span>

            <mat-form-field>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onBrokerSelected($event)">
                    <mat-option *ngFor="let option of filteredBrokers" [value]="option">
                      {{option}}
                    </mat-option>
                </mat-autocomplete>
                <input type="text" 
                    class="full-width crypto-input mtInput" 
                    placeholder="Search broker"
                    (click)="inputClicked($event)"
                    (focus)="inputClicked($event)"
                    matInput
                    [formControl]="brokerFormControl"
                    [matAutocomplete]="auto">
                </mat-form-field>
                <!-- <selector class="dropdown"
                        [title]="'Select broker'"
                        [options]="brokers"
                        (onSelect)="onBrokerSelected($event)"
                        [selectedOption]="selectedBroker"></selector> -->
            </div>
        </div>
        <div class="flex-column">
            <div class="mat-form-field-wrapper crypto-form-unit is-secondary">
                <span class="form-unit__label">Server:</span>
                <selector class="dropdown"  
                        [title]="'Select server'"
                        [optionCaption]="captionText"
                        [options]="getServerBySelectedBroker()"
                        (onSelect)="onServerSelected($event)"
                        [selectedOption]="selectedServer"></selector>
            </div>
        </div>
    </div>

    <div class="flex-row">
        <div class="flex-column">
            <div class="mat-form-field-wrapper crypto-form-unit">
                <span class="form-unit__label">Login:</span>
                <input type="text" class="full-width crypto-input mtInput" [(ngModel)]="login"
                        placeholder="Login" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
            </div>
        </div>
        
        <div class="flex-column">
            <div class="mat-form-field-wrapper crypto-form-unit">
                <span class="form-unit__label">Password:</span>
                <input type="password" class="full-width crypto-input mtInput" [(ngModel)]="password"
                        placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
            </div>
        </div>
    </div>
    
</div>

<div class="connectBrokerBlock" [class.disabled]="!policyAccepted">
    <button class="crypto-button crypto-button_primary w-100" (click)="connect()" *ngIf="!brokerConnected">
        {{'broker.connect' | translate}}
    </button>
    <button class="crypto-button crypto-button_primary w-100" (click)="disconnect()" *ngIf="brokerConnected">
        {{'broker.disconnect' | translate}}
    </button>
</div>

<loader *ngIf="showSpinner"></loader>

