@import "../../styles/themes/themes";
@import "global-styles/mixins/themify";
@import "global-styles/variables";

:host {
  height: 100%;
  width: 100%;

  .root {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
  }

  .event-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 3px;
  }

  .group-container {
    height: 100%;
    display: flex;
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }

  .event-header {
    font-size: 13px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid;
    padding-bottom: 10px;

    .header-section-name {
      display: flex;
      align-items: flex-start;
    }

    .header-section-time {
      display: flex;
    }

    .event-name {
      margin-left: 10px;
    }

    .country {
      display: flex;

      .country-name {
        margin-left: 10px;
      }
    }

    .country-flag-container {
      display: flex;
      height: 100%;
      align-items: flex-start;
    }

    .country-flag {
      background: url(/assets/img/country-flags.png) no-repeat;
      background-size: 860px 20px;
      display: block;
      height: 20px;
      margin: 0 auto;
      width: 20px;
      min-width: 20px;
    }

    .country-flag_ar {
      background-position: 0 0;
    }

    .country-flag_at {
      background-position: -20px 0;
    }

    .country-flag_au {
      background-position: -40px 0;
    }

    .country-flag_be {
      background-position: -60px 0;
    }

    .country-flag_br {
      background-position: -80px 0;
    }

    .country-flag_ca {
      background-position: -100px 0;
    }

    .country-flag_ch {
      background-position: -120px 0;
    }

    .country-flag_cl {
      background-position: -140px 0;
    }

    .country-flag_cn {
      background-position: -160px 0;
    }

    .country-flag_co {
      background-position: -180px 0;
    }

    .country-flag_cz {
      background-position: -200px 0;
    }

    .country-flag_de {
      background-position: -220px 0;
    }

    .country-flag_dk {
      background-position: -240px 0;
    }

    .country-flag_es {
      background-position: -260px 0;
    }

    .country-flag_emu {
      background-position: -280px 0;
    }

    .country-flag_fi {
      background-position: -300px 0;
    }

    .country-flag_fr {
      background-position: -320px 0;
    }

    .country-flag_gr {
      background-position: -340px 0;
    }

    .country-flag_hk {
      background-position: -360px 0;
    }

    .country-flag_hu {
      background-position: -380px 0;
    }

    .country-flag_id {
      background-position: -400px 0;
    }

    .country-flag_ie {
      background-position: -420px 0;
    }

    .country-flag_in {
      background-position: -440px 0;
    }

    .country-flag_is {
      background-position: -460px 0;
    }

    .country-flag_it {
      background-position: -480px 0;
    }

    .country-flag_jp {
      background-position: -500px 0;
    }

    .country-flag_kr {
      background-position: -520px 0;
    }

    .country-flag_mx {
      background-position: -540px 0;
    }

    .country-flag_nl {
      background-position: -560px 0;
    }

    .country-flag_no {
      background-position: -580px 0;
    }

    .country-flag_nz {
      background-position: -600px 0;
    }

    .country-flag_pe {
      background-position: -620px 0;
    }

    .country-flag_pl {
      background-position: -640px 0;
    }

    .country-flag_pt {
      background-position: -660px 0;
    }

    .country-flag_ro {
      background-position: -680px 0;
    }

    .country-flag_ru {
      background-position: -700px 0;
    }

    .country-flag_se {
      background-position: -720px 0;
    }

    .country-flag_sg {
      background-position: -740px 0;
    }

    .country-flag_sk {
      background-position: -760px 0;
    }

    .country-flag_tr {
      background-position: -780px 0;
    }

    .country-flag_uk {
      background-position: -800px 0;
    }

    .country-flag_us {
      background-position: -820px 0;
    }

    .country-flag_za {
      background-position: -840px 0;
    }
  }

  .event-description {
    font-size: 12px;
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 10px;
  }

  .event-info {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    .event-info-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 10px;
      margin-top: 10px;
      padding: 5px;
      border-radius: 3px;

      .event-info-title {
        font-size: 11px;
      }

      .event-info-value {
        font-size: 13px;
      }
    }
  }

  .passed {
    opacity: 0.5 !important;
  }

  .out-of-access {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    cursor: pointer;
    position: absolute;
    top: 0px;
    z-index: 2;

    .out-of-access-box {
      display: flex;
      flex-flow: column;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0 0 5px -2px rgba(75, 72, 72, 0.44);
      .text {
        margin: 10px 7px;
        display: flex;
        text-align: center;
        font-weight: 700;
        font-size: 12px;
        max-width: 180px;

        padding-top: 5px;
      }

      .image {
        display: flex;
        justify-content: center;
      }
      img {
        width: 200px;
      }
    }
  }
}

@include themify($themes, true) {
  .event-header,
  .event-description,
  .group-container,
  .event-info {
    color: themed("valueTextColor");
  }
  .event-header {
    border-color: themed("tableBorders");
  }
  .country,
  .event-info-title {
    color: themed("card-title");
  }
  .event-container {
    background: themed("card-background-color");
  }
  .event-info-item {
    background: themed("actual-tags-bg");
  }
  .out-of-access-box {
    background-color: themed("appPanelColor");
    .text {
      color: themed("valueTextColor");
    }
  }
}
