<ng-container *ngIf="hasAccess; else outOfAccess">
    <div class="root economical-calendar-root">
        <ng-container *ngFor="let itemGroup of items">
            <div class="group-container">
                {{itemGroup.Date}}
            </div>
            <ng-container *ngFor="let item of itemGroup.Items">
                <div class="event-container" [ngClass]="{'passed': item.IsPassed}">
                    <div class="event-header">
                        <div class="header-section-name">
                            <div class="country">
                                <div class="country-flag-container">
                                    <div class="country-flag" [ngClass]="getCountryFlag(item)"></div>
                                </div>
                                <div class="country-name">{{item.CountryName}}</div>
                            </div>
                            <div class="event-name">
                                {{item.Name}}
                            </div>
                        </div>

                        <div class="header-section-time">
                            <div class="time">
                                {{item.DateUtc.toLocaleTimeString()}}
                                <span *ngIf="item.IsPassed">(Passed)</span>
                            </div>
                        </div>
                    </div>
                    <div class="event-description" *ngIf="!!item.HTMLDescription">
                        <div [innerHTML]="item.HTMLDescription"></div>
                    </div>

                    <div class="event-info">
                        <div class="event-info-item">
                            <div class="event-info-title">
                                Volatility
                            </div>
                            <div class="event-info-value">
                                {{item.Volatility}}
                            </div>
                        </div>
                        <div class="event-info-item" *ngIf="!item.IsSpeech && !item.IsReport">
                            <div class="event-info-title">
                                Actual
                            </div>
                            <div class="event-info-value">
                                <span *ngIf="!!item.Actual; else no_actual">
                                    {{item.Actual}}
                                </span>
                                <ng-template #no_actual>
                                    -
                                </ng-template>
                            </div>
                        </div>
                        <div class="event-info-item" *ngIf="!item.IsSpeech && !item.IsReport">
                            <div class="event-info-title">
                                Consensus
                            </div>
                            <div class="event-info-value">
                                <span *ngIf="!!item.Consensus; else no_consensus">
                                    {{item.Consensus}}
                                </span>
                                <ng-template #no_consensus>
                                    -
                                </ng-template>
                            </div>
                        </div>
                        <div class="event-info-item" *ngIf="!item.IsSpeech && !item.IsReport">
                            <div class="event-info-title">
                                Previous
                            </div>
                            <div class="event-info-value">
                                <span *ngIf="!!item.Previous; else no_previous">
                                    {{item.Previous}}
                                </span>
                                <ng-template #no_previous>
                                    -
                                </ng-template>
                            </div>
                        </div>

                        <div class="event-info-item">
                            <div class="event-info-title">
                                Event
                            </div>
                            <div class="event-info-value">
                                {{item.EventTypeDescription}}
                            </div>
                        </div>
                        <div class="event-info-item" *ngIf="!!item.IsSpeech">
                            <div class="event-info-title">
                                Event Type
                            </div>
                            <div class="event-info-value">
                                <span>Speech</span>
                            </div>
                        </div>
                        <div class="event-info-item" *ngIf="!!item.IsReport">
                            <div class="event-info-title">
                                Event Type
                            </div>
                            <div class="event-info-value">
                                <span>Report</span>
                            </div>
                        </div>

                        <div class="event-info-item" *ngIf="!!item.RiseType">
                            <div class="event-info-title">
                                Raise Type
                            </div>
                            <div class="event-info-value">
                                {{item.RiseType}}
                            </div>
                        </div>
                        <div class="event-info-item" *ngIf="!!item.CurrencyId">
                            <div class="event-info-title">
                                Currency
                            </div>
                            <div class="event-info-value">
                                {{item.CurrencyId}}
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>

    <bft-loader *ngIf="loading"></bft-loader>
</ng-container>


<ng-template #outOfAccess>
    <div class="out-of-access" (click)="processCheckout()">
        <div class="out-of-access-box">
            <div class="image">
                <img class="BFTimage" src="assets/img/bftnavigatorlogo.svg">
            </div>
            <div class="text">
                Upgrade your subscription to get access to Economical Calendar.
            </div>
        </div>
    </div>
</ng-template>