<div class="new-password-page flex">
    <div class="background"
         [ngStyle]="{'background-image': 'url(assets/img/login-page/bg.jpg)'}"></div>
    <div class="overlay-wrapper">
        <div class="overlay">
            <div class="form-header-bft">  
                <img  src="assets/img/bftnavigatorlogo.svg" /></div>
            <form [formGroup]="formGroup" class="form-wrapper">
                <div class="form-header">
                   

                    <p class="form-header__title">Reset Password</p>
                </div>

                <div class="crypto-form-unit">
                    <mat-form-field class="crypto-input full-width with-hint">
                        <input matInput type="password" placeholder="Password" formControlName="password">
                        <i class="crypto-icon crypto-icon-pasword" matSuffix></i>
                        <mat-error>
                            <span *ngIf="formGroup.controls['password'].errors.required">Password is required</span>
                            <span *ngIf="formGroup.controls['password'].errors.passwordValidation">
                                {{formGroup.controls['password'].errors.passwordValidation[0].message}}
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="crypto-form-unit">
                    <mat-form-field class="crypto-input full-width with-hint">
                        <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword"
                               [errorStateMatcher]="errorMatcher">
                        <i class="crypto-icon crypto-icon-pasword" matSuffix></i>
                        <mat-error>
                            <span>Password does`t match</span>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div *ngIf="errorNotification" class="notification is-error">
                    <span class="last-error-output">{{errorNotification}}</span>
                </div>

                <button class="btn crypto-button crypto-button-full-width button_primary save-btn"
                        [disabled]="formGroup.invalid || processing"
                        (click)="doPasswordRestoring()">
                    <div class="lds-ellipsis" *ngIf="processing">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <span *ngIf="!processing">Save New Password</span>
                </button>
                <button [disabled]="processing" class="btn crypto-button crypto-button-full-width button_success"
                        (click)="doLogin()">
                    <span>Cancel</span>
                </button>

            </form>
        </div>
    </div>
</div>
