:host {
  width: 100%;
  display: block;
  overflow: auto;

  .new-password-page {
    margin: 20vh 0;
  }

  .last-error-form-info {
    align-items: flex-start;
  }

  .save-btn {
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .crypto-button {
    font-family: 'PT Sans';
  }

  label {
    cursor: pointer;
  }

  .logo:before {
    vertical-align: unset;
  }
}

