<div class="content">
    <div><h1>Reset Password</h1>
    <span>Reset your user password</span>
    <span class="splitter"></span>
</div>

<div class="forgot-password-page flex margintop20">
    <div class="background"></div>
    <div class="overlay-wrapper">
        <div class="">
            <div class="form-header-bft">  
                <form [formGroup]="formGroup" class="form-wrapper">
                    <div class="crypto-form-unit">
                        <mat-form-field class="crypto-input full-width with-hint">
                            <input matInput type="password" placeholder="Password" formControlName="password">
                            <i class="crypto-icon crypto-icon-pasword" matSuffix></i>
                            <mat-error>
                                <span *ngIf="formGroup.controls['password'].errors?.required">Password is required</span>
                                <span *ngIf="formGroup.controls['password'].errors?.passwordValidation">
                                    {{formGroup.controls['password'].errors?.passwordValidation[0].message}}
                                </span>
                            </mat-error>
                        </mat-form-field>
                    </div>
    
                    <div class="crypto-form-unit">
                        <mat-form-field class="crypto-input full-width with-hint">
                            <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword"
                                   [errorStateMatcher]="errorMatcher">
                            <i class="crypto-icon crypto-icon-pasword" matSuffix></i>
                            <mat-error>
                                <span>Password does`t match</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
    
                    <div *ngIf="errorNotification" class="notification is-error">
                        <span class="last-error-output">{{errorNotification}}</span>
                    </div>
    
                    <button class="btn crypto-button crypto-button-full-width action-btn"
                            [disabled]="formGroup.invalid || processing"
                            (click)="doPasswordRestoring()">
                        <div class="lds-ellipsis" *ngIf="processing">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <span *ngIf="!processing">Save New Password</span>
                    </button>
                    <button [disabled]="processing" class="btn crypto-button crypto-button-full-width action-btn"
                            (click)="doLogin()">
                        <span>Cancel</span>
                    </button>
    
                </form>
        </div>
    </div>
</div>