<div class="success_checkout_container">
    <div class="left_part">
        <div class="page">
            <div class="navimgholder"><img width="100px" height="100" src="/assets/img/bft_bird_w.svg" alt="">
            </div>
            <div class="left">
                <div class="root">
                    <div class="text">Welcome Breakfree Trader, we are processing your payment and will update your account in a few minutes.</div>
                    <div class="back-to-navigator" (click)="backToPlatform()"><span class="arrow-back">&#8592;</span>Back to Navigator</div>
                </div>
            </div>
        </div>
    </div> 
    <div class="right_part">
        <div class="video_container">
        </div>
    </div>
</div>