//@import "../../../styles/themes/themes";
@import "global-styles/themes/themes";
@import "mixins/themify";

@include themify($themes, true) {
  .close-order-button {
    width: 60px;
    height: 26px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px 0px;
    background-color: themed('rejectButtonBackgroundColor');
  }

  ::ng-deep mat-cell:last-of-type {
    padding-right: 10px;
  }

  .symbol {
    color: themed('valueTextColor');
  }

  .sell {
    color: themed('sellColor');
  }
  .buy {
    color: themed('buyColor');
  }
}

:host {
  display: block;
  /deep/ {
    .close-order-column {
      width: 70px;
    }
  }
  //height: 100%;

  //.top-line {
  //  padding-bottom: 4px;
  //}
  //
  //.place-order-btn {
  //  width: 32px;
  //  height: 32px;
  //}
  //
  //.close-order-column {
  //  box-sizing: content-box;
  //  width: 26px;
  //
  //  .close-order-button {
  //    margin: auto;
  //    margin-right: 0;
  //  }
  //}
  //
  //.orders {
  //  display: flex;
  //  flex-direction: column;
  //
  //  .selectStatus {
  //    selector {
  //      display: inline-block;
  //      width: 200px;
  //    }
  //  }
  //}
  //
  //.instrument-search {
  //  margin-right: 4px;
  //}
}
