@import "../../../../global-styles/themes/themes";
@import "../../../../global-styles/mixins/themify";

:host {
  ::ng-deep {
    .mat-tab-nav-bar {
      top: 5px !important;

      .mat-tab-links {
        padding: 0;
        left: 20px;
        min-width: auto;
        display: flex;
        justify-content: space-between;
        .mat-tab-link {
          margin-right: 25px;
          text-decoration: none;
        }
      }
    }
  }

  .section-alert {
    margin-top: -40px;
  }

  .user-settings-header {
    border: none;
  }
}

@include themify($themes, true) {
  .mat-tab-link {
    color: themed('titleTextColor') !important;
  }

  .mat-tab-label-active {
    color: themed('accentColor') !important;
  }
}
