<div class="content">
    <div>
        <h1>1 Step left.</h1>
        <span>To finish your registration, please confirm your email address.</span>
        <span class="splitter"></span>
    </div>

    <div class="forgot-password-page flex">
        <div class="background"></div>
        <div class="overlay-wrapper">
                <div class="margintop20 message">
                    We have sent a verification link to your email, just click the link inside and you are done.
                 
                </div>
        </div>
    </div>
</div>