<div class="register-page flex">
    <div class="background"
         ></div>
    <div class="overlay-wrapper">
        <div class="overlay">
            <div class="form-header-bft">  
             <img  src="assets/img/bftnavigatorlogo.svg" /></div>
  <div class="form-header">
                <p  class="form-header__title">Verify your email address</p>
            </div>
            <div class="form-wrapper">

                <div class="crypto-text is-small is-secondary m-bottom-10 message">
                    Verification link is sent on your registration email. Please
                    confirm that you want to use this as your email address.
                </div>

                <!--<a class="btn crypto-button crypto-button-full-width m-bottom-10 m-top-10  button_success"-->
                   <!--href="{{redirectUrl}}">-->
                    <!--Verify my email-->
                <!--</a>-->
            </div>
        </div>
    </div>
</div>
