<div class="content">
    <div>
        <h1>Verify your email</h1>
        <span>To finish your registration process next steps</span>
        <span class="splitter"></span>
    </div>

    <div class="forgot-password-page flex">
        <div class="background"></div>
        <div class="overlay-wrapper">
                <div class="margintop20 message">
                    Verification link is sent on your registration email. Please
                    confirm that you want to use this as your email address.
                </div>
        </div>
    </div>
</div>