<div class="root flex flex-direction-column full-height">
    <div class="flex flex-direction-column flex-grow-1 h-0">
        <div class="content-wrapper full-height flex-grow-1 overflow-y-auto">
            <data-table [rows]="filteredAlerts$ | async" class="manage-alerts-table crypto-table crypto-table_fixed-header crypto-table_striped crypto-table_ellipsis crypto-table_selectable">
                <data-table-header-cell columnName="symbol">
                    {{'symbol' | translate}}
                </data-table-header-cell>
                <data-table-header-cell columnName="description">
                    {{'description' | translate}}
                </data-table-header-cell>

                <data-table-header-cell columnName="status">
                    <span class="right">{{'status' | translate}}</span>
                </data-table-header-cell>

                <data-table-cell class="stripped-mode" columnName="symbol">
                    <ng-template let-item>
                        <span class="flex">
                            <currency-icon [name]="item.dataSource.relatedSymbol.toLowerCase().slice(0, 3)"></currency-icon>
                            {{item.dataSource.relatedSymbol}}
                        </span>
                    </ng-template>
                </data-table-cell>

                <data-table-cell class="stripped-mode" columnName="description">
                        <ng-template let-item class="alert-description-wrapper">
                            {{item.getDescription()}}
                        </ng-template>
                </data-table-cell>

                <data-table-cell columnName="status">
                        <ng-template let-item>
                            <div class="alert-description-cell">
                           <span class="running-status-wrapper">
                               <indicator *ngIf="!item.isStarted" [colorClass]="'not-running'"></indicator>
                               <indicator *ngIf="item.isStarted && !item.isOnCloud" [colorClass]="'is-running'"></indicator>
                               <span class="running-status-on-cloud" *ngIf="item.isStarted && item.isOnCloud">
                                   <i class="fa fa-cloud"></i>
                               </span>
                           </span>
                            <span class="alert-controls-wrapper">

                            <i class="crypto-icon crypto-icon-alert-start control"
                               [class.disabled]="alertsLaunchProcessing.includes(item.externalId)"
                               title="{{('alertWidget.start'| translate)}}"
                               (click)="handleAlertLaunchButtonClick(item)"
                               *ngIf="!item.isStarted"></i>

                            <i class="fa fa-pause control control-pause"
                               [class.disabled]="alertsLaunchProcessing.includes(item.externalId)"
                               title="{{('alertWidget.stop'| translate)}}"
                               (click)="handleAlertLaunchButtonClick(item)"
                               *ngIf="item.isStarted"></i>

                            <i class="crypto-icon crypto-icon-alert-edit control" title="{{'edit'| translate}}"
                               [class.disabled]="alertsLaunchProcessing.includes(item.externalId)"
                               (click)="showAlertDialog(item)"></i>

                            <i class="control" title="{{'remove'| translate}}"
                               [class.disabled]="alertsLaunchProcessing.includes(item.externalId)">
                                <remove-button (click)="removeAlert(item)"></remove-button></i>
                        </span>
                            </div>
                        </ng-template>
                </data-table-cell>
            </data-table>
        </div>
    </div>=
</div>

<ng-template #loader>
    <bft-loader></bft-loader>
</ng-template>