$DarkTheme: (
    confirmModalAcceptBgColor: #72BB77,
    confirmModalRejectBgColor: #BD6561,
    confirmModalMessageColor: #fff,

    comingSoonBgColor: rgba(255, 255, 255, 0.2),
    comingSoonCaptionColor: #fff,

    dropdownMenuBgColor: #17191b,
    dropdownMenuItemHoveredBgColor: #262626,
)