$LightTheme: (
        confirmModalAcceptBgColor: #72BB77,
        confirmModalRejectBgColor: #BD6561,
        confirmModalMessageColor: rgba(0, 0, 0, 0.65),

        comingSoonBgColor: rgba(0, 0, 0, 0.2),
        comingSoonCaptionColor: #fff,

        dropdownMenuBgColor: #f5f5f5,
        dropdownMenuItemHoveredBgColor: #d8d8d8,
);