<mat-tab-group class="full-height" (selectedTabChange)="tabChanged($event)" #tabGroup [(selectedIndex)]="selectedIndex">
    <mat-tab label="{{'tradeManager.positions' | translate}} {{positionsAmount ? '[' + positionsAmount + ']' : ''}}">
        <binance-futures-positions [selectedTabIndex]="selectedTabIndex" [tabIndex]="0"
            (onOpenChart)="handleOpenChart($event)" (onPositionClose)="handlePositionClose($event)"></binance-futures-positions>
    </mat-tab>
    <mat-tab label="{{'tradeManager.pendingOrders' | translate}} {{pendingAmount ? '[' + pendingAmount + ']' : ''}}">
        <binance-futures-pending-orders [selectedTabIndex]="selectedTabIndex" [tabIndex]="1"
            (onOrderClose)="handleOrderClose($event)" (onOrderEdit)="handleOrderEdit($event)"
            (onOpenChart)="handleOpenChart($event)"></binance-futures-pending-orders>
    </mat-tab>
    <mat-tab label="{{'tradeManager.orderHistory' | translate}}">
        <binance-futures-history-orders [selectedTabIndex]="selectedTabIndex" [selectedTabIndex]="selectedTabIndex"
            [tabIndex]="2" (onOpenChart)="handleOpenChart($event)"></binance-futures-history-orders>
    </mat-tab>
    <mat-tab label="{{'tradeManager.tradeHistory' | translate}}">
        <binance-futures-history-trades [selectedTabIndex]="selectedTabIndex" [selectedTabIndex]="selectedTabIndex"
            [tabIndex]="3" (onOpenChart)="handleOpenChart($event)"></binance-futures-history-trades>
    </mat-tab>
    <mat-tab label="{{'tradeManager.assets' | translate}}">
        <binance-futures-assets [selectedTabIndex]="selectedTabIndex" [selectedTabIndex]="selectedTabIndex"
            [tabIndex]="4"></binance-futures-assets>
    </mat-tab>
    <mat-tab label="{{'tradeManager.accountInfo' | translate}}">
        <binance-futures-account-info [tabIndex]="5"></binance-futures-account-info>
    </mat-tab>
</mat-tab-group>