@import "global-styles/themes/themes";
@import "mixins/themify";

.symbolSearch {
  max-width: 200px;
}

.search-button {
  border-width: 0;
  height: 32px;
  width: 32px;
  margin-left: 2px;
  padding: 0;
  vertical-align: bottom;
}

.upTrend {
  background-color: #26C14D;
}

.downTrend {
  background-color: #F42C3B;
}

.noTrend{
  background-color: #777777;
}

.trendcell {
  display: inline-block;
  height: 12px;
  border: 2px solid transparent;
  opacity: 0.7;
  padding: 0;
  margin-right: 3px;
}

.trends-widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  height: 40px;
  width: 100%;
  font-size: 13px;
  border-bottom: 1px solid transparent;
}

.trend-info {
  text-align: center;
}

.table-wrapper {
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 2px;
}

@include themify($themes, true) {
  .trends-widget {
    //background-color: themed('appPanelColor');


    .trends-widget-header {
      border-color: themed('appBackgroundColor');

      .trends-widget-title {
        color: themed('valueTextColor');
      }
    }

    color: themed('valueTextColor');

    .search-button {
      background-color: themed('appBackgroundColor');
      border-color: themed('appBackgroundColor');
    }

    .order-buttons {
      .active {
        border-color: themed('accentColor');
      }
    }
  }

}
