@import "../../../styles/variables";
@import "../../../styles/themes/themes";
@import "mixins/themify";

:host {
  .wallet-selector {
    width: 100px;
  }

  .delimiter {
    margin: 6px 0;
  }

  .wallets-caption {
    font-size: 13px;
  }

  table {
    width: 100%;
  }

  .buttons-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    button {
      width: calc(50% - 2px);
    }
  }
}
