<div class="question-container flex justify-space-between">
    <div class="vote-container flex flex-direction-column align-items-center">
        <i class="crypto-icon crypto-icon-question-vote"></i>
        <div class="count">15</div>
        <i class="crypto-icon crypto-icon-question-vote"></i>
    </div>
    <div class="post-container flex flex-grow-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, at corporis deleniti deserunt dicta dolore, dolorem illo ipsa ipsam laboriosam, non officiis pariatur qui. Accusamus aspernatur dolorem eum maxime natus obcaecati perferendis praesentium quae, quas quis! Animi delectus facere harum magni minima odio officiis pariatur rem ullam voluptas! Maiores, neque.</div>
</div>