<!--<sidebar-container>-->
<!--    <div class="sidebar-section">-->
<!--        <popular-tags></popular-tags>-->
<!--    </div>-->
<!--    <div class="delimiter"></div>-->
<!--    <div class="sidebar-section">-->
<!--        <popular-questions></popular-questions>-->
<!--    </div>-->
<!--</sidebar-container>-->

<landing-sidebar>
    <!--    <div class="sidebar-section">-->
    <!--        <popular-tags></popular-tags>-->
    <!--    </div>-->
    <landing-sidebar-section>
        <!--        <span class="color-title">Popular Tags</span>-->
        <popular-tags></popular-tags>
    </landing-sidebar-section>
    <!--    <div class="delimiter"></div>-->
    <landing-sidebar-section>
        <popular-questions></popular-questions>
    </landing-sidebar-section>
</landing-sidebar>
