<div class="placeholder crypto-text">
    <div class="representation flex justify-content-center">
        <div class="representation-content">
            <div class="representation-img">
                <img src="assets/img/Dashboard-ilustration.svg">
            </div>
            <h3 class="is-bold crypto-text">Welcome to Dashboard</h3>
            <p>In the previous article, we discussed the importance of backtesting trading
                strategies, but this is only half of a story. We now know
                that backtesting is essential for learning how.</p>
        </div>
    </div>
    <div class="text-content"></div>
    <div class="content flex justify-space-between flex-wrap-wrap">

        <ng-container *showIfRole="Roles.Admin">
            <div class="section" *showByTag="ComponentIdentifier.runningScript">
                <div class="top flex">
                    <div class="icon">
                        <i class="crypto-icon crypto-icon-script"></i>
                    </div>
                    <h3 class="is-bold crypto-text">Running scripts (Switched OFF)</h3>
                </div>
                <p>Show running scripts.</p>
                <button class="crypto-button" [routerLink]="AdminRoutes.RunningScripts">Manage running scripts</button>
            </div>
        </ng-container>

        <ng-container *showIfRole="Roles.Admin">
            <div class="section" *showByTag="ComponentIdentifier.adminNews">
                <div class="top flex">
                    <div class="icon">
                        <i class="crypto-icon crypto-icon-news"></i>
                    </div>
                    <h3 class="is-bold crypto-text">News</h3>
                </div>
                <p>Add news to platform easily by clicking
                    add news.</p>
                <button class="crypto-button" [routerLink]="AdminRoutes.News">Manage news</button>
            </div>
        </ng-container>
        <ng-container *showIfRole="Roles.Admin">
            <div class="section" *showByTag="ComponentIdentifier.permissionsManager">
                <div class="top flex">
                    <div class="icon">
                        <i class="crypto-icon crypto-icon-permission"></i>
                    </div>
                    <h3 class="is-bold crypto-text">Permissions manager</h3>
                </div>
                <p>Add permissions manager to platform easily by clicking
                    add permissions manager.</p>
                <button class="crypto-button" [routerLink]="AdminRoutes.UIPermissionsManager">Manage permissions</button>
            </div>
        </ng-container>

        <ng-container *showIfRole="[Roles.Admin, Roles.SecurityOfficer, Roles.SystemMonitoringOfficer, Roles.SupportOfficer]">
            <div class="section" *showByTag="ComponentIdentifier.adminNotifications">
                <div class="top flex">
                    <div class="icon">
                        <i class="crypto-icon crypto-icon-platform-alert"></i>
                    </div>
                    <h3 class="is-bold crypto-text">Notifications</h3>
                </div>
                <p>Add notifications to platform easily by clicking
                    add notifications.</p>
                <button class="crypto-button" [routerLink]="AdminRoutes.Notifications">Manage notifications</button>
            </div>
        </ng-container>

        <ng-container *showIfRole="[Roles.Admin, Roles.NewsOfficer]">
            <div class="section" *showByTag="ComponentIdentifier.eventConsolidator">
                <div class="top flex">
                    <div class="icon">
                        <i class="crypto-icon crypto-icon-calendar"></i>
                    </div>
                    <h3 class="is-bold crypto-text">Event (Switched OFF)</h3>
                </div>
                <p>Add event to platform easily by clicking
                    add event.</p>
                <button class="crypto-button" [routerLink]="AdminRoutes.EventConsolidator">Manage event</button>
            </div>
        </ng-container>

        <ng-container *showIfRole="[Roles.Admin, Roles.KYCOfficer, Roles.SupportOfficer]">
            <div class="section" *showByTag="ComponentIdentifier.appMembers">
                <div class="top flex">
                    <div class="icon">
                        <i class="crypto-icon crypto-icon-app-members"></i>
                    </div>
                    <h3 class="is-bold crypto-text">Members</h3>
                </div>
                <p>Add members to platform easily by clicking
                    add members.</p>
                <button class="crypto-button" [routerLink]="AdminRoutes.AppMembers">Manage members</button>
            </div>
        </ng-container>

        <ng-container *showIfRole="[Roles.Admin, Roles.SupportOfficer]">
            <div class="section" *showByTag="ComponentIdentifier.xpDashboard">
                <div class="top flex">
                    <div class="icon">
                        <i class="crypto-icon crypto-icon-admin-dashboard"></i>
                    </div>
                    <h3 class="is-bold crypto-text">XP Dashboard</h3>
                </div>
                <p>View trading XP Dashboard.</p>
                <button class="crypto-button" [routerLink]="AdminRoutes.XPDashboard">XP Dashboard</button>
            </div>
        </ng-container>

        <!-- <ng-container *showIfRole="[Roles.Admin, Roles.SupportOfficer]">
            <div class="section" *showByTag="ComponentIdentifier.companionWallets">
                <div class="top flex">
                    <div class="icon">
                        <i class="crypto-icon crypto-icon-blockchains"></i>
                    </div>
                    <h3 class="is-bold crypto-text">Companion Finance</h3>
                </div>
                <p>View Companion Finance.</p>
                <button class="crypto-button" [routerLink]="AdminRoutes.CompanionWallets">Companion Finance</button>
            </div>
        </ng-container> -->

        <ng-container *showIfRole="[Roles.Admin, Roles.SupportOfficer]">
            <div class="section" *showByTag="ComponentIdentifier.registrationsDashboard">
                <div class="top flex">
                    <div class="icon">
                        <i class="crypto-icon crypto-icon-admin-dashboard"></i>
                    </div>
                    <h3 class="is-bold crypto-text">Registrations Dashboard</h3>
                </div>
                <p>View user Registrations Dashboard.</p>
                <button class="crypto-button" [routerLink]="AdminRoutes.registrationsDashboard">Registrations Dashboard</button>
            </div>
        </ng-container>

        <ng-container *showIfRole="[Roles.Admin, Roles.SocialMediaOfficer]">
            <div class="section" *showByTag="ComponentIdentifier.adminChat">
                <div class="top flex">
                    <div class="icon">
                        <i class="crypto-icon crypto-icon-chat"></i>
                    </div>
                    <h3 class="is-bold crypto-text">Chat rooms</h3>
                </div>
                <p>Add chat rooms to platform easily by clicking
                    add chat rooms.</p>
                <button class="crypto-button" [routerLink]="AdminRoutes.Chat">Manage chat rooms</button>
            </div>
        </ng-container>

        <ng-container *showIfRole="[Roles.Admin, Roles.SocialMediaOfficer]">
            <div class="section" *showByTag="ComponentIdentifier.adminQA">
                <div class="top flex">
                    <div class="icon">
                        <i class="crypto-icon crypto-icon-like"></i>
                    </div>
                    <h3 class="is-bold crypto-text">Q&A</h3>
                </div>
                <p>Add Q&A to platform easily by clicking
                    add Q&A.</p>
                <button class="crypto-button" [routerLink]="AdminRoutes.QA">Manage Q&A</button>
            </div>
        </ng-container>

        <ng-container *showIfRole="[Roles.Admin, Roles.SocialMediaOfficer]">
            <div class="section" *showByTag="ComponentIdentifier.adminForum">
                <div class="top flex">
                    <div class="icon">
                        <i class="crypto-icon crypto-icon-forum"></i>
                    </div>
                    <h3 class="is-bold crypto-text">Forum</h3>
                </div>
                <p>Add forum to platform easily by clicking
                    add forum.</p>
                <button class="crypto-button" [routerLink]="AdminRoutes.Forum + '/categories'">Manage forum</button>
            </div>
        </ng-container>

    </div>
</div>

