$DarkTheme: (
   mat-ink-bar-color: #607d8b,

  // Stock Market Dialog
  order-modal-dialog-text-color: rgb(255, 255, 255),
  order-modal-buy-color: #26C14D,
  order-modal-sell-color: #F42C3B,
  order-modal-color: #d5d5dc,

  level2TrBorderColor: #000
)