$LightTheme: (
  mat-ink-bar-color: #607d8b,

  // Stock Market Dialog
  order-modal-dialog-text-color: rgb(0, 0, 0),
  order-modal-buy-color: #26C14D,
  order-modal-sell-color: #F42C3B,
  order-modal-color: #323232,

  level2TrBorderColor: rgba(0, 0, 0, 0.4)
)