.modal-content {
  max-width: 350px;
  // min-width: auto;
}

.modal-body {
  max-height: 75vh;
}
.title-description {
  font-size: 12px;
  background: #ff000082;
  color: #fff;
  border-radius: 8px;
  padding: 12px;
  line-height: normal;
}


:host {
  .btns-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
