.modal-content {
  max-width: 350px;
  // min-width: auto;
}

.modal-body {
  max-height: 75vh;
}

:host {
  .btns-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
