$DarkTheme: (
    headerBgColor: #06060d,
    activeTabBgColor: #191919,
    tabBgColor: #121219,
    activeTabColor: #d5d5dc,
    addTabTitleColor: #6B6B6B,
    tabColor: #8798ad,
    addTabBtnBgColor: #3d61cc,
    addTabBtnColor: #a3a3a3,
    splitterBgColor: #06060d,
    splitterDraggingBgColor: #17191b,
    dropTargetInnerBgColor: rgba(0, 0, 0, 0.2),
    dropTargetBoxShadow: inset 0 0 30px #000000,
    headerControlsColor: #d5d5dc,
    add-component-btn-color: rgba(255, 255, 255, 0.35),
    add-component-btn-bg: rgba(255, 255, 255, 0.1),
    add-component-bg-color: #17191b,
    lmContent: #191919,
)
