$DarkTheme: (
        tableBorders: #27282b59,
        appBackgroundColor: #0e0e0e,
        borderColor: #27282b,
        hoverBackground: #27282b59,
        appPanelColor: #0e0e0e,
        appPanelColorx: #212125,
        appPanelColorxx: #212125,
        appModalsPanelColor: #27282B,
        gutterColor: #000000,
        gutterinsidecolor: #464646,
        topToolbarSeparator: #0a0a0a,

        tradescoreitembg: #282828,
        tradescoreitembTextColor: #ffffffd1,
        tradescoreholderbg: #191919,
        tradescoreSecondColor: #2e2e38,
        tradescoretext: #ffffffd1,
        tradescorelabels: #ffffffd1,
        niceborder: transparent,
        orderpanelprefixcolor: #fff,


        buyColor: #27cf6d,
        sellColor: #f02645,
        accentColor: #397dc4,
        accentLightColor: #324254,
        missionDialogBackground: #fefffe,
        missionTextMenuColor: #323232,
        missionContent: #f1f1f7,
        missionCard: #FFF,
        missionTextColor: #323232,
        missionCardXPColor: #368857b3,
        missionCardXPBackground: #38ab7126,
        missionContentHeader: #FFF,

        titleTextColor: #ffffffd1,
        valueTextColor: #d5d5dc,

        activeBackgroundColor: #2e3740,

        box-shadowPanel: 0 1px 0 0 #000000,
        box-shadowModals: 0 6px 8px 0 rgba(0, 0, 0, 0.1),

        inputBackgroundColor: #1d1e21,
        inputInModalsBackgroundColor: #1D1E21,
        rejectButtonBackgroundColor: #0d0d0f,

        textareaBorderColor: transparent,
        warning: orange,
        noactiveTabs: #06060d,
        selectBgDisabled: #404244,

        timepickerAccent: #192431,
        nthChild: rgba(18,18,25,0.6),

        scanner-card-tf-border: #292218,
        scanner-card-tf-color: #e5aa74,

        scanner-card-setup-long-color: #48c062,
        scanner-card-setup-long-background: #274a3a87,

        scanner-card-setup-short-color: #F1574F,
        scanner-card-setup-short-background: #8e26264d,

        card-title: #a9aaab,
        card-background-color: #181819,
        widget-wall-bg: #212125,

        sonar-search-bg: #303031,
        sonar-search-border: #47474747,
        sonar-search-bg-active: #1f1f21,
        sonar-search-border-active:#d7dadcb0,
        sonar-common-text-color: #ffffffba,
        sonar-feed-hover-color:#5655554d,
        sonar-accent-color:#2c4158,

        sonar-feed-border: #333,
        sonar-feed-post-button: #293542,
        sonar-feed-header: #1f1f21,
        sonar-feed-tag: #242627,
        sonar-feed-tag-shadow: #00000075,
        tags-holder-bg: #0e0e0e,

        actual-tags-color: #d5d5dc,
        actual-tags-bg: #242627,

        holder-tags-border-color: #dddddd26,


        comment-wrapper-bg: #262728,
        new-search-field-selector-bg: #16171B,
        new-search-field-bg: #1C1E22,
        new-sort-color-bg: #353638,
        provider-text-color: #ffffffd1,

        sonar-timeframe-tag-color: #e5aa74, 
        sonar-timeframe-tag-bg: #e5aa74, 

        sonar-card-bg: #27282b59,
        sonar-card-bg-border: #2c2c2c94,

        user-row-bg: #ffffff0f,
        change-trading-mode: #ff7272d1,
        select-market: #2d6398e3,
        select-market-hover: #4183c4e3,
        select-market-color: #ffffff,

        symcS: #fff,
        symcA: #ffffffde,
        symcB: #ffffffc9,
        symcC: #ffffffb8,



        
)