$DarkTheme: (
        appBackgroundColor: #191919,
        appPanelColor: #191919,
        appModalsPanelColor: #27282B,

        buyColor: #27cf6d,
        sellColor: #f02645,
        accentColor: #397dc4,

        titleTextColor: #ffffffd1,
        valueTextColor: #d5d5dc,

        activeBackgroundColor: #2e3740,

        box-shadowPanel: 0 1px 0 0 #000000,
        box-shadowModals: 0 6px 8px 0 rgba(0, 0, 0, 0.1),

        inputBackgroundColor: #1D1E21,
        inputInModalsBackgroundColor: #1D1E21,
        rejectButtonBackgroundColor: #0d0d0f,

        textareaBorderColor: transparent,
        warning: orange,
        noactiveTabs: #121219,
        selectBgDisabled: #404244,

        timepickerAccent: #192431
)