$LightTheme: (
        appBackgroundColor: #edeff2,
        appPanelColor: #ffffff,
        appModalsPanelColor: #ffffff,

        buyColor: #21a28b,
        sellColor: #e24c4f,
        accentColor: #397dc4,

        titleTextColor: #8798ad,
        valueTextColor: #323232,

        activeBackgroundColor: #f5f5f5,

        box-shadowPanel: 0 1px 0 0 rgba(190, 190, 190, 0.1),
        box-shadowModals: 0 6px 8px 0 rgba(61, 97, 204, 0.1),

        inputBackgroundColor: #f5f5f5,
        inputInModalsBackgroundColor: #f1f3f4,
        rejectButtonBackgroundColor: #f1f3f4,

        textareaBorderColor: transparent,
        warning: orange,
        noactiveTabs: #fafafa,
        selectBgDisabled: #f0f0f0,

        timepickerAccent: #949494,
)
