$LightTheme: (
        tableBorders: #edeff2,
        appBackgroundColor: #ffffff,
        borderColor: #e0e3eb,
        hoverBackground: #f1f1f1,
        appPanelColor: #ffffff,
        appPanelColorx: #ffffff,
        appPanelColorxx: #f3f3f3,
        appModalsPanelColor: #ffffff,
        gutterColor: #00000033,
        gutterinsidecolor: #ffffffde,
        topToolbarSeparator: #4e4e50,

        tradescoreitembg: #ddd,
        tradescoreitembTextColor: #070709,
        tradescoreholderbg:#f3f3f3,
        tradescoreSecondColor: #2e2e38,
        tradescoretext: #3b3c40,
        tradescorelabels: #3b3c40,
        niceborder: #ddd,
        orderpanelprefixcolor: #000,
        

        buyColor: #21a28b,
        sellColor: #e24c4f,
        accentColor: #397dc4,
        accentLightColor: #e2ecf7,
        missionDialogBackground: #27282B,
        missionTextMenuColor: #ffffffd1,
        missionContent: #f1f1f7,
        missionCard: #FFF,
        missionCardXPColor: #368857b3,
        missionCardXPBackground: #38ab7126,
        missionContentHeader: #FFF,

        titleTextColor: #323232,
        valueTextColor: #323232,
        missionTextColor: #323232,

        activeBackgroundColor: #f5f5f5,

        box-shadowPanel: 0 1px 0 0 rgba(190, 190, 190, 0.1),
        box-shadowModals: 0 6px 8px 0 rgba(61, 97, 204, 0.1),

        inputBackgroundColor: #fafafa,
        inputInModalsBackgroundColor: #f1f3f4,
        rejectButtonBackgroundColor: #f1f3f4,

        textareaBorderColor: transparent,
        warning: orange,
        noactiveTabs: #f3f3f3,
        selectBgDisabled: #f0f0f0,

        timepickerAccent: #949494,
        nthChild: rgba(195,195,195,0.25),

        scanner-card-tf-border: #ddaf0bad,
        scanner-card-tf-color: #DDAF0B,

        scanner-card-setup-long-color: #408f60,
        scanner-card-setup-long-background: #38ab7130,

        scanner-card-setup-short-color: #973131b3,
        scanner-card-setup-short-background: #ff3f3f40,

        card-title: #6a6a6a,
        card-background-color: #edeff2,
        widget-wall-bg: #f5f5f5,

        sonar-search-bg: #eceff2,
        sonar-search-border: #dae2e6,
        sonar-search-bg-active: #f4f4f4,
        sonar-search-border-active:#bad5e2,
        sonar-common-text-color: #626262,
        sonar-feed-hover-color:#e5e9ec,
        sonar-accent-color:#e0efff,

        sonar-feed-border: #ddd,
        sonar-feed-post-button: #e2e4e6,
        sonar-feed-header: #f4f4f4,
        sonar-feed-tag: #c9cbce,
        sonar-feed-tag-shadow: #00000030,
        tags-holder-bg: #ffffff,
        actual-tags-color: #000,
        actual-tags-bg: #d6d6d6,

        holder-tags-border-color: #74707026,

        comment-wrapper-bg: #d9dadc7d,
        new-search-field-selector-bg: #f1f1f1,
        new-search-field-bg: #ffffff,
        new-sort-color-bg: #353638,
        provider-text-color: #2c343e,
        sonar-timeframe-tag-color: #ae7146, 
        sonar-timeframe-tag-bg: #dddddd, 

        sonar-card-bg: #f4f4f4,
        sonar-card-bg-border: #ddd,

        user-row-bg: #00000012,
        change-trading-mode: #ff7272d1,
        select-market: rgba(0,85, 255,  0.10),
        select-market-hover: #4f95dae3,
        select-market-color: #0178b3,
        select-market-border: rgb(94, 133, 175),

        half-cube: #9b9b9b6b,


        statusRunner: #696969,
        statusRunnerHover: #32567c,
        statusRunnerAutoMode: #327c41,
        statusRunnerTextColor: #fff,
        statusRunnerHITLBorder: #828282,
        trendindexMatRowBorder: #383939,


        symcS: #000000f0,
        symcA: #000000e8,
        symcB: #000000e5,
        symcC: #000000cf,

       
)
