@import "../../../../../../styles/themes/themes";
@import "mixins/themify";

:host {
    .crypto-modal {
        min-width: 100px !important;
    }

    .modal-content {
        max-width: 400px;
    }
    .content {
        font-size: 12px;
    }
    .btns-wrapper {
        justify-content: flex-end;
    }
}

@include themify($themes, true) {
    .content {
      color: themed('valueTextColor');
    }
  }