<div class="crypto-modal bftorderpanel" cdkDrag cdkDragRootElement=".cdk-overlay-pane">

    <div class="modal-header bftorderheader">
        <button type="button" class="close" (click)="close()"><i class="crypto-icon crypto-icon-close"></i></button>
        <h4 class="modal-title">{{'tradeManager.orderDialogTitle' | translate}}</h4>
    </div>


    <div class="modal-content bftordermodal">
       
        <div class="modal-body">
            <mt5-order-configurator [config]="orderConfig"
                                       [submitHandler]="submitHandler"
                                       (onSubmitted)="hide()" (onOrderPlaced)="orderPlaced($event)"></mt5-order-configurator>
        </div>
    </div>
</div>
