<ng-container *ngIf="hasAccess; else outOfAccess">
    <div class="root">
        <div class="header-line" *ngIf="!!myAutoTradingAccount && !!userAutoTradingInfoData">
            <div class="left-side">
                <div class="account-id">Neural Agent: #{{myAutoTradingAccount}}</div>

            </div>
            <div class="right-side">
        
                <div >
                    <span (click)="changeUseManualTradingForAccount()" *ngIf="!userAutoTradingInfoData.useManualTrading" class="change-trading-mode">        <div class="trading-enabled">
                        <span *ngIf="userAutoTradingInfoData.useManualTrading" class="positive-color">HITL Enabled</span>
                        <span *ngIf="!userAutoTradingInfoData.useManualTrading" class="negative-color">HITL Disabled</span>
                    </div></span>
                    <span (click)="changeUseManualTradingForAccount()" *ngIf="userAutoTradingInfoData.useManualTrading" class="change-trading-mode">        <div class="trading-enabled">
                        <span *ngIf="userAutoTradingInfoData.useManualTrading" class="positive-color">HITL Enabled</span>
                        <span *ngIf="!userAutoTradingInfoData.useManualTrading" class="negative-color">HITL Disabled</span>
                    </div></span>
                </div>
                <div class="lock">
                <div class="edit" *ngIf="!editMode" (click)="setEditMode()">Select Markets</div>
                <div class="edit" *ngIf="editMode" (click)="unsetEditMode()">Lock Markets</div>
                 </div>
            </div>
        </div>
        <div class="chart-view" *ngIf="!!chartDataBars">
            <div class="chart-container">
                <div class="chart-container-titlex margin-top margin-bottom">
                    <div>{{chartDataBars.symbol}} State</div>
                    <div>{{chartDataBars.startDate}} - {{chartDataBars.endDate}}</div>
                    <div><span class="close-icon" (click)="closeCharts()"><i
                        class="fa fa-close iconsize"></i></span></div>
                </div>
                <!--  <div class="chart-container-canvas">
                <trend-index-bar-chart [data]="chartDataBars.data" [height]="90"></trend-index-bar-chart>
            </div>-->
            </div>
            <ng-container *ngFor="let chartDataTrend of chartDataTrends">
                <div class="chart-container"
                    [ngClass]="height-60">
                    
                    <div class="chart-container-title">
                        <div class="datatrend">{{chartDataTrend.timeframe}}</div>
                        <div [class.strength-positive]="chartDataTrend.strength > 0"
                            [class.strength-negative]="chartDataTrend.strength < 0">
                            {{chartDataTrend.strength > 0 ? "+" :""}}{{chartDataTrend.strength.toFixed(0)}}%</div>
                    </div>
                    <trend-index-chart [data]="chartDataTrend.data"
                        [height]="60"></trend-index-chart>
                        
                </div>
            </ng-container>
        </div>
        <div class="data-table">
            <data-table #dataTableComponent [rows]="vm" [selectable]="!editMode" [selectedRow]="selectedVM"
                [columnCaption]="columnCaption" [allowColumnsVisibilityChange]="false" [trackByIndex]="false"
                [groups]="groups" [groupingField]="groupingField" (onRowSelect)="handleInstrumentClick($event)">

                <!--Columns-->

                <data-table-header-cell columnName="symbol" [sortable]="true" [columnMinWidth]="editMode ? 128 : 100"
                    [columnWidth]="editMode ? 128 : 100">
                    {{'instrument' | translate}}
                </data-table-header-cell>
                <data-table-header-cell columnName="driver" [sortable]="true" [columnMinWidth]="40" [columnWidth]="75">
                    {{'driver' | translate}}
                </data-table-header-cell>
                <data-table-header-cell columnName="min_1" [sortable]="true" [columnMinWidth]="40" [columnWidth]="75">
                    {{'min_1' | translate}}
                </data-table-header-cell>
                <data-table-header-cell columnName="min_5" [sortable]="true" [columnMinWidth]="40" [columnWidth]="75">
                    {{'min_5' | translate}}
                </data-table-header-cell>
                <data-table-header-cell columnName="min_15" [sortable]="true" [columnMinWidth]="40" [columnWidth]="75">
                    {{'min_15' | translate}}
                </data-table-header-cell>
                <data-table-header-cell columnName="h_1" [sortable]="true" [columnMinWidth]="40" [columnWidth]="75">
                    {{'h_1' | translate}}
                </data-table-header-cell>
                <data-table-header-cell columnName="h_4" [sortable]="true" [columnMinWidth]="40" [columnWidth]="75">
                    {{'h_4' | translate}}
                </data-table-header-cell>
                <data-table-header-cell columnName="d_1" [sortable]="true" [columnMinWidth]="40" [columnWidth]="75">
                    {{'d_1' | translate}}
                </data-table-header-cell>
                <data-table-header-cell columnName="month_1" [sortable]="true" [columnMinWidth]="40" [columnWidth]="75">
                    {{'month_1' | translate}}
                </data-table-header-cell>


                <!-- Cells -->
                <data-table-cell columnName="symbol">
                    <ng-template let-vmItem>
                        <div class="symbol-cell">
                            <div class="symbol-cell-checkbox" *ngIf="editMode">
                                <input type="checkbox"  (change)="instrumentSelectionChanged(vmItem)" [checked]="isInstrumentSelected(vmItem)" id="symbol_{{vmItem.symbol}}" />
                                <label for="symbol_{{vmItem.symbol}}"></label>
                            </div>
                            <div class="symbol-container" tooltip
                                [matTooltip]="getRelativeStrengthTooltip(vmItem.totalStrength)">
                                <span class="symbolx-border"
                                    [ngClass]="{'positive-border': vmItem.totalStrength > 0, 'negative-border': vmItem.totalStrength < 0}">
                                </span>
                                <span class="symbolx-tradable" *ngIf="isTradable(vmItem)">
                                </span>
                                <div class="symbol-color-container"
                                    [ngClass]="getRelativeStrengthClass(vmItem.totalStrength)">
                                    <span class="symbolx">
                                        {{vmItem.symbol}}
                                    </span>
                                    <span class="strength-total" [class.up-trend]="vmItem.totalStrength > 0"
                                        [class.down-trend]="vmItem.totalStrength < 0">
                                        [{{(vmItem.totalStrength * 100).toFixed(0)}}%]
                                    </span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </data-table-cell>
                <data-table-cell columnName="driver">
                    <ng-template let-vmItem>
                        <div class="strength-cell">
                            <trend-column [Strength]="vmItem.price1Strength"
                                [StrengthValue]="vmItem.price1StrengthValue"></trend-column>
                        </div>
                    </ng-template>
                </data-table-cell>
                <data-table-cell columnName="min_1">
                    <ng-template let-vmItem>
                        <div class="strength-cell">
                            <trend-column [Strength]="vmItem.price60Strength"
                                [StrengthValue]="vmItem.price60StrengthValue"></trend-column>
                        </div>
                    </ng-template>
                </data-table-cell>
                <data-table-cell columnName="min_5">
                    <ng-template let-vmItem>
                        <div class="strength-cell">
                            <trend-column [Strength]="vmItem.price300Strength"
                                [StrengthValue]="vmItem.price300StrengthValue"></trend-column>
                        </div>
                    </ng-template>
                </data-table-cell>
                <data-table-cell columnName="min_15">
                    <ng-template let-vmItem>
                        <div class="strength-cell">
                            <trend-column [Strength]="vmItem.price900Strength"
                                [StrengthValue]="vmItem.price900StrengthValue"></trend-column>
                        </div>
                    </ng-template>
                </data-table-cell>
                <data-table-cell columnName="h_1">
                    <ng-template let-vmItem>
                        <div class="strength-cell">
                            <trend-column [Strength]="vmItem.price3600Strength"
                                [StrengthValue]="vmItem.price3600StrengthValue" [TrendState]="vmItem.hour1State"></trend-column>
                        </div>
                    </ng-template>
                </data-table-cell>
                <data-table-cell columnName="h_4">
                    <ng-template let-vmItem>
                        <div class="strength-cell">
                            <trend-column [Strength]="vmItem.price14400Strength"
                                [StrengthValue]="vmItem.price14400StrengthValue" [TrendState]="vmItem.hour4State"></trend-column>
                        </div>
                    </ng-template>
                </data-table-cell>
                <data-table-cell columnName="d_1">
                    <ng-template let-vmItem>
                        <div class="strength-cell">
                            <trend-column [Strength]="vmItem.price86400Strength"
                                [StrengthValue]="vmItem.price86400StrengthValue" [TrendState]="vmItem.dailyState"></trend-column>
                        </div>
                    </ng-template>
                </data-table-cell>
                <data-table-cell columnName="month_1">
                    <ng-template let-vmItem>
                        <div class="strength-cell">
                            <trend-column [Strength]="vmItem.price2592000Strength"
                                [StrengthValue]="vmItem.price2592000StrengthValue" [TrendState]="vmItem.monthlyState"></trend-column>
                        </div>
                    </ng-template>
                </data-table-cell>

            </data-table>
        </div>
    </div>

    <bft-loader *ngIf="loading"></bft-loader>
</ng-container>

<ng-template #outOfAccess>
    <div class="out-of-access" (click)="processCheckout()">
        <div class="out-of-access-box">
            <div class="image">
                <img class="BFTimage" src="assets/img/bftnavigatorlogo.svg">
            </div>
            <div class="text">
                Upgrade your subscription to get access to Trend Index.
            </div>
        </div>
    </div>
</ng-template>