<div class="root">
    <data-table #dataTableComponent [rows]="vm" [selectable]="true" [selectedRow]="selectedVM"
        [columnCaption]="columnCaption" [allowColumnsVisibilityChange]="false"
        (onRowSelect)="handleInstrumentClick($event)">

        <!--Columns-->

        <data-table-header-cell columnName="symbol" [sortable]="false" [columnMinWidth]="80">
            {{'instrument' | translate}} 
        </data-table-header-cell>
        <data-table-header-cell columnName="price" [sortable]="false"
            [columnMinWidth]="80">
            {{'price' | translate}}
        </data-table-header-cell>
        <data-table-header-cell columnName="priceChange" [sortable]="false" [columnMinWidth]="65">
            {{'change' | translate}}
        </data-table-header-cell>
        <data-table-header-cell columnName="min_1" [sortable]="false" [columnMinWidth]="35" [columnWidth]="35">
            {{'min_1' | translate}}
        </data-table-header-cell>
        <data-table-header-cell columnName="min_5" [sortable]="false" [columnMinWidth]="35" [columnWidth]="35">
            {{'min_5' | translate}}
        </data-table-header-cell>
        <data-table-header-cell columnName="min_15" [sortable]="false" [columnMinWidth]="35" [columnWidth]="35">
            {{'min_15' | translate}}
        </data-table-header-cell>
        <data-table-header-cell columnName="h_1" [sortable]="false" [columnMinWidth]="35" [columnWidth]="35">
            {{'h_1' | translate}}
        </data-table-header-cell>
        <data-table-header-cell columnName="h_4" [sortable]="false" [columnMinWidth]="35" [columnWidth]="35">
            {{'h_4' | translate}}
        </data-table-header-cell>
        <data-table-header-cell columnName="d_1" [sortable]="false" [columnMinWidth]="35" [columnWidth]="35">
            {{'d_1' | translate}}
        </data-table-header-cell>
        <data-table-header-cell columnName="total" [sortable]="false" [columnMinWidth]="65">
            {{'total' | translate}}
        </data-table-header-cell>
        <data-table-header-cell columnName="empty" [sortable]="false" [columnMinWidth]="0" [columnWidth]="0">
        </data-table-header-cell>

        <!--Cells-->

        <!-- Cells -->
        <data-table-cell columnName="symbol">
            <ng-template let-vmItem>
                <span 
                    class="symbolx" 
                    [ngClass]="{'positive-border': vmItem.totalStrength > 0, 'negative-border': vmItem.totalStrength < 0}"
                >
                    {{vmItem.symbol}}
                </span>
            </ng-template>
        </data-table-cell>

        <data-table-cell columnName="price">
            <ng-template let-vmItem>{{vmItem.last_price}}</ng-template>
        </data-table-cell>
        <data-table-cell columnName="priceChange"x>
            <ng-template let-vmItem>
                <span class="price-change" [class.up-trend]="vmItem.price86400Change > 0" [class.down-trend]="vmItem.price86400Change < 0">
                    {{vmItem.price86400Change > 0 ? "+" : ""}}
                    {{vmItem.price86400Change.toFixed(2)}}%
                </span>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="min_1">
            <ng-template let-vmItem>
                <div class="strength-cell">
                    <trend-column [Strength]="vmItem.price60Strength" [StrengthValue]="vmItem.price60StrengthValue"></trend-column>
                </div>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="min_5">
            <ng-template let-vmItem>
                <div class="strength-cell">
                    <trend-column [Strength]="vmItem.price300Strength" [StrengthValue]="vmItem.price300StrengthValue"></trend-column>
                </div>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="min_15">
            <ng-template let-vmItem>
                <div class="strength-cell">
                    <trend-column [Strength]="vmItem.price900Strength" [StrengthValue]="vmItem.price900StrengthValue"></trend-column>
                </div>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="h_1">
            <ng-template let-vmItem>
                <div class="strength-cell">
                    <trend-column [Strength]="vmItem.price3600Strength" [StrengthValue]="vmItem.price3600StrengthValue"></trend-column>
                </div>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="h_4">
            <ng-template let-vmItem>
                <div class="strength-cell">
                    <trend-column [Strength]="vmItem.price14400Strength" [StrengthValue]="vmItem.price14400StrengthValue"></trend-column>
                </div>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="d_1">
            <ng-template let-vmItem>
                <div class="strength-cell">
                    <trend-column [Strength]="vmItem.price86400Strength" [StrengthValue]="vmItem.price86400StrengthValue"></trend-column>
                </div>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="total">
            <ng-template let-vmItem>
                <div class="strength-total" [class.up-trend]="vmItem.totalStrength > 0" [class.down-trend]="vmItem.totalStrength < 0">
                    {{vmItem.totalStrength > 0 ? "+" : ""}}
                    {{(vmItem.totalStrength * 100).toFixed(2)}}%
                </div>
            </ng-template>
        </data-table-cell>

    </data-table>
</div>

<bft-loader *ngIf="loading"></bft-loader>

<ng-template #outOfAccess>
    <div class="out-of-access" (click)="processCheckout()">
        <div class="image">
            <img class="BFTimage" src="assets/img/bftnavigatorlogo.svg">
        </div>
        <div class="text">
            Upgrade your subscription to get access to Watchlists.
        </div>
    </div>
</ng-template>