@import "global-styles/variables";
@import "global-styles/mixins/themify";
@import "global-styles/themes/themes";

:host {
  @media (max-width: 390px) {
    .mobilehiddenacc {
      font-size: 9px;
    }

    .extended-mode,
    .trading-enabled {
      font-size: 11px !important;
    }
  }

  @media (max-width: 320px) {
    .mobilehiddenacc {
      display: none;
    }

    .extended-mode,
    .trading-enabled {
      font-size: 11px !important;
    }
  }

  trend-index-chart {
    min-height: 60px;
  }

  .chart-root {
    min-height: 60px;
  }

  transition: all 0.22s ease-in-out;

  /deep/ {
    mat-table {
      max-width: 100% !important;
      width: 100% !important;
      min-width: unset !important;
    }

    mat-row {
      overflow: hidden !important;
      height: 100% !important;
      max-height: 30px;
      transition: all 0.22s ease-in-out;
    }

    .god-view mat-row {
      overflow: hidden !important;
      height: 100% !important;
      max-height: 100px;
      transition: all 0.22s ease-in-out;
    }

      mat-row {
        overflow: hidden !important;
        height: 100% !important;
        max-height: 36px;
        transition: all 0.22s ease-in-out;
    

      &.row-group-header {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        padding-top: 4px;
        margin-top: 12px !important;
        padding-left: 10px !important;
        height: 26px !important;
      }
    }

    mat-cell {
      height: 100% !important;
      padding-left: 0px !important;
      transition: all 0.22s ease-in-out;

      &:last-of-type {
        padding-right: 0px !important;
      }
    }

    mat-header-row {
      overflow: hidden !important;
      margin-bottom: 12px;
      height: 33px !important;
    }

    mat-header-cell {
      font-weight: bold !important;
      padding: 0px !important;

      &:last-of-type {
        padding-right: 0px !important;
      }

      &:first-of-type {
        padding-left: 10px !important;
      }

      &:not(:first-of-type) {
        .header-cell-content-wrapper {
          text-align: center !important;
        }
      }
    }
  }

  height: 100%;
  display: flex;
  width: 100%;
  overflow: auto;

  .root {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 6px 6px 6px 6px;
  }
  .account-id {
    font-weight: bold;
  }

  .header-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 8px;
    column-gap: 8px;
    align-items: center;
    font-size: 12px;
    margin-bottom: 9px;
    padding: 6px 12px;
    border-radius: 6px;
    .left-side {
      display: flex;
      align-items: center;
    }

    .right-side {
      display: flex;
      align-items: center;
      column-gap: 6px;

      .extended-mode {
        padding: 3px 9px;
        border-radius: 6px;
        font-size: 12px;
        cursor: pointer;
        font-weight: bold;
        transition: all 0.22s ease-in-out;
      }
      .trading-enabled {
        font-size: 12px;
        transition: all 0.22s ease-in-out;
      }

      .change-trading-mode {
        cursor: pointer;
        transition: all 0.22s ease-in-out;
      }

      .extended-mode {
        cursor: pointer;
        transition: all 0.22s ease-in-out;
      }
    }

    .positive-color {
      color: #5eaf80 !important;
      background-color: rgba(94, 175, 128, 0.1);
      border: 1px solid;
      padding: 3px 9px;
      border-radius: 6px;
      font-weight: bold;
      transition: all 0.22s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }

    .negative-color {
      color: #bd5b6a !important;
      background-color: rgba(189, 91, 106, 0.1);
      border: 1px solid;
      padding: 3px 9px;
      border-radius: 6px;
      font-weight: bold;
      transition: all 0.22s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .symbolx {
    font-weight: bold !important;
    text-align: left;
    justify-content: left !important;
    white-space: nowrap;

    text-overflow: ellipsis;
    max-width: 52px;
  }

  .symbolx-border {
    height: 100%;
  }

  .color-s {
    background-color: rgba(196, 75, 255, 0.32);
  }

  .color-a {
    background-color: rgba(255, 123, 0, 0.35);
  }

  .color-b {
    background-color: rgba(255, 255, 27, 0.2);
  }

  .color-c {
    background-color: rgba(55, 255, 55, 0.15);
  }

  .color-d {
    background-color: rgba(128, 128, 128, 0.15);
  }

  .color-e {
    background-color: rgba(128, 128, 128, 0.1);
  }

  .color-f {
    background-color: rgba(128, 128, 128, 0.05);
  }

  .symbol-container {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .symbol-cell {
    width: 100%;
    height: 100%;
    display: flex;

    .symbol-cell-checkbox {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin: 10px 3px;
    }
  }
  .sphere ::before {
    width: 10px !important;
    height: 10px !important;
    border-radius: 0px !important;
    left: 6px;
  }
  .sphere ::after {
    width: 12px !important;
    height: 12px !important;
    border-radius: 0px !important;
    left: 5px;
  }

  .sphere input {
    width: 15px;
  }

  .symbol-color-container {
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding: 6px 6px;
    width: 100%;
    max-width: 100%;
    justify-content: flex-start;
  }

  .data-table-cell {
    height: 100% !important;
    display: flex;
  }

  .symbolholdx {
    display: flex;
    justify-content: flex-start;
    column-gap: 3px;
    height: 100%;
    width: 100%;
  }

  .positive-border {
    border-left: 0px solid #5eaf80;
  }

  .negative-border {
    border-left: 0px solid #bd5b6a;
  }

  .symbolx-tradable {
    background-color: gold;
    width: 9px;
    height: 9px;
    border-radius: 50%;
  }

  .symbol-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;


    .fa-hexagon-exclamation {
      color: rgba(189, 91, 106, 0.8);
    }
    
    .fa-star {
      color: gold;
    }

    .capitulation-type {
      font-size: 8px;
      margin-left: 3px;
      font-weight: 600;
      display: none;
    }
  }

  .symbol-trade-state {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .symbolxholder {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3px;
    transition: all 0.22s ease-in-out;
  }

  .symbolxholder-hover {
    &:hover {
      .sphere {
        border: 2px solid;
      }
      .symbolx {
        text-decoration: underline;
      }
    }
  }

  .is-auto-selected {
    background-color: #005eff !important;
    width: 9px;
    height: 9px;
    
    border-radius: 50%;
  }

  .symbolx-untradeable {
    background-color: transparent;
    border: 1px solid #bd5b6a;
    width: 9px;
    height: 9px;
    border-radius: 50%;
  }

  .middlesymbol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 1px;
    width: 100%;
  }

  .containerx {
    width: 14px;
    height: 14px;
    position: relative;
  }

  .sphere {
    width: 100%;
    display: flex;
    height: 100%;
    position: relative;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid;
    justify-content: center;
    align-items: center;
  }

  .cube {
    position: absolute;
    width: 9px;
    height: 9px;
    top: 50%;
    left: 50%;
    border: 1px solid #000;
    /* background-color: #000; */
    -webkit-animation: rotateCube 1s infinite linear;
    animation: rotateCube 6s infinite linear;
    transform-origin: center center;
    transform: translate(-50%, -50%);
  }

  .half-cube {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid;
    top: 50%;
    left: 50%;
    animation: rotateCube 1s infinite linear;
    transform-origin: center center;
    transform: translate(-50%, -50%);
  }

  .top-half {
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
  }

  .bottom-half {
    clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
  }

  .cube.tradeable {
    background-color: gold;
  }

  .cube.is-auto-selectedx {
    background-color: #005eff;
  }

  .cube.untradeable {
    background-color: #ffffffba;
    
  }

  .cube.untradeable-all {
    background-color: #ffffffba;
  
  }

  .cube.selected {
    background-color: whitesmoke;
  }

  @keyframes rotateCube {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  //

  //

  .strength-cell {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .price-change,
  .strength-total {
    text-align: right;
    float: right;
  }
  mat-row mat-cell {
    height: 100% !important;
  }

  .up-trend {
    width: 35px;
    padding-right: 3px;
    max-width: 100%;
    display: flex;
    // justify-content: flex-end;
  }

  .down-trend {
    width: 35px;
    padding-right: 3px;
    max-width: 100%;
    display: flex;
    // justify-content: flex-end;
  }
  .bold-symbol {
    font-weight: bold;
  }

  .chart-view {
    width: 100%;
    height: 50%;
    min-height: 50%;
    //max-height: 550px;
    overflow: scroll;
    flex-direction: column;
    display: flex;
    border-radius: 6px;
    margin-bottom: 12px;
  }

  .data-table {
    width: 100%;
    height: auto;
    min-height: 50%;
    //max-height: 550px;
    overflow: scroll;
    flex-direction: column;
    display: flex;
    border-radius: 6px;
  
  }

  .status-holder
  {
   font-weight: 500;
  }
  .status-runner {
    padding: 3px 9px;
    background: #3e454c;
    border-radius: 13px;
    margin-right: 6px;
    transition:all 0.22s ease-in-out;

}

.active-auto-mode {
  background: #327c41 !important;
}
.status-runner:hover {
  background: #32567c;

}
  .datatrend {
    font-weight: bold;
  }

  .chart-container {
    display: flex;
    flex-direction: column;

    .chart-container-title {
      display: flex;
      font-size: 12px;
      position: static;
      margin-bottom: -20px;
      column-gap: 8px;
      padding: 2px 6px 2px 10px;
      text-align: left;
      align-items: center;
    }
    .chart-container-titlex {
      display: flex;
      font-size: 12px;
      column-gap: 34px;
      padding: 6px 6px 6px 12px;
      justify-content: space-between;
      margin-bottom: 6px;
    }

    .chart-container-title.strength,
    .chart-container-title.vol {
      display: flex;
      font-size: 11px;
      margin-left: 35px;
      margin-bottom: -25px;
    }

    .phase-title {
      display: flex;
      font-size: 11px;
    }

    .margin-top {
      margin-top: 10px;
    }

    .margin-bottom {
      margin-bottom: 10px;
    }

    .chart-container-canvas {
      display: flex;
    }

    .close-icon {
      padding: 2px 4px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
    }
  }

  .strength-positive {
    color: rgba(94, 175, 128, 0.8);
  }

  .strength-negative {
    color: rgba(189, 91, 106, 0.8);
  }

  .out-of-access {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    cursor: pointer;
    position: absolute;
    top: 0px;
    z-index: 2;

    .out-of-access-box {
      display: flex;
      flex-flow: column;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0 0 5px -2px rgba(75, 72, 72, 0.44);
      .text {
        margin: 10px 7px;
        display: flex;
        text-align: center;
        font-weight: 700;
        font-size: 12px;
        max-width: 180px;

        padding-top: 5px;
      }

      .image {
        display: flex;
        justify-content: center;
      }
      img {
        width: 200px;
      }
    }
  }

  .height-60 {
    min-height: 60px;
  }
  .height-90 {
    min-height: 90px;
  }

  .charts-container {
    display: flex;
    flex-direction: column;
    // border: 1px solid;

    .chart-item {
      display: flex;
      flex-direction: column;
    }
  }

  .details-btn {
    cursor: pointer;

  }
  .expected-market-state {
    opacity: 0.6;
    font-size: 0.9em;
  }
}

@include themify($themes, true) {
  :host {
    /deep/ mat-row.row-group-header {
      background: themed("tradescoreholderbg");
    }
  }

  .chart-view {
    background: themed("appBackgroundColor");
    .chart-container-title,
    .chart-container-titlex {
      color: themed("valueTextColor");
      .close-icon {
        background: themed("tradescoreholderbg");
        &:hover {
          background: themed("activeBackgroundColor");
        }
      }
    }
  }

  .status-runner {
   color: themed("statusRunnerTextColor") !important;
  
    background: themed("statusRunner") !important;
   

}

.active-auto-mode {

  background: themed("statusRunnerAutoMode") !important;
}
.status-runner:hover {

  background: themed("statusRunnerHover") !important;



}



  .chart-container-titlex {
    background: themed("appBackgroundColor");
  }

  .extended-mode {
    background: themed("select-market");
    color: themed("select-market-color");
    border: 1px solid themed("select-market-border");
    transition: all 0.22ms;
    &:hover {
      opacity: 0.8;
    }
  }

  .half-cube {
    border-color: themed("half-cube");
  }

  .chart-container-title,
  mat-row.row-group-header {
    background: themed("appBackgroundColor");
  }

  .symbol-color-container.color-s .strength-total {
    color: themed("symcS");
  }

  .symbol-color-container.color-a .strength-total {
    color: themed("symcA");
  }

  .symbol-color-container.color-b .strength-total {
    color: themed("symcB");
  }

  .symbol-color-container.color-c .strength-total {
    color: themed("symcC");
  }

  .symbolx {
    color: themed("valueTextColor");
  }
  .header-line {
    color: themed("valueTextColor");
    background: themed("appBackgroundColor");
  }

  .data-table {
    //  background: themed("appPanelColorxx");
  }
  .out-of-access-box {
    background-color: themed("appPanelColor");
    .text {
      color: themed("valueTextColor");
    }
  }
}
