@import "global-styles/variables";
@import "global-styles/mixins/themify";
@import "global-styles/themes/themes";

:host {
  

  /deep/ mat-cell:not(:first-of-type) {
    padding-left: 0px !important;
}

/deep/ mat-cell.mat-cell span.trend-strength-value {
  font-size: 11px;
}

@media (max-width: 767px) {
  /deep/ mat-cell.mat-cell span.trend-strength-value {
    font-size: 11px !important;
}
}

@media (max-width: 450px) {
  /deep/ mat-cell.mat-cell span.trend-strength-value {
    font-size: 11px !important;
   
}

}

@media (max-width: 400px) {
  /deep/ mat-cell.mat-cell span.trend-strength-value {
    font-size: 10px !important;
}

}
@media (max-width: 390px) {
  /deep/ mat-cell.mat-cell span.trend-strength-value {
    font-size: 9px !important;
}
.mobilehiddenacc {
  font-size:9px;
}

.edit,.trading-enabled {
  font-size: 11px !important;
}


}

@media (max-width: 320px) {
  /deep/ mat-cell.mat-cell span.trend-strength-value {
    font-size: 8px !important;
}
.mobilehiddenacc {
  display: none;
}

.edit, .trading-enabled {
  font-size: 11px !important;
}


}

  trend-index-chart {
    min-height: 60px;
  }
  .chart-root
  {
    min-height:60px;
  }
  transition: all 0.22s ease-in-out;

  /deep/ mat-row {
    overflow: hidden !important;
  }

  /deep/ mat-header-row {
    overflow: hidden !important;
  }
  /deep/ mat-cell.mat-cell {
    height: 100% !important;
    max-height: 25px !important;
    display: flex ;
    align-items: center ;
  }

  /deep/ mat-cell.mat-cell span,
  mat-cell.mat-cell div {
    height: 100% !important;
    max-height: 25px !important;
    display: flex ;
    align-items: center ;
    font-weight: 600;
  }

  /deep/ mat-table {
    max-width: 100% !important;
    width: 100% !important;

  }
  /deep/ mat-header-row.mat-header-row{
    margin-bottom: -12px;

   
  }
 /deep/ mat-row.row-group-header {
      border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-top: 3px;
    margin-top: 12px !important;
  }


/deep/ mat-header-row.mat-header-row {
  position: relative;


}

  /deep/ mat-cell.mat-cell.cdk-column-min_15,
  /deep/ mat-cell.mat-cell.cdk-column-min_1,
  /deep/ mat-cell.mat-cell.cdk-column-min_5,
  /deep/ mat-cell.mat-cell.cdk-column-h_1,
  /deep/ mat-cell.mat-cell.cdk-column-h_4,
  /deep/ mat-cell.mat-cell.cdk-column-d_1,
  /deep/ mat-cell.mat-cell.cdk-column-month_1 {
    padding-left: 0px !important;
  }
  /deep/ mat-cell.mat-cell.cdk-column-symbol {
    padding-left: 0px !important;
  }

  /deep/ mat-header-cell.cdk-column-symbol .header-cell-content-wrapper {
    text-align: left !important;
    padding-left: 10px;
  }

  /deep/ mat-header-cell {
    font-weight: bold !important;
    padding-left: 0px !important;
    padding-right: 0px !important;

    &:last-of-type {
      padding-right: 0px !important;
    }
  }

  /deep/ mat-cell:last-of-type {
    padding-right: 0px !important;
  }

  /deep/ .header-cell-content-wrapper {
    text-align: center !important;
  }

  height: 100%;
  display: flex;
  width: 100%;
  overflow: auto;

  .root {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 6px 6px 6px 6px;
  }
  .account-id {
    font-weight: bold;
}

  .header-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 8px;
    column-gap: 8px;
    align-items: center;
    font-size: 12px;
    margin-bottom: 9px;
    padding: 9px 12px;
    border-radius: 6px;
    .left-side {
      display: flex;
      align-items: center;


    }

    .right-side {
      display: flex;
    align-items: center;
    column-gap: 6px;

      .edit {
        padding: 3px 9px;
        border-radius: 6px;
        font-size:12px;
        cursor: pointer;
        font-weight: bold;
        transition: all 0.22s ease-in-out;
      }
      .trading-enabled {

         font-size: 12px;
         transition: all 0.22s ease-in-out;

      }

      .change-trading-mode {

        cursor: pointer;
        transition: all 0.22s ease-in-out;
        


      }


    }

    .positive-color {
      color: #5eaf80 !important;
      background-color: rgba(94, 175, 128, 0.1);
      border: 1px solid;
      padding: 3px 9px;
      border-radius: 6px;
      font-weight: bold;
      transition: all 0.22s ease-in-out;
      
      &:hover {
        opacity:0.8;
      }
    }

    .negative-color {
      color: #bd5b6a !important;
      background-color: rgba(189, 91, 106, 0.1);
      border: 1px solid;
      padding: 3px 9px;
      border-radius: 6px;
      font-weight: bold;
      transition: all 0.22s ease-in-out;
        
      &:hover {
        opacity:0.8;
      }
    }
  }

  .symbolx {
    font-weight: bold !important;
    padding-left: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    max-width: 60%;
  }

  .symbolx-border {
    height: 100%;

  }

  .color-s {
    background-color: rgba(196, 75, 255, 0.32);
  }

  .color-a {
    background-color: rgba(255, 123, 0, 0.35);
  }

  .color-b {
    background-color: rgba(255, 255, 27, 0.2);
  }

  .color-c {
    background-color: rgba(55, 255, 55, 0.15);
  }

  .color-d {
    background-color: rgba(202, 220, 239, 0.15);
  }

  .color-e {
    background-color: rgba(224, 224, 240, 0.15);
  }

  .color-f {
    background-color: rgba(217, 217, 217, 0.15);
  }

  .symbol-container {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .symbol-cell {
    width: 100%;
    height: 100%;
    display: flex;

    .symbol-cell-checkbox {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px 4px;
    }
  }

  .symbol-color-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 3px;
    width: 100%;
    max-width: 100%;
  }

  .data-table-cell {
    height: 100% !important;
    display: flex;
  }

  .positive-border {
    border-left: 4px solid #5eaf80;
  }

  .negative-border {
    border-left: 4px solid #bd5b6a;
  }

  .symbolx-tradable {
    border-right: 4px solid gold;
  }

  .strength-cell {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .price-change,
  .strength-total {
    text-align: right;
    float: right;
  }
  mat-row mat-cell {
    height: 100% !important;
  }
  


  .up-trend {
    color: #acacac;
    width: 20px;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .down-trend {
    color: #acacac;
    width: 20px;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .bold-symbol {
    font-weight: bold;
  }

  .chart-view {
    width: 100%;
    height: 100%;
    min-height: 40vh;
    overflow: scroll;
    flex-direction: column;
    display: flex;
    border-radius: 6px;
    margin-bottom: 12px;
  }
  
  .datatrend
  {

    font-weight: bold;

  }

  .chart-container {
    display: flex;
    flex-direction: column;

    .chart-container-title {
      display: flex;
      font-size: 12px;
      position: relative;
      margin-bottom: -20px;
      column-gap: 8px;
      width: 80px;
      justify-content: space-between;
      
      padding: 3px 6px 3px 10px;

     

      text-align: left;
      align-items: center;
    }
    .chart-container-titlex {
      display: flex;
      font-size: 12px;
      column-gap: 34px;
      padding: 6px 6px 6px 12px;
      justify-content: space-between;
      margin-bottom: 6px;
    }

    .margin-top {
      margin-top: 10px;
    }

    .margin-bottom {
      margin-bottom: 10px;
    }

    .chart-container-canvas {
      display: flex;
    }

    .close-icon {
     
      padding: 2px 4px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
    }
  }

  .data-table {
    display: flex;
    max-height: 100%;

    max-width: 100%;

    margin-bottom: 12px;



  }

  .strength-positive {
    color: rgba(94, 175, 128, 0.8);
  }

  .strength-negative {
    color: rgba(189, 91, 106, 0.8);
  }

  .out-of-access {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    cursor: pointer;
    position: absolute;
    top: 0px;
    z-index: 2;

    .out-of-access-box {
      display: flex;
      flex-flow: column;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0 0 5px -2px rgba(75, 72, 72, 0.44);
      .text {
        margin: 10px 7px;
        display: flex;
        text-align: center;
        font-weight: 700;
        font-size: 12px;
        max-width: 180px;

        padding-top: 5px;
      }

      .image {
        display: flex;
        justify-content: center;
      }
      img {
        width: 200px;
      }
    }
  }

  .height-60 {
    min-height: 60px;
  }
  .height-90 {
    min-height: 90px;
  }
}



@include themify($themes, true) {

:host {
  /deep/ mat-row.row-group-header {
    background: themed("tradescoreholderbg");
  } 
} 


  .chart-view {
    background: themed("appBackgroundColor");
    .chart-container-title,.chart-container-titlex {
      color: themed("valueTextColor");
      .close-icon {
        background: themed("tradescoreholderbg");
        &:hover {
          background: themed("activeBackgroundColor");
        }
      }
    }
  }
  .chart-container-titlex {
    background: themed("tradescoreholderbg");
  }

  .edit {
    background: themed("select-market");
    color: themed("select-market-color");
    &:hover {
      background: themed("select-market-hover");
    }
  }
  .chart-container-title, mat-row.row-group-header {
    background: themed("tradescoreholderbg");
  } 


  .symbolx {
    color: themed("valueTextColor");
  }
  .header-line {
    color: themed("valueTextColor");
    background: themed("tradescoreholderbg");
  }

  .data-table {
    background: themed("appPanelColorx");
  }
  .out-of-access-box {
    background-color: themed("appPanelColor");
    .text {
      color: themed("valueTextColor");
    }
  }
}
