@import "../../../styles/themes/themes";
@import "mixins/themify";

:host {
  display: block;
  width: 100%;
  height: 100%;


  .wallet-address {
    cursor: pointer !important;
  }

  .deposit, .withdraw {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1em;
    flex-wrap: wrap;
    margin: 5px;
    border-radius: 3px;
  }

  .action-column {
    width: 120px;
  }

  .wallets {
    display: flex;
    flex-direction: column;
  }
}

@include themify($themes, true) {
  .control .caption {
    color: themed('valueTextColor');
  }
}
