# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/*.zip
/tmp
/out-tsc
/*.zip
!/navigator.zip

# dependencies
/node_modules

/src/modules/**/*.js
/src/modules/**/*.css
/src/modules/**/*.css.map

/src/app/**/*.js
/src/app/**/**/**/**/*.css
/src/app/**/**/**/**/*.css.map
/src/app/**/**/**/**/*.js

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
.npmrc

# package-lock.json