<div class="navigation" [class.open]="sidebarState$ | async">
    <div class="flex justify-space-between align-items-center w-100 nav-top-row">
        <div class="flex sidebar-toggle-wrapper">
            <sidebar-toggle [sidebarShown]="sidebarState$ | async" (click)="toggleSidebar()"></sidebar-toggle>

            <a [routerLink]="logoRedirectRoute" class="logo flex align-items-center">
                <div class="flex BFTN">

                    <span class="bftsvg"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 208 125.5" style="enable-background:new 0 0 208 125.5;" xml:space="preserve">
                        <path id="XMLID_31_" d="M172.9,68.8c-2.1-4.6-7.8-5.3-12.3-5.7c-10.2-0.3-20.2,2.9-29.1,7.6c-21.4-10.8-42.8-21.6-64.2-31.9  C49,29.7,30.9,20.3,12.5,11.6c-0.1,5.9,0.4,11.9,1.5,17.7C45.7,44.9,77.5,60.4,109.3,76c-6-1.5-11.3-4.6-17.1-6.5  C66.7,59.2,41.4,48.6,15.9,38.6c1.9,6.7,4.4,13.1,7.6,19.2c15,6.6,30.5,13.1,46.6,19.5c8.1,3.2,16.1,6.3,24,9.2  c1.8,0.6,3.5,1.2,5.3,1.8c0.1,0,0.1,0.1,0.1,0.1c0,0.2-3.9-0.6-7.4-1.4c-0.2-0.1-2-0.4-3.6-1c-19.2-6.4-38.8-11.9-58-18.5  c0.8,3.1,3.6,5.1,5.6,7.5C48.4,88,65.7,95.4,83.3,98.6c-11.1,5.8-22.5,10.8-33.9,15.8c22.2,4.1,45,2.8,66.6-3.9  c19.7-6.3,37.7-16.7,52.9-30.6c0.2,0.8,0.5,1.6,0.7,2.4c0.3,1,0.5,2,0.7,3c0.9-1.2,3-4,3.6-8.3C174.4,73.2,173.5,70.2,172.9,68.8z   M157.7,76.9c-2.7,0-4.8-2.2-4.8-4.8s2.2-4.8,4.8-4.8s4.8,2.2,4.8,4.8S160.3,76.9,157.7,76.9z"/>
                        <path d="M200.3,14.8c-16.3,15.9-33.6,30.7-51.7,44.4c7.6-1.3,15.7-2.6,23.1,0.3c3.9,1.6,6,5.6,7,9.5  C191.2,53.9,200.8,34.8,200.3,14.8z"/>
                        </svg></span>
                    <span class="bftnlogo"><span class="hidebreakfreetrading">Breakfree Trading</span> <span class="hidenavigator"> Navigator</span></span>
                </div>
            </a>
        </div>

        <div class="flex"></div>

        <div class="navigation-right-side flex align-items-center h-100" [class.z-index-2]="!(debouncedSidebarState$ | async)">
            <ng-content></ng-content>
            <nav-section *ngIf="showUserAvatar" [leftBorder]="true" [paddingRight]="true">
                <div [matMenuTriggerFor]="menu">
                    <ng-container *ngTemplateOutlet="avatar"></ng-container>
                    <mat-menu #menu="matMenu" xPosition="before">
                        <user-info-menu [avatarTemplate]="avatarUserInfo" (logOut)="logout()"></user-info-menu>
                    </mat-menu>
                </div>
            </nav-section>
        </div>
    </div>

<!--    <div class="nav-bottom-row">-->
<!--        <ng-content select=".nav-bottom-row"></ng-content>-->
<!--    </div>-->


    <ng-template #avatar>
        <div class="flex cursor-pointer">
            <name-avatar [name]="currentUserFullName"
                         [src]="avatarId"
                         class="avatar"
                         [shape]="avatarShape"
            ></name-avatar>
            <div class="about-user flex flex-direction-column">
                <span class="role">{{role}}</span>
                <span class="email">{{firstName}}</span>
            </div>
        </div>
    </ng-template>

    <ng-template #avatarUserInfo>
        <name-avatar [name]="currentUserFullName"
                     [src]="avatarId"
                     class="cursor-pointer avatar"
                     [shape]="avatarShape"
        ></name-avatar>
    </ng-template>
</div>

