@import "variables";
@import "../../styles/themes/themes";
@import "mixins/themify";

:host {
  ///deep/ {
  //  .mat-menu-panel {
  //    max-width: 350px !important;
  //  }
  //}
  nav-section:hover {
    background: #5655554d;
    border-radius: 5px;
    
  }
  nav-section {
    margin:0px 5px !important;
  }
  .insidecorrector{
    display: flex;
    width: 33px;
    height: 33px;
    justify-content: center;
    align-items: center;
  }

  .insidecorrector.avatarelement{
    padding: 0px 5px;
    display: flex;
    justify-content: center;
    // max-width: 150px;
    width: 100%;
    height: 33px;
    justify-content: center;
    align-items: center;
  }

  span.dashb {
    font-size: 11px;
    font-weight: 700;
    padding: 10px 0px;
  }

  .xp-nav-container span img {
    height: 14px;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.xp-nav-container .dashb img {
  margin-top: -3px;
}

  .flex.BFTN {
    padding: 10px;
    margin-left: 5px;
  }

  .flex.BFTN:hover {
    background: #5655554d;
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
  }

  .settings-button {
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-right: 6px;
  }

  .settings-button:hover {
    background: #5655554d;
    border-radius: 5px;
    width: 34px;
    height: 77%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #d4d4d5;
    cursor: pointer;
    margin-right: 6px;
    padding: 10px 0px;
  }

  .static-login-popup {
    position: relative;
    right: 1vh;
    background-image: linear-gradient(125deg, #52aa47, #058d3f 100%, #66df57);
    z-index: 2;
    padding: 0px 12px;
    font-size: 11px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #ffffff;
    border: 1px solid #27282b;
    cursor: pointer;
    border-radius: 15px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .xp-bage-container {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .main-menu {
    justify-content: center;
    align-items: center;
  }

  .xp-nav-container {
    font-size: 13px;
    cursor: pointer;
    color: #ffffffd1;
    .xp-title {
      background-color: #27282b;
      padding: 4px;
      border-radius: 50%;
      font-size: 10px;
      font-weight: 700;
      font-family: monospace;
    }
  }

  .theme-nav-container {
    font-size: 13px;
    cursor: pointer;
    color: #ffffffd1;
    .theme-title {
      background-color: #27282b;
      width: 20px;
      height: 20px;
      border-radius: 50%;

      .fa {
        display: flex;
        width: 100%;
        height: 100%;
        align-content: center;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .mission-toolbar {
    display: flex;

    cursor: pointer;

    .experiance-points,
    .experiance-level {
      display: flex;
      margin-top: 2px;
      margin-right: 15px;
    }

    .ico {
      width: 20px;
      height: 20px;
      background-color: #707d90;
      font-family: monospace;
      border-radius: 50%;
      display: block;
      font-size: 10px;
      color: white;
      font-weight: bold;
      padding: 2px 4px;
      margin-right: 5px;
    }

    .ico-text {
      font-size: 11px;
      line-height: 20px;
      color: white;
    }
  }

  .no-highlight {
    // background-color: transparent !important;
  }

  .autosave-nav-item {
    cursor: pointer;
    .save-state {
      color: white;

      &.save-needed {
        color: #eac84c;
        // cursor: pointer;
      }
    }
  }

  .platform-pages-nav {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;

    .platform-pages-item {
      display: flex;
      margin: 0px 8px;
      padding: 5px;
      align-items: center;
      color: #ffffffd1 !important;
      cursor: pointer;
      &:hover {
        background: #5655554d;
        border-radius: 5px;
      }
    }
  }

  .autosave-container  {
  font-size:14px;
  }

  .notifications {
    cursor: pointer;
    color: white;

    .bell-image {
      position: relative;
      font-size:14px;
      .new-notifications {
        position: absolute;
        background-color: #cc3d3d;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        right: -4px;
      }
    }
  }
}

@media (max-width: 470px) {
  span.email {
    display: none !important;
  }
  .insidecorrector.avatarelement{
    .avatar {
      margin-right: 10px;
    }
    // width: 80px !important;
  }
}

@media (max-width: 600px) {
  .nav-section {
    margin-right: 0px !important;
  }
}

@include themify($themes, true) {
  .settings-button {
    border-left: none;
  }
}

.avatar {
  width: 40px;
  height: 40px;
}

.about-user {
  // padding-left: 8px;
  // padding-right: 8px;
}

.role {
  font-size: 12px;
}
.email {
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 110px;
  
  margin-left: 8px;
  margin-right: 5px;
}

.sidebar-toggle-wrapper {
  position: absolute;
  z-index: 2;
  height: 58px;
  width: $sidebar-width;
}

//.sidebar-toggle {
//  display: flex;
//  align-items: center;
//  height: 100%;
//  transition: all .5s ease-in-out;
//}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
  transition: width 0.5s ease-in-out;
  cursor: pointer;

  &__img {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.5s ease-in-out;

    .title {
      font-size: 13px;
    }

    .subtitle {
      font-size: 11px;
    }
  }
}

.open {
  .sidebar-toggle {
    @include themify($themes, true) {
      background-color: themed("appModalsPanelColor");
    }
  }

  .sidebar-toggle-wrapper {
    @include themify($themes, true) {
      background-color: themed("appPanelColor");
    }
  }

  .logo {
    @include themify($themes, true) {
      background-color: themed("appModalsPanelColor");
    }

    &__text {
      padding: 0 10px;
      width: 100%;
    }
  }

  .navigation-right-side {
    z-index: 0;
  }
}

.nav-top-row {
  padding: 0;
  height: 44px;
}

.z-index-2 {
  z-index: 2;
}

.navigation-right-side {
  //z-index: 2;

  //.navigation-delimiter {
  //  width: 1px;
  //  margin: 5px 0;
  //  align-self: stretch;
  //  height: auto;
  //}
}

.logo {
  text-decoration: none;

  .logo__img {
    i {
      font-size: 32px;
    }
  }

  .logo__text {
    font-size: 16px;
    margin-left: 11px;
  }
}

.menu-toggle {
  cursor: pointer;
}

@media (max-width: 600px) {
  .mobileshow {
    display: block;
  }
  .desktopshow {
    display: none !important;
  }
}

@media (max-width: 350px) {

  .lightswitch {
    display: none !important;
  }
}

@media (min-width: 600px) {
  .mobileshow {
    display: none !important;
  }
  .desktopshow {
    display: block !important;
  }
}

img.desktopshow {
  height: 12px;
  width: auto !important;
  vertical-align: middle;
  // margin-top: 4px;
}

img.mobileshow {
  height: 12px;
  width: auto !important;
  vertical-align: middle;
  // margin-top: 4px;
}

.navigation {
  @include themify($themes, true) {
    background-color: themed("appPanelColor");

    .logo__img {
      color: themed("navigationIconColor");
      border-right: 1px solid themed("appBackgroundColor");
    }

    .sidebar-toggle {
      border-right: 1px solid themed("appBackgroundColor");
    }

    .title {
      color: themed("valueTextColor");
    }

    .subtitle {
      color: themed("titleTextColor");
    }
    .role {
      color: themed("titleTextColor");
    }
    .email {
      color: themed("valueTextColor");
    }
  }
}

.presentModeSwitch {
  color: #03a9f4;
}
