<div class="navigation" [class.open]="sidebarState$ | async">
    <div class="flex justify-space-between align-items-center w-100 nav-top-row">
        <div class="flex sidebar-toggle-wrapper">
            <sidebar-toggle [sidebarShown]="sidebarState$ | async" (click)="toggleSidebar()"></sidebar-toggle>

            <a [routerLink]="logoRedirectRoute" class="logo flex align-items-center">
                <div class="flex BFTN">

                    <img src="assets/img/bftnavigatorlogo.svg">

                    </div>
            </a>
        </div>

        <div class="flex"></div>

        <div class="navigation-right-side flex align-items-center h-100" [class.z-index-2]="!(debouncedSidebarState$ | async)">
            <ng-content></ng-content>
            <div class="mission-toolbar" (click)="openMissionDialog()">
                <div class="xp-toolbar">
                    <div class="experiance-points">
                        <span class="ico">XP</span>
                        <span class="ico-text" *ngIf="isLoaded; else loading1">{{score}}/{{scoreForLevel}}</span>
                        <ng-template #loading1>
                            <span class="ico-text">Calculating...</span>
                        </ng-template>
                    </div>  
                </div>
                <div class="lv-toolbar">
                    <div class="experiance-level">
                        <span class="ico">LV</span>
                        <span *ngIf="isLoaded; else loading2" class="ico-text">{{level}}</span>
                        <ng-template #loading2>
                            <span class="ico-text">...</span>
                        </ng-template>
                    </div>
                </div>
            </div>
            <nav-section *ngIf="showUserAvatar" [leftBorder]="true" [paddingRight]="true">
                <div [matMenuTriggerFor]="menu" (menuOpened)="onMenuOpen()">
                    <ng-container *ngTemplateOutlet="avatar"></ng-container>
                    <mat-menu #menu="matMenu" xPosition="before">
                        <user-info-menu [avatarTemplate]="avatarUserInfo" (logOut)="logout()" [opened]="opened"></user-info-menu>
                    </mat-menu>
                </div>
            </nav-section>
        </div>
    </div>

<!--    <div class="nav-bottom-row">-->
<!--        <ng-content select=".nav-bottom-row"></ng-content>-->
<!--    </div>-->


    <ng-template #avatar>
        <div class="flex cursor-pointer">
            <name-avatar [name]="currentUserFullName"
                         [src]="avatarId"
                         class="avatar"
                         [shape]="avatarShape"
            ></name-avatar>
            <div class="about-user flex flex-direction-column">
                <span class="role">{{role}}</span>
                <span class="email">{{firstName}}</span>
            </div>
        </div>
    </ng-template>

    <ng-template #avatarUserInfo>
        <name-avatar [name]="currentUserFullName"
                     [src]="avatarId"
                     class="cursor-pointer avatar"
                     [shape]="avatarShape"
        ></name-avatar>
    </ng-template>
</div>

