<div *ngIf="post" class="flex question-post-wrapper">
    <div class="vote-wrapper">
        <vote [voteCount]="post.totalVoteCount"
              [vote]="post.vote"
              [voteHandler]="voteHandler"></vote>
    </div>
    <div class="flex-grow-1">
        <div class="post-content m-bottom-15">
            <markdown-preview [markdown]="post.message"></markdown-preview>
        </div>
        <div class="m-bottom-15">
<!--            <div class="tags-wrapper">-->
<!--                    <span class="crypto-tag is-small tag" *ngFor="let tag of getTags()"-->
<!--                          (click)="handleTagClick(tag.name)">{{tag.name}}</span>-->
<!--            </div>-->
            <tags-group [tags]="getTags()" (tagClick)="handleTagClick($event.name)"></tags-group>
        </div>
        <div class="flex justify-space-between align-items-center m-bottom-5">
            <div class="author-info flex align-items-center">
                <name-avatar class="m-right-10 avatar" [src]="post?.creator?.avatarId"
                             [name]="post?.creator?.userName"></name-avatar>
                <span class="qa-text author-name is-small is-bold">{{post?.creator?.userName}}</span>
            </div>
            <div>
                <ng-container *ngIf="canManage">
                    <span class="crypto-text color-title is-small delete is-small" (click)="delete()">Delete</span>
                    <span class="crypto-text color-title is-small is-small"> | </span>
                    <span class="crypto-text color-title is-small edit is-small" (click)="edit()">Edit</span>
                    <span class="crypto-text color-title is-small is-small"> | </span>
                </ng-container>
                <!--                    create-update-info-->
                <span class="crypto-text color-title is-small">Created: {{post.created | timeAgo}}</span>
            </div>
        </div>
<!--        <div class="delimiter"></div>-->
        <post-comments [postId]="post.id" [postHaveComments]="post.totalCommentCount > 0"></post-comments>
    </div>
</div>

