<div class="accountInfo">
    <data-table [rows]="activeAccount ? [activeAccount] : []" [selectable]="true" [allowColumnsVisibilityChange]="true" [expandOnClick]="false" [hiddenColumns]="['Net Risk']">
        <data-table-header-cell columnName="Account" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.account' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Company Name" [columnWidth]="140" [columnMinWidth]="10" [sortable]="false">{{'tradeManager.companyName' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Currency" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'currency' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Balance" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'balance' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Pl" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.pl' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Equity" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.equity' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Margin" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.margin' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Free Margin" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.freeMargin' | translate}}</data-table-header-cell>
        <!-- <data-table-header-cell columnName="Trade Guard" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.tradeGuard' | translate}}</data-table-header-cell> -->
        <!-- <data-table-header-cell columnName="Net Risk" [sortable]="true">{{'tradeManager.risk' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Risk (%)" [sortable]="true">{{'tradeManager.riskP' | translate}}</data-table-header-cell> -->

        <data-table-cell columnName="Account"><ng-template let-item>{{item.Account}}</ng-template></data-table-cell>
        <data-table-cell columnName="Company Name"><ng-template let-item>{{item.CompanyName}}</ng-template></data-table-cell>
        <data-table-cell columnName="Currency"><ng-template let-item>{{item.Currency}}</ng-template></data-table-cell>
        <data-table-cell columnName="Balance"><ng-template let-item>{{item.Balance.toFixed(decimals)}}</ng-template></data-table-cell>
        <data-table-cell columnName="Pl">
            <ng-template let-item>
                <span [ngClass]="{'positive-value': item.Pl > 0, 'negative-value': item.Pl < 0}">
                    {{item.Pl.toFixed(decimals)}}
                </span>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="Equity">
            <ng-template let-item>
                <span [ngClass]="{'positive-value': item.Equity > 0, 'negative-value': item.Equity < 0}">
                    {{item.Equity.toFixed(decimals)}}
                </span>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="Margin">
            <ng-template let-item>
                <span [ngClass]="{'positive-value': item.Margin > 0, 'negative-value': item.Margin < 0}">
                    {{item.Margin.toFixed(decimals)}}
                </span>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="Free Margin">
            <ng-template let-item>
                <span [ngClass]="{'positive-value': item.FreeMargin > 0, 'negative-value': item.FreeMargin < 0}">
                    {{item.FreeMargin.toFixed(decimals)}}
                </span>
            </ng-template>
        </data-table-cell>
        <!-- <data-table-cell columnName="Trade Guard">
            <ng-template let-item>
                <div matTooltip='Account risk calculated by Filled orders - {{item.VAR.toFixed(2)}}%' class="{{item.VAR | accountGuardRiskClassPipe}}">
                    {{item.VAR | accountGuardRiskPipe}}
                </div>
            </ng-template>
        </data-table-cell> -->
        <!-- <data-table-cell columnName="Net Risk">
            <ng-template let-item>{{item.Risk ? item.Risk.toFixed(2) : '-'}}</ng-template>
        </data-table-cell>
        <data-table-cell columnName="Risk (%)">
            <ng-template let-item>{{item.RiskPercentage ? item.RiskPercentage.toFixed(2) + '%' : '-'}}</ng-template>
        </data-table-cell> -->
    </data-table>
</div>
