@import "themes/themes";
@import "mixins/themify";

:host {
  .crypto-modal {
    max-width: 750px;
    width: 100%;
    min-width: auto;
  }

  .modal-content {
    min-height: 180px;
    min-width: 285px;
    width: 100%;
    height: 100%;
  }


  .agents {
    display: flex;
    row-gap: 3px;
    column-gap: 13px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  a.NA2BETA {
    background: purple;
  }

  .add-broker {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    row-gap: 5px;
  }
  .btn-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 16px;
  }

  .value-tips,
  .field-title {
    font-size: 12px;
  }

  .value-tips {
    padding: 3px;
    font-size: 12px !important;
    margin-bottom: 4px;
    font-weight: bold;
}


  .field-title {
    margin-bottom: 6px;
  }

  .value-text {
    margin-bottom: 12px;
  }

  /deep/ {
    .loader-container {
      .spinner {
        height: 80px !important;
      }
    }
  }

  .value-account-id {
    font-size: 14px;
    font-weight: 600;
  }

  .value-account-state, .value-account-selection {
    font-size: 12px;
    font-weight: 400;
  }

  .download-agent {
  }

  .policy-agreement-wrapper,
  .poilicy-profit-agreement,
  .liability-waiver-agreement {
    margin-bottom: 12px;
    align-items: center;

    input[type="checkbox"] {
      margin: 0 10px 0 0;
    }
    label {
      display: block;
    }

    label,
    a {
      font-size: 12px;
    }
    a {
      text-decoration: none;
      color: #3d61cc;
      cursor: pointer;
    }
  }

  .download-agent a {
    color: #fff;
  }

  .download-agent a {
    padding: 9px 9px;
    font-weight: bold;
    border-radius: 3px;
    background: #6c9242;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      margin-left: 8px;
    }

    &:hover {
      background: #5a7a35;
      text-decoration: none;
    }
  }


  .download-agent-beta a {
    padding: 9px 9px;
    font-weight: bold;
    border-radius: 3px;
    background: #894292;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      margin-left: 8px;
    }

    &:hover {
      background: #cb61da;
      text-decoration: none;
    }
  }

  span.privatebetalabel {
    background: #000;
    border-radius: 6px;
    padding: 3px 6px;
  }

  .download-agent .na2beta {
    padding: 11px 18px;
    border-radius: 3px;
    background: #8a4292;
    color: #fff;
    column-gap: 6px;
    font-weight: 600;

    font-family: "Open Sans";
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      margin-left: 8px;
    }

    &:hover {
      background: #b95dc3;
      text-decoration: none;
    }
  }

  .announcementOfNeuralAgent2 {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

  }

  .announcementOfNeuralAgent2-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  .announcementOfNeuralAgent2-title-text {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
  }

  .announcementOfNeuralAgent2-content {
    display: flex;

    .announcementOfNeuralAgent2-content-text {
      font-size: 12px;
    }
  }

  @media (max-width: 768px) {
    // .policy-agreement-wrapper {
    //   display: inline-block;
    //   font-size: 14px;
    // }
    // .btn-wrapper {
    //   margin-top: 32px;
    //   display: flex;
    //   justify-content: space-between;
    //   flex-direction: column;
    //   row-gap: 16px;
    // }
    .hidden-mobile {
      display: none;
    }
  }

  .bold {
    font-weight: bolder !important;
  }

  .underline {
    text-decoration: underline !important;
  }
}

@include themify($themes, true) {
  .announcementOfNeuralAgent2-title {
    color: themed("card-title");
  }
  .announcementOfNeuralAgent2-content-text {
    color: themed("card-title");
  }

  .announcementOfNeuralAgent2-title-text {
    color: themed("card-title");
  }
  .announcementOfNeuralAgent2 {
    background-color: themed("card-background");
    border: 1px solid themed("card-border");
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    padding: 12px;
  }

  // .content {
  //   color: themed("missionTextColor");
  //   background-color: themed("missionDialogBackground");
  // }
  // .mission-content {
  //   background-color: themed("missionContent");
  // }
  // .header {
  //   background-color: themed("missionContentHeader");
  // }
  .value-text,
  .value-account-id {
    color: themed("card-title");
  }

  .value-account {
    padding: 6px 12px;
    color: themed("card-title");
    background-color: themed("card-background");
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6px;
    border: 1px solid #2e2e2e;
    border-radius: 6px;
    align-content: center;
    align-items: center;

    .value-account-text {
      display: flex;
      flex-direction: row;
      row-gap: 6px;
      align-items: center;
      column-gap: 6px;
    }
  }

  .removebutton {
    background: transparent;
    color: themed("removebtn");
    border: 1px solid #4e2c2c;
    font-size: 10px;
    font-weight: bold;
    margin: 0px !important;
    display: flex;
    padding: 3px 12px !important;
    transition: all 0.2s;
  }

  .removebutton:hover {
    background: #cf7070;
    color: themed("removebtn");
    border: 1px solid #4e2c2c;
    font-size: 10px;
    font-weight: bold;
    margin: 0px !important;
    display: flex;
    padding: 3px 12px !important;
  }

  .addbutton {
    background: #6c9242;
    color: #fff;
   // border: 1px solid #4e2c2c;
    font-size: 12px;
    font-weight: bold;
    margin: 0px !important;
    display: flex;
    padding: 6px 12px;
    transition: all 0.2s;
    border: none;
    border-radius: 3px;
  }

  .addbutton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .addbutton:hover {
    background: #5a7a35;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin: 0px !important;
    padding: 6px 12px;
    display: flex;
    border: none;
    border-radius: 3px;

  }


  .value-account-state {
    color: #fff !important;
    background-color: #6c9242;
    border: 1px solid #434a44;
    padding: 3px 6px;
    border-radius: 6px;
    font-weight: 600;
  }

  .value-account-selection {
    color: #555353;
    background-color: #adadad;
    padding: 3px 6px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;

    &.active {
      color: #fff;
      background-color: #6785de;
    }
  }

  .value-tips,
  .accept-policy-text {
    color: themed("valueTextColor");
  }
  .accept-profit-policy-text,
  .accept-broker-policy-text,
  .accept-liability-waiver-text {
    color: themed("valueTextColor");
  }

  [type="checkbox"]:not(:checked) ~ label:before {
    border-color: themed("provider-text-color");
    border: 1px solid themed("provider-text-color");
  }
  .value-holder {
    padding: 9px;
    border-radius: 5px;
    background: themed("valueholderbg");
    margin-bottom: 15px;
}
  .remove-broker {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
    min-height: 20vh;
    flex-wrap: wrap;
    justify-content: space-between;
    background: themed("removebrokerbg");
    border: 1px solid themed("removebrokerborder");

  }

  .specialxxx {
    border: 1px solid #123 !important;
}

  .download-agentx {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;

    flex-wrap: wrap;
    justify-content: space-between;
    background: themed("card-background");
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .crypto-button-small {
    padding: 6px 12px ;
  }
  
  .value {
    border: none;
  }

  .account-input {
    display: flex;
    justify-content: center;
    align-items: center;

    .btn-wrapper {
      margin-left: 10px;
    }
  }

  .warningx {
    max-width: 420px;
    display: flex;
    font-size: 12px;
    padding: 12px;
    background: #ffd837;
    color: #323232;
    margin-bottom: 6px;
    border-radius: 6px;
    font-weight: 500;
  }
}
