<div class="crypto-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()"><i class="crypto-icon crypto-icon-close"></i></button>
            <h4 class="modal-title">Neural Agent Overview</h4>
        </div>
        <div class="modal-body" *ngIf="!loading; else loader">

            <div class="announcementOfNeuralAgent2">
                <!-- <div class="announcementOfNeuralAgent2-title">
                    <span class="announcementOfNeuralAgent2-title-text">Announcement</span>
                </div> -->
                <div class="announcementOfNeuralAgent2-content">
                    <span class="announcementOfNeuralAgent2-content-text">
                        <p><span class="bold">Introducing Neural Agent 3.19</span></p>

                        <p>Experience the future of autonomous trading with Neural Agent 3.19. Enhanced with three specialized modes—Classic, Scalper, and Hedging—each tailored for optimal trading efficiency and precision. Embrace a new standard of automated trading.</p>

                        <p><span class="bold underline">Important Note:</span> Neural Agent 3.19 should not be used on existing accounts with open positions from former versions. We advise creating a fresh separate trading account for this version to avoid mixing versions.</p>
                    </span>
                </div>
            </div>
               


            <div class="remove-broker">
                <div class="value-holder">

                <div class="value-tips ">
                    {{ 'brokerAccountIdTipsx' | translate }}
                </div>

                <ng-container *ngFor="let existingAccount of existingAccounts">
                  
                    <div class="value-account">
                        <div class="value-account-text">
                     
                        <div class="value-account-id">
                            {{ existingAccount.accountId }}
                        </div>
                        <div class="value-account-state">
                            {{ existingAccount.isActive ? "Active" : "Disabled" }}
                        </div>
                        <div class="value-account-selection" (click)="selectDefault(existingAccount)" [ngClass]="{'active': isActive(existingAccount)}">
                            Selected
                        </div>
                        </div>
                        <div>
                            <div class="btn-wrapper">
                                <button class="crypto-button crypto-button_danger crypto-button-small removebutton" (click)="remove(existingAccount)">
                                    {{ 'Disconnect' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>

                
                <div class="add-broker">
                    <div>
                    <!-- <div class="value-tips">
                        {{ 'brokerAccountIdTips' | translate }}
                    </div> -->
                    <div class="value-text">
                        <div class="field-title">
                            <div>{{ 'brokerAccountIdTips' | translate }}</div>
                            <div>{{ 'brokerAccountMaxLimits' | translate }}</div>
                        </div>
                        <div class="value account-input">
                            <input matInput type="text" class="crypto-input bft-form-input full-width specialxxx"
                                [(ngModel)]="accountId">

                            <div class="btn-wrapper">
                                <button class="crypto-button crypto-button_primary crypto-button-small addbutton" [disabled]="!canSave()" (click)="submit()">
                                    {{ 'Connect' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div>
                    <div class="policy-agreement-wrapper">
                        <span>
                            <input type="checkbox" id="accept-broker-policy" [(ngModel)]="policyAccepted">
                            <label for="accept-broker-policy"><span class="accept-broker-policy-text">I accept the <a
                                        (click)="privacyPolicy()">Terms Of Use & Privacy Policy</a></span></label>
                        </span>
                    </div>
                    <div class="poilicy-profit-agreement hidden">
                        <span>
                            <input type="checkbox" id="accept-profit-policy" [(ngModel)]="profitPolicyAccepted">
                            <label for="accept-profit-policy"><span class="accept-profit-policy-text">I consent to contribute 10% of all net earnings as per the 
                                <a (click)="profitPolicy()">Profit Sharing Program</a></span></label>
                        </span>
                    </div>

                    <div class="liability-waiver-agreement">
                        <span>
                            <input type="checkbox" id="accept-liability-waiver" [(ngModel)]="liabilityWaiverAccepted">
                            <label for="accept-liability-waiver"><span class="accept-liability-waiver-text">I release Breakfree Trading of all liability and accept the <a
                                        (click)="liabilityWaiver()"> Release Of Liability Agreement.</a> </span></label>
                        </span>
                    </div>
                    </div>
                </div>
                
           

  
            </div>
 

        <div class="download-agentx">

        <div class="btn-wrapper">
            <div class="agents">
         
            <div class="download-agent">
                <span>
                    <a href="{{downloadLink}}">
                        Download Neural Agent 3.19.3 <i class="fa fa-download" aria-hidden="true"></i>
                    </a>
                </span>
            </div>
            <div class="download-agent">
                <span>
                    <a href="{{downloadUserDocLink}}" target="_blank">
                        Download Documentation <i class="fa fa-download" aria-hidden="true"></i>
                    </a>
                </span>
            </div>
            <!-- <div class="download-agent hidden" >
                <span>
                     <a class="na2beta" href="{{downloadLink2}}">
                         Download NA2 BETA <i class="fa fa-download" aria-hidden="true"></i>
                     </a>
                 </span>
             </div>
             <div class="download-agent ">
                <span>
                    <a class="na2beta" href="javascript:void(0)" (click)="openModal(downloadLink3)">
                    <span class="privatebetalabel">Private Beta</span>  Request Beta Access to NA2 <i class="fa fa-download" aria-hidden="true"></i>
                     </a>
                 </span>
             </div> -->

            </div>
         
        </div>
    </div>
       </div>
        <ng-template #loader>
            <div class="loader-container">
                <bft-loader></bft-loader>
            </div>
        </ng-template>
    </div>
</div>