<div class="crypto-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()"><i class="crypto-icon crypto-icon-close"></i></button>
            <h4 class="modal-title">Neural Agent Sync Settings</h4>
        </div>
        <div class="modal-body" *ngIf="!loading; else loader">
            <div class="remove-broker" *ngIf="!!existingAccount; else add_account">
                <div class="value-tips">
                    {{ 'brokerAccountIdTips' | translate }}
                </div>
                <div class="value-account">
                    <div class="value-account-id">
                        {{ existingAccount.accountId }}
                    </div>
                    <div class="value-account-state">
                        {{ existingAccount.isActive ? "Active" : "Disabled" }}
                    </div>
                </div>
                <div class="btn-wrapper">
                    <button class="crypto-button crypto-button_danger" [disabled]="false" (click)="remove()">
                        {{ 'remove' | translate }}
                    </button>
                </div>
            </div>

            <ng-template #add_account>
                <div class="add-broker">
                    <div class="value-tips">
                        {{ 'brokerAccountIdTips' | translate }}
                    </div>
                    <div class="value-text">
                        <div class="field-title">
                            {{ 'accountId' | translate }}:
                        </div>
                        <div class="value">
                            <input matInput type="text" class="crypto-input bft-form-input full-width"
                                [(ngModel)]="accountId">
                        </div>
                    </div>
                    <div class="policy-agreement-wrapper">
                        <span>
                            <input type="checkbox" id="accept-broker-policy" [(ngModel)]="policyAccepted">
                            <label for="accept-broker-policy"><span class="accept-broker-policy-text">I accept the</span></label>
                        </span>
                        <span>
                            <a (click)="privacyPolicy()">Terms Of Use & Privacy Policy</a>
                        </span>
                    </div>
                    <div class="poilicy-profit-agreement" >
                        <span>
                            <input type="checkbox" id="accept-profit-policy" [(ngModel)]="profitPolicyAccepted">
                            <label for="accept-profit-policy"><span class="accept-profit-policy-text">I agree to pay 10% net profits according to the</span></label>
                        </span>
                        <span>
                            <a (click)="profitPolicy()">Profit Sharing Policy</a>
                        </span>
                    </div>

                    <div class="liability-waiver-agreement">
                        <span>
                            <input type="checkbox" id="accept-liability-waiver" [(ngModel)]="liabilityWaiverAccepted">
                            <label for="accept-liability-waiver"><span class="accept-liability-waiver-text">By proceeding with the synchronization of your account with our Neural Agent, you're acknowledging and accepting that Breakfree Trading can't be held liable for any potential issues or setbacks that may arise as a result of using neural agent.  </span></label>
                        </span>
                        <span>
                            <a (click)="liabilityWaiver()">Release of Liability</a>
                        </span>

                    </div>


                    
                    <div class="btn-wrapper">
                        <button class="crypto-button crypto-button_primary" [disabled]="!canSave()" (click)="submit()">
                            {{ 'save' | translate }}
                        </button>
                    </div>
                </div>
            </ng-template>
        </div>
        <ng-template #loader>
            <div class="loader-container">
                <bft-loader></bft-loader>
            </div>
        </ng-template>
    </div>
</div>