@import "themes/themes";
@import "mixins/themify";

:host {
  .crypto-modal {
    max-width: 750px;
    width: 100%;
    min-width: auto;
  }

  .modal-content {
    min-height: 160px;
  }

  .btn-wrapper {
    margin-top: 5px;
    display: flex;
    justify-content: end;
  }

  .value-tips,
  .field-title {
    font-size: 12px;
  }

  .field-title {
    margin-bottom: 6px;
  }

  .value-text {
    margin: 12px 0px;
  }

  /deep/ {
    .loader-container {
      .spinner {
        height: 80px !important;
      }
    }
  }

  .value-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px 0px;
  }

  .value-account-id {
    font-size: 20px;
    font-weight: 500;
  }

  .value-account-state {
    font-size: 12px;
  }

  .policy-agreement-wrapper, .poilicy-profit-agreement, .liability-waiver-agreement {
    margin-bottom: 12px;
    display: inline-flex;
    align-items: center;

    input[type="checkbox"] {
      margin: 0 10px 0 0;
    }

    label,
    a {
      font-size: 0.85em;
    }
    a {
      text-decoration: none;
      color: #3d61cc;
      margin-left: 5px;
      cursor: pointer;
    }
  }

  @media (max-width: 768px) {
    .policy-agreement-wrapper {
      display: inline-block;
      font-size: 14px;
    }
  }
}

@include themify($themes, true) {
  // .content {
  //   color: themed("missionTextColor");
  //   background-color: themed("missionDialogBackground");
  // }
  // .mission-content {
  //   background-color: themed("missionContent");
  // }
  // .header {
  //   background-color: themed("missionContentHeader");
  // }
  .value-text,
  .value-account-id {
    color: themed("card-title");
  }
  .value-tips,
  .accept-policy-text,
  .value-account-state {
    color: themed("valueTextColor");
  }
  .accept-profit-policy-text, .accept-broker-policy-text, .accept-liability-waiver-text  {
    color: themed("valueTextColor");
  }
}
