@import "../../../../global-styles/themes/themes";
@import "../../../../global-styles/mixins/themify";

:host {
  width: 100%;
}

.deposit {
  height: 650px;
  overflow: auto;
}

.action {
  color: #687e96;
  cursor: pointer;

  &:hover {
    color: #5d7287;
    text-decoration: underline;
  }
}

.search-wrapper {
  width: 300px;
  max-width: 40%;
}

th {
  &.data {
    width: 30%;
  }
}

.section {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 9px;
  padding: 0 20px;
}

.mat-crypto-table {
  font-size: 11px;
}

.crypto-icon {
  font-size: 20px;
  cursor: pointer;
  padding-left: 10px;
}

@include themify($themes, true) {

  ::ng-deep {
    .mat-cell:nth-child(2), .mat-cell:nth-child(4), .mat-cell:nth-child(5) {
      color: themed('valueTextColor') !important;
    }
  }

  .section {
    background-color: themed('appPanelColor');
    color: themed('titleTextColor');
    span:nth-child(2) {
      color: themed('valueTextColor');
      .crypto-icon {
        color: themed('titleTextColor');
      }
    }
  }

  .rejected {
    color: themed('sellColor');
  }

  .accepted {
    color: themed('buyColor');
  }
}
