<data-table [rows]="items" [selectable]="false" [allowColumnsVisibilityChange]="false" [expandOnClick]="false" [trackByIndex]="false" [groups]="groups" [groupingField]="groupingField">
    <data-table-header-cell columnName="Side" [columnWidth]="1" [columnMinWidth]="1" [sortable]="false"></data-table-header-cell>
    <data-table-header-cell columnName="Currency" [columnWidth]="140" [columnMinWidth]="80" [sortable]="true" >{{'tradeManager.currency' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Orders Count" [columnWidth]="140" [columnMinWidth]="80" [sortable]="true">{{'tradeManager.ordersCount' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Net Risk" [columnWidth]="140" [columnMinWidth]="80" [sortable]="true">{{'tradeManager.risk' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Risk (%)" [columnWidth]="140" [columnMinWidth]="80" [sortable]="true">{{'tradeManager.riskP' | translate}}</data-table-header-cell>

    <data-table-cell columnName="Side">
        <ng-template let-item>
            <div class="color-column" [ngClass]="{'side-buy': item.Side === OrderSide.Buy, 'side-sell': item.Side === OrderSide.Sell}"></div>
        </ng-template>
    </data-table-cell>
    <data-table-cell columnName="Currency">
        <ng-template let-item><span>{{item.Currency}}</span></ng-template>
    </data-table-cell>
    <data-table-cell columnName="Orders Count">
        <ng-template let-item>{{item.OrdersCount}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="Net Risk">
        <ng-template let-item>{{item.Risk ? item.Risk.toFixed(2) : '-'}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="Risk (%)">
        <ng-template let-item>
            <span class="{{riskClass(item)}}">{{item.RiskPercentage ? item.RiskPercentage.toFixed(2) + '%' : '-'}}</span>
        </ng-template>
    </data-table-cell>

</data-table>
