@import "themes/themes";
@import "mixins/themify";

:host {
  .failed {
    cursor: pointer;
    opacity: 0.5;
  }
  .content {
    // height: 40px;
    display: flex;
    border-top: 1px solid;
    margin: 10px 0px;

    /deep/ .mat-progress-bar {
      height: 5px;
    }

    .experiance-points-points {
      font-size: 12px;
      line-height: 40px;
      margin-left: 15px;
      font-weight: 700;
      min-width: 50px;
    }

    .experiance-points-claimed {
      
    }
    .experiance-points-claimed img {
      width: 20px;
      margin: 0 auto;
      margin-top: 14px;
    }
    .experiance-points-text-value {
     font-weight:700;
     margin-left: 15px;
    }
    .experiance-points-text-lable {
      font-weight:700;
     }
 

    

    .experiance-points {
      display: flex;
      flex-direction: column;
      font-size: 11px;
      width: 100%;
      // line-height: 40px;
      padding-left: 15px;
      max-width: 300px;

      .progress-bar-area {
        margin-top: -5px;
      }

      .experiance-points-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 12px;
      }
    }
  }
}

@include themify($themes, true) {
  .content {
    border-top-color: themed('missionMenu');
  }
}
