<div class="content" [ngClass]="{'failed': failed}" [matTooltip]="failedDescription">
    <div class="experiance-points">
        <div class="experiance-points-text">
            <div class="experiance-points-text-lable">
                {{Name}}
            </div>
            <div class="experiance-points-text-value">
                {{current}}/{{Needed}}
            </div>
        </div>
        <div class="progress-bar-area">
            <mat-progress-bar mode="determinate" value="{{value}}"></mat-progress-bar>
        </div>
    </div>
    <div class="experiance-points-points">
        {{Points}}  XP
    </div>
    <div class="experiance-points-claimed">
        <img src="./assets/img/target.png" *ngIf="claimed && !failed" />
        <img src="./assets/img/sad.png" *ngIf="failed" />
    </div>    
</div>