@import "../../../styles/themes/themes";
@import "mixins/themify";

:host {
  display: block;
  height: 100%;
}

@include themify($themes, true) {
  .control .caption, .symbol {
    color: themed('valueTextColor');
  }

  .sell {
    color: themed('sellColor');
  }
  .buy {
    color: themed('buyColor');
  }
}
