<div class="trades full-height flex flex-direction-column full-width full-width">
    <div class="top-line m-bottom-5 flex justify-flex-end flex-shrink-0" *ngIf="showInstrumentSearch">
        <div class="control">
            <instrument-search
                    [instrumentSearchCallback]="instrumentSearchCallback"
                    (onSelect)="handleInstrumentChange($event)"></instrument-search>
        </div>
    </div>
    <data-table #tradesTable [rows]="trades" class="flex-grow-1 h-0" [columnCaption]="columnCaption" [allowColumnsVisibilityChange]="true">
        <data-table-header-cell columnName="symbol" [sortable]="true">
            {{'instrument' | translate}}
        </data-table-header-cell>
        <data-table-header-cell columnName="side" [sortable]="true">
            {{'side' | translate}}
        </data-table-header-cell>
        <data-table-header-cell columnName="size" [sortable]="true">
            {{'size' | translate}}
        </data-table-header-cell>
        <data-table-header-cell columnName="filledSize" [sortable]="true">
            {{'filledSize' | translate}}
        </data-table-header-cell>
        <data-table-header-cell columnName="remainedSize" [sortable]="true">
            {{'remainedSize' | translate}}
        </data-table-header-cell>
        <data-table-header-cell columnName="price" [sortable]="true">
            {{'price' | translate}}
        </data-table-header-cell>
        <data-table-header-cell columnName="avgPrice" [sortable]="true">
            {{'avgPrice' | translate}}
        </data-table-header-cell>
        <data-table-header-cell columnName="type" [sortable]="true">
            {{'type' | translate}}
        </data-table-header-cell>
        <data-table-header-cell columnName="time" [sortable]="true">
            {{'time' | translate}}
        </data-table-header-cell>
        <data-table-header-cell columnName="id" [sortable]="true">
            {{'tradeManager.tradeId' | translate}}
        </data-table-header-cell>
        <data-table-header-cell columnName="orderID" [sortable]="true">
            {{'tradeManager.orderId' | translate}}
        </data-table-header-cell>

        <data-table-cell columnName="symbol">
            <ng-template let-item>
                <span class="symbol">
                     {{item.symbol}}
                </span>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="side">
            <ng-template let-item>
                <order-side [side]="item.side"></order-side>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="size">
            <ng-template let-item>{{item.size}}</ng-template>
        </data-table-cell>
        <data-table-cell columnName="filledSize">
            <ng-template let-item>{{item.filledSize ? item.filledSize : '-'}}</ng-template>
        </data-table-cell>
        <data-table-cell columnName="remainedSize">
            <ng-template
                    let-item>{{item.remainedSize || item.remainedSize === 0 ? item.remainedSize : '-'}}</ng-template>
        </data-table-cell>
        <data-table-cell columnName="price">
            <ng-template let-item>{{item.price}}</ng-template>
        </data-table-cell>
        <data-table-cell columnName="avgPrice">
            <ng-template let-item>{{item.avgPrice ? item.avgPrice : '-'}}</ng-template>
        </data-table-cell>
        <data-table-cell columnName="type">
            <ng-template let-item>{{item.type}}</ng-template>
        </data-table-cell>
        <data-table-cell columnName="time">
            <ng-template let-item>{{item.time | formatDate:'YYYY/MM/DD HH:mm:ss'}}</ng-template>
        </data-table-cell>
        <data-table-cell columnName="id">
            <ng-template let-item>{{item.id}}</ng-template>
        </data-table-cell>
        <data-table-cell columnName="orderID">
            <ng-template let-item>{{item.orderID}}</ng-template>
        </data-table-cell>
    </data-table>
</div>
