$DarkTheme: (
        bgBrightness: 0.95,
        bgColor: rgba(23, 25, 27, 0.95),
        inputBgColor: #212121,
        overlayBg: #303234,
        inputColor: #dddddd,
        inputPlaceholderColor: rgba(221, 221, 221, 0.5),
        forgotColor: rgba(233, 233, 233, 0.5),
        errorColor: #f02645,
        successColor: #27cf6d,
        regularColor: #e9e9e9
)