<div class="sonar-wall">
    <div class="card-container">
        <sonar-feed-card></sonar-feed-card>
    </div>

    <div class="card-container">
        <sonar-feed-card></sonar-feed-card>
    </div>

    <div class="card-container">
        <sonar-feed-card></sonar-feed-card>
    </div>

    <div class="card-container">
        <sonar-feed-card></sonar-feed-card>
    </div>

    <div class="card-container">
        <sonar-feed-card></sonar-feed-card>
    </div>

    <div class="card-container">
        <sonar-feed-card></sonar-feed-card>
    </div>

    <div class="card-container">
        <sonar-feed-card></sonar-feed-card>
    </div>
</div>