<div class="sonar-wall">
    <ng-container *ngIf="hasAccess; else outOfAccess">
        <div class="sonar-feed-header" *ngIf="!isSingleCard">


            <div class="filters-and-search">

                <div class="outside-search-holder">
                    <input class="filters-search" placeholder="{{prevSearchText || 'Search Sonar'}}"
                        [(ngModel)]="searchText" (keyup)="searchTextInput($event)">
                    <div class="filters-search-icon" (click)="searchIconClick()"><i class="fa fa-search"></i></div>
                </div>

                <div class="outside-filters-holder">
                    <div class="item-favs" [ngClass]="{'active-follow-filter': isFollowFilterUsed}" (click)="useFollowFilter()"><i class="fa fa-star ng-star-inserted"></i> Following </div>

                    <div class="filters-holder" (click)="hideShowFilters()">
                        <img class="widget-icon border-circle" src="/assets/img/filter-solid.svg">Filters
                    </div>

                </div>

            </div>


        </div>

        <div class="filter-modal" *ngIf="isFilterVisible">
            <div class="filtering-header">
                <div class="filter-select crypto-form-unit">
                    <div class="form-unit__label filter-label">Timeframes</div>
                    <mat-form-field floatLabel="never" class="crypto-select full-width bft-form-select">
                        <mat-select (selectionChange)="filterChanged($event.value)" [(ngModel)]="selectedTimeFrames"
                            multiple>
                            <mat-option *ngFor="let option of allowedTimeFrames" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="filter-select crypto-form-unit">
                    <div class="form-unit__label filter-label">Market categories</div>
                    <mat-form-field floatLabel="never" class="crypto-select full-width bft-form-select">
                        <mat-select (selectionChange)="filterChanged($event.value)" [(ngModel)]="selectedMarketTypes"
                            multiple>
                            <mat-option *ngFor="let option of allowedMarketTypes" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="filter-select crypto-form-unit">
                    <div class="form-unit__label filter-label">Setups</div>
                    <mat-form-field floatLabel="never" class="crypto-select full-width bft-form-select">
                        <mat-select (selectionChange)="filterChanged($event.value)" [(ngModel)]="selectedTradeTypes"
                            multiple>
                            <mat-option *ngFor="let option of allowedTradeTypes" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="filtering-footer">
                <div class="align-right">
                    <div class="cancel">
                        <button class="crypto-button crypto-button_action" (click)="cancelFilters()">Cancel</button>
                    </div>
                    <div class="apply">
                        <button class="crypto-button crypto-button_primary" [ngClass]="{'disabled': !isFilterChanged}"
                            (click)="applyFilters()">Apply</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="cards-container" (scroll)="onScroll($event)" #scroller (click)="clickOnWall($event)">
            <div class="card-container" *ngFor="let card of cards">
                <sonar-feed-card [isVisible]="isCardVisible(card)" [hasMyLike]="card.hasMyLike"
                    [hasMyDislike]="card.hasMyDislike" [likeCount]="card.likeCount" [dislikeCount]="card.dislikeCount"
                    [granularity]="card.granularity" [time]="card.time" [title]="card.title"
                    [instrument]="card.instrument" (onOpenChart)="viewOnChart(card)" (onLike)="like(card)"
                    (onDislike)="dislike(card)" (onShowAllComments)="showAllComments(card)"
                    (onAddComment)="addComment($event, card)" (onCommentLike)="commentLike($event, card)"
                    (onCommentLikeDelete)="commentLikeDelete($event, card)"
                    (onCommentDislike)="commentDislike($event, card)" (onRemoveComment)="removeComment($event, card)"
                    (onBanUser)="banUser($event, card)" [trend]="card.trend" [marketType]="card.marketType" 
                    (onFavorite)="favorite(card)" (onAddReplay)="addReplay($event, card)"
                    (onEditComment)="editComment($event, card)" [comments]="card.comments"
                    [commentsTotal]="card.commentsTotal" [isFavorite]="card.isFavorite"
                    [showAllCommentsOnExpand]="isSingleCard" (onShare)="share(card)" (chartClick)="clickOnCard(card)"
                    [selected]="selectedCard && selectedCard == card" [timeFrame]="card.timeFrame"
                    [symbol]="card.symbol" [setup]="card.setup" [side]="card.side"></sonar-feed-card>
            </div>
        </div>

        <div class="empty-result" *ngIf="(!cards || cards.length == 0) && !loading">
            No data found
        </div>
    </ng-container>
    <ng-template #outOfAccess>
        <div class="out-of-access" (click)="processCheckout()">
            <div class="out-of-access-box">
                <div class="image">
                    <img class="BFTimage" src="assets/img/bftnavigatorlogo.svg">
                </div>
                <div class="text" *ngIf="!isSingleCardAllowed">
                    Upgrade your subscription to view this setup
                </div>
                <div class="text" *ngIf="!hasSubscription">
                    Upgrade to Discovery or Pro to utilize Sonar Feed in realtime.
                </div>
            </div>
        </div>

    </ng-template>
</div>

<bft-loader *ngIf="loading"></bft-loader>

<div class="new-update" (click)="scrollTop()" *ngIf="IsNewUpdatesExists">
    New Setups
</div>