@import "global-styles/themes/themes";
@import "global-styles/mixins/themify";
@import "global-styles/variables";
@import "themes/themes";
@import "mixins/themify";

/deep/.mat-pseudo-checkbox {
    border-radius: 50% !important;
}

:host {
    width: 100%;
    height: 100%;

    .sonar-wall {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .card-container {
        max-width: 800px;
        display: flex;
        // height: 100%;
        width: 100%;
        // margin: 10px 10px 0px 10px;
        padding: 5px;
    }

    .new-update {
        position: absolute;
        top: 56px;
        left: calc(50% - 50px);
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 21px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 10px;
        cursor: pointer;
        color: whitesmoke;
        z-index: 103;
        -webkit-animation: slidein-bft 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        animation: slidein-bft 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    }

    .filtering-header {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 820px;
        // border-bottom-right-radius: 15px;
        // border-bottom-left-radius: 15px;
        // position: absolute;
        z-index: 101;
        padding-top: 5px;
        padding-bottom: 3px;

        .filter-select {
            display: flex;
            width: 30%;
        }

        .filter-changed {
            position: absolute;
            top: 32px;
            left: calc(50% - 70px);
            padding: 0px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 21px;
            font-size: 12px;
            font-weight: 500;
            border-radius: 10px;
            cursor: pointer;
            color: whitesmoke;
            z-index: 103;
            -webkit-animation: slidein-bft 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
            animation: slidein-bft 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);

            .fa-search {
                margin-right: 10px;
            }   
            
            .fa-close {
                margin-left: 16px;
                &:hover {
                    font-weight: 700;
                }
            }   
        }
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        // padding-top: 40px;
        overflow: auto;
    }
}

@include themify($themes, true) {
    .new-update, .filter-changed {
        background-color: themed("accentColor");
    }
    .filtering-header {
        background-color: themed("card-background-color");
    }
}

@-webkit-keyframes slidein-bft {
    0% {
        // height: 0;
        opacity: 0;
    }
    to {
        // height: 110px;
        opacity: 1;
    }
}

@keyframes slidein-bft {
    0% {
        // height: 0;
        opacity: 0;
    }
    to {
        // height: 100%;
        opacity: 1;
    }
}
