@import "global-styles/themes/themes";
@import "global-styles/mixins/themify";
@import "global-styles/variables";
@import "themes/themes";
@import "mixins/themify";

/deep/.mat-pseudo-checkbox {
    border-radius: 50% !important;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:host {
    width: 100%;
    height: 100%;

    .sonar-wall {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        -webkit-touch-callout: text;
        -webkit-user-select: text;
        -khtml-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }

    .card-container {
        max-width: 800px;
        display: flex;
        // height: 100%;
        width: 100%;
        // margin: 10px 10px 0px 10px;
        padding: 0px 0px 10px 0px;
    }

    .new-update {
        position: absolute;
        top: 56px;
        left: calc(50% - 50px);
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 21px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 10px;
        cursor: pointer;
        color: whitesmoke;
        z-index: 103;
    }

    img.widget-icon.border-circle {
        height: 9px;
        margin-right: 5px;
        margin-top: 1px;
    }

    .sonar-feed-header {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5px;
        border: 1px solid;
        align-items: center;
        border-radius: 10px;
        max-width: 800px;
        margin-bottom: 10px;
    }

    .sonar-feed-highlights {
        display: flex;
        width: 100%;
        padding: 5px 5px;
        border: 1px solid;
        align-items: center;
        border-radius: 10px;
        margin-bottom: 10px;
        max-width: 800px;
    }

    // -------------------------------------

    details {
        summary {
            list-style: none;

            &:focus {
                outline: none;
            }
            &::-webkit-details-marker {
                display: none;
            }
        }
    }

    .algo-highlights {
        display: flex;

        justify-content: left;
        align-items: center;
    }

    .highlights-subitem {
        cursor: pointer;
        display: flex;
        padding: 0px 8px;
        margin-right: 4px;
        font-size: 11px;
        font-weight: 700;
        font-family: "Open Sans";
        height: 33px;
        align-items: center;
        transition: all 0.22s;
        opacity: 0.9;
    }
    .highlights-subitem .widget-icon {
        display: flex;
        margin-right: 5px;
        width: 17px;
        height: 17px;
        align-items: center;
    }

    .highlights-subitem:hover {
        border-radius: 5px;
    }

    .highlights-subitem.active {
        border-radius: 5px;
    }

    .filters-search {
        width: 100%;
        display: flex;
        font-size: 11px;
        flex-direction: row;
        border: 1px solid;
        border-radius: 5px;
        padding: 6px 4px 6px 30px;
        font-family: "Open Sans";
        font-weight: 700;
        transition: all 0.22s;
    }

    .pre-filter-header {
        display: flex;
        width: 100%;
        padding: 5px 5px;
        border-bottom: 1px solid #dddddd24;
        color: #d5d5dc;
    }

    .outside-search-holder {
        display: flex;
        margin-right: 5px;
        align-items: center;
        position: relative;
        max-width: 50%;
        width: 50%;
    }

    .outside-filters-holder {
        display: flex;
    }
    .outside-filters-holder .item-favs .fa {
        margin-right: 3px;
        margin-top: 1px;
    }

    .filters-holder,
    .item-favs {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 5px;
        font-size: 10px;
        font-weight: 600;
        border-radius: 15px;
        border: 1px solid;
        padding: 6px 8px;
        cursor: pointer;
        font-family: "Open Sans";
        transition: all 0.22s;
    }

    .item-all {
        font-size: 11px;
        font-weight: 700;
        margin-right: 15px;
    }

    .filters-and-search {
        display: flex;
        align-items: center;
        max-width: 800px;
        width: 100%;

        .filters-search-icon {
            position: absolute;
            left: 0px;
            margin-left: 10px;
            cursor: pointer;
            font-size: 14px;
            margin-right: 10px;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .filter-modal {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 5px;

        /deep/ {
            .mat-form-field-label-wrapper {
                margin-top: -3px;
            }
        }
    }

    .filtering-footer {
        display: flex;
        width: 100%;
        align-items: center;
        padding-bottom: 5px;
        padding-right: 5px;

        .cancel,
        .apply {
            display: flex;
            padding: 2px 8px;
            border-radius: 5px;
            font-size: 11px;
            font-weight: 700;

            .crypto-button {
                padding: 2px 15px;
                font-size: 10px;
            }
        }
    }

    .filtering-footer .align-right {
        justify-content: flex-end;
        display: flex;
        width: 100%;
    }

    .filtering-footer .align-left {
        display: flex;
        justify-content: left;
    }

    .filter-label {
        font-size: 9px;
        font-weight: 700;
        margin-bottom: 5px;
        margin-left: 3px;
    }

    .filtering-header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        z-index: 101;
        padding: 5px;

        .filter-select {
            display: flex;
            flex-direction: column;
            max-width: 100%;
            width: 100%;
            padding: 8px 5px 5px 5px;
        }
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 10px;
        overflow: auto;
    }
    .out-of-access {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        width: 100%;
        cursor: pointer;
        position: absolute;
        top: 0px;
        z-index: 2;

        .out-of-access-box {
            display: flex;
            flex-flow: column;
            padding: 30px;
            border-radius: 5px;
            box-shadow: 0 0 5px -2px rgba(75, 72, 72, 0.44);
            .text {
                margin: 10px 7px;
                display: flex;
                text-align: center;
                font-weight: 700;
                font-size: 12px;
                max-width: 180px;

                padding-top: 5px;
            }

            .image {
                display: flex;
                justify-content: center;
            }
            img {
                width: 200px;
            }
        }
    }

    .empty-result {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    .timeframe-filters {
        margin-left: 5px;
    }

    @media (max-width: 767px) {
        .cards-container {
            padding: 5px;
        }
    }
}

/deep/.sonar-time-filter-menu {
    max-width: none !important;
}

:host-context(body.Dark-theme) .highlights-subitem .widget-icon {
    -webkit-filter: invert(1);
    filter: invert(1);
    opacity: 0.8;
}

:host-context(body.Dark-theme) .widget-icon.border-circle {
    -webkit-filter: invert(1);
    filter: invert(1);
    opacity: 0.8;
}

:host-context(body.Light-theme) .highlights-subitem .widget-icon {
    opacity: 0.6;
}

:host-context(body.Light-theme) img.widget-icon.border-circle {
    opacity: 0.6;
}

@include themify($themes, true) {
    .new-update,
    .filter-changed {
        background-color: themed("accentColor");
    }

    .active-follow-filter {
        background-color: themed("sonar-accent-color") !important;
        border: 1px solid themed("accentColor") !important;
    }

    .filter-modal {
        background-color: themed("card-background-color");
    }

    .empty-result {
        color: themed("titleTextColor");
    }

    .out-of-access-box {
        background-color: themed("appPanelColor");
    }

    .text {
        color: themed("valueTextColor");
    }

    .sonar-feed-highlights,
    .sonar-feed-header {
        background: themed("sonar-feed-header");
        border-color: themed("sonar-card-bg-border");
        color: themed("sonar-common-text-color");
    }

    .filters-search,
    .item-favs,
    .filters-holder {
        background-color: themed("sonar-search-bg");
        border-color: themed("sonar-search-border");

        &:hover,
        &:active {
            background-color: themed("sonar-search-bg-active");
            border-color: themed("sonar-search-border-active");
        }
    }

    .item-favs,
    .filters-holder {
        color: themed("sonar-common-text-color");
    }

    .sonar-wall {
        background: themed("widget-wall-bg") !important;
    }

    .highlights-subitem,
    .highlights-subitem {
        &:hover,
        &.active {
            background: themed("sonar-feed-hover-color");
            opacity: 1;
        }
    }
}
