<div class="sonar-wall" (scroll)="onScroll($event)">
    <div class="card-container" *ngFor="let card of cards">
        <sonar-feed-card [isVisible]="isCardVisible(card)" [hasMyLike]="card.hasMyLike" [hasMyDislike]="card.hasMyDislike"
            [likeCount]="card.likeCount" [dislikeCount]="card.dislikeCount" [granularity]="card.granularity"
            [time]="card.time" [title]="card.title" [instrument]="card.instrument"
            (onOpenChart)="viewOnChart(card)" (onLike)="like(card)" (onDislike)="dislike(card)" (onShowAllComments)="showAllComments(card)"
            (onAddComment)="addComment($event, card)" (onCommentLike)="commentLike($event, card)" (onCommentDislike)="commentDislike($event, card)"
            (onRemoveComment)="removeComment($event, card)" (onFavorite)="favorite(card)" (onAddReplay)="addReplay($event, card)"
            [comments]="card.comments" [commentsTotal]="card.commentsTotal" [isFavorite]="card.isFavorite"></sonar-feed-card>
    </div>
</div>

<bft-loader *ngIf="loading"></bft-loader>