@import "global-styles/themes/themes";
@import "global-styles/mixins/themify";
@import "global-styles/variables";
@import "themes/themes";
@import "mixins/themify";

:host {
    width: 100%;
    height: 100%;

    .sonar-wall {
        overflow: scroll;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        // justify-content: center;
    }

    .card-container {
        max-width: 800px;
        display: flex;
        // height: 100%;
        width: 100%;
        margin: 10px 10px 0px 10px;
    }
}

@include themify($themes, true) {
}
