<div class="sonar-tile w-100 h-100 crypto-text">
    <div class="symbol">
        {{result?.symbol.toUpperCase()}}
    </div>

    <div class="type">
        {{result.marketType}}
    </div>

    <div>
        <div class="tradetf">
            <i class="fa fa-clock-o"></i>
            {{toTimeframe(result.timeframe)}} Setup
        </div>
    </div>

    <div>
        <div class="setup" [ngClass]="{'setup-long': (result.trend == trends.Up), 'setup-short': (result.trend == trends.Down)}">
            <ng-container [ngSwitch]="result.origType">
                <ng-container *ngSwitchCase="origType.EXT">
                    <!-- <img class="svgfiller"  src="assets/img/EXT2.svg"/> -->
                    <span>
                        <i class="fa" [ngClass]="{'fas fa-arrow-up': (result.trend == trends.Up), 'fas fa-arrow-down': (result.trend == trends.Down)}"></i> 
                        {{result.trend == trends.Up ? "Long" : "Short"}} EXT
                    </span>
                </ng-container>
                <ng-container *ngSwitchCase="origType.BRC">
                    <!-- <img class="svgfiller"  src="assets/img/BRC2.svg"/> -->
                    <span>
                        <i class="fa" [ngClass]="{'fas fa-arrow-up': (result.trend == trends.Up), 'fas fa-arrow-down': (result.trend == trends.Down)}"></i> 
                        {{result.trend == trends.Up ? "Long" : "Short"}} BRC
                    </span>
                </ng-container>
                <ng-container *ngSwitchCase="origType.SwingExt">
                    <!-- <img class="svgfiller"  src="assets/img/SWING2.svg"/> -->
                    <span>
                        <i class="fa" [ngClass]="{'fas fa-arrow-up': (result.trend == trends.Up), 'fas fa-arrow-down': (result.trend == trends.Down)}"></i> 
                        {{result.trend == trends.Up ? "Long" : "Short"}} SWING 
                    </span>
                </ng-container>
                <ng-container *ngSwitchCase="origType.SwingN">
                    <!-- <img class="svgfiller"  src="assets/img/SWING2.svg"/> -->
                    <span>
                        <i class="fa" [ngClass]="{'fas fa-arrow-up': (result.trend == trends.Up), 'fas fa-arrow-down': (result.trend == trends.Down)}"></i> 
                        {{result.trend == trends.Up ? "Long" : "Short"}} SWING
                    </span>
                </ng-container>
                </ng-container>
        </div>
    </div>
    <!-- <div class="result-data" [ngClass]="{'high':result.volatility == 'High', 'medium':result.volatility == 'Mid', 'low':result.volatility == 'Low'}">
    </div> -->

</div>