@import "global-styles/variables";
@import "global-styles/mixins/themify";
@import "global-styles/themes/themes";

:host {
  .body {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    font-weight: 700;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
  }

  .type {
    font-size: 10px;
    text-align: left;
    margin-bottom: 20px;
    // background: #37333a80;
    border-radius: 3px;
    // margin-left: 5px;
   //  margin-right: 5px;
    overflow: hidden;
    padding: 5px;
    display: inline-block;
    font-weight: 700;
  }

  .tradetf {
    font-size: 10px;
    text-align: left;
    border: 1px solid #ddaf0bad;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    padding: 3px;
    display: inline-block;
    font-weight: 700;
    color: #DDAF0B;
  }

  .setup {
    font-weight: 700;
    text-align: left;
    padding: 5px;
    border-radius: 3px;
    display: inline-block;
    font-size: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .setup-long {
    background: #94fac726;
    color: #94fabeb3;
  }

  .setup-short {
    background: #fa949426;
    color: #fa9494b3;
  }

  .symbol {
    font-size: 11px;
    font-weight: 700;
    text-align: left;
    padding: 5px 10px 0px 15px;

  }

  .sonar-tile {
    border-radius: 5px;
    padding:5px;
    overflow:hidden;
    background-color: #191919;
  }
}

@include themify($themes, true) {
  .sonar-tile {
    background-color: themed('tableBorders');
    color: themed('valueTextColor');
  }

  .symbol {
   // border-bottom: 1px solid themed('appPanelColor');
  }

  .setup {
   // border-top: 1px solid themed('appPanelColor');
  }
}

