@import "global-styles/variables";
@import "global-styles/mixins/themify";
@import "global-styles/themes/themes";

:host {
  .body {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    font-weight: 700;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
  }



  .type {
    font-size: 10px;
    text-align: left;
    margin-bottom: 20px;
    border-radius: 3px;
    overflow: hidden;
    padding: 5px;
    font-weight: 700;
  }

  .tradetf {
    font-size: 10px;
    text-align: left;
    border: 1px solid #ddaf0bad;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    padding: 3px;
    display: inline-block;
    font-weight: 700;
  }

  .setup {
    font-weight: 700;
    text-align: left;
    padding: 5px;
    border-radius: 3px;
    display: inline-block;
    font-size: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .symbol {
    font-size: 11px;
    font-weight: 700;
    text-align: left;
    padding: 5px 10px 0px 15px;

  }

  .sonar-tile {
    border-radius: 5px;
    padding:5px;
    overflow:hidden;
  }
}


@include themify($themes, true) {
  .sonar-tile {
    background-color: themed('tableBorders');
    color: themed('valueTextColor');
  }

  .sonar-tile:hover {
    border: 1px solid themed('valueTextColor');
     transition-duration: 0.22s;
  }

  .sonar-tile {
    border: 1px solid transparent;
  
     transition-duration: 0.22s;
  }

  .setup-short {
    background-color: themed('scanner-card-setup-short-background');
    color: themed('scanner-card-setup-short-color');
  }

  .setup-long {
    background-color: themed('scanner-card-setup-long-background');
    color: themed('scanner-card-setup-long-color');
  }

  .tradetf {
    border-color: themed('scanner-card-tf-border');
    color: themed('scanner-card-tf-color');
  }
}

