<div class="dashboard flex flex-direction-column">
    <div class="content-wrapper flex flex-grow-1">
        <div class="flex-grow-1 w-0">

            <as-split #horizontalSplit class="platform-split-horizontal" [direction]="'horizontal'" [gutterSize]="3"
                (dragEnd)="handleHorizontalSplitDragEnd($event)" [unit]="'pixel'">
                <as-split-area [order]="0" class="flex">

                    <as-split #verticalSplit class="platform-split-vertical" [direction]="'vertical'" [gutterSize]="3"
                        [unit]="'pixel'" (dragEnd)="handleVerticalSplitDragEnd($event)">
                        <as-split-area [order]="0" [size]="bottomPanelSizeService.sizePanel()" class="flex">
                            <golden-layout>
                                <div class="empty-icon flex justify-content-center align-items-center">
                                    <img alt="Empty" class="emptysvg" src="assets/img/bftnavigatorlogo.svg"
                                        style="width: 75%">
                                </div>
                            </golden-layout>
                        </as-split-area>
                        <as-split-area [order]="1" [size]="bottomPanelSizeService.sizeBottomPanel()"
                            [minSize]="bottomPanelMinSize" [maxSize]="600">
                            <bottom-panel class="full-height"></bottom-panel>
                        </as-split-area>
                    </as-split>
                </as-split-area>
                <as-split-area [order]="1" [(size)]="rightPanelSize" [minSize]="rightPanelMinSize" [maxSize]="rightPanelMaxSize">
                    <right-panel></right-panel>
                </as-split-area>
            </as-split>
        </div>
    </div>
</div>
<div class="exception_handled_popup" *ngIf="showExceptionPopup">
    <div class="close-button crypto-button-delete" (click)="hideExceptionPopup()"><i
            class="crypto-icon crypto-icon-close" title="Remove"></i></div>
    <div class="exception_header">Technical issues?</div>
    <div class="exception_description">{{'exceptionDescription' | translate}}</div>
    <button (click)="clearSession()" class="crypto-button">{{'clearSession' | translate}}</button>
</div>