@import "../../../global-styles/variables";

$primeColor: #d5d5dc;
$secondaryColor: #fff;
$mutedColor: rgba(213, 213, 220, 0.5);
$accentColor: #3d61cc;
$primeBgColor: #1e1f21;
$secondaryBgColor: #17191b;
$delimiterColor: #26282a;
$avatarBgColor: #3f4143;
$inputBgColor: #1c1e20;
$inputBorderColor: #171717;
$redColor: #f02645;
//$primaryFontFamily: $primaryFontFamily;