<div [ngSwitch]="instanceType" class="h-100">    
    <mt-trade-manager *ngSwitchCase="EBrokerInstance.MT4" class="h-100"></mt-trade-manager>
    <mt-trade-manager *ngSwitchCase="EBrokerInstance.MT5" class="h-100"></mt-trade-manager>
    <mt-trade-manager *ngSwitchCase="EBrokerInstance.Binance" class="h-100"></mt-trade-manager>
    <div *ngSwitchDefault class="flex align-items-center justify-content-center w-100 h-100">
        <span class="notConnected caption">{{"tradeManager.connectToBroker" | translate}}</span>
    </div>
</div>
