<div class="trade-manager">
    <div class="color-selector">
        <color-selector [activeColor]="linkerColor" [path]="'flag'" (activeColorChange)='handleColorSelected($event)'>
        </color-selector>
    </div>
    <div [ngSwitch]="brokerInstance" class="h-100">    
        <mt-trade-manager *ngSwitchCase="EBrokerInstance.MT4" class="h-100" (onOpenChart)="handleOpenChart($event)"></mt-trade-manager>
        <mt-trade-manager *ngSwitchCase="EBrokerInstance.MT5" class="h-100" (onOpenChart)="handleOpenChart($event)"></mt-trade-manager>
        <binance-trade-manager *ngSwitchCase="EBrokerInstance.Binance" class="h-100" (onOpenChart)="handleOpenChart($event)"></binance-trade-manager>
        <binance-futures-trade-manager *ngSwitchCase="EBrokerInstance.BinanceFuturesUSD" class="h-100" (onOpenChart)="handleOpenChart($event)"></binance-futures-trade-manager>
        <binance-futures-trade-manager *ngSwitchCase="EBrokerInstance.BinanceFuturesCOIN" class="h-100" (onOpenChart)="handleOpenChart($event)"></binance-futures-trade-manager>
        <div *ngSwitchDefault class="flex align-items-center justify-content-center w-100 h-100">
            <span class="notConnected caption">{{"tradeManager.connectToBroker" | translate}}</span>
        </div>
    </div>
</div>

<div class="controls">
    <div [ngSwitch]="brokerInstance" class="h-100" class="account-info-bar">
        <mt-account-info-bar *ngSwitchCase="EBrokerInstance.MT4" class="info-bar"></mt-account-info-bar>
        <mt-account-info-bar *ngSwitchCase="EBrokerInstance.MT5" class="info-bar"></mt-account-info-bar>
        <binance-account-info-bar *ngSwitchCase="EBrokerInstance.Binance" class="info-bar"></binance-account-info-bar>
        <binance-futures-account-info-bar *ngSwitchCase="EBrokerInstance.BinanceFuturesUSD" class="date-container"></binance-futures-account-info-bar>
        <binance-futures-account-info-bar *ngSwitchCase="EBrokerInstance.BinanceFuturesCOIN" class="date-container"></binance-futures-account-info-bar>
    </div>
    <div class="buttons-control">
        <button (click)="cancelAllPending()"
                style="margin:10px"
                [disabled]="!brokerConnected"
                *ngIf="showCancelAll"
                class="crypto-button crypto-button_success no-wrap">Cancel all Pending
        </button> 
        <button (click)="placeOrder()"
                style="margin:10px"
                [disabled]="!brokerConnected"
                class="crypto-button crypto-button_success no-wrap">Place Order
        </button> 
        <button (click)="reconnect()"
                style="margin:10px"
                [disabled]="!brokerConnected"
                class="crypto-button crypto-button_danger no-wrap">Reconnect
        </button>
        <button (click)="disconnect()"
                style="margin:10px"
                [disabled]="!brokerConnected"
                class="crypto-button crypto-button_danger no-wrap">Disconnect
        </button>
        <button (click)="showSymbolMapping()"
                style="margin:10px"
                [disabled]="!brokerConnected"
                class="crypto-button crypto-button_danger no-wrap">Mapping
        </button>
    </div>
</div>
