@import "global-styles/themes/themes";
@import "global-styles/mixins/themify";

:host {
  width: 100%;

  .positive-value {
    color: #5eaf80;
  }

  .negative-value {
    color: #bd5b6a;
  }

  .add-item-button {
    max-width: 200px;
    margin: 10px;
    display: flex;
  }
}