<div class="time-interval">
    <div class="algo-highlights">
        <div class="highlights-subitem" (click)="changeInterval('Now')">Now</div>
    </div>
    <div class="algo-highlights">
        <div class="highlights-subitem" (click)="changeInterval('Today')">Today</div>
    </div>
    <div class="algo-highlights">
        <div class="highlights-subitem" (click)="changeInterval('ThisWeek')">This Week</div>
    </div>
    <div class="algo-highlights">
        <div class="highlights-subitem" (click)="changeInterval('ThisMonth')">This Month
        </div>
    </div>
    <div class="algo-highlights">
        <div class="highlights-subitem" (click)="changeInterval('ThisYear')">This Year</div>
    </div>
    <div class="algo-highlights">
        <div class="highlights-subitem" (click)="changeInterval('AllTime')">All Time</div>
    </div>
</div>