@import "icons";
@import "override";
@import "fonts";

@import "helpers/layout";
@import "helpers/flex";
@import "helpers/margins";
@import "helpers/paddings";
@import "helpers/cursor";
@import "helpers/common";

@import "controls/buttons";
@import "controls/tables";

// TODO: Fix
@import "controls/modals";
@import "controls/delimiter";
@import "controls/textarea";
@import "controls/inputs";
@import "controls/form-units";
@import "controls/tags";

@import "material-controls/mat-select";
@import "material-controls/mat-autocomplete";
@import "material-controls/mat-input";
@import "material-controls/mat-menu";
@import "material-controls/mat-tabs";
@import "material-controls/mat-accordion";
@import "material-controls/mat-date-input";
@import "material-controls/mat-time-input";
@import "material-controls/mat-paginator";
@import "material-controls/mat-slide-toggle";
@import "material-controls/mat-progress-bar";
@import "material-controls/mat-tags-input";
@import "material-controls/mat-textarea";
@import "material-controls/mat-radio";

@import "helpers/typography";
@import "helpers/spinner";
@import "external/toastr";
@import "external/split-area";
@import "material-default-theme";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

bs-dropdown-container {
  z-index: 10000;
}


.transparent-bg {
  background-color: transparent;
}

.crypto-icon:before {
  vertical-align: middle;
}


::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

.cdk-global-scrollblock { // fix scroll in admin area when dialog is opened
  overflow: auto;
}

@mixin theme() {
  @include themify($themes, true);
}


.app-loading {
  body {
    background-color: red;
  }
}



// BFT //


body.Dark-theme.thmFintatechDarkTheme {
  background: #06060D;
}

.tcdToolbarItemWrapper {
  margin-top: 14px;
}

.tcdToolbarCompare,.tcdToolbarExport, .tcdTradePanel {
  display:none !important;  


}

.tcdToolbarInput .tcdToolbarButton-dropdownElement-image {
  display: none !important;
}


.instrument-search {
  padding-left: 10px;
}

.crypto-button_default, .navigatorlayouts {
  
  color: #ffffffd1 !important;
  background-color: #ffffff00 !important;
  font-size: 12px;
}

.broker-not-connected {
  display:none !important;
}

.mat-menu-panel.ng-trigger {
  margin-top: 8px;
}

.workspaces {
  font-size: 16px !important;
}

.nav-section {
  .add-elements-btn {
    padding: 0px 10px;
    height: 30px;
  }
  margin: 0px !important;
}

.navigation {
  background-color: #191919 !important;
  visibility: visible;
  

}


.telegramframe{
  border: 0px !important;
}

.platform-container {
    padding-top: 30px !important;
}

.sidebar-toggle-wrapper {
  position: absolute;
  z-index: 2;
  height: 17px !important;
  width: $sidebar-width !important;
}

.nav-top-row {
  padding: 0px;
  height: 30px !important;
}

.navigation .avatar {
  width: 17px !important;
  height: 17px !important;
}

.navigation .avatar-wrapper img.rounded {
  border-radius: 50% !important;
  vertical-align: top !important;
}

nav-section div {

margin: 0px !important;

}

.navigation .role {
  display: none !important;
}

.navigation span.email {
  font-size: 12px !important;
  color: #ffffffd1 !important;
}
  

.delimiter-left {
  border-left: 0.01em solid #edeff240 !important;
}

.toggle-container.toggle-container{
  border-right: 0.01em solid #edeff240 !important;
}


span.logo__img {
  border-right: 0px !important;
}

// kill bottom split
.as-split-gutter.ng-star-inserted {
  display: none !important;
}

// kill maximize window icon
i.crypto-icon.crypto-icon-layout-maximise.ng-star-inserted {
  display: none !important;
}


//menu

.toggle {
  width: 35px !important;
  height: 20px !important;

  
}

.toggle span {
  background: #ffffffd1 !important;
  height: 4px !important;
}


.toggle span:nth-child(1) {
  top: -4px !important;
  transform-origin: left center;
}

.toggle span:nth-child(2) {
  top: 8px !important;
  transform-origin: left center;
}


.toggle span:nth-child(3) {
  top: 20px !important;
  width: 100% !important;
  transform-origin: left center;
}



//General

button.crypto-button.crypto-button_default {
  padding-left: 0px !important;
  padding-right: 0px !important;
}


.lm_header .lm_tab {
  height: 18px;
  padding-bottom: 4px;
  padding-top: 5px;
  padding-right: 35px;
  margin-right: 1px;
  box-shadow: none;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
}


//DARK THEME

.Dark-theme .lm_header .lm_tab {
  background: #101013 !important;
}

.Dark-theme li.lm_tab.bftn {
  cursor: default;
  background: #101013 !important;
}

span.bftn {
 
  font-size: 12px;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  vertical-align: text-top;
}

.sidebar-toggle-wrapper{
  background-color: transparent !important;
}


span.bftnlogo {
  color: #ffffffd1;
  font-size: 12px;
  font-weight: bold;
  padding-top:3px;
 
}

span.bftsvg {
  padding-left: 10px;
  padding-right: 10px;
  height: 22px;
  fill: #ffffffd1;
  /* height: 15px; */
  width: auto;
}


.Light-theme .open span.bftsvg, .Light-theme .open span.bftnlogo {
  fill:#191919 !important;
  color:#191919 !important;


}





.flex.BFTN {
  height: 22px;
}

.bftsvg svg#Layer_1 {
  height: 13px;
}



.sidebar-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 30px !important;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

// watchlist



span.lm_title.bftn {
  max-width: 300px !important;
  font-weight:800 !important;
}

lm_tab.bftn {
  padding-left: 0px !important;
}

.bftlinks {
  padding-left: 15px;
}




.navigation .navigation-right-side.flex.align-items-center {

  //display: none !important;
}

.matMenuTrigger {
  width: 10px !important;
  height: 10px !important;
  line-height: 15px;
  text-align: center;
  vertical-align: middle;
  font-size: 9px;
  border-radius: 50%;
  border: 0px !important;
  color: #58585887;
  cursor: pointer;
}


.lm_tab.tab-with-linker .link-selector {
  position: absolute;
  z-index: 2;
  left: 11px !important;
  top: 10px !important;
}



.Dark-theme  .open span.bftsvg {

  fill: #ffffffd1 !important;
}



.Dark-theme  input.symbolSearch.toolbar-title.tcdInstrumentSearchInputField {
  border: 1px solid #f8f8f82e;
}


.Dark-theme .tcdToolbarButton:hover, .Dark-theme .tcdToolbarButton-dropdownElement-image.tcdSVGIcon:hover {
  background: #2e3740 ;
  cursor: default ;
}

.Dark-theme span.spanlink {
padding-right: 5px;
color: #fff;
}


.Dark-theme span.bftn {
   color:#ffffffd1 !important;
   font-size:12px;

  }


 

.Dark-theme .lm_header .lm_tab.lm_active {
background-color: #191919 !important;
border-top: 0px solid #3d61cc !important;
}

.Dark-theme .lm_header .lm_tab {
background: #19191996 ;
}


//Light theme

.Light-theme .lm_header .lm_tab.lm_active {
  background-color: #fff;
  border-top: 0px solid #3d61cc !important;
}


.Light-theme .open .toggle span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
  background:#323232  !important;
}

.Light-theme .open .toggle span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.Light-theme .open .toggle span:nth-child(3) {
  transform: rotate(-45deg);
  width: 100%;
  top: 39px;
  left: 8px;
  background:#323232  !important;
}

.Light-theme .open .bftn  {
  transform: rotate(-45deg);
  width: 100%;
  top: 39px;
  left: 8px;
  background:#323232  !important;
}


.Light-theme .tcdToolbarButton:hover, .Light-theme  .tcdToolbarButton-dropdownElement-image.tcdSVGIcon:hover {
  background: #f5f5f5 ;
  cursor: default !important;
}

.Light-theme span.spanlink {
padding-right: 5px;
color: #000;
}



.Light-theme span.bftn {
  color:#000 !important;
  font-size:12px;

 }





 @media (max-width: 470px) {
  
  .hidebreakfreetrading {
     display:none !important;
  }
 
}


@media (max-width: 360px) {
  
  .hidenavigator {
     display:none !important;
  }
 
}



.hidden {

  display:none !important;
}

.tcdToolbar-scroll.tcdToolbar-left.tcdPhone {
  border-right: 1px solid #eee;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tcdToolbar-top .tcdToolbar-scroll-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.tcdToolbar-top .tcdToolbar-scroll-wrapper  {
  -ms-overflow-style: none;
}

.toggle-container.cursor-pointer.open {
  background-color: transparent !important;
}

.Light-theme .root.current-user-message {
  justify-content: flex-start;
  background-color:#EFF9E9 ;
}

.Dark-theme .root.current-user-message {
  justify-content: flex-start;
  background-color:#201f1f ;
}

.Dark-theme input.symbolSearch.toolbar-title.tcdInstrumentSearchInputField {
  color: #ffffffd1;
}

.Light-theme .message-text {
 
  font-size: 13px;
  overflow-wrap: break-word;
  line-height: 1.38;
  color:#4a4a4a;
  
}

.Light-theme .root {

  border-bottom:1px solid #e8e8e8

}

.Light-theme .thread-list-item {
  border-bottom: 1px solid #e8e8e8;
  background: #fff;

}

.Light-theme .thread-list-item:hover  {

background:#edeff2;


}

.Light-theme thread-list-item.active .thread-list-item, .Light-theme thread-list-item.active .thread-list-item {
  border-left: 2px solid #3d61cc !important;
  background: #edeff2 !important;
}

.Dark-theme .mat-tab-link {
  color:#fff !important;;
}

.Dark-theme .footer {
 
  border: 1px solid #161616;

}

.Dark-theme .message-text {
  
  font-size: 13px;
  overflow-wrap: break-word;
  line-height: 1.38;
  color: #ffffffd1;
  
}

.Dark-theme .root {

  border-bottom:1px solid #2d2b2b;

}



.Dark-theme .thread-list-item {
  border-bottom: 1px solid #2d2b2b;
  background: #201f1f;
}

.Dark-theme .footer {
 
  border: 1px solid #161616;

}

.Dark-theme .ggtop {
border-top:2px solid #06060D;
}


.Dark-theme .mat-tab-label-active  {
  font-weight:600;
  color:#fff !important;
}

.Dark-theme  .open .logo {
  background-color:transparent !important;
  
  }




.Light-theme .mat-tab-link {
  color:#191919 !important;
}



.Light-theme .mat-tab-label-active  {
  font-weight:600;
  color:#191919 !important;
}

.Light-theme .open .logo {
background-color:transparent !important;

}

a.wrapper-link[href="#/platform/settings/withdraws"],a.wrapper-link[href="#/platform/settings/trades"],a.wrapper-link[href="#/platform/settings/deposits"] {
  display: none !important;
}


.Dark-theme .item-icon {
 
  background:#191919;
  border:1px solid #dddddd21;
  
}

.Dark-theme .section-item {
  color:#fff;

}

.Dark-theme .section-item:hover {
  color:#0da4fa;
}



.Light-theme .item-icon {
 
  background:#edeff2 ;
  border:1px solid #ddddddb3;
  
}


.Light-theme .section-item:hover {
color:#0da4fa;

}