$component-selector-item-box-shadow-color: rgba(0, 0, 0, 0.15);
$component-selector-item-hover-box-shadow-color: rgba(0, 0, 0, 0.3);
$very-high-volatility-indicator-color: #ff0000;
$high-volatility-indicator-color: #ff4000;
$medium-volatility-indicator-color: #ff8000;
$low-volatility-indicator-color: #ffff00;
$very-low-volatility-indicator-color: #27cf6d;