<div class="bftNavigator flex">
   
   <div class="bftpanel-status">
      <div class="row"> 
         <span class="bft-pannel-header">Breakfree Trading Panel</span>
      </div>

      <div class="row"> 
         <span class="value1">Objective:</span><span class="value2" id="nav_AlgoObjective">No trade zone</span>
      </div>

      <div class="row"> 
         <span class="value1">Status:</span><span class="value2" id="nav_AlgoStatus">No trade zone</span>
      </div>

      <div class="row"> 
         <span class="value1">Suggested risk:</span><span class="value2" id="nav_AlgoRisk">0% capital</span>
      </div>

      <div class="row"> 
         <span class="value1" id="nav_AlgoPositionSymbol">Position size ():</span><span class="value2" id="nav_AlgoPositionSize"> 0 : split 0</span>
      </div>

      <div class="row"> 
         <span class="value1">PAS:</span><span class="value2" id="nav_PAS">Market is neutral</span>
      </div>

      <div class="row"> 
         <span class="value1">Macro trend:</span><span class="value2" id="nav_MacroTrend">Bullish uptrend</span>
      </div>
      
  
      </div>
   



   
</div>