<div class="bftNavigator flex">
   <div class="flex justify-space-between">
      <div class="column"> 
         <span class="bft-pannel-header hidden">Select market</span>
      </div>
    
   <div class="bftpanel-status" #content>

  
     
      <div class="row tradeoverview"> 
         <span class="value header"> <span class="leftbord"></span>Trade overview: <div class="column marketoverview-selector">
            <selector [options]="Items" [placeholder]="'Select market'"
            [selectedOption]="SelectedItem"
            [optionCaption]="captionText"
            (onSelect)="itemSelected($event)"
            class="watchlist-selector"></selector>
         </div></span>
      </div>

      <div class="row "> 
         <span class="value1">Status:</span><span class="value2">
            {{ReplayBack ? "Strategy N/A on replay yet" : Data?.algo_Info?.status}}
         </span>
      </div>  


      <div class="row "> 
         <span class="value1">Objective:</span><span class="value2">
            {{Data?.algo_Info?.objective}}
         </span>
      </div>

     

      <div class="row"> 
         <span class="value1">Suggested risk:</span><span class="value2">
            {{Data?.algo_Info?.suggestedrisk}} {{Data?.algo_Info ? "%" : ""}}
         </span>
      </div>

     

      <!-- <div class="row"> 
         <span class="value1">PAS:</span><span class="value2">
            {{Data?.algo_Info?.pas}}
         </span>
      </div> -->

      <div class="row"> 
         <span class="value1" >RTD:</span><span class="value2">
            {{Data?.algo_Info?.macrotrend}}
         </span>
      </div>

    <!--<div class="row hidden"> 
         <span class="value1">Market:</span><span class="value2">
            {{Instrument?.symbol}} {{Instrument?.exchange}} {{Timeframe?.interval}}{{Timeframe?.periodicity}}
         </span>
      </div>-->  


      <div class="row"> 
         <span class="value1">Position size ({{Data?.algo_Info?.n_currencySymbol}}):</span><span class="value2">
            {{Data?.algo_Info?.positionsize}}
         </span>
      </div>

      <div class="row entries"> 
       <span class="value header"> <span class="leftbord"></span>Entries {{Instrument?.symbol}} </span>
      </div>


   
      <div class="row"> 
         <span class="value1 entry">#Entry 1</span>

         <span class="value2 place-order" *ngIf="tradePossible() && Data?.algo_Entry_low" (click)="placeOrder(1)">
            <i _ngcontent-uqy-c4="" class="crypto-icon crypto-icon-buy-arrow"></i>
         </span>

         <span class="value2 copyable" (click)="copyToClipboardSingleValue($event)">
            {{Data?.algo_Entry_low?.toFixed(5)}}
         </span>
      </div>

      <div class="row"> 
         <span class="value1 entry">#Entry 2</span>

         <span class="value2 place-order" *ngIf="tradePossible() && Data?.algo_Entry" (click)="placeOrder(2)">
            <i _ngcontent-uqy-c4="" class="crypto-icon crypto-icon-buy-arrow"></i>
         </span>

         <span class="value2 copyable" (click)="copyToClipboardSingleValue($event)">
            {{Data?.algo_Entry?.toFixed(5)}}
         </span>
      </div>
      <div class="row"> 
         <span class="value1 entry">#Entry 3</span>

         <span class="value2 place-order" *ngIf="tradePossible() && Data?.algo_Entry_high"(click)="placeOrder(3)">
            <i _ngcontent-uqy-c4="" class="crypto-icon crypto-icon-buy-arrow"></i>
         </span>

         <span class="value2 copyable" (click)="copyToClipboardSingleValue($event)">
            {{Data?.algo_Entry_high?.toFixed(5)}}
         </span>
      </div>

      <div class="row targets"> 
         <span class="value header"> <span class="leftbord"></span>Targets  {{Instrument?.symbol}} </span>
      </div>

      <div class="row"> 
         <span class="value1 target">#TP 1</span><span class="value2 copyable" (click)="copyToClipboardSingleValue($event)">
            {{Data?.algo_TP1_low?.toFixed(5)}}
         </span>
      </div>

      <div class="row"> 
         <span class="value1 target">#TP 2</span><span class="value2 copyable" (click)="copyToClipboardSingleValue($event)">
            {{Data?.algo_TP1_high?.toFixed(5)}}
         </span>
      </div>
  

      <div class="row"> 
         <span class="value1 target">#TP 3</span><span class="value2 copyable" (click)="copyToClipboardSingleValue($event)">
            {{Data?.algo_TP2?.toFixed(5)}}
         </span>
      </div>
      

      <div class="row stoploss"> 
         <span class="value
          header"> <span class="leftbord"></span> Stop Loss {{Instrument?.symbol}}</span>
      
     
      </div>

      <div class="row"> 
         <span class="value1 stoploss">#SL</span><span class="value2 copyable" (click)="copyToClipboardSingleValue($event)">
            {{Data?.algo_Stop?.toFixed(5)}}
         </span>
      </div>
      
  
   </div>

   
</div>