<div class="bftNavigator flex">
   
   <div class="bftpanel-status">
      <div class="row"> 
         <span class="bft-pannel-header">Breakfree Trading Panel</span>
      </div>

      <div class="row"> 
         <span class="value1">Objective:</span><span class="value2" id="nav_AlgoObjective">No trade zone</span>
      </div>

      <div class="row"> 
         <span class="value1">Status:</span><span class="value2" id="nav_AlgoStatus">No trade zone</span>
      </div>

      <div class="row"> 
         <span class="value1">Suggested risk:</span><span class="value2" id="nav_AlgoRisk">0% capital</span>
      </div>

      <div class="row"> 
         <span class="value1" id="nav_AlgoPositionSymbol">Position size ():</span><span class="value2" id="nav_AlgoPositionSize"> 0 : split 0</span>
      </div>

      <div class="row"> 
         <span class="value1">PAS:</span><span class="value2" id="nav_PAS"></span>
      </div>

      <div class="row"> 
         <span class="value1">Macro trend:</span><span class="value2" id="nav_MacroTrend"></span>
      </div>

      <div class="row"> 
         <span class="value1">Market:</span><span class="value2" id="nav_MarketSymbol"></span>
      </div>

      <div class="row"> 
         <span class="value1">Entry zones:</span><span class="value2" id="nav_Entry"></span>
      </div>
      <div class="row"> 
         <span class="value1"></span><span class="value2" id="nav_EntryLow"></span>
      </div>
      <div class="row"> 
         <span class="value1"></span><span class="value2" id="nav_EntryHigh"></span>
      </div>

      <div class="row"> 
         <span class="value1">Take Profit #1 zones:</span><span class="value2" id="nav_TP1High"></span>
      </div>
      <div class="row"> 
         <span class="value1"></span><span class="value2" id="nav_TP1Low"></span>
      </div>

      <div class="row"> 
         <span class="value1">Take Profit #2 zone:</span><span class="value2" id="nav_TP2"></span>
      </div>

      <div class="row"> 
         <span class="value1">Stop Loss:</span><span class="value2" id="nav_StopLoss"></span>
      </div>
      
  
   </div>
   



   
</div>