@import "global-styles/themes/themes";
@import "global-styles/mixins/themify";
@import "global-styles/variables";


:host {
  .bftNavigator {
    flex-direction: column;
  }

  .top-line {
      padding: 10px;
      .column {
        
      }
  }

  .crypto-button {
    margin: 10px;
    padding: 4px 14px;
  }
}


@include themify($themes, true) {
  .crypto-button {
    color: themed('valueTextColor');
  }

  .crypto-button {
    background-color: themed('inputBackgroundColor');
  }
}