@import "../variables";
@import "../themes/themes";
@import "../mixins/themify";
@import "./mat-form-field-shared";
@import "../controls/inputs";

mat-form-field.#{$classPrefix}-textarea {
  @extend %mat-form-field-shared;

  width: 200px;
  border-radius: 3px;

  .mat-form-field-flex {
    padding: 0;
    height: auto !important;
  }

  textarea.mat-input-element {
    font-family: $primaryFontFamily;
    font-size: 13px;
    padding: 5px 12px;
    margin-top: 0;
  }

  .mat-form-field-suffix {
    padding-right: 10px;
  }

  .mat-form-field-prefix {
    padding-left: 10px;
  }
}
