@import "../variables";
@import "../themes/themes";
@import "../mixins/themify";

mat-accordion {
  mat-expansion-panel {
  }
}

@include themify($themes) {
  mat-expansion-panel {
    background-color: themed('appPanelColor');
  }

  mat-expansion-panel-header {
    background-color: themed('appPanelColor');
  }

  .mat-expansion-indicator::after {
    color: themed('valueTextColor');
  }
}