@import "../variables";
@import "../themes/themes";
@import "../mixins/themify";
@import "./mat-form-field-shared";

mat-form-field.#{$classPrefix}-date-input {
  @extend %mat-form-field-shared;

  mat-datepicker-toggle {
    button {
      width: 25px !important;
      height: 25px !important;
      line-height: 25px !important;
    }

    svg {
      width: 19px !important;
      height: 19px !important;
    }
  }
}

@include themify($themes) {
  .mat-form-field-flex {
    background-color: themed('inputBackgroundColor');
  }

  .mat-input-element {
    color: themed('valueTextColor');

    &::placeholder {
      color: themed('titleTextColor');
    }
  }

  .mat-form-field-suffix,
  .mat-form-field-prefix {
    color: themed('titleTextColor');
  }
  ngx-material-timepicker {
    .timepicker-overlay {
      .timepicker__header {
        background-color: themed('inputBackgroundColor') !important;
      }
      .clock-face__number > span.active {
        background-color: themed('inputBackgroundColor') !important;
      }
      .clock-face__clock-hand {
        background-color: themed('inputBackgroundColor') !important;
        &::after {
          background-color: themed('inputBackgroundColor') !important;
        }

        &::before {
          border-color: themed('inputBackgroundColor') !important;
        }
      }
      .clock-face__clock-hand-color {
        color: themed('inputBackgroundColor') !important;
      }
    }
    .timepicker-button {
      color: themed('inputBackgroundColor') !important;
    }
  }
  ngx-material-timepicker-toggle {
    button[disabled]{
      opacity: .5;
      cursor: default;
    }
    svg {
      height: 25px !important;
      fill: themed('titleTextColor') !important;
    }
  }

  mat-datepicker-toggle {
    color: themed('titleTextColor');
    .mat-icon-button[disabled] {
      opacity: .5!important;
      color: themed('titleTextColor')!important;
    }
  }
}