@import "../variables";
@import "../themes/themes";
@import "../mixins/themify";

@include themify($themes) {
  /deep/ {
    .mat-radio-button.mat-accent {
      .mat-radio-label {
        color: themed('valueTextColor');
      }

      .mat-radio-inner-circle {
        background-color: themed('accentColor');
      }

      &.mat-radio-checked {
        .mat-radio-outer-circle {
          border-color: themed('accentColor');
        }

        .mat-radio-persistent-ripple {
          background-color: themed('accentColor');
        }
      }

      .mat-ripple-element {
        background-color: themed('accentColor') !important;
      }
    }
  }
}