@import "../variables";
@import "../themes/themes";
@import "../mixins/themify";

mat-accordion {
  mat-expansion-panel {
  }
}

@include themify($themes) {
  mat-expansion-panel {
    background-color: themed("activeBackgroundColor");
    color: themed("titleTextColor");
  }

  mat-expansion-panel-header {
    background-color: themed("activeBackgroundColor");
    //themed("tableBorders");
    color: themed("titleTextColor");    
  }
  .mat-expansion-panel-header-title{
    color: themed("titleTextColor");    
  }

  .mat-expansion-indicator::after {
    color: themed("valueTextColor");
  }
}
