@import "../variables";
@import "../themes/themes";
@import "../mixins/themify";
@import "../controls/inputs";
@import "../controls/tags";

mat-form-field.mat-form-field-type-mat-chip-list {
  .mat-form-field-flex {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    align-items: center;
    border-radius: 3px;
  }

  .mat-form-field-infix {
    padding: 4px 10px;
    border-top: 0 !important;
    height: 100%;

  }

  .mat-form-field-outline {
    top: 0 !important;
  }

  .mat-form-field-outline {
    color: #23bce036;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
    margin: 0;
  }

  .mat-form-field-outline {
    color: transparent;

    &.mat-form-field-outline-thick {
      .mat-form-field-outline-start,
      .mat-form-field-outline-gap,
      .mat-form-field-outline-end {
        border-width: 0px;
      }
    }
  }

  .mat-form-field-subscript-wrapper {
    top: auto;
    bottom: 3px;
    padding-left: 0;
  }

  width: 200px;
  border-radius: 3px;

  .mat-form-field-flex {
    padding: 0;
  }

  input.mat-input-element {
    @extend %crypto-input-shared;

    height: 35px;
    caret-color: initial !important;
    margin: 0;
    padding: 0;
  }

  .mat-form-field-suffix {
    padding-right: 10px;
  }

  .mat-form-field-prefix {
    padding-left: 10px;
  }

  .mat-chip {
    @extend %tag-shared;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 27px;

    .chip-content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.crypto-modal {
  mat-form-field {
    input.mat-input-element {
      background-color: transparent !important;
    }
  }
}