@import "../variables";
@import "../themes/themes";
@import "../mixins/themify";

$input-height: 32px;

%mat-form-field-shared {
  &.with-hint {
    .mat-form-field-wrapper {
      padding-bottom: 1.05em;
    }
  }

  .mat-form-field-flex {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    align-items: center;
    height: $input-height;
    border-radius: 5px;
  }

  .mat-input-element {
    height: $input-height;
    font-family: $primaryFontFamily;
    font-size: 15px;
  }

  .mat-form-field-infix {
    padding: 0 !important;
    border-top: 0 !important;
    height: 100%;
  }

  .mat-form-field-suffix,
  .mat-form-field-prefix {
    top: 0 !important;
  }

  .mat-form-field-outline {
    top: 0 !important;
  }

  .mat-form-field-outline {
    color: #23bce036;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
    margin: 0;
  }

  .mat-form-field-outline {
    color: transparent;

    &.mat-form-field-outline-thick {
      .mat-form-field-outline-start,
      .mat-form-field-outline-gap {
        border-width: 0px;
      }
    }

    .mat-form-field-outline-end {
      border-width: 0px;
    }
  }

  .mat-form-field-subscript-wrapper {
    top: auto;
    bottom: 3px;
    padding-left: 0;
  }

  .mat-hint {
    font-family: $primaryFontFamily;
    font-size: 11px;

    &.invalid {
      color: $redColor;
    }

    &.valid {
      color: $greenColor;
    }
  }

  .mat-error {
    font-family: $primaryFontFamily;
    color: $redColor;
    font-size: 11px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .mat-input-element {
    caret-color: initial !important;
  }

  .mat-form-field-suffix {

    .crypto-icon {
      font-size: 24px;
    }
  }
}

.mat-error {
  font-family: $primaryFontFamily;
  color: $redColor !important;
  font-size: 11px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@include themify($themes) {
  .crypto-modal {
    .mat-form-field-flex {
      background-color: themed('inputInModalsBackgroundColor');
    }
    .mat-form-field-type-mat-input input.mat-input-element {
      background-color: transparent;
    }
  }

  mat-form-field.mat-form-field-disabled {
    .mat-form-field-flex {
      background-color: themed('noactiveTabs')
    }
  }

  .mat-form-field-flex {
    background-color: themed('inputBackgroundColor');
  }

  .mat-input-element {
    color: themed('valueTextColor');

    &::placeholder {
      color: themed('titleTextColor');
    }
  }

  .mat-hint {
    color: themed('valueTextColor');
  }

  .mat-form-field-suffix,
  .mat-form-field-prefix {
    color: themed('titleTextColor');
  }

  mat-datepicker-toggle {
    color: themed('titleTextColor');
  }
}
