@import "../variables";
@import "../themes/themes";
@import "../mixins/themify";
@import "./mat-form-field-shared";

mat-form-field.#{$classPrefix}-autocomplete {
  @extend %mat-form-field-shared;

  mat-placeholder {
    font-family: $primaryFontFamily;
    margin-left: 10px;
  }

  .mat-input-element {
    height: 32px;
  }

  .mat-form-field-underline {
    display: none;
  }
}

.mat-autocomplete-panel {
  .mat-option {
    font-size: 13px !important;
    padding: 0 .75rem !important;
    height: 2rem !important;
    line-height: 1.2 !important;

    .mat-option-text {
      font-family: $primaryFontFamily;
    }
  }


}


// theming

@include themify($themes) {
  mat-placeholder {
    color: themed('titleTextColor');
  }

  .mat-autocomplete-panel {
    background-color: themed('activeBackgroundColor');
  }

  .mat-select-option-text {
    color: themed('valueTextColor');
  }


  .mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
    background: themed('inputBackgroundColor');
  }

  .mat-option.mat-active {
    background: themed('inputBackgroundColor');
    span {
      color: themed('accentColor');
    }
  }

  .mat-option {
    .mat-option-text {
      color: themed('valueTextColor');
    }

    &.mat-selected {
      background-color: themed('activeBackgroundColor');

      span, .mat-option-text {
        color: themed('accentColor');
      }
    }

    &:hover {
      span, .mat-option-text {
        color: themed('accentColor');
      }
    }

    &:disabled {
      span, .mat-option-text {
        color: themed('titleTextColor');
      }
    }
  }
}

