@import "../variables";
@import "../themes/themes";
@import "../mixins/themify";
@import "./mat-form-field-shared";

mat-form-field.mat-form-field-type-mat-select {
  @extend %mat-form-field-shared;

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  mat-placeholder {
    font-family: $primaryFontFamily;
    margin-left: 10px;
  }

  .mat-form-field-flex {
    padding-left: 0;
    padding-right: 0;
  }

  .mat-form-field-underline {
    display: none;
  }
}

mat-select {
  height: 32px;

  .mat-select-trigger {
    height: 100%;
    border-radius: 5px;
  }


  .mat-select-value {
    vertical-align: middle;
    text-indent: 10px;
    font-size: 13px;
    font-family: $primaryFontFamily;
  }

  .mat-select-arrow-wrapper {
    padding-right: 5px;
    padding-left: 5px;
    transform: none !important;
  }
}

.mat-select-panel {
  border-radius: 5px;
  max-height: 500px !important;

  .mat-option {
    font-size: 13px !important;
    padding: 0 .75rem !important;
    height: 2rem !important;
    line-height: 1.25 !important;

    .mat-option-text {
      font-family: $primaryFontFamily;
    }
  }


}


// theming

@include themify($themes) {
  selector.bordered {
    .mat-select-trigger {
      //background: themed('inputBackgroundColor');
      border: 1px solid themed('appBackgroundColor');
    }
  }

  .mat-select-disabled {
    .mat-select-trigger {
      background: themed('selectBgDisabled');
    }
  }

  .crypto-modal {
    .mat-select-trigger {
      background: themed('inputInModalsBackgroundColor');
      border: transparent;
    }
  }

  .mat-select-trigger {
    background: themed('inputBackgroundColor');
    //border: 1px solid themed('appBackgroundColor');
  }

  .mat-select-value,
  .mat-select-arrow {
    color: themed('valueTextColor');
  }

  .mat-select-disabled {
    cursor: not-allowed;

    .mat-select-value,
    .mat-select-arrow {
      color: themed('titleTextColor') !important;
    }
  }

  mat-placeholder {
    color: themed('titleTextColor');
  }

  .mat-select-placeholder {
    color: themed('titleTextColor');
  }

  .mat-select-panel {
    background-color: themed('inputBackgroundColor');
  }

  .mat-select-option-text {
    color: themed('valueTextColor');
  }

  .mat-option{
    .mat-option-text {
      color: themed('valueTextColor');
    }

    &.mat-selected {
      background-color: themed('activeBackgroundColor');

      span, .mat-option-text {
        color: themed('accentColor');
      }
    }
    &:hover {
      span, .mat-option-text {
        color: themed('accentColor');
      }
    }
    &:disabled {
      span, .mat-option-text {
        color: themed('titleTextColor');
      }
    }
  }
}
