@import "../../../file-uploader/styles/themes/themes";
@import "../../../../global-styles/variables";
@import "../../../../global-styles/mixins/themify";

.file-info-container {
    height: 50px;
    display: flex;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 10px;
    border: 1px solid #ddd;

    .document {
        height: 100%;
        display: flex;
        justify-content: center;

        @include themify($themes, true) {
            background: transparentize(themed('accentColor'), 0.8);
        }

        .crypto-icon-document {
            margin-top: 4px;
            font-size: 30px;
        }

        &.circle {
            border-radius: 50%;
            width: 50px;
        }
    }

    .img-container {
        width: 100%;
        //border-radius: 50%;
        display: flex;
        justify-content: left;
        overflow: hidden;

        @include themify($themes, true) {
            background: transparentize(themed('accentColor'), 0.8);
        }

        img {
           
        }
    }

    .file-info {
        margin: 5px;
        font-size: 13px;
        width: calc(100% - 60px);

        .size {
            color: gray;
            font-size: 12px;
        }
    }
}

.pointer {
    cursor: pointer;

    div {
        label {
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            vertical-align: middle;
            cursor:pointer;
        }
    }
}



//BFT

.file-info-container {
    height: auto;
    display: flex;
}

.file-info.pointer {
    display: none !important;
}


.file-info-container .img-container img {
    height: auto;
    width: auto;
    max-height: 160px;
    overflow: hidden;
}