<div class="crypto-modal" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="reject()"><i class="crypto-icon crypto-icon-close cursor-pointer"></i>
            </button>
            <h4 class="modal-title">
                <span>{{'layoutName' | translate}}</span>
            </h4>
        </div>
        <div class="modal-body">
            <form [formGroup]="formGroup">
                <div class="crypto-form-unit">
                    <mat-form-field class="crypto-input with-hint full-width">
                        <input matInput type="text" formControlName="value" placeholder="{{'layoutName' | translate}}"
                               (keyup.enter)="enterValue()" autocomplete="off" >
                        <mat-error [formError]="'value'"></mat-error>
                    </mat-form-field>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="btns-wrapper">
                <button class="crypto-button crypto-button_primary"
                        [disabled]="formGroup.invalid"
                        (click)="enterValue()">
                    <span *ngIf="isSave; else openLayout">{{'saveLayout' | translate}}</span>
                    <ng-template #openLayout>
                        <span>{{'createLayout' | translate}}</span>
                    </ng-template>
                </button>
            </div>
        </div>
    </div>
</div>
