<div class="form-wrapper" [formGroup]="form">
    <div class="crypto-form-unit margin-bottom flex justify-space-between">
        <div class="instrumetn-search-container">
            <div class="form-unit__label">{{'symbol' | translate}}</div>
            <instrument-search formControlName="symbol"
                            (onSelect)="handleInstrumentChange($event)"
                            [instrumentSearchCallback]="instrumentSearchCallback"></instrument-search>
        </div>
        <div  class="order-type-container">
            <div class="form-unit__label">{{'type' | translate}}</div>
            <selector formControlName="type"
                    [options]="allowedOrderTypes"
                    [optionCaption]="orderTypeStr"
                    placeholder="{{'orderTypeCaption' | translate}}"></selector>
            </div>
    </div>


    <div class="crypto-form-unit flex justify-space-between flex-wrap-wrap">
        <div class="amount">
            <div class="form-unit__label">{{'amount' | translate}}</div>
            <mat-form-field class="crypto-input full-width">
                <input matInput numericInput [floatOnly]="true" [range]="{min: minAmountValue}" type="text"
                       placeholder="0.0"
                       formControlName="amount">

                <span matSuffix class="input-currency">{{inputQtyCurrency}}</span>
            </mat-form-field>
        </div>
        <div class="limit-price" *ngIf="isLimitVisible()">
            <div class="form-unit__label">{{'limitPrice' | translate}}</div>
            <mat-form-field class="crypto-input full-width">
                <input matInput type="text" numericInput [floatOnly]="true" [range]="{min: minPriceValue}"
                       placeholder="0.0"
                       formControlName="limitPrice">

                <span matSuffix class="input-currency">{{inputLimitCurrency}}</span>
            </mat-form-field>
        </div>
        <div class="stop-price" *ngIf="isStopPriceVisible()">
            <div class="form-unit__label">{{'stopPrice' | translate}}</div>
            <mat-form-field class="crypto-input full-width">
                <input matInput type="text" numericInput [floatOnly]="true" [range]="{min: minPriceValue}"
                       placeholder="0.0"
                       formControlName="stopPrice">

                <span matSuffix class="input-currency">{{inputStopCurrency}}</span>
            </mat-form-field>
        </div>
    </div>

    <div class="order-side-buttons flex">
        <div class="order-side-btn order-side-buy" (click)="setBuyMode()">
            <div>{{'buy' | translate | uppercase}} {{activeWallet?.currency}}
                <div class="price">{{buyPrice?.toFixed(6)}}</div>
            </div>
            <div class="item-icon">
                <i class="crypto-icon crypto-icon-buy-arrow"></i></div>
        </div>
        <div class="order-side-btn total-btn">
            <div>
                {{'total' | translate}}
                <div class="total-price">{{total?.toFixed(6)}}</div>
            </div>

        </div>
        <div class="order-side-btn order-side-sell" (click)="setSellMode()">
            <div class="item-icon">
                <i class="crypto-icon crypto-icon-sell-arrow"></i></div>
            <div>
                {{'sell' | translate | uppercase}} {{activeWallet?.currency}}
                <div class="price">{{sellPrice?.toFixed(6)}}</div>
            </div>
        </div>
    </div>


</div>
