<div class="level2">
    <div class="instrument-select-wrapper">
        <instrument-search [instrument]="activeInstrument" (onSelect)="handleInstrumentChange($event)"></instrument-search>
    </div>
    <hr class="crypto-delimiter">
    <div class="tables-wrapper">
        <div class="table-wrapper flex-grow-1 overflow-auto">
            <table class="crypto-table crypto-table_ellipsis">
                <thead>
                    <tr>
                        <td>{{'level2.marketMaker' | translate}}</td>
                        <td>{{'level2.bid' | translate}}</td>
                        <td>{{'level2.size' | translate}}</td>
                        <td>{{'level2.time' | translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-level [ngForOf]="bidLevels">
                        <tr *ngFor="let dataItem of level.dataItems" [ngClass]="'level' + level.index">
                            <td>{{dataItem.marketMaker}}</td>
                            <td>{{dataItem.value}}</td>
                            <td>{{dataItem.size}}</td>
                            <td>{{dataItem.time}}</td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
        <div class="table-wrapper flex-grow-1 overflow-auto">
            <table class="crypto-table crypto-table_ellipsis">
                <thead>
                    <tr>
                        <td>{{'level2.marketMaker' | translate}}</td>
                        <td>{{'level2.bid' | translate}}</td>
                        <td>{{'level2.size' | translate}}</td>
                        <td>{{'level2.time' | translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-level [ngForOf]="askLevels">
                        <tr *ngFor="let dataItem of level.dataItems" [ngClass]="'level' + level.index">
                            <td>{{dataItem.marketMaker}}</td>
                            <td>{{dataItem.value}}</td>
                            <td>{{dataItem.size}}</td>
                            <td>{{dataItem.time}}</td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>
</div>
