<!--Depend to broker type show specific component-->
<ng-container *ngIf="activeBroker$ | async; else noBrokerConnected">
    <div class="trade-manager h-100 flex" style="position: relative">
        <ng-template #accountInfo>
            <div class="account-info-panel flex-grow-1 flex justify-flex-end align-items-center">
                <div [ngSwitch]="instanceType" class="h-100">    
                    <mt-account-info-bar *ngSwitchCase="EBrokerInstance.MT4" class="date-container"></mt-account-info-bar>
                    <mt-account-info-bar *ngSwitchCase="EBrokerInstance.MT5" class="date-container"></mt-account-info-bar>
                    <binance-account-info-bar *ngSwitchCase="EBrokerInstance.Binance" class="date-container"></binance-account-info-bar>
                    <binance-futures-account-info-bar *ngSwitchCase="EBrokerInstance.BinanceFuturesUSD" class="date-container"></binance-futures-account-info-bar>
                    <binance-futures-account-info-bar *ngSwitchCase="EBrokerInstance.BinanceFuturesCOIN" class="date-container"></binance-futures-account-info-bar>
                </div>
            </div>
        </ng-template>

        <div class="top-panel w-100 flex-grow-1 flex justify-flex-end align-items-center">
            <div class="date-container over-head data-ticker">{{date}}</div>
            <i *ngIf="isOpen" class="crypto-icon crypto-icon-layout-minimise over-head" (click)="minimize()"></i>
            <i *ngIf="isMinimized" class="crypto-icon crypto-icon-layout-maximise over-head" (click)="open()"></i>
        </div>
        <div class="flex trade-managers-wrapper" *ngIf="isOpen; else accountInfo">
            <trade-manager-container class="h-100"></trade-manager-container>
        </div>
    </div>
</ng-container>
<ng-template #noBrokerConnected>
    <div class="h-100" [ngClass]="{'h-auto': isMinimized, 'h-100': !isMinimized}">
        <div class="trade-manager flex" style="position: relative; height: 26px">
            <div *ngIf="((brokerInitialized$ | async) === null)" class="broker-initializing flex-grow-1 flex justify-flex-end align-items-center">
                Broker Initializing...
            </div>
            <div class="top-panel w-100 flex-grow-1 flex justify-flex-end align-items-center">
                <div class="date-container data-ticker">{{date}}</div>
                <i *ngIf="isOpen" class="crypto-icon crypto-icon-layout-minimise" (click)="minimize()"></i>
                <i *ngIf="isMinimized" class="crypto-icon crypto-icon-layout-maximise" (click)="open()"></i>
            </div>
        </div>
        <div class="broker-not-connected flex align-items-center justify-content-center h-100 w-100 relative-wrapper">
            <ng-container *ngIf="((brokerInitialized$ | async) !== null); else loader">
                <ng-container *ngIf="isGuest; else bridgeConnector">
                    <div class="demo-broker-container">
                        <demo-orders></demo-orders>
                    </div>
                </ng-container>
                <ng-template #bridgeConnector>
                    <div class="shiftup">
                        <bridge-broker-connector></bridge-broker-connector>
                    </div>
                </ng-template>
            </ng-container>           
            <ng-template #loader>
                <bft-loader *ngIf="!isMinimized"></bft-loader>
            </ng-template>
        </div>
    </div>
</ng-template>