<div class="crypto-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()"><i class="crypto-icon crypto-icon-close"></i></button>
            <h4 class="modal-title">BREAKFREE TRADING RELEASE OF LIABILITY</h4>
        </div>
        <div class="modal-body">
            <h1 dir="ltr" style="margin-top:24pt;margin-bottom:0pt;padding:0pt 0pt 6pt 0pt;">
                <span class="header_class">Introduction</span>
            </h1>
            <p class="par_class">
                <span class="content_class">By proceeding with the synchronization of your trading account with the Neural Agent, you acknowledge and accept that Breakfree Trading cannot be held liable for any potential issues or setbacks that may arise from this action. All wins and losses incurred are the user's sole responsibility.</span>
            </p>
            <h2 dir="ltr" style="margin-top:24pt;margin-bottom:0pt;padding:0pt 0pt 6pt 0pt;">
                <span class="header_class">Assumption of Risk and Release</span>
            </h2>
            <p class="par_class">
                <span class="content_class">Participant understands and acknowledges that the synchronization of the trading account with the Neural Agent carries inherent risks. Despite all precautions, unforeseen issues can arise. Any potential outcomes, be they wins or losses, are fully assumed by the Participant.</span>
            </p>
            <p class="par_class">
                <span class="content_class">The Participant releases Breakfree Trading, its officers, representatives, agents, and employees from any liability, claims, or damages resulting from the use of the Neural Agent.</span>
            </p>
            <h2 dir="ltr" style="margin-top:24pt;margin-bottom:0pt;padding:0pt 0pt 6pt 0pt;">
                <span class="header_class">Indemnification</span>
            </h2>
            <p class="par_class">
                <span class="content_class">Participant agrees to indemnify, defend, and hold harmless Breakfree Trading and its affiliates from any claims, damages, or expenses arising from the use of the Neural Agent.</span>
            </p>
            <h2 dir="ltr" style="margin-top:24pt;margin-bottom:0pt;padding:0pt 0pt 6pt 0pt;">
                <span class="header_class">Governing Law</span>
            </h2>
            <p class="par_class">
                <span class="content_class">This agreement is governed by the laws of United Kingdom, excluding its conflict of laws rules.</span>
            </p>
        </div>
    </div>
</div>
