<div class="crypto-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()"><i class="crypto-icon crypto-icon-close"></i></button>
            <h4 class="modal-title">Liability Policy</h4>
        </div>
        <div class="modal-body">


            <h1 dir="ltr" style="margin-top:24pt;margin-bottom:0pt;padding:0pt 0pt 6pt 0pt;"><span
                    class="header_class">Introduction</span>
            </h1>
            <p class="par_class"><span class="content_class">Liability policy text</span></p>
            
        </div>
    </div>
</div>