@import "themes/themes";
@import "mixins/themify";

@include themify($themes, true) {
  .close-order-button {
    cursor: pointer;
    color: themed('valueTextColor');
    font-size: 9px;
  }

  ::ng-deep mat-cell:last-of-type {
    padding-right: 10px;
  }

  .symbol {
    color: themed('valueTextColor');
  }

  .sell {
    color: themed('sellColor');
  }
  .buy {
    color: themed('buyColor');
  }
}
