@import "global-styles/themes/themes";
@import "global-styles/mixins/themify";

:host {
  width: 100%;

  .edit-container {
    display: flex;
    flex-direction: column;

    .edit-row {
      display: flex;
      flex-direction: column;
      margin: 10px;
    }

    .title {
      margin: 5px 0px;
      font-size: 12px;
    }
  }

  .value-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .col {
    flex-direction: column;
    align-items: start;

    .value {
      margin-top: 5px;
    }
  }

  .crypto-button {
    margin-left: 20px;
  }

  hr {
    width: 100%;
  }
}


@include themify($themes, true) {
  .edit-container {
    color: themed('valueTextColor');
  }
}

