<div class="accountInfoRow">
  <span>
    <svg class="status-img" [ngClass]="{'connected': status === BrokerConnectivityStatus.Connected, 'pending': status === BrokerConnectivityStatus.Pending, 'not_connected': status === BrokerConnectivityStatus.NoConnection}">
      <path class="path-data" d="M0,6a6,6 0 1,0 12,0a6,6 0 1,0 -12,0"></path>
    </svg>
  </span>
  <span class="no-wrap">Acct: {{activeAccount?.Account}}</span>
  <span class="additional-info no-wrap">{{activeAccount?.CompanyName}}</span>
  <span class="additional-info no-wrap">Balance: {{activeAccount?.Balance.toFixed(decimals)}} {{activeAccount?.Currency}}</span>
  <span class="additional-info no-wrap">PNL: {{activeAccount?.Pl.toFixed(decimals)}}</span>
</div>