<div class="premium-academy">
   <div class="border">
      <div class="column">
         <div class="item">
            <div class="image" tooltip [matTooltip]="'Tooltip text'">
               <img src="assets/img/black-friday/finalfunding.png" alt="">
            </div>
            <div class="subtitle">
               $10K<br>
               Account
            </div>
         </div>
         <div class="item">
            <div class="image transformable" tooltip [matTooltip]="'Tooltip text'" (click)="openMentalAlchemy()">
               <img src="assets/img/black-friday/18h.png" alt="">
            </div>
            <div class="subtitle">
               Mental Alchemy
            </div>
         </div>
      </div>
      <div class="column">
         <div class="plus"><i class="fa fa-plus" aria-hidden="true"></i></div>
      </div>
      <div class="column">
         <div class="item">
            <div class="image" tooltip [matTooltip]="'Tooltip text'">
               <img src="assets/img/black-friday/ProPlan2.png" alt="">
            </div>
            <div class="subtitle">
               1 Year<br>
               BFT Pro
            </div>
         </div>
         <div class="item">
            <div class="image transformable" tooltip [matTooltip]="'Tooltip text'" (click)="openBlueprint()">
               <img src="assets/img/black-friday/experiment.png" alt="">
            </div>
            <div class="subtitle">
               The Blueprint
            </div>
         </div>
      </div>
   </div>
</div>