<div class="premium-academy">
   <div class="border">
      <div class="header">2021 - Premium Content</div>
      <div class="column-holder ">

      <div class="column">
       
         <div class="item">
            <div class="image transformable" tooltip [matTooltip]="'Enter The Mental Alchemy'" (click)="openMentalAlchemy()">
               <img src="assets/img/black-friday/18h.png" alt="">
               <div class="subtitle">
                  Mental Alchemy
               </div>
            </div>
       
         </div>
      </div>
   
      <div class="column">
         
      
         <div class="item">
            <div class="image transformable" tooltip [matTooltip]="'Enter The Blueprint'" (click)="openBlueprint()">
               <img src="assets/img/black-friday/experiment.png" alt="">
               <div class="subtitle">
                  The Blueprint
               </div>
            </div>
            
         </div>
      </div>
      </div>
   </div>
</div>