@import "global-styles/themes/themes";
@import "global-styles/mixins/themify";
@import "global-styles/variables";

:host {
  .premium-academy {
    width: 500px;
    height: 500px;
    display: flex;
    background-color: #04121f;
  }
  .border {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #ecb22d;
    align-items: center;
    justify-content: center;
  }

  .header {
    display: flex;
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 15px;
    text-align: center;
}

  .column-holder {
    display:flex;

  }

  .column {
    display: flex;
    flex-direction: column;
    padding:15px;
  }

  .item {
    display: flex;
    flex-direction: column;
    

    .image.transformable {
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: all 0.3s;
      }
    }

    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      display: flex;
    flex-direction: column;

      img {
        width: 92px;
        border-radius: 20px;
      }
    }

    .subtitle {
      display: flex;
      margin-top: 10px;
      color: #f8f4ee;
      line-height: 22px;
      font-weight: 700;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 16px;
    }
  }


  .plus {
    color: #ecb22d;
    font-size: 50px;
    margin: 0px 40px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

@include themify($themes, true) {
  // .premium-academy {
  //   background-color: themed("appPanelColor");
  // }
}

@media (max-width: 550px), (max-height: 550px) {
  .premium-academy {
    width: 400px !important;
    height: 400px !important;

    .plus {
      font-size: 40px;
      margin: 0px 30px;
    }

    .image {
      img {
        width: 72px !important;
        border-radius: 10px !important;
      }
    }
  }
}

@media (max-width: 440px), (max-height: 440px) {
  .premium-academy {
    width: 100% !important;
    height: 100% !important;

    .plus {
      font-size: 30px;
      margin: 0px 20px;
    }

    .border {
      padding: 15px;
    }

    .image {
      img {
        width: 62px !important;
      }
    }

    .subtitle {
      line-height: 20px !important;
      font-weight: 600 !important;
      font-size: 14px !important;
    }
  }
}
