<div class="crypto-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()"><i class="crypto-icon crypto-icon-close"></i></button>
            <h4 class="modal-title" *ngIf="mode === Modes.Create">
                {{ 'createScript' | translate }}
            </h4>
            <h4 class="modal-title" *ngIf="mode === Modes.Rename">
                {{ 'renameScript' | translate }}
            </h4>
        </div>
        <div class="modal-body">
            <form [formGroup]="formGroup">
                <input matInput class="crypto-input full-width" type="text" placeholder="{{ 'scriptName' | translate }}" formControlName="scriptName"
                       onEnter (enterHandler)="submit()">
            </form>
        </div>
        <div class="modal-footer">
            <div class="btns-wrapper flex justify-flex-end">
                <button class="crypto-button crypto-button_action m-right-15"
                        (click)="close()">
                    {{ 'cancel' | appTranslate }}
                </button>

                <button class="crypto-button crypto-button_success"
                        [ngClass]="{'is-loading': this.processing}"
                        [disabled]="formGroup.invalid"
                        (click)="submit()">
                    {{ 'submit' | appTranslate }}
                </button>
            </div>
        </div>
    </div>
</div>
