// Color variables (appears count calculates by raw css)
$color0: #0f1214; // Appears 7 times
$color1: #212426; // Appears 3 times
$color2: #eeeeee; // Appears 2 times
$color3: #dddddd; // Appears 2 times

$color4: #cccccc; // Appears 1 time
$color5: #444444; // Appears 1 time
$color6: #999999; // Appears 1 time
$color7: #181a1b; // Appears 1 time
$color8: #452500; // Appears 1 time
$color9: #555555; // Appears 1 time
$color10: #ffffff; // Appears 2 time
$baseIconPath: '../icons/';

.lm_goldenlayout {
  background-color: $headerBgColor;
  //background: $color0;
}

.lm_content {
  //background: $color1;
  background: $lmContent;
}

.lm_dragProxy {
  .lm_content {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  }
}

.lm_dropTargetIndicator {
  box-shadow: $dropTargetBoxShadow;
  outline: 1px dashed $color4;
  transition: all 200ms ease;

  .lm_inner {
    background: $dropTargetInnerBgColor;
    opacity: 1;
  }
}

.lm_splitter {
  background: $splitterBgColor;
  opacity: 0.001;
  transition: opacity 200ms ease;

  &:hover, // When hovered by mouse...
  &.lm_dragging {
    background: $splitterDraggingBgColor;
    opacity: 1;
  }
}

// Pane Header (container of Tabs for each pane)
.lm_header {
  background: $headerBgColor;
  height: 20px;
  user-select: none;

  &.lm_selectable {
    cursor: pointer;
  }

  .lm_add-component {
    .gl-icon {
      width: 14px;
      height: 14px;
    }
  }

  // Single Tab container. A single Tab is set for each pane, a group of Tabs are contained in ".lm_header"
  .lm_tab {
    font-family: Arial, sans-serif;
    color: $tabColor;
    background: $tabBgColor;
    box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.3);
    margin-right: 2px;
    //padding-bottom: 2px;
    //padding-top: 2px;

    /*.lm_title         // Present in LIGHT Theme
    {
      padding-top:1px;
    }*/

    // Close Tab Icon
    .lm_close_tab {
      width: 11px;
      height: 11px;
      //background-image: url($baseIconPath + 'lm_close_tab_white.png');
      background-position: center center;
      background-repeat: no-repeat;
      top: 5px !important;
      right: 11px;
      opacity: 0.4;

      &:hover {
        opacity: 1;
      }
    }

    // If Tab is active, so if it's in foreground
    &.lm_active {
      background: $activeTabBgColor;
      color: $activeTabColor;
      border-bottom: none;
      //box-shadow: 0 -2px 2px $color0;
      //padding-bottom: 3px;

      .lm_close_tab {
        opacity: 1;
      }
    }
  }
}

//.lm_dragProxy.lm_bottom,
//.lm_stack.lm_bottom {
//  .lm_header .lm_tab {
//    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
//    &.lm_active {
//      box-shadow: 0 2px 2px $color0;
//    }
//  }
//}

// If Pane Header (container of Tabs for each pane) is selected (used only if addition of new Contents is made "by selection" and not "by drag")
//.lm_selected {
//  .lm_header {
//    background-color: $color8;
//  }
//}

//.lm_tab {
//  &.lm_active // If Tab is active, so if it's in foreground
//  {
//    background: $color1;
//    color: $color3;
//  }
//}

// Dropdown arrow for additional tabs when too many to be displayed
.lm_header .lm_controls .lm_tabdropdown:before {
  //color: $color10;
  color: $headerControlsColor;
}

// Pane controls (popout, maximize, minimize, close)
.lm_controls {
  // All Pane controls shares these
  > li {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.4;
    transition: opacity 300ms ease;

    &:hover {
      opacity: 1;
    }
  }

  // Icon to PopOut Pane, so move it to a different Browser Window
  .lm_popout {
    //background-image: url($baseIconPath + 'lm_popout_white.png')
  }

  // Icon to Maximize Pane, so it will fill the entire GoldenLayout Container
  .lm_maximise {
    //background-image: url($baseIconPath + 'lm_maximise_white.png');
  }

  // Icon to Close Pane and so remove it from GoldenLayout Container
  .lm_close {
    //background-image: url($baseIconPath + 'lm_close_white.png');
  }
}


.lm_popout,
.lm_maximise,
.lm_close,
.lm_close_tab {
  svg.gl-icon path {
    fill: $headerControlsColor !important;
  }
}

.lm_transition_indicator {
  background-color: #000000;
  border: 1px dashed #555555
}

// If a specific Pane is Popped Out, so move it to a different Browser Window, Icon to restore original position is:
.lm_popin {
  cursor: pointer;

  // Background of Icon
  .lm_bg {
    background: $color10;
    opacity: 0.3;
  }

  // Icon to Restore original position in Golden Layout Container
  .lm_icon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAAWklEQVR4nJWOyw3AIAxDHcQC7L8jbwT3AlJBfNp3SiI7dtRaLSlKKeoA1oEsKSQZCEluexw8Tm3ohk+E7bnOUHUGcNh+HwbBygw4AZ7FN/Lt84p0l+yTflV8AKQyLdcCRJi/AAAAAElFTkSuQmCC);
    background-position: center center;
    background-repeat: no-repeat;
    border-left: 1px solid $color2;
    border-top: 1px solid $color2;
    opacity: 0.7;
  }

  &:hover {
    .lm_icon {
      opacity: 1;
    }
  }
}
