$headerBgColor: #17191b;
$activeTabBgColor: #26282a;
$tabBgColor: #1e1f21;
$activeTabColor: #d5d5dc;
$addTabTitleColor: #6B6B6B;
$tabColor: rgb(213, 213, 220);
$addTabBtnBgColor: #3d61cc;
$activeTabTopBorderColor: #3d61cc;
$addTabBtnColor: #a3a3a3;
$splitterBgColor: #17191b;
$splitterDraggingBgColor: #17191b;
$dropTargetInnerBgColor: rgba(0, 0, 0, 0.2);
$dropTargetBoxShadow: inset 0 0 30px #000000;
$headerControlsColor: #d5d5dc;
$add-component-btn-color: rgba(255, 255, 255, 0.35);
$add-component-btn-bg: rgba(255, 255, 255, 0.1);
$add-component-bg-color: #17191b;
$lmContent: #26282a;


@import "template";
