:host {
  display: block;
  overflow: auto;
  width: 100%;

  .business-register-page {
    display: flex;
    margin: 10vh 0;
  }

  .overlay {
    flex-direction: column;
  }

  .form-controls-wrapper {
    max-height: 500px;
    overflow: auto;
    padding-right: 5px;
    margin-bottom: 10px;
    padding-left: 5px;
  }

  .crypto-text {
    color: #757575;
  }

  .form-controls-wrapper {

    @media screen and (max-height: 850px) {
      max-height: 400px;
    }

    @media screen and (max-height: 700px) {
      max-height: 300px;
    }

    @media screen and (max-height: 600px) {
      max-height: 200px;
    }
  }
}

/deep/ .mat-select-trigger {
  background: transparent;
  outline: none;
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);

  .mat-select-value {
    color: #757575 !important;
  }
}

/deep/ company-info {
  .crypto-input {
    input:not([type=checkbox]) {
      color: #757575 !important;

      &::-webkit-input-placeholder {
        color: #757575 !important;
      }
    }
  }
}

/deep/ .business-type-dropdown {
  background: rgb(255, 255, 255) !important;

  .mat-option:hover:not(.mat-option-disabled),
  .mat-option:focus:not(.mat-option-disabled) {
    background: rgba(0, 0, 0, 0.04);
  }
}


button.btn.crypto-button.crypto-button-full-width.button_success.login-btn {
  background-color: black;
  opacity: 0.8;
  font-weight: bold;
}




.overlay {
  background: #fff !important;
  display:block ;
  padding:0px;
  border-radius:5px;
  overflow:hidden;
}

.form-wrapper {
  padding:15px;

}

.form-header-bft {
  background:#191919;
  color:#fff;
  font-size:12px;
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
  
}


.form-header-bft img {

  width: 200px;
  filter: invert(1);
}



::before {
  color: #000000b5;
}

span.form-header__title.signIn {
  color: black !important;
}

.form-header {
  padding-top:10px;
}


.register-btn {
  background: #191919 !important;
}