$default-space: 0px;

.nav-section {
  & > div {
    margin: $default-space 0;
  }

  &.delimiter-left {
    &.no-spaces {
      padding-left: 0;
    }
  }

  &.delimiter-right {
    &.no-spaces {
      padding-right: 0;
    }
  }

  &.padding-left {
    padding-left: $default-space;
  }

  &.padding-right {
    padding-right: $default-space;
  }
}

@media (max-width: 600px) {
  .nav-section {
    padding: 5px 0px !important;
  }
}
