@import "global-styles/variables";
@import "global-styles/mixins/themify";
@import "global-styles/themes/themes";

:host {
  /deep/ {
    mat-form-field {
      max-width: 110px !important;
    }
    mat-table {
      min-width: 320px !important;
    }
  }

  .out-of-access {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100%;
    width: 100%;
    cursor: pointer;

    .text {
      margin: 20px 10px;
      display: flex;
      text-align: center;
      text-decoration: underline;
    }

    .image {
      display: flex;
      justify-content: center;
    }
    img {
      width: 200px;
    }
  }

  height: 100%;
  display: flex;
  width: 100%;
  overflow: auto;

  .functional-icons {
    .crypto-button-icon {
      margin-left: 6px;
    }
  }

  .disabled {
    opacity: 0;
    pointer-events: none;
    display: none !important;
    transition-duration: 0.22s;
    transition-delay: 0.25s;
    animation-delay: 0.25s;
  }

  .watchlist-selector {
    margin: 0px 10px;
    max-width: 120px;
  }

  .crypto-button-delete,
  .remove-instrument-button {
    background-color: transparent !important;
  }

  .root {
    width: 100%;
    height: 100%;
    font-family: $primaryFontFamily, sans-serif;
    position: relative;

    display: flex;
    flex-direction: column;
  }
  .break {
    flex-basis: 100%;
    height: 0;
  }

  .top-line {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    flex-flow: wrap;

    .right-side {
      display: flex;
    }

    .left-side {
      display: flex;
      height: 35px;
      align-items: center;
      .mat-form-field-flex {
        height: 28px !important;
      }
    }
  }

  .up-trend {
    color: $greenColor;
    text-align: right;
    float: right;
  }

  .down-trend {
    color: $redColor;
    text-align: right;
    float: right;
  }

  .no-trend {
    text-align: right;
    float: right;
  }

  .remove-instrument-button {
    display: none;
  }

  .small-column {
    width: 30px;
  }

  .large-column {
    width: 150px;
  }

  .tiles-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: auto;
    padding: 2px;

    .watchlist-tile-wrapper {
      border-radius: 5px;
      position: relative;
      cursor: pointer;
      margin: 3px;

      &:hover {
        .remove-instrument-button {
          display: flex;
        }

        .tiles-trading-controls {
          display: flex;
        }
      }

      .tiles-trading-controls {
        position: absolute;
        justify-content: center;
        align-items: center;
        display: none;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      .remove-instrument-button {
        display: none;
        position: absolute;
        top: 20px;
        opacity: 0.5;
        transition-duration: 0.22s;
        transition-delay: 0.25s;
        animation-delay: 0.25s;
      }
    }
  }

  .underlay {
    min-height: 100%;
    height: auto;
  }

  instrument-search {
    display: inline-block;
  }

  .chart-wrapper {
    height: 32px;
  }

  .crypto-button-icon:hover {
    background-color: transparent;
  }

  .order-book-tables-wrapper {
    table {
      tr {
        height: 25px;
      }

      th {
        background-color: transparent;
      }
    }

    .price-column {
      position: relative;
    }

    .amountBar {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      opacity: 0.45;

      &.red {
        background-image: linear-gradient(to left, $redColor, rgba(162, 33, 139, 0.5));
      }

      &.green {
        background-image: linear-gradient(to left, $greenColor, rgba(33, 162, 139, 0.5));
      }
    }
  }

  .last-bar-info {
    padding: 0 20px;
  }

  /deep/ {
    canvas {
      height: 100% !important;
    }
  }

  /deep/ .mat-column-remove {
    text-align: right;

    .controls-wrapper {
      height: 36px;
      width: 21px;
      position: relative;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;

      .controls-wrapper-inner {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-left: 15px;
      }
    }
  }

  .control,
  .crypto-button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 15px;
    border: 1px solid;
    padding: 6px 8px;
    cursor: pointer;
    font-family: "Open Sans";
    transition: all 0.22s;
    font-size: 13px;
  }

  .watchlist-separator {
    margin: 5px 0px !important;
  }

  @media (max-width: 767px) {
    .control,
    .crypto-button-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      border: 1px solid;
      font-size: 11px;
      width: 20px;
      height: 20px;
      margin-left: 0px !important;
    }

    .top-line {
      margin: 10px 5px;
    }
  }
}

@include themify($themes, true) {
  .functional-icons {
    .crypto-icon {
      color: themed("valueTextColor");
    }
  }
  .crypto-button-delete,
  .remove-instrument-button {
    &:hover {
      color: themed("valueTextColor");
    }
    color: themed("valueTextColor");
    background-color: transparent !important;
  }

  .underlay {
    background-color: themed("appPanelColor");
  }
  .mat-cell {
    font-weight: 600;
  }

  .text {
    color: themed("valueTextColor");
  }

  .top-line {
    background: themed("sonar-feed-header");
    border-color: themed("sonar-card-bg-border");
    color: themed("sonar-common-text-color");
  }

  .watchlist-tile-wrapper {
    border: 1px solid themed("appBackgroundColor");
  }

  .order-book-tables-wrapper {
    table:first-child {
      border-right: 1px solid themed("appBackgroundColor");
    }
  }

  // .mat-cell  {
  //   font-weight:600;
  // }

  /deep/ {
    mat-row {
      &:hover {
        background-color: themed("activeBackgroundColor") !important;
        .remove-instrument-button {
          display: flex;
        }
      }
    }

    .watchlist-tile:hover {
      border: 1px solid themed("valueTextColor");
      transition-duration: 0.22s;
    }

    .watchlist-tile {
      border: 1px solid transparent;

      transition-duration: 0.22s;
    }

    .control,
    .crypto-button-icon {
      color: themed("valueTextColor");
      background-color: themed("sonar-search-bg");
      border-color: themed("sonar-search-border");

      &:hover,
      &:active {
        background-color: themed("sonar-search-bg-active");
        border-color: themed("sonar-search-border-active");
      }
    }

    input,
    mat-select {
      border-radius: 3px !important;
      border: 1px solid !important;
      background-color: themed("sonar-search-bg") !important;
      border-color: themed("sonar-search-border") !important;

      &:hover,
      &:active {
        background-color: themed("sonar-search-bg-active") !important;
        border-color: themed("sonar-search-border-active") !important;
      }
    }
  }
}

:host {
  /deep/ .mat-row {
    &:hover {
      .controls-wrapper {
        overflow: visible;
      }
    }

    .mat-column-chart {
      overflow: visible;
    }

    .matMenuTrigger {
      height: 14px !important;
      margin-left: -10px;
    }
  }
  /deep/ .tiles_view {
    position: absolute;
    top: 7px;
    right: 4px;

    .matMenuTrigger {
      width: 14px !important;
      height: 14px !important;
    }
  }
  .watchlist-separator {
    margin: 5px 0px;
  }
}

.featured-instruments-row {
  display: flex;

  .featured-instruments-row-color {
    width: 14px;
    height: 12px;
    display: flex;
    margin-right: 5px;
  }

  .featured-instruments-row-text {
    max-width: 220px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 11px !important;
  }
}
