@import "global-styles/variables";
@import "global-styles/mixins/themify";
@import "global-styles/themes/themes";

:host {
  /deep/ {
    mat-form-field {
      max-width: 110px !important;
    }
  }
  .out-of-access { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100%;
    width: 100%;
    cursor: pointer;

    .text {
      margin: 20px 10px;
      display: flex;
      text-align: center;
      text-decoration: underline;
    }
  
    .image {
      display: flex;
      justify-content: center;
    }
    img {
      width: 200px;
    }
  }

  height: 100%;
  display: flex;
  width: 100%;
  overflow: auto;

  .crypto-select {
   

  }

  .functional-icons {
    .crypto-button-icon {
      margin-left: 6px;
    }
  }

  .disabled {
    opacity: 0.0;
    pointer-events: none;
    display:none !important;
    transition-duration: 0.22s;
    transition-delay: 0.25s;
    animation-delay: 0.25s;
  }

  .watchlist-selector {
    margin: 0px 10px;
    max-width: 120px;
  }


.crypto-button-delete {
  color: transparent;
  background-color: transparent;
}

  .root {
    width: 100%;
    height: 100%;
    font-family: $primaryFontFamily, sans-serif;
    position: relative;

    display: flex;
    flex-direction: column;
  }

  .top-line {
    overflow-y: hidden;
    display: flex;
    flex-shrink: 0;
    padding: 5px;
  }

  .up-trend {
    color: $greenColor;
    text-align:right;
    float: right;
  }

  .down-trend {
    color: $redColor;
    text-align:right;
    float: right;
  }

  .no-trend {
      text-align:right;
      float: right;
    }

  tr {
    .remove-instrument-button {
      display: none;
    }

    &:hover {
      .remove-instrument-button {
        display: flex;
      }
    }
  }

  .small-column {
    width: 30px;
  }

  .large-column {
    width: 150px;
  }

  .tiles-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: auto;
    padding: 2px;

    .watchlist-tile-wrapper {
      
      border-radius: 5px;
      position: relative;
      cursor: pointer;
      margin:2px;

      &:hover {
        .remove-instrument-button {
          display: flex;
        }

        .tiles-trading-controls {
          display: flex;
        }
      }

      .tiles-trading-controls {
        position: absolute;
        justify-content: center;
        align-items: center;
        display: none;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      .remove-instrument-button {
        display: none;
        position: absolute;
        top: 77px;
        opacity: 0.5;
        margin-left: 46%;
        transition-duration: 0.22s;
        transition-delay: 0.25s;
        animation-delay: 0.25s;
        
      }
    }
  }

  .underlay {
    min-height: 100%;
    height: auto;
  }

  instrument-search {
    display: inline-block;
  }

  .chart-wrapper {
    height: 32px;
  }

  .crypto-button-icon:hover {
    background-color: transparent;
  }

  .order-book-tables-wrapper {
    table {
      tr {
        height: 25px;
      }

      th {
        background-color: transparent;
      }
    }

    .price-column {
      position: relative;
    }

    .amountBar {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      opacity: 0.45;

      &.red {
        background-image: linear-gradient(to left, $redColor, rgba(162, 33, 139, 0.5));
      }

      &.green {
        background-image: linear-gradient(to left, $greenColor, rgba(33, 162, 139, 0.5));
      }
    }
  }

  .last-bar-info {
    padding: 0 20px;
  }

  /deep/ {
    canvas {
      height: 100% !important;
    }
  }

  /deep/ .mat-column-remove {
    text-align: right;

    .controls-wrapper {
      height: 36px;
      width: 21px;
      position: relative;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;

      .controls-wrapper-inner {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-left: 15px;
      }
    }
  }

  .control, .crypto-button-icon  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;

    font-size: 15px;  
    font-weight:bold;
    cursor: pointer;
  }

  
}

@include themify($themes, true) {
  .functional-icons {
    .crypto-icon {
      color: themed('valueTextColor');
    }
  }

  .underlay {
    background-color: themed('appPanelColor');
  }
  .mat-cell {
    font-weight:600;

  }

  .text {
    color: themed('valueTextColor');
  }

  .top-line {
    background-color: themed('appPanelColor');
    border-bottom: 1px solid themed('rejectButtonBackgroundColor');
  }

  .content-wrapper {
    background-color: themed('appPanelColor');
  }

  .watchlist-tile-wrapper {
    border: 1px solid themed('appBackgroundColor');
  }

  .order-book-tables-wrapper {
    table:first-child {
      border-right: 1px solid themed('appBackgroundColor');
    }
  }

  /deep/ .mat-column-remove {

  }
  .mat-cell  {
    font-weight:600;
  }
  /deep/ {
    mat-row {
      &:hover {
        background-color: themed('activeBackgroundColor') !important;
    .crypto-button-delete {
      background-color: transparent !important; 
      color: #000000 !important;
    }
        

    .Light-theme  .mat-cell {
          color: #191919;
          font-weight:800;
          
          
        }

       .Dark-theme .mat-cell {
          color: #ffffff;
          font-weight:800;
          
          
        }

        .mat-column-remove {
          overflow: visible;
        }

        .mat-column-remove .controls-wrapper {
          overflow: visible;
        }

        .expanded-detail {
          color: themed('valueTextColor');
        }
      }
    }

    .watchlist-tile:hover {
      border: 1px solid themed('valueTextColor');
     
       transition-duration: 0.22s;
    }

    .watchlist-tile {
      border: 1px solid transparent;
    
       transition-duration: 0.22s;
    }

    .control, .crypto-button-icon  {
      color: themed('valueTextColor');
      background-color: themed('tableBorders');
      

      &:hover {
        color: themed('accentColor');
        transition-duration: 0.22s;
        background-color: themed('accentLightColor');

      }
    }

    .watchlist-tile-wrapper:hover {
      .watchlist-tile {
        // background-color: themed('activeBackgroundColor');
        // opacity: 0.9;
      }
      .crypto-button-delete {
        background-color: transparent !important; 
        color: #000000 !important;
      }
    }

    // .matMenuTrigger {
    //   border-right: 1px solid themed('appBackgroundColor') !important;
    // }

  }

}


:host {
  /deep/ .mat-row {
    &:hover {
      .controls-wrapper {
        overflow: visible;
      }
    }

    .mat-column-chart {
      overflow: visible;
    }

    .matMenuTrigger {
      height: 14px !important;
      margin-left: -10px;
    }
  }
  /deep/ .tiles_view {
    position: absolute;
    top: 7px;
    right: 4px;

    .matMenuTrigger {
      width: 14px !important;
      height: 14px !important;

    }
  }
}



/* Hide scrollbar for Chrome, Safari and Opera */
.bftscroll::-webkit-scrollbar {
  height:1px;
}

.watchlist-separator {
  margin: 5px 0px !important;
}

.featured-instruments-row {
  display: flex;

  .featured-instruments-row-color {
    width: 14px;
    height: 12px;
    display: flex;
    margin-right: 5px;
  } 

  .featured-instruments-row-text {
    max-width: 220px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 11px !important;
  }
}


.mat-select-value {

  font-size: 11px !important;

}




.watchlistholder  {
  font-size: 10px !important;
  font-weight: 700 !important;
  height:25px !important;
  max-height:25px;
  overflow:hidden;
  min-width: 60px;

}

/deep/ .watchlistholder mat-select .mat-select-value{
  font-size: 10px !important;
  font-weight: 700 !important;
  vertical-align: initial;
  padding-top: 8px;
}


/deep/ .watchlistholder input{
  font-size: 10px !important;
  font-weight: 700 !important;
  vertical-align: initial;
  padding-top: 8px;
}

/deep/ mat-select .mat-select-arrow-wrapper {
  padding-right: 2px  !important;
  padding-left: 2px  !important;

}

/deep/ mat-select .mat-select-arrow-wrapper .mat-select-arrow {
  margin-top: -5px !important;
}