<div class="page-wrapper">
  <div class="pricingsection">
    <div class="wrapper-2">
      <div data-duration-in="300" data-duration-out="100" data-current="Tab 4" data-easing="ease" class="w-tabs">
        <div class="w-tab-content">

          <div class="justify-content-left">
            <div class="pricing-plan bordered exclusive">
              <div class="text-center">
                <h4>Neural <br><span class="early">(Limited Early Access)</span></h4>
                <div class="price-wrapper">
                  <div class="dollar-sign">$</div>
                  <div class="display-heading-2 no-bottom-margin">249</div>
                </div>
                <div class="small-text-2">Monthly</div>
                <div class="net-profit-fee">+10% monthly net profits</div>
              </div>
              <div class="button-row">
                <div class="button bordered checkout new pricingcta w-inline-block" (click)="checkoutML1M()">
                  <div>Buy now</div>
                </div>
              </div>
              <h6 class="checklist-heading">All features included:</h6>
              <div class="w-layout-grid checklist pricing-checklist">
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">Breakfree Trading Algorithm</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">Trade Forex, Indexes, Metals, Crypto, Stocks</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">Neural Mode (All timeframes)</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">32 AI Forecast Markets</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">AI Bot Execution <span class="coming-soon">(Coming soon)</span></div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">Real-time Trend Detection 3.0</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">50 sms alerts a day</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">Risk Management Suite</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">Access to Inner Circle Community</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">1-on-1 coaching</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">Priority support</div>
                </div>
              </div>
              <div class="icon-link support-button w-inline-block" (click)="showSupport()">
                <div class="fine-print-text">Talk to a Team Member</div>
              </div>
            </div>
          </div>

          <div class="justify-content-left">
            <div class="pricing-plan bordered exclusive">
              <div class="text-center">
                <h4>Neural <br><span class="early">(Limited Early Access)</span></h4>
                <div class="price-wrapper">
                  <div class="dollar-sign">$</div>
                  <div class="display-heading-2 no-bottom-margin">699</div>
                </div>
                <div class="small-text-2">Quarterly</div>
                <div class="net-profit-fee">+10% monthly net profits</div>
              </div>
              <div class="button-row">
                <div class="button bordered checkout new pricingcta w-inline-block" (click)="checkoutML3M()">
                  <div>Buy now</div>
                </div>
              </div>
              <h6 class="checklist-heading">All features included:</h6>
              <div class="w-layout-grid checklist pricing-checklist">
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">Breakfree Trading Algorithm</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">Trade Forex, Indexes, Metals, Crypto, Stocks</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">Neural Mode (All timeframes)</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">32 AI Forecast Markets</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">AI Bot Execution <span class="coming-soon">(Coming soon)</span></div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">Real-time Trend Detection 3.0</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">50 sms alerts a day</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">Risk Management Suite</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">Access to Inner Circle Community</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">1-on-1 coaching</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">Priority support</div>
                </div>
              </div>
              <div class="icon-link support-button w-inline-block" (click)="showSupport()">
                <div class="fine-print-text">Talk to a Team Member</div>
              </div>
            </div>
          </div>

          <div class="justify-content-left">
            <div class="pricing-plan bordered exclusive">
              <div class="text-center">
                <h4>Neural <br><span class="early">(Limited Early Access)</span></h4>
                <div class="price-wrapper">
                  <div class="dollar-sign">$</div>
                  <div class="display-heading-2 no-bottom-margin">2499</div>
                </div>
                <div class="small-text-2">Yearly</div>
                <div class="net-profit-fee">+10% monthly net profits</div>
              </div>
              <div class="button-row">
                <div class="button bordered checkout new pricingcta w-inline-block" (click)="checkoutML12M()">
                  <div>Buy now</div>
                </div>
              </div>
              <h6 class="checklist-heading">All features included:</h6>
              <div class="w-layout-grid checklist pricing-checklist">
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">Breakfree Trading Algorithm</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">Trade Forex, Indexes, Metals, Crypto, Stocks</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">Neural Mode (All timeframes)</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">32 AI Forecast Markets</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">AI Bot Execution <span class="coming-soon">(Coming soon)</span></div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">Real-time Trend Detection 3.0</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">50 sms alerts a day</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">Risk Management Suite</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">Access to Inner Circle Community</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">1-on-1 coaching</div>
                </div>
                <div class="checklist-item-small"><i class="fa fa-check"></i>
                  <div class="small-text-2 text-white">Priority support</div>
                </div>
              </div>
              <div class="icon-link support-button w-inline-block" (click)="showSupport()">
                <div class="fine-print-text">Talk to a Team Member</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>