<div class="accountInfo">
    <data-table [rows]="activeAccount ? [activeAccount] : []">
        <data-table-header-cell columnName="Account" [sortable]="true">{{'tradeManager.account' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Currency" [sortable]="true">{{'currency' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Balance" [sortable]="true">{{'balance' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Pl" [sortable]="true">{{'tradeManager.pl' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Equity" [sortable]="true">{{'tradeManager.equity' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Margin" [sortable]="true">{{'tradeManager.margin' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="FreeMargin" [sortable]="true">{{'tradeManager.freeMargin' | translate}}</data-table-header-cell>


        <data-table-cell columnName="Account"><ng-template let-item>{{item.Account}}</ng-template></data-table-cell>
        <data-table-cell columnName="Currency"><ng-template let-item>{{item.Currency}}</ng-template></data-table-cell>
        <data-table-cell columnName="Balance"><ng-template let-item>{{item.Balance}}</ng-template></data-table-cell>
        <data-table-cell columnName="Pl">
            <ng-template let-item>
                <span [ngClass]="{'positive-value': item.Pl > 0, 'negative-value': item.Pl < 0}">
                    {{item.Pl}}
                </span>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="Equity">
            <ng-template let-item>
                <span [ngClass]="{'positive-value': item.Equity > 0, 'negative-value': item.Equity < 0}">
                    {{item.Equity}}
                </span>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="Margin">
            <ng-template let-item>
                <span [ngClass]="{'positive-value': item.Margin > 0, 'negative-value': item.Margin < 0}">
                    {{item.Margin}}
                </span>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="FreeMargin">
            <ng-template let-item>
                <span [ngClass]="{'positive-value': item.FreeMargin > 0, 'negative-value': item.FreeMargin < 0}">
                    {{item.FreeMargin}}
                </span>
            </ng-template>
        </data-table-cell>
    </data-table>
</div>
