<data-table [rows]="items">
    <data-table-header-cell columnName="Id" [sortable]="true">{{'tradeManager.orderId' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Symbol" [sortable]="true">{{'symbol' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Side" [sortable]="true">{{'side' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Type" [sortable]="true">{{'type' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Size" [sortable]="true">{{'size' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="OpenPrice" [sortable]="true">{{'tradeManager.openPrice' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="ClosePrice" [sortable]="true">{{'tradeManager.closePrice' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="pipPl" [sortable]="true">{{'tradeManager.pipPl' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="OpenTime" [sortable]="true">{{'tradeManager.openTime' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="CloseTime" [sortable]="true">{{'tradeManager.closeTime' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Status" [sortable]="true">{{'status' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Comment" [sortable]="false">{{'tradeManager.comment' | translate}}</data-table-header-cell>

    <data-table-cell columnName="Id">
        <ng-template let-item>{{item.Id}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="Symbol">
        <ng-template let-item>{{item.Symbol}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="Side">
        <ng-template let-item>
            <order-side [side]="item.Side"></order-side>
        </ng-template>
    </data-table-cell>
    <data-table-cell columnName="Type">
        <ng-template let-item>{{item.Type}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="Size">
        <ng-template let-item>{{item.Size}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="OpenPrice">
        <ng-template let-item>{{item.Price}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="ClosePrice">
        <ng-template let-item>{{item.ClosePrice}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="pipPl">
        <ng-template let-item>{{item.PipPL}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="OpenTime">
        <ng-template let-item>{{item.Time | utcSecondsToLocal | formatDate:'YYYY/MM/DD HH:mm'}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="CloseTime">
        <ng-template let-item>{{item.CloseTime | utcSecondsToLocal | formatDate:'YYYY/MM/DD HH:mm'}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="Status">
        <ng-template let-item>{{item.Status}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="Comment">
        <ng-template let-item>{{item.Comment}}</ng-template>
    </data-table-cell>
</data-table>
