@import "themes/themes";
@import "mixins/themify";
@import "variables";

:host {
  height: 100%;

  .positive-value {
    color: $lightGreenColor;
  }

  .negative-value {
    color: $lightRedColor;
  }
}
