<data-table [rows]="redeems">
    <data-table-header-cell columnName="id">
        Id
    </data-table-header-cell>
    <data-table-header-cell columnName="email">
        Email
    </data-table-header-cell>
    <data-table-header-cell columnName="tx">
        Tx
    </data-table-header-cell>
    <data-table-header-cell columnName="updateDate">
        Update Date
    </data-table-header-cell>
    <data-table-header-cell columnName="wallet">
        Wallet
    </data-table-header-cell>
    <data-table-header-cell columnName="processed">
        Processed
    </data-table-header-cell>
    <data-table-header-cell columnName="tokens">
        Tokens
    </data-table-header-cell>
    <data-table-header-cell columnName="amount">
        Amount
    </data-table-header-cell>
    <data-table-header-cell columnName="rate">
        Rate
    </data-table-header-cell>
    <!-- <data-table-header-cell columnName="actions" [columnWidth]="70"></data-table-header-cell> -->

    <data-table-cell columnName="id">
        <ng-template let-item>
            {{item.id}}
        </ng-template>
    </data-table-cell>

    <data-table-cell columnName="email">
        <ng-template let-item>
            {{item.email}}
        </ng-template>
    </data-table-cell>

    <data-table-cell columnName="tx">
        <ng-template let-item>
            {{item.tx}}
        </ng-template>
    </data-table-cell>

    <data-table-cell columnName="updateDate">
        <ng-template let-item>
            {{getDate(item.updateDate) | date: 'short'}}
        </ng-template>
    </data-table-cell>

    <data-table-cell columnName="wallet">
        <ng-template let-item>
            {{item.wallet || "-" }}
        </ng-template>
    </data-table-cell>

    <data-table-cell columnName="processed">
        <ng-template let-item>
            <div [ngClass]="{'positive-value': item.wallet !== null, 'negative-value': item.wallet === null || item.wallet === ''}">
                {{item.wallet !== null ? "Processed" : "Unprocessed"}}
            </div>
        </ng-template>
    </data-table-cell>

    <data-table-cell columnName="tokens">
        <ng-template let-item>
            {{item.tokens || "-" }}
        </ng-template>
    </data-table-cell>

    <data-table-cell columnName="amount">
        <ng-template let-item>
            {{item.amount || "-" }}
        </ng-template>
    </data-table-cell>

    <data-table-cell columnName="rate">
        <ng-template let-item>
            {{item.rate || "-" }}
        </ng-template>
    </data-table-cell>

    <!-- <data-table-cell columnName="actions">
        <ng-template let-item>
            <span class="text-right">
                <menu-toggle class="v-align-middle" [matMenuTriggerFor]="menu"></menu-toggle>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="edit(item)">
                        Edit
                    </button>
                    <button mat-menu-item (click)="details(item)">
                        Details
                    </button>
                    <button mat-menu-item (click)="remove(item)">
                        Delete
                    </button>
                </mat-menu>
            </span>
        </ng-template>
    </data-table-cell> -->
</data-table>