<div class="bftBacktest flex">
   <loader *ngIf="showSpinner"></loader>
   <div class="flex justify-space-between">
      <div class="column"> 
         <span class="bft-pannel-header hidden">Select chart</span>
      </div>
    
   <div class="bft-backtest-panel-status" #content>
  
      <div class="row tradeoverview"> 
         <span class="value header"> <span class="leftbord"></span>Backtest parameters: <div class="column marketoverview-selector">
            <selector [options]="Charts" [placeholder]="'Select chart'"
            [selectedOption]="SelectedChart"
            [optionCaption]="captionText"
            (onSelect)="itemSelected($event)"
            class="watchlist-selector"></selector>
         </div></span>
      </div>

      <mat-tab-group class="full-height tabs">
         <mat-tab label="Strategy"> 
            <BreakfreeStrategyBacktest [SelectedChart]="SelectedChart" (Processing)="onProcessing($event)" (ClearData)="clearData()"></BreakfreeStrategyBacktest>
         </mat-tab> 
         <mat-tab label="Strategy V2"> 
            <BreakfreeStrategyV2Backtest [SelectedChart]="SelectedChart" (Processing)="onProcessing($event)" (ClearData)="clearData()"></BreakfreeStrategyV2Backtest>
         </mat-tab>
         <mat-tab label="Extensions">
            <ExtensionHitTest [SelectedChart]="SelectedChart" (Processing)="onProcessing($event)" (ClearData)="clearData()"></ExtensionHitTest>
         </mat-tab>
     </mat-tab-group>

   
</div>