@import "global-styles/themes/themes";
@import "global-styles/mixins/themify";
@import "global-styles/variables";

:host {
  .bftBacktest {
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding: 20px;
  }

  span.value.header {
    font-weight: 600;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    font-size: 14px;
  }

  .bft-backtest-panel-status {
    width: 100%;
  }

  .tabs {
    margin-top: 10px;

    /deep/ .mat-tab-label {
      padding: 0px 10px !important;
      height: 24px !important;
    }
  }

  .leftbord {
    width: 2px;
    height: 13px;
    display: inline-block;
    margin-bottom: -2px;
    margin-right: 4px;
  }

  /deep/ {
    .top-line {
      padding: 5px;
    }

    .copyable {
      cursor: pointer;
    }

    .crypto-button {
      margin: 10px;
      padding: 4px 14px;
    }

    .bft-strategy-backtest-panel-status {
      font-size: 12px;
      width: 100%;
      min-width: 210px;
    }

    span.value1 {
      float: left;
      color: #191919;
      padding-top: 3px !important;
      padding-bottom: 3px !important;
      padding-left: 5px;
    }

    span.value2 {
      float: right;
      padding-right: 5px;
      padding-top: 3px !important;
      padding-bottom: 3px !important;
    }

    .row {
      border-bottom: 1px solid;
    }

    .bftStrategyBacktest {
      padding: 15px;
    }

    span.value1.entry {
      padding-left: 5px;
      padding-top: 3px !important;
      padding-bottom: 3px !important;
    }

    .row.entries {
      padding-top: 10px;
      border-bottom: 0px !important;
    }

    .row.targets {
      padding-top: 10px;
      border-bottom: 0px !important;
    }

    .row.stoploss {
      padding-top: 10px;
      border-bottom: 0px !important;
    }

    span.value1.target {
      padding-left: 5px;
      padding-top: 3px !important;
      padding-bottom: 3px !important;
    }

    .row.tradeoverview {
      border-bottom: 0px !important;
      margin-bottom: 10px;
    }

    .leftbord {
      width: 2px;
      height: 13px;
      display: inline-block;
      margin-bottom: -2px;
      margin-right: 4px;
    }

    .row.targets .leftbord {
      background: #2e5e9a;
    }

    .row.entries .leftbord {
      background: #629320;
    }

    .row.stoploss .leftbord {
      background: #d3bb42;
    }

    .row.targets .header {
      color: #2e5e9a;
    }

    .row.entries .header {
      color: #629320;
    }

    .row.stoploss .header {
      color: #d3bb42;
    }

    .row.ent:hover {
      background: #6293205e;
    }

    .row.ent:hover:hover span.value2.copyable {
      font-weight: 600;
    }

    .marketoverview-selector {
      display: inline-block;
      float: right;
    }

    .marketoverview-selector .mat-select-value {
      font-size: 11px;
      padding: 0px !important;
    }
  }
}

@include themify($themes, true) {
  /deep/.crypto-button {
    color: themed("valueTextColor");
  }

  /deep/.crypto-button {
    background-color: themed("inputBackgroundColor");
  }

  /deep/.row {
    border-color: themed("inputBackgroundColor");
  }

  .tradeoverview .leftbord {
    background: themed("valueTextColor");
  }

  .tradeoverview {
    color: themed("valueTextColor");
  }
}
