<div class="crypto-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()">&times;</button>
            <h4 class="modal-title">Add Flexible Deposit</h4>
        </div>
        <div class="modal-body">
            <div class="edit-container">
                <div class="edit-row">
                    <div class="title">
                        Wallet (User wallet address)
                    </div>
                    <div class="value-text">
                        <input [(ngModel)]="publicKey">
                    </div>
                </div>
                <div class="edit-row">
                    <div class="title">
                        Token (CMPN, USDC etc)
                    </div>
                    <div class="value-text">
                        <input [(ngModel)]="token">
                    </div>
                </div>
                <div class="edit-row">
                    <div class="title">
                        Transaction ID
                    </div>
                    <div class="value-text">
                        <input [(ngModel)]="tx">
                    </div>
                </div>
                <div class="edit-row">
                    <div class="title">
                        Amount (deposit amount)
                    </div>
                    <div class="value-text">
                    <input class="bftinput" matInput numericInput [floatOnly]="true" [range]="{min: 0}"
                        type="number" [step]="1" [(ngModel)]="amount"
                        placeholder="Deposit Amount">
                    </div>
                </div>
            </div>
        </div>


        <div class="modal-footer">
            <div class="flex justify-flex-end">
                <button class="crypto-button crypto-button_action" (click)="close()">
                    Close
                </button>
                <button class="crypto-button crypto-button_action" (click)="add()">
                    Add
                </button>
            </div>

        </div>

        <bft-loader *ngIf="loading"></bft-loader>

    </div>
</div>