@import "mixins/themify";
@import "global-styles/themes/themes";
@import "global-styles/_variables";
@import "global-styles/mixins/columns";
@import "global-styles/controls/textarea-variables";

:host {
    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .two-columns {
        @include columns(2, 10px);
    }

    .play-sound-btn {
        width: 32px;
        height: 32px;
        font-size: 15px;
        margin-left: 5px;
    }

    /deep/ ngx-material-timepicker-toggle svg {
        height:15px !important;
    }

    /deep/ mat-form-field.crypto-date-input mat-datepicker-toggle svg {
        width: 15px !important;
        height: 15px !important;
    }

    textarea {
        margin: 0;
        padding: $textarea-padding;
        resize: vertical;
        max-height: 150px;
        border-radius:5px !important;
        font-size:11px !important; 
        font-weight:700;
    }

    p.form-unit__label {
        font-weight: 700;
        font-size: 10px !important;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        width: 120px;
        padding: 0px 5px;
    }

    .disabled {
        opacity: 0.35;
        pointer-events: none;
    }
}
