:host {
  width: 100%;
}

.activate-btn {
  font-size: 11px;
  padding: 0 6px;
  width: 65px;
}

.small-column {
  width: 100px;
}

.search-wrapper {
  padding: 10px 10px;
}

input[manual-search-input] {
  margin-right: 0 !important;
}

.relative-wrapper {
  position: relative;

  mat-progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.underlay {
  max-height: 100%;
}

