<div class="sonar-card" #cardContainer>
    <div class="card-header">
        <div class="card-header-description">
            {{title}}
        </div>
        <div class="card-header-timestamp">
            {{createTimeString()}}
        </div>
    </div>
    <div class="card-chart" #chartContainer>
        <sonar-chart [instrument]="instrument" [time]="time" [granularity]="granularity" [isVisible]="isVisible"></sonar-chart>
    </div>
    <div class="card-footer">
        <div class="card-footer-buttons">
            <div class="card-footer-view-button" (click)="viewOnChart()">
                View chart
            </div>
            <div class="card-footer-like-button">
                <div class="like-container" (click)="like()">
                    <i class="fa fa-thumbs-up" aria-hidden="true" *ngIf="hasMyLike; else nonActiveLike"></i>
                    <ng-template #nonActiveLike>
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </ng-template>
                    <span class="like-counter">{{likeCount}}</span>
                </div>
                <div>Rate</div>
                <div class="dislike-container" (click)="dislike()">
                    <i class="fa fa-thumbs-down" aria-hidden="true" *ngIf="hasMyDislike; else nonActiveDislike"></i>
                    <ng-template #nonActiveDislike>
                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                    </ng-template>
                    <span class="dislike-counter">{{dislikeCount}}</span>
                </div>
            </div>
            <div class="card-footer-share-button">
                Share
            </div>
        </div>
    </div>
    <div class="card-left-comment">
        <!-- <mat-form-field class="crypto-input bft-form-input full-width"> -->
        <textarea class="crypto-textarea nborder comment-textarea" placeholder="Write a public comment..."></textarea>
        <div class="send-button">Send</div>
        <!-- </mat-form-field> -->
    </div>
</div>