@import "global-styles/themes/themes";
@import "global-styles/mixins/themify";
@import "global-styles/variables";
@import "themes/themes";
@import "mixins/themify";

:host {
    width: 100%;
    height: 100%;

    .sonar-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        // cursor: pointer;
        border-radius: 5px;
        font-size: 12px;
    }
    .card-header {
        display: flex;
        height: 32px;
        justify-content: space-between;
        align-items: center;
        margin: 0px 10px;

        .card-header-description {
            display: flex;
            font-weight: 500;
            text-transform: uppercase;

            .favorite-icon {
                margin-right: 10px;
                cursor: pointer;

                .fa-star {
                    color: gold;
                }
            }
        }

        .card-header-timestamp {
            display: flex;
            font-size: 11px;
        }

        .card-header-timestamp,
        .card-header-title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .card-chart {
        display: flex;
        width: 100%;
        min-height: 160px;
    }
    .card-footer {
        display: flex;

        .card-footer-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border-top: 1px solid;
            border-bottom: 1px solid;
            margin: 5px;

            .like-button {
                margin-left: 8px;
                margin-right: 3px;
            }

            .card-footer-like-button,
            .card-footer-share-button,
            .card-footer-view-button {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                height: 28px;
            }

            .card-footer-share-button,
            .card-footer-view-button,
            .like-container,
            .dislike-container {
                cursor: pointer;
            }
        }
    }
    .card-left-comment {
        display: flex;
        flex-direction: column;
        width: 100%;

        .replay-description {
            display: inline-flex;
            justify-content: space-between;
            margin: 0px 20px 0px 10px;
            padding: 8px;
            border-radius: 5px;
            font-size: 0.8em;
            margin-top: 8px;

            .replay-comment-text {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-right: 15px;
            }
        }

        .replay-comment-close {
            cursor: pointer;
        }

        .card-left-comment-input {
            display: flex;
            margin-right: 10px;

            textarea {
                height: 28px;
                margin: 5px 0px 5px 5px;
                font-size: 11px !important;
                line-height: 14px;
                border-radius: 12px 0px 0px 12px;
                resize: none;
            }

            .send-button {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 28px;
                margin: 5px 5px 5px 0px;
                padding: 0px 10px;
                border-radius: 0px 12px 12px 0px;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }

    .like-container,
    .dislike-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
    }
    .like-container {
        margin-right: 5px;
        .like-counter {
            margin-left: 5px;
        }
    }

    .dislike-container {
        margin-left: 5px;
        .dislike-counter {
            margin-left: 5px;
        }
    }

    .card-comments {
        max-height: 400px;
        overflow-y: auto;
    }

    .comment-row {
        display: flex;
        margin: 10px 20px 7px 10px;

        .comment-item {
            display: flex;
            width: 100%;

            .comment-avatar {
                display: flex;
                flex-direction: column;
                min-width: 40px;
                height: 100%;

                .comment-avatar-img {
                    display: flex;
                    width: 32px;
                    height: 32px;
                    justify-content: center;
                }
            }

            .remove-comment {
                display: flex;
                justify-content: left;

                i {
                    padding: 4px;
                    cursor: pointer;
                    border-radius: 5px;
                    font-size: 8px;
                    height: fit-content;
                }
            }

            .comment-content {
                display: flex;
                width: auto;
                // max-width: calc(100% - 50px);
                flex-direction: column;

                .comment-content-header {
                    display: flex;
                    justify-content: left;
                    align-items:baseline;
                   

                    .comment-content-header-left {
                        display: flex;
                        justify-content: left;
                        align-items: center;

                        .comment-content-username {
                            font-weight: 700;
                            text-transform: capitalize;
                            font-size:11px;
                        }

                        .comment-content-user-level {
                            font-size: 0.8em;
                            margin-left: 5px;
                        }
                    }
                    .comment-content-header-right {
                        display: flex;
                        justify-content: right;
                        font-size: 0.8em;
                        

                      
                    }
                }

                .comment-content-data {
                    margin-top: 2px;
                    display: flex;
                    flex-direction: column;

                    .comment-content-data-replay {
                        margin-bottom: 8px;
                        padding: 8px;
                        border-radius: 5px;
                        font-size: 0.8em;
                        // overflow: hidden;
                        // white-space: nowrap;
                        // text-overflow: ellipsis;
                    }

                    .comment-content-data-text {
                        display: inline-block;
                    }

            
                }

                .comment-content-footer {
                    display: flex;
                    justify-content: left;
                    margin-bottom: 2px;
                    margin-top:2px; 

                    .comment-like-container,
                    .comment-dislike-container {
                        padding: 3px 3px;
                        margin: 2px;
                        cursor: pointer;
                        border-radius: 3px;
                        i {
                            margin-right: 5px;
                        }
                    }

                    .replay-button {
                        display: flex;
                        justify-content: left;
                        border-radius: 3px;
                        align-items: center;
                        font-size: 0.8em;
                        padding: 3px 3px;
                        margin: 2px;
                        cursor: pointer;
                    }

                    .card-time {
                        padding: 3px 3px;
                        margin: 2px;
                        cursor: pointer;
                        border-radius: 3px;
                        font-size: 10px;
                        display: flex;
                        align-self: center;
                        opacity: 0.7;
                    }
                    .remove-comment {
                        padding: 3px 3px;
                        margin: 2px;
                        cursor: pointer;
                        border-radius: 3px;
                    }
                }
            }
        }
    }

    .show-all-comments,
    .hide-all-comments {
        display: flex;
        justify-content: center;
        font-size: 00.8em;
        padding: 5px;
        cursor: pointer;
        opacity: 0.5;
    }
}




.comment-content-data-text::first-letter {
    text-transform: uppercase;
}



@include themify($themes, true) {
    .sonar-card {
        background-color: themed("tableBorders");
        color: themed("valueTextColor");
    }

    // .sonar-card:hover {
    //     border: 1px solid themed("valueTextColor");
    //     transition-duration: 0.22s;
    // }

    .comment-wrapper {
        background:themed("comment-wrapper-bg");
        border-radius: 15px;
        padding: 5px 10px 5px 10px;
    }

    .sonar-card {
        border: 1px solid transparent;
        transition-duration: 0.22s;
    }

    .card-footer-buttons {
        border-color: themed("sonar-feed-border") !important;
    }

    .comment-row {
        border-bottom: 1px solid;
        border-color: themed("sonar-feed-border") !important;
    }

    .card-footer-share-button,
    .card-footer-view-button,
    .like-container,
    .dislike-container {
        &:hover {
            background-color: themed("sonar-feed-post-button");
        }
    }

    .comment-like-container,
    .comment-dislike-container, .replay-button {
        &:hover {
            background-color: themed("sonar-feed-post-button");
        }
    }

    .remove-comment {
        i {
            &:hover {
                background-color: themed("sonar-feed-post-button");
            }
        }
    }

    .replay-description {
        background-color: themed("sonar-feed-border");
    }

    .comment-content-data-replay {
        background-color: themed("sonar-feed-border");
    }

    .send-button {
        background-color: themed("sonar-feed-post-button");
    }
}
