<div class="sonar-card" #cardContainer>
    <div class="card-header">
        <div class="card-header-description">
            <div class="favorite-icon" (click)="favorite()">
                <i class="fa fa-star" *ngIf="isFavorite; else notFavorite" aria-hidden="true"></i>
                <ng-template #notFavorite>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </ng-template>
            </div>
            <div class="card-header-title">
                {{title}}
            </div>
        </div>
        <div class="card-header-timestamp">
            {{createTimeString(time)}}
        </div>
    </div>
    <div class="card-chart" #chartContainer>
        <sonar-chart [instrument]="instrument" [time]="time" [granularity]="granularity" [isVisible]="isVisible">
        </sonar-chart>
    </div>
    <div class="card-footer">
        <div class="card-footer-buttons">
            <div class="card-footer-view-button" (click)="viewOnChart()">
                View chart
            </div>
            <div class="card-footer-like-button">
                <div class="like-container" (click)="like()">
                    <i class="fa fa-thumbs-up" aria-hidden="true" *ngIf="hasMyLike; else nonActiveLike"></i>
                    <ng-template #nonActiveLike>
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </ng-template>
                    <span class="like-counter">{{likeCount}}</span>
                </div>
                <div class="hidden">Rate</div>
                <div class="dislike-container" (click)="dislike()">
                    <i class="fa fa-thumbs-down" aria-hidden="true" *ngIf="hasMyDislike; else nonActiveDislike"></i>
                    <ng-template #nonActiveDislike>
                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                    </ng-template>
                    <span class="dislike-counter">{{dislikeCount}}</span>
                </div>
            </div>
            <div class="card-footer-share-button" (click)="share()">
                Share
            </div>
        </div>
    </div>
    <div class="card-comments" #scroll [ngClass]="{'limit-comments': !showAllCommentsOnExpand}">
        <div class="show-all-comments" *ngIf="commentsTotal > 1 && comments.length <= 1" (click)="showAllComment()">
            View all {{commentsTotal}} comments
        </div>
        <div class="comment-row" *ngFor="let c of comments" [ngClass]="{'own-comment': c.isOwnComment}">
            <sonar-feed-comment [comment]="c" (onCommentLike)="likeComment($event)" (onCommentDislike)="dislikeComment($event)" (onAddReplay)="replay($event)" (onRemoveComment)="removeComment($event)"></sonar-feed-comment>
        </div>
        <div class="hide-all-comments" *ngIf="commentsTotal > 1 && comments.length > 1" (click)="hideAllComment()">
            Hide comments
        </div>
    </div>
    <div class="card-left-comment">
        <div class="replay-description" *ngIf="replayComment">
            <div class="replay-comment-text">
                {{replayComment.text}}
            </div>
            <div class="replay-comment-close">
                <i class="crypto-icon crypto-icon-close" (click)="stopReplay()"></i>
            </div>
        </div>
        <!-- <mat-form-field class="crypto-input bft-form-input full-width"> -->
        <div class="card-left-comment-input">
            <textarea class="crypto-textarea nborder comment-textarea" placeholder="Write a public comment..."
                [(ngModel)]="comment" #textarea></textarea>
            <div class="send-button" [ngClass]="{'disabled': !comment || comment.length === 0}" (click)="sendComment()">
                Send
            </div>
        </div>
        <!-- </mat-form-field> -->
    </div>
</div>