<div class="sonar-card" #cardContainer>
    <div class="card-header">
        <div class="card-header-description">
            4H XEM/BTC BRC LONG
        </div>
        <div class="card-header-timestamp">
            Yesterday at 02:30
        </div>
    </div>
    <div class="card-chart" #chartContainer>
        <sonar-chart></sonar-chart>
    </div>
    <div class="card-footer">
        <div class="card-footer-buttons">
            <div class="card-footer-like-button">
                <span>Like</span>
                <span class="like-button"><i class="fa fa-heart" aria-hidden="true"></i></span>
                <span>5</span>
            </div>
            <div class="card-footer-comments-button">
                Comments
            </div>
            <div class="card-footer-share-button">
                Share
            </div>
        </div>
    </div>
    <div class="card-left-comment">
        <!-- <mat-form-field class="crypto-input bft-form-input full-width"> -->
        <textarea class="crypto-textarea nborder comment-textarea" placeholder="Write a public comment..."></textarea>
        <div class="send-button">Send</div>
        <!-- </mat-form-field> -->
    </div>
</div>