<base-nav [showUserAvatar]="true" [showUserDashboard]="!(showUserDashboard$ | async)">
    <!--    LAYOUT   -->
    <ng-container *ngIf="isPlatformRoot$ | async">
        <!-- <nav-section [paddingRight]="false">
            <div class="crypto-button crypto-button_default workspaces cursor-pointer"
                 [matMenuTriggerFor]="workspacesMenu"
                 [title]="'workspaces' | translate">
                <span class="crypto-icon crypto-icon-layout"></span>
            </div>
            <mat-menu #workspacesMenu="matMenu" xPosition="before" class="workspaces-menu">
                <workspaces></workspaces>
            </mat-menu>
        </nav-section> -->
        <!--    /LAYOUT  -->

        <nav-section>
            <button #componentSelectorTrigger="matMenuTrigger"
                    class="crypto-button crypto-button_default cursor-pointer add-elements-btn hidden"
                    [matMenuTriggerFor]="componentSelectMenu"
            >
                {{'app.addElement' | translate}}
            </button>
            <mat-menu #componentSelectMenu="matMenu" xPosition="before" class="workspaces-menu hidden">
                <!--            <ng-template matMenuContent>-->
                <component-selector (onComponentSelected)="handleAddComponent($event)"></component-selector>
                <!--            </ng-template>-->
            </mat-menu>
        </nav-section>
    </ng-container>
</base-nav>
