@import "../../../../styles/themes/themes";
@import "mixins/themify";
@import "global-styles/variables";

:host {
    .status-img {
        width: 9px;
        border-radius: 50%;
        height: 9px;

    }

    .connected {
        .path-data {
            fill: $lightGreenColor;
        }
    }
    .pending {
        .path-data {
            fill: $yellowColor;
        }
    }
    .not_connected {
        .path-data {
            fill: $lightRedColor;
        }
    }

    .accountInfoRow {
        column-gap: 3px;
        font-size: 11px;
        height: 100%;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    @media (max-width: 768px) {
        .additional-info {
          
        }
    }

    @media (max-width: 400px) {
        .controls  {
           padding: 6px 3px !important;
        }
    
    }
}

@include themify($themes, true) {
    .accountInfoRow {
        color: themed("titleTextColor");
    }
}
