<div class="flex justify-content-center">
    <div class="logo flex align-items-center">
        <span class="logo__img">
            <i class="crypto-icon crypto-icon-logo-a"></i>
        </span>
        <span class="crypto-text logo__text">
            <span>PLATFORM EXCHANGE</span>
        </span>
    </div>
</div>

<div class="crypto-form-unit margin-bottom justibroker.connectedBroker' |fy-flex-end">
    <button class="crypto-button crypto-button_primary w-100" (click)="connect()">{{'broker.connect' | translate}}</button>
</div>
<ngx-loading [show]="showSpinner"></ngx-loading>
