$LightTheme: (
        bgBrightness: 0.3,
        bgColor: #696969,
        inputBgColor: #fff,
        overlayBg: radial-gradient(ellipse at 50% bottom, rgba(218, 79, 74, 0.26), transparent 280px) rgba(255, 255, 255, 0.78),
        inputColor: #848282,
        inputPlaceholderColor: #cecece,
        forgotColor: rgba(233, 233, 233, 1),
        errorColor: #f02645,
        successColor: #27cf6d,
        regularColor: #757575
)