<div class="crypto-modal" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div class="modal-content">
        <div class="modal-header" cdkDragHandle>
            <button type="button" class="close" (click)="close()"><i class="crypto-icon crypto-icon-close"></i></button>
            <h4 class="modal-title">{{data.alert ? ('tradingAlert.editAlert' | translate) : ('tradingAlert.createAlert' | translate)}}</h4>
        </div>

        <div class="modal-body">
            <div class="flex-row form-wrapper">
                <div class="flex-column padding-right">
                    <div class="crypto-form-unit margin-bottom">
                        <p class="form-unit__label"><span>{{'tradingAlert.instrument' | translate}}</span></p>
                        <instrument-search [instrument]="instrument" (onSelect)="handleInstrumentChange($event)">
                        </instrument-search>
                    </div>
                </div> 
                <div class="flex-column padding-right">
                    <div class="crypto-form-unit margin-bottom">
                        <p class="form-unit__label"><span>{{'tradingAlert.condition' | translate}}</span></p>
                        <selector class="condition-selector bft-form-select" [options]="conditions" [optionCaption]="conditionTitlesTranslate"
                            [(ngModel)]="selectedCondition">
                        </selector>
                    </div>
                </div>
                <div class="flex-column padding-right">
                    <div class="crypto-form-unit margin-bottom">
                        <p class="form-unit__label"><span> {{'tradingAlert.value' | translate}}</span></p>
                        <mat-form-field class="crypto-input bft-form-input full-width">
                            <input matInput class="bftinput" type="number" numericInput [(ngModel)]="alertPrice">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            
            <hr class="delimiter"/>

            <div class="crypto-form-unit margin-bottom">
                <p class="form-unit__label flex justify-space-between align-items-center">
                    <span>
                         {{'tradingAlert.useExpiration' | translate}}
                    </span>
                    <mat-slide-toggle [(ngModel)]="useExpiration"></mat-slide-toggle>
                </p>

                <div class="two-columns" [ngClass]="{'disabled': !useExpiration}">
                    <mat-form-field class="crypto-date-input bft-form-input">
                        <input matInput readonly [matDatepicker]="dateFrom" [min]="minDate" placeholder="Datepicker"
                               (click)="dateFrom.open()"
                               class="crypto-input datepicker cursor-pointer">
                        <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
                        <mat-datepicker #dateFrom></mat-datepicker>
                    </mat-form-field>


                    <mat-form-field class="crypto-time-input bft-form-input">
                        <input matInput [ngxTimepicker]="toggleTimepicker"
                               (click)="toggleTimepicker.open()" class="crypto-input datepicker cursor-pointer"
                               placeholder="Time" [disableClick]="true" readonly>
                        <ngx-material-timepicker-toggle [for]="toggleTimepicker" matSuffix>
                        </ngx-material-timepicker-toggle>
                        <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
                    </mat-form-field>


                </div>
            </div>

            <div class="crypto-form-unit margin-bottom">
                <p class="form-unit__label flex align-items-center justify-space-between">
                    <span>{{ 'tradingAlert.showPopup' | translate}}</span>
                    <mat-slide-toggle [(ngModel)]="showPopup"></mat-slide-toggle>
                </p>
            </div>

            <!-- <div class="crypto-form-unit margin-bottom">
                <p class="form-unit__label flex align-items-center justify-space-between">
                    <span>{{'tradingAlert.playSound' | translate}}</span>
                    <mat-slide-toggle></mat-slide-toggle>
                </p>

                <div class="flex">
                    <selector class="sound-selector flex-grow-1" [options]="alertsSound">
                    </selector>
                    
                    <div class="crypto-button-icon play-sound-btn" (click)="playSound()">
                        <i class="fa fa-play option-icon"></i>
                    </div>
                </div>
            </div> -->

            <div class="crypto-form-unit margin-bottom">
                <p class="form-unit__label flex align-items-center justify-space-between">
                    <span>{{'tradingAlert.sendSMS' | translate}}</span>
                    <mat-slide-toggle [(ngModel)]="sendSMS"></mat-slide-toggle>
                </p>
            </div>

            <div class="crypto-form-unit margin-bottom">
                <p class="form-unit__label flex align-items-center justify-space-between">
                    <span>{{'tradingAlert.sendEmail' | translate}}</span>
                    <mat-slide-toggle [(ngModel)]="sendEmail"></mat-slide-toggle>
                </p>
            </div>

            <div class="crypto-form-unit margin-bottom">
                <p class="form-unit__label">
                    <span>{{'tradingAlert.message' | translate}}</span>
                </p>
                <textarea matInput [(ngModel)]="message" class="crypto-textarea" placeholder="{{'tradingAlert.message' | translate}}">
                </textarea>
            </div>
        </div>
        <div class="modal-footer">
            <div class="buttons-wrap flex justify-flex-end">
                <button class="crypto-button crypto-button_primary submit-btn crypto-button-w-100"
                        [class.is-loading]="processingSubmit"
                        (click)="onSubmitDialog()">
                    {{ data.alert ? ('edit' | translate) : ('create' | translate) }}
                </button>
            </div>
        </div>
    </div>
</div>
 