@import "themes/themes";
@import "mixins/themify";
@import "global-styles/variables";

:host {
  /deep/ {
    .mat-row {
      cursor: pointer;
    }

    mat-header-cell {
      color: #8798ad !important;
    }

    mat-cell {
      color: #323232 !important;
    }

    mat-header-row {
      border-bottom: 1px solid #edeff2 !important;
      border-top: 1px solid #edeff2 !important;
    }

    mat-row {
      border-color: #edeff2 !important;
    }

    mat-header-row,
    mat-row {
      background-color: #ffffff !important;
    }

    mat-row.expanded-row-details {
      background-color: #ffffff !important;
    }

    mat-header-cell[aria-sort="descending"],
    mat-header-cell[aria-sort="ascending"] {
      background-color: #ffffff !important;
      color: #397dc4 !important;

      &:after {
        background-color:  #397dc4 !important;
      }
    }

    .resize-handle {
      background-color: #edeff2 !important;
    }

  }
  .nicebox {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px -2px rgba(75,72,72,.44);
    background: #fff;
}
  .broker-not-connected, .no-recommendations {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 100%;
    font-size: 12px;
    font-weight: 700;
  }
  .content {
   font-size: 12px;
   padding: 15px;
   display: flex;
   flex-direction: column;
   min-width: 340px;

   .recommendations {
    margin-top: 10px;
    overflow-y: auto;
   }

   .header-content {
    display: flex;
    justify-content: space-evenly;
   }

   @media (max-width: 768px) {
    .header-content {
      flex-direction: column;
    }
   }
  }
  .low-risk {
    color: $lightGreenColor;
  }

  .mid-risk {
    color: $lightBlueColor;
  }

  .extreme-risk {
    color: $lightRedColor;
  }

  .high-risk {
    color: $yellowColor;
  }
}

@include themify($themes, true) {
  
}
