<div class="content" *ngIf="isBrokerConnected; else brokerNotConnected">
  <div class="header-content">
    <speedometer-component [score]="score"></speedometer-component>    
  </div>
  <div class="recommendations">
    <data-table [rows]="result ? result : []" [selectable]="false" [allowColumnsVisibilityChange]="false" [expandOnClick]="false" [trackByIndex]="false"
                (onDoubleClick)="doubleClicked($event)">
      <data-table-header-cell columnName="Risk" [columnWidth]="30" [columnMinWidth]="30" [sortable]="false"></data-table-header-cell>
      <data-table-header-cell columnName="Issue" [columnMinWidth]="50" [sortable]="false">Issue</data-table-header-cell>
      <data-table-header-cell columnName="Recommendation" [columnMinWidth]="50" [sortable]="false">Recommendation</data-table-header-cell>

      <data-table-cell columnName="Risk">
          <ng-template let-item>
              <span class="{{item.RiskClass | tradeGuardRiskClassPipe}}">
                <i class="fa fa-flag" aria-hidden="true"></i>
              </span>
          </ng-template>
      </data-table-cell>
      <data-table-cell columnName="Issue">
        <ng-template let-item>
          <span>
              {{item.Issue}}
          </span>
        </ng-template>
      </data-table-cell>
      <data-table-cell columnName="Recommendation">
          <ng-template let-item>
              <span>
                  {{item.Recommendation}}
              </span>
          </ng-template>
      </data-table-cell>
  </data-table>
  </div>
</div>
<ng-template #brokerNotConnected>
  <div class="broker-not-connected">Broker Not Connected</div>
</ng-template>