@import "themes/themes";
@import "mixins/themify";
@import "global-styles/variables";

:host {
  /deep/ {
    .mat-row {
      cursor: pointer;
    }
  }
  
  .broker-not-connected {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 100%;
    font-size: 12px;
    font-weight: 700;
  }
  .content {
   font-size: 12px;
   padding: 15px;
   display: flex;
   flex-direction: column;
   min-width: 340px;

   .recommendations {
    margin-top: 10px;
    overflow-y: auto;
   }

   .header-content {
    display: flex;
    justify-content: space-evenly;
   }

   @media (max-width: 768px) {
    .header-content {
      flex-direction: column;
    }
   }
  }
  .low-risk {
    color: $lightGreenColor;
  }

  .mid-risk {
    color: $lightBlueColor;
  }

  .extreme-risk {
    color: $lightRedColor;
  }

  .high-risk {
    color: $yellowColor;
  }
}

@include themify($themes, true) {
  
}
