@import "../../../../styles/themes/themes";
@import "mixins/themify";
@import "global-styles/variables";

:host {

  /deep/ {
    .component-loading {
      width: 100%;
      height: 60px;
    }
  }

  .loader {
    height: 0px;
  }

  .checklist-row {
    position: relative;
    /deep/ .mat-progress-bar {
      position: absolute;
    }

    .no-data {
      font-size: 11px;
      padding: 3px 5px;
    }

    .section-header {
      display: flex;
      justify-content: space-between;
    }

    

    .score-text {
      margin-right: 10px;
      margin-top: 1px;
      font-size: 11px;
    }
  }

  .tiles-wrapper {
    padding-top: 5px;
    max-width: 290px;
    transition: all .2s ease;
    .checklist-tile-wrapper {
      border-radius: 5px;
      transition: all .2s ease;
    cursor: pointer;
    margin: 3px;
    font-size: 10px;
    font-weight: 700;
    padding: 3px 7px;
    float: left;
    transition: all .2s ease;
      &:hover {
       // border-color: black;
      }
      .image {
        margin: 0px 3px;
      }
      .fa-check {
        color: $lightGreenColor;
      }
      .fa-exclamation {
        color: $lightRedColor;
      }
    }
  }

  .svg-arrow {
    position: absolute;
    margin-top: -15px;
    stroke: black;
  }

  .risk-text {
    position: absolute;
    font-size: 16px;
    font-weight: bolder;
    color: white;
    opacity: 0.7;
    margin-left: calc(50% - 40px);
    margin-top: 5px;
  }

  .start-point {
    position: absolute;
    font-size: 11px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 61px;
    padding: 5px;
  }

  .start-excl {
    position: absolute;
    margin-left: calc(100% - 58px);
    margin-top: 3px;
    img {
      width: 22px;
      height: 22px;
    }
  }

  .indicator-graph {
    display: inline-block;
    height: 25px;
    margin: 0px 5px;
    width: 100%;
    border: 1px solid #eee;
    background-image: linear-gradient(to right, #5eaf80, #ff644b);
    border-radius: 5px;
    margin-bottom: 10px;
  }

  /deep/ .mat-expansion-panel-body {
    padding: 10px;
    
  }  
  
  /deep/ mat-expansion-panel, mat-expansion-panel {
    border-radius: 0px;
    box-shadow: none;
  }

  

  mat-expansion-panel-header {
    border-radius: 0px;
    height: 15px !important;
    font-size: 10px;
    font-weight:700;
    box-shadow: none;
    background-color: transparent;
    // border: none;
    padding: 0px 10px;
     // border-bottom: solid 1px #f1f3f4;
     // margin-bottom: 12px;
  }

  /deep/ .instrument-search {
    padding: 0px !important;
    width: 100% !important;
  }

  .risk-overview {
    font-size: 12px;
    text-decoration: underline;
    margin-bottom: 14px;
    width: 100%;
    text-align: center;
  }

  .risk-value {
    font-weight: bolder;
  }

  .disabled {
    opacity: 0.35;
    pointer-events: none;
  }

  display: block;
  padding: 15px 15px 0;


  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: 120px;

  }
  .padding-right {

  padding-right:3px;
  }
  .padding-left {

  padding-left:3px;
  }

  .crypto-form-unit.margin-bottom{

    margin-bottom:4px !important;
    }


  .total {
    margin-bottom: 15px;
  }

  .order-side-buttons {
    margin-bottom: 8px;
  }

  .bid-text {
    color: $lightRedColor;
  }

  .ask-text {
    color: $lightGreenColor;
  }

  .submit-btn.order-side-buy {
    background: $lightGreenColor;
    color: #fff; 
    font-weight: bold;
  }

  .submit-btn.order-side-sell {
    background: $lightRedColor;
    color: #fff;
    font-weight: bold;
  }

  .order-side-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 11px;
    font-family: $primaryFontFamily;
    height: 30px;
    font-weight: 700;
    text-align: center;
    transition: all .2s ease;
    

    &.active.order-side-buy {
      background: $lightGreenColor;
      color: #fff;
    }

    &.active.order-side-sell {
      background: $lightRedColor;
      color: #fff;
    }


    &:first-of-type {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-of-type {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }


  .buttons-wrapper {
    position: relative;
  }

  .submit-btn {
    padding: 0;
    height: 32px;
    border-radius: 3px;
    margin-top: 10px;
  }

  .input-currency {
    font-size: 13px;
  }

  .orderheader {
    margin: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 3px;
    margin-bottom: -5px;
    font-size: 9px;
    font-weight: 700;
    padding-bottom: 2px;
    padding-left: 11px;
    position: relative;
  }



  .score-container {
    font-size: 11px;
    color: #ffffffd1;
    display: flex;
    padding-right:5px
  }



 .bftinput  {
    text-align: right;
    font-weight:700;
    font-size: 10px !important;
}

  hr {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}


:host-context(.#{$classPrefix}-modal) {
  padding: 0;
}


@include themify($themes, true) {

  .checklist-tile-wrapper {
    background-color: themed('tradescoreitembg');
    color: themed('tradescoreitembTextColor');
  }

  .indicator-graph {
    border-color: themed('appBackgroundColor');
  }

  .svg-arrow {
    fill: themed('titleTextColor');
  }

  .no-data {
    color: themed('valueTextColor');
  }

  .order-side-btn {
    background-color: themed('activeBackgroundColor');
    color: themed('valueTextColor');
  }

  .risk-overview {
    color: themed('valueTextColor');
  }

  .risk-overview.critical{
    color: $lightRedColor;
  }

  hr {
    border-color: themed('appBackgroundColor');
  }

  mat-expansion-panel-header {
    color: themed('order-modal-color');
   // border-color: themed('appBackgroundColor');
   border:none;
  }

  /deep/ mat-expansion-panel {
   background-color: themed('tradescoreholderbg');
   border: 1px solid themed('tradescoreSecondColor');
    border-radius: 5px;
    padding:5px;
 

  }

  span.orderpanelprefix {
    font-size: 10px;
    font-weight: 700;
    line-height: 2;
    opacity: 0.65;
    color: themed('orderpanelprefixcolor'),
}

  .nborder {
    border: 1px solid themed('niceborder');
    border-radius:5px;
}

  .orderheader {
    background: themed('inputInModalsBackgroundColor');
    color: themed('card-title');
  }

  .tradescoreholder {

    background: themed('tradescoreholderbg'); 
    min-height:110px;
  }

  .bfttradescore{
    margin-left:-15px;
    margin-right: -15px;
    margin-bottom:-15px;
    padding:0px 15px 15px 15px;
    background: themed('tradescoreholderbg'); 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 15px;
  }

  .tradescore {
    font-size: 10px !important;
    font-weight: 700;
    padding-bottom: 5px;
    padding-left: 11px;
    position: relative;
    padding-top: 8px;
    border-bottom: 1px solid themed('tradescoreSecondColor');
  }

  .bfttradescore .form-unit__label {
    color: themed('tradescorelabels');
    font-weight: 700;
    font-size:10px;
  } 


   .tradescoretext {
   font-weight: 700;
    font-size: 11px;
    color: themed('tradescoretext');
     // color:  themed('tradescoreSecondColor');
   
  } 

 
 }

.modal-body {
  @include themify($themes, true) {
    color: themed('order-modal-color');
  }
}

//d5d5dc