<div class="root">
    <div class="widget-container" [class.hidden]="collapsed">
        <div class="widget" *ngIf="SelectedComponent === Components.Sonar">
            <breakfree-trading-scanner #scanner (onOpenChart)="handleOpenChart($event)"></breakfree-trading-scanner>
        </div>
        <div class="widget" *ngIf="SelectedComponent === Components.Watchlist">
            <watchlist #watchlist (onOpenChart)="handleOpenChart($event)"></watchlist>
        </div>
        <div class="widget" *ngIf="SelectedComponent === Components.Alerts">
            <alerts (onOpenChart)="handleOpenChart($event)" #alerts></alerts>
        </div>
        <div class="widget" *ngIf="SelectedComponent === Components.Academy">
            <div class="widget-scroller">
                <academy-component [isSidebarOpenByDefault]="false"></academy-component>
            </div>
        </div>
    </div>
    <div class="widget-selector">
        <div class="top-part">
            <div class="widget-selector-linker">
                <color-selector [activeColor]="LinkerColor" [path]="'circle'"
                    (activeColorChange)='handleColorSelected($event)'>
                </color-selector>
            </div>
            <div class="widget-selector-toolbar">
                <div class="sonar-widget widget-selector-icon" (click)="selectComponent(Components.Sonar)"
                    [class.active]="SelectedComponent === Components.Sonar">
                    <i class="fa fa-th" aria-hidden="true"></i>
                </div>
                <div class="watchlist-widget widget-selector-icon" (click)="selectComponent(Components.Watchlist)"
                    [class.active]="SelectedComponent === Components.Watchlist">
                    <i class="fa fa-list" aria-hidden="true"></i>
                </div>
                <div class="alerts-widget widget-selector-icon" (click)="selectComponent(Components.Alerts)"
                    [class.active]="SelectedComponent === Components.Alerts">
                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                </div>
                <div class="academy-widget widget-selector-icon" (click)="selectComponent(Components.Academy)"
                    [class.active]="SelectedComponent === Components.Academy">
                    <i class="fa fa-book" aria-hidden="true"></i>
                </div>
                <div class="support-widget widget-selector-icon" (click)="showSupport()">
                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="bottom-part">
            <div class="widget-selector-icon" (click)="collapse()" *ngIf="!collapsed">
                <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
            </div>
            <div class="widget-selector-icon" (click)="open()" *ngIf="collapsed">
                <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>