<div class="accountInfo">
    <data-table [rows]="activeAccount ? [activeAccount] : []">
        <data-table-header-cell columnName="Id" [sortable]="true">{{'tradeManager.accountName' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Currency" [sortable]="true">{{'currency' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Balance" [sortable]="true">{{'balance' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="MarginRate" [sortable]="true">{{'tradeManager.marginRate' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="MarginUsed" [sortable]="true">{{'tradeManager.marginUsed' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="MarginAvailable" [sortable]="true">{{'tradeManager.margin' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="UnrealizedPL" [sortable]="true">{{'tradeManager.unrealized' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Pl" [sortable]="true">{{'tradeManager.realized' | translate}}</data-table-header-cell>


        <data-table-cell columnName="Id"><ng-template let-item>{{item.Id}}</ng-template></data-table-cell>
        <data-table-cell columnName="Currency"><ng-template let-item>{{item.Currency}}</ng-template></data-table-cell>
        <data-table-cell columnName="Balance"><ng-template let-item>{{item.Balance}}</ng-template></data-table-cell>
        <data-table-cell columnName="MarginRate"><ng-template let-item>{{item.MarginRate}}</ng-template></data-table-cell>
        <data-table-cell columnName="MarginUsed"><ng-template let-item>{{item.MarginUsed}}</ng-template></data-table-cell>
        <data-table-cell columnName="MarginAvailable"><ng-template let-item>{{item.MarginAvailable}}</ng-template></data-table-cell>
        <data-table-cell columnName="UnrealizedPL"><ng-template let-item>{{item.UnrealizedPL}}</ng-template></data-table-cell>
        <data-table-cell columnName="Pl"><ng-template let-item>{{item.Pl}}</ng-template></data-table-cell>
    </data-table>
</div>
