<div class="page-wrapper">
    <div class="pricingsection">
        <div class="wrapper-2">
            <div data-duration-in="300" data-duration-out="100" data-w-id="5e61cf30-be0b-048e-50fd-1661c1367252"
                class="pricing-tabs w-tabs">
                <div class="pricing-table-4">
                    <div class="plan-name-3 highlighted"><img src="assets/img/checkout/Add-a-heading-12.png"
                            loading="lazy"
                            sizes="(max-width: 479px) 87vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, 94vw"
                            srcset="assets/img/checkout/Add-a-heading-12-p-500.png 500w, assets/img/checkout/Add-a-heading-12-p-800.png 800w, assets/img/checkout/Add-a-heading-12.png 935w"
                            alt="">
                        <div class="pricing-plan-line highlighted"></div>
                    </div>
                    <div class="price-tag-4 monthly">FREE</div>
                    <div class="plan-info-4">Explore Breakfree Trading community and our
                        cutting-edge trading platform <strong>for 2-days free Pro access</strong></div>
                    <a class="button full-width w-inline-block" (click)="guestStartFreeNow()">
                        <div class="button-bg-cta"></div>
                        <div class="button-text">Start Now</div>
                    </a>
                    <div class="text-block-26"><strong class="bold-text-11">Available features:</strong></div>
                    <ul role="list" class="pricing-list-3">
                        <li class="pricing-list-item-4">
                            <div class="check-circle-icon"></div>
                            <div class="text-block-27"><strong>Breakfree Trading™ Algorithm</strong>
                                access to All Markets and Time Frames</div>
                        </li>
                        <li class="pricing-list-item-4">
                            <div class="check-circle-icon"></div>
                            <div><strong>Real-Time Trend Detection</strong><strong class="bold-text-2">
                                </strong> 2.0 <strong class="bold-text-2">— proprietary trend
                                    recognition</strong></div>
                        </li>
                        <li class="pricing-list-item-4">
                            <div class="check-circle-icon"></div>
                            <div class="text-block-41"><strong>BFT Sonar — Delivers fresh 15min, 1h, 4h and
                                    1D trade opportunities.</strong></div>
                        </li>
                        <li class="pricing-list-item-4">
                            <div class="check-circle-icon"></div>
                            <div class="text-block-41"><strong class="bold-text-10">Metatrader and Binance Bridge
                                    -</strong> place trades directly from our app</div>
                        </li>
                        <li class="pricing-list-item-4">
                            <div class="check-circle-icon"></div>
                            <div><strong class="bold-text-10">Professional-level</strong> risk management module</div>
                        </li>
                        <li class="pricing-list-item-4">
                            <div class="check-circle-icon"></div>
                            <div><strong class="bold-text-10">Automatic</strong> position size calculation</div>
                        </li>
                        <li class="pricing-list-item-4">
                            <div class="check-circle-icon"></div>
                            <div><strong class="bold-text-10">Customizable charts &amp;
                                </strong>watchlists</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>