@import "variables";
@import "../../styles/themes/themes";
@import "mixins/themify";

:host {
  ::ng-deep .mat-menu-panel {
    max-width: unset !important;
  }
  /deep/ name-avatar {
    cursor: default !important;
  }
}

.avatar {
  max-width: 80px;
  max-height: 80px;
  margin-left: 10px;
  vertical-align: middle;

  /deep/.rounded {
    border-radius: 50% !important;
  }
}

.menu-top {
  padding: 15px 15px 0px 15px;
}

.menu-bottom {
  padding: 18px;
}

.mat-menu-panel {
}

.menu-top {
  position: relative;

  .experiance {
    display: flex;
    flex-direction: column;

    .experiance-points, .experiance-level {
      display: flex;
      margin-top: 5px;
    }

    .ico {
      width: 25px;
      height: 25px;
      background-color: #707d90;
      border-radius: 50%;
      display: block;
      font-size: 12px;
      color: white;
      font-weight: bold;
      padding: 4px 5px;
      margin-right: 10px;
    }

    .ico-text {
      font-size: 12px;
      line-height: 25px;
    }
  }

  .user-settings, .log-out {
    @include themify($themes, true) {
      color: themed('titleTextColor');
    }
    ::before {
      font-size: 16px;
      margin-right: 5px;
    }
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
  }

  .functiona-menu {
      justify-content: space-between;
      margin-top: 10px;
  }

  .info {
    padding: 0px 15px;
    min-width: 120px;
    @include themify($themes, true) {
      color: themed('titleTextColor');
    }
  }

  .user-name {
    font-size: 12px;
    text-transform: capitalize;
    vertical-align: middle;
    height: fit-content;
    border-bottom: 1px solid;
    padding-bottom: 5px;
    @include themify($themes, true) {
      border-bottom-color: themed('accentLightColor');
    }
  
  }
}

.menu-bottom {
  .item {
    @include themify($themes, true) {
      color: themed('titleTextColor');
    }
    margin-bottom: 10px;

    .item-name {
      font-size: 12px;
      line-height: 1.17;
    }

    .item-value {
      font-size: 13px;
      line-height: 1.15;
    }
  }
} 


.topnewmenu {
  overflow: hidden;
  width: 200px;
  height: 25px;
  font-size:12px;
  font-weight:600;
  transition-duration: 0.22s;
  cursor: pointer;
  margin-bottom: 2px;
  transition-duration: 0.22s;
  vertical-align: middle;
  @include themify($themes, true) {
    color: themed('titleTextColor');
    
  }
}


.topnewmenu.onx:hover .innertext{
  transition-duration: 0.22s;
  font-size:13px;
  @include themify($themes, true) {
    color: themed('accentColor');
    
  }


  
}

.topnewmenu.onx:hover .innericon .fa{
  transition-duration: 0.22s;
  font-size:17px;
  @include themify($themes, true) {
    color: themed('accentColor');
    
  }


}

.topnewmenu .username .innertext{
text-transform: capitalize;

}
.topnewmenu .innericon .fa {
  font-size: 16px;
  align-content: normal;
      vertical-align: top;
}

.topnewmenu span.innericon {
  padding-right: 5px;
  vertical-align: middle;
}

.fa {
transition-duration: 0.22s;
}

