<div class="user-info-menu">
    <div class="menu-top flex flex-direction-column">
        <div class="top-line flex justify-space-between" *ngIf="isAuthorizedCustomer">
            <div class="level-container">
               
                <div class="badge-container">
                    <my-badge></my-badge>
                </div>
            </div>
            <div class="experiance-container" (click)="openMissionDialog()">
                See Quests
            </div>
        </div>
        <div class="avatar-line flex" [ngClass]="{'margin-top-negative': isAuthorizedCustomer}">
            <div class="avatar">
                <ng-container *ngTemplateOutlet="avatarTemplate || avatar"></ng-container>
            </div>
        </div>
        <div class="username-line flex justify-space-around">
            <div class="user-name">
                {{userName}}
            </div>
        </div>
        <div class="user-rank-line flex justify-space-around" *ngIf="isAuthorizedCustomer">
            <div class="user-rank">
                {{levelName}}
            </div>
        </div>
        <div class="user-level-slider-line flex" *ngIf="isAuthorizedCustomer">
            <div class="progress-bar-area flex">
                <mat-progress-bar mode="determinate" value="{{score/scoreForLevel * 100}}"></mat-progress-bar>
            </div>
            <div class="progress-bar-text flex justify-space-between">
                <div class="flex">Experience</div>
                <div class="flex">
                    <span *ngIf="isLoaded; else loading">{{score}}/{{scoreForLevel}}</span>
                    <ng-template #loading>
                        <span>Loading...</span>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="functiona-menu flex justify-content-center crypto-text is-large">
            <!-- <div class="user-settings" routerLink="/platform/settings" [class.disabled]="isGuest">
                <span title="{{'app.settings' | translate}}">{{'app.settings' | translate}}</span>
            </div>  -->
            <div class="clear-session" [class.disabled]="isGuest" (click)="clearSession()">
                <span title="{{'app.clearSession' | translate}}">{{'app.clearSession' | translate}}</span>
            </div>
            <div class="reset-layout" (click)="resetLayout()">
                <span title="{{'app.resetLayout' | translate}}">{{'app.resetLayout' | translate}}</span>
            </div>
            <div class="log-out" (click)="onLoginClick()" *ngIf="isGuest; else logout">
                <span title="{{'app.login' | translate}}">{{'app.login' | translate}}</span>
            </div>
            <ng-template #logout>
                <div class="log-out" (click)="onLogoutClick()">
                    <span title="{{'app.logout' | translate}}">{{'app.logout' | translate}}</span>
                </div>
            </ng-template>
        </div>
        <!-- <div class="menu-top-inner w-100">
           <div class="avatar">
               <ng-container *ngTemplateOutlet="avatarTemplate || avatar"></ng-container>
           </div>
           <div class="info">
                <div class="user-name">
                    {{userName}}
                </div>
            </div>
        </div>
        <div class="functiona-menu flex justify-content-center crypto-text is-large">
            <div class="user-settings" routerLink="/platform/settings">
                <span title="{{'app.settings' | translate}}">{{'app.settings' | translate}}</span>
            </div> 
            <div class="reset-layout" (click)="resetLayout()">
                <span title="{{'app.resetLayout' | translate}}">{{'app.resetLayout' | translate}}</span>
            </div>
            <div class="log-out" (click)="onLogoutClick()">
                <span title="{{'app.logout' | translate}}">{{'app.logout' | translate}}</span>
            </div>
        </div> -->
    </div>

    <ng-template #avatar>
        <name-avatar [name]="userName" [src]="userId" [shape]="UserAvatarShape.Rounded"></name-avatar>
    </ng-template>
</div>