@import "variables";
@import "../../styles/themes/themes";
@import "mixins/themify";

:host {
  ::ng-deep .mat-menu-panel {
    max-width: unset !important;
  }
  /deep/ name-avatar {
    cursor: default !important;
  }
}

.avatar {
  min-width: 20px;
  max-width: 30px;
  height: 30px;
  padding-left:5px;
    vertical-align: middle;
}

.menu-top {
  padding: 15px;
  
}

.menu-bottom {
  padding: 18px;
}

.mat-menu-panel {
}

.menu-top {
  position: relative;

  .user-settings {

    
  }

  .log-out {
    margin-left: 60px;
    margin-right: -4px;
    margin-top: -4px;
  }

  .user-name {

    font-size:12px;
    text-transform: capitalize;
    padding-left:5px;
    vertical-align: middle;



    @include themify($themes, true) {
      color: themed('titleTextColor');
    }
  }
}

.menu-bottom {
  .item {
    @include themify($themes, true) {
      color: themed('titleTextColor');
    }
    margin-bottom: 10px;

    .item-name {
      font-size: 12px;
      line-height: 1.17;
    }

    .item-value {
      font-size: 13px;
      line-height: 1.15;
    }
  }
} 


.topnewmenu {
  overflow: hidden;
  width: 200px;
  height: 25px;
  font-size:12px;
  font-weight:600;
  transition-duration: 0.22s;
  cursor: pointer;
  margin-bottom: 2px;
  transition-duration: 0.22s;
  vertical-align: middle;
  @include themify($themes, true) {
    color: themed('titleTextColor');
    
  }
}


.topnewmenu.onx:hover .innertext{
  transition-duration: 0.22s;
  font-size:13px;
  @include themify($themes, true) {
    color: themed('accentColor');
    
  }


  
}

.topnewmenu.onx:hover .innericon .fa{
  transition-duration: 0.22s;
  font-size:17px;
  @include themify($themes, true) {
    color: themed('accentColor');
    
  }


}

.topnewmenu .username .innertext{
text-transform: capitalize;

}
.topnewmenu .innericon .fa {
  font-size: 16px;
  align-content: normal;
      vertical-align: top;
}

.topnewmenu span.innericon {
  padding-right: 5px;
      vertical-align: middle;
}

.fa {
transition-duration: 0.22s;
}

