<div class="user-info-menu">
    <div class="menu-top flex flex-direction-column justify-content-center">
        <div class="flex justify-space-between w-100">
           <div class="avatar">
               <ng-container *ngTemplateOutlet="avatarTemplate || avatar"></ng-container>
           </div>
           <div class="info">
                <div class="user-name">
                    {{userName}}
                </div>
                <div class="experiance">
                    <div class="experiance-points">
                        <span class="ico">XP</span>
                        <span class="ico-text">{{score}}/{{scoreForLevel}}</span>
                    </div>  
                    <div class="experiance-level">
                        <span class="ico">LV</span>
                        <span class="ico-text">{{level}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="functiona-menu flex justify-content-center crypto-text is-large">
            <div class="user-settings" routerLink="/platform/settings">
                <span title="{{'app.settings' | translate}}">{{'app.settings' | translate}}</span>
            </div> 
            <div class="reset-layout" (click)="resetLayout()">
                <span title="{{'app.resetLayout' | translate}}">{{'app.resetLayout' | translate}}</span>
            </div>
            <div class="log-out" (click)="onLogoutClick()">
                <span title="{{'app.logout' | translate}}">{{'app.logout' | translate}}</span>
            </div>
        </div>
    </div>

    <ng-template #avatar>
        <name-avatar [name]="userName" [src]="userId" [shape]="UserAvatarShape.Rounded"></name-avatar>
    </ng-template>
</div>
