<ng-container *ngIf="(brokerInitState$ | async) !== null; else loader">
    <div class="withdraws" *ngIf="activeBroker$ | async as broker; else broker_not_connected">
        <ng-container *ngIf="broker.activeWallet$ | async as wallet; else no_active_wallet">
            <div class="section flex justify-space-between align-items-center">
                <span>{{"withdraws" | translate}} {{wallet?.currency}}</span>
                <span>
                <i class="crypto-icon crypto-icon-midle-add" (click)="addWithdraw()"></i>
            </span>
            </div>
            <div class="withdraws-table" *ngIf="getWithdrawsObs(wallet) | async as withdraws; else loader">
                <data-table [rows]="withdraws" class="new-table">
                    <data-table-header-cell [columnWidth]="200" columnName="created_at" [sortable]="true">
                        {{'level2.time' | translate}}
                    </data-table-header-cell>
                    <data-table-header-cell [columnWidth]="300" columnName="address">
                        {{'tradeManager.address' | translate}}
                    </data-table-header-cell>
                    <data-table-header-cell [columnWidth]="150" columnName="amount" [sortable]="true">
                        {{'amount' | translate}}
                    </data-table-header-cell>
                    <data-table-header-cell [columnWidth]="150" columnName="fee" [sortable]="true">
                        {{'tradeManager.fee' | translate}}
                    </data-table-header-cell>
                    <data-table-header-cell [columnWidth]="200" columnName="state" [sortable]="true">
                        {{'tradeManager.status' | translate}}
                    </data-table-header-cell>

                    <data-table-cell columnName="created_at">
                        <ng-template let-item>
                            {{item.created_at | formatDate:'YYYY/MM/DD HH:mm:ss'}}
                        </ng-template>
                    </data-table-cell>

                    <data-table-cell columnName="state">
                        <ng-template let-item class="flex justify-space-between">
                <span [ngClass]="{
                    'canceled': item.state === ETransactionState.Canceled,
                    'completed': item.state === ETransactionState.Completed || item.state === ETransactionState
                }">
                    {{item.state}}
                </span>
                            <button class="crypto-button btn-cancel"
                                    *ngIf="item.state === ETransactionState.
                                Pending || item.state === ETransactionState.Confirmed"
                                    (click)="cancelWithdraw(item)">Close
                            </button>
                        </ng-template>
                    </data-table-cell>
                </data-table>
            </div>
        </ng-container>
    </div>
</ng-container>

<ng-template #loader>
    <bft-loader></bft-loader>
</ng-template>

<ng-template #no_active_wallet>
    <placeholder [message]="'tradeManager.noActiveWallet' | translate "></placeholder>
</ng-template>

<ng-template #broker_not_connected>
    <placeholder [message]="'tradeManager.connectToBroker' | translate"></placeholder>
</ng-template>
