@import "../../../../global-styles/themes/themes";
@import "../../../../global-styles/mixins/themify";

:host {
  width: 100%;
}

.withdraws {
  //overflow: auto;
  height: 100%
  //height: 650px;
}

.withdraws-table {
  height: 100%;
  overflow: auto;
  max-height: calc(100% - 59px);
}


.section {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 9px;
  padding: 0 20px;
}

.small-column {
  width: 60px;
}

.middle-column {
  width: 120px;
}

.action {
  color: #687e96;
  cursor: pointer;
  
  &:hover {
    color: #5d7287;
    text-decoration: underline;
  }
}

.crypto-icon {
  font-size: 20px;
  cursor: pointer;
}

.btn-cancel {
  border-radius: 5px;
  height: 26px;
  line-height: 0;
  float: right;
}

@include themify($themes, true) {
  .section {
    background-color: themed('appPanelColor');
    color: themed('titleTextColor');
  }

  .btn-cancel {
    background-color: themed('rejectButtonBackgroundColor');
    color: themed('valueTextColor');
  }

  .canceled {
    color: themed('warning');
  }

  .completed {
    color: themed('buyColor');
  }

    /deep/ .mat-row {
      .mat-cell:nth-child(3), .mat-cell:nth-child(4) {
        color: themed('valueTextColor') !important;
      }
  }

}
