<div class="accountInfo">
    <data-table [rows]="filteredAccounts" [selectable]="true" [allowColumnsVisibilityChange]="false"
        [expandOnClick]="false" [selectedRow]="selectedItem" (onRowSelect)="selectItem($event)">
        <data-table-header-cell columnName="State" [columnWidth]="1" [sortable]="false"></data-table-header-cell>
        <data-table-header-cell columnName="Account" [sortable]="true">{{'broker.account' |
            translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Server" [sortable]="false">{{'broker.server' |
            translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Close" [sortable]="false" [columnWidth]="32"></data-table-header-cell>

        <data-table-cell columnName="State">
            <ng-template let-item>
                <div class="color-column" [ngClass]="{'active': isActiveAccount(item)}"></div>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="Account"><ng-template let-item>
                <span [ngClass]="{'active-broker': isActiveAccount(item)}">{{item.account}}</span>
            </ng-template></data-table-cell>
        <data-table-cell columnName="Server"><ng-template let-item>
                <span [ngClass]="{'active-broker': isActiveAccount(item)}">{{item.server}}</span>
            </ng-template></data-table-cell>

        <data-table-cell columnName="Close">
            <ng-template let-item>
                <div class="flex justify-content-center">
                    <div class="close-order-button" (click)="removeSavedAccount(item)">
                        <i class="crypto-icon crypto-icon-close"></i>
                    </div>
                </div>
            </ng-template>
        </data-table-cell>

    </data-table>
</div>