@import "../variables";
@import "../themes/themes";
@import "../mixins/themify";

$tagColor: #3d61cc;
$tagBgColor: rgba(61, 97, 204, 0.2);

%tag-shared {
  padding: 4px 11px;
  border-radius: 3px;
  background-color: $tagBgColor;
  color: $tagColor;
  font-size: 14px;
  font-family: $primaryFontFamily;
  line-height: 16px;
}

.#{$classPrefix}-tag {
  @extend %tag-shared;

  width: max-content;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.is-small {
    font-size: 13px;
    line-height: 16px;
    padding: 3px 8px;
    display: inline-block;
  }
}

