@import "../variables";
@import "../mixins/themify";
@import "../themes/themes";
@import "./textarea-variables";

textarea.#{$classPrefix}-textarea {
  width: 100%;
  outline: none;
  font-size: 13px !important;
  font-family: $primaryFontFamily;
  padding: $textarea-padding !important;

  &.no-resize {
    resize: none;
  }

  &.no-horizontal-resize {
    resize: vertical;
  }

  &.no-vertical-resize {
    resize: horizontal;
  }

  @include themify($themes) {
    color: themed('valueTextColor');
    background-color: themed('inputBackgroundColor');
    border-color: themed('textareaBorderColor');
  }
}
.crypto-modal {
  textarea.#{$classPrefix}-textarea {
    @include themify($themes) {
      background-color: themed('inputInModalsBackgroundColor');
    }
  }
}
