<div class="crypto-modal">
    <div class="content">
        <div class="basic card">
            <span class="header-text">BASIC</span>
            <div class="header-line"></div>
            <div class="header-price">Free</div>
            <div class="header-desc">Start for free, see what we have to offer</div>
            <div class="header-checkout">
            </div>
            <div class="header-features">
                <div class="feature"><span class="sign">&#10004;</span>Breakfree Trading Navigator</div>
                <div class="feature"><span class="sign">&#10004;</span>Realtime market data</div>
                <div class="feature"><span class="sign">&#10004;</span>Multi charting</div>
                <div class="feature"><span class="sign">&#10004;</span>Charting tools</div>
                <div class="feature"><span class="sign">&#10004;</span>Great support</div>
            </div>
        </div>
        <div class="discovery card">
            <span class="header-text">DISCOVERY</span>
            <div class="header-line"></div>
            <div class="header-price">$69</div>
            <div class="header-desc">All features in Free + following exclusives</div>
            <div class="header-checkout">
                <div class="header-checkout-btn" (click)="checkoutDiscovery1M()">Get 1 Month <span class="save">7-day trial</span></div>
                <div class="header-checkout-btn" (click)="checkoutDiscovery3M()">Get 3 Month <span class="save">Save 60$</span></div>
                <div class="header-checkout-btn" (click)="checkoutDiscovery12M()">Get 1 Year <span class="save">Save 273$</span></div>
            </div>
            <div class="header-features">
                <div class="feature"><span class="sign">&#10004;</span>BFT Algo on all Forex markets</div>
                <div class="feature"><span class="sign">&#10004;</span>BFT Sonar 1H-1W</div>
                <div class="feature"><span class="sign">&#10004;</span>BFT X-Mode 1H-1W</div>
                <div class="feature"><span class="sign">&#10004;</span>Watch lists</div>
                <div class="feature"><span class="sign">&#10004;</span>MetaTrader Bridge</div>
            </div>
        </div>
        <div class="pro card">
            <span class="header-text">PRO</span>
            <div class="header-line"></div>
            <div class="header-price">$199</div>
            <div class="header-desc">All in Discovery plus</div>
            <div class="header-checkout">
                <div class="header-checkout-btn" (click)="checkoutPro1M()">Get 1 Month <span class="save">7-day trial</span></div>
                <div class="header-checkout-btn" (click)="checkoutPro3M()">Get 3 Month <span class="save">Save 200$</span></div>
                <div class="header-checkout-btn" (click)="checkoutPro12M()">Get 1 Year <span class="save">Save 1200$</span></div>
            </div>
            <div class="header-features">
                <div class="feature"><span class="sign">&#10004;</span>BFT Algo on all world markets</div>
                <div class="feature"><span class="sign">&#10004;</span>BFT Sonar 15Min-1W</div>
                <div class="feature"><span class="sign">&#10004;</span>BFT X-Mode 15Min-1W</div>
                <div class="feature"><span class="sign">&#10004;</span>BFT Sonar history</div>
                <div class="feature"><span class="sign">&#10004;</span>Personalized Support</div>
            </div>
        </div>
    </div>
</div>