<data-table [rows]="items">
    <data-table-header-cell columnName="Id" [sortable]="true">{{'tradeManager.orderId' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Symbol" [sortable]="true">{{'symbol' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Side" [sortable]="true">{{'side' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Type" [sortable]="true">{{'type' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Size" [sortable]="true">{{'size' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Price" [sortable]="true">{{'tradeManager.openPrice' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="CurrentPrice" [sortable]="true">{{'tradeManager.currentPrice' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="SL" [sortable]="true">{{'tradeManager.SL' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="TP" [sortable]="true">{{'tradeManager.TP' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="pipPl" [sortable]="true">{{'tradeManager.pipPl' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="OpenTime" [sortable]="true">{{'tradeManager.openTime' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Status" [sortable]="true">{{'status' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Comment" [sortable]="false">{{'tradeManager.comment' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="close" [columnWidth]="30"></data-table-header-cell>

    <data-table-cell columnName="Id">
        <ng-template let-item>{{item.Id}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="Symbol">
        <ng-template let-item>{{item.Symbol}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="Side">
        <ng-template let-item>
            <order-side [side]="item.Side"></order-side>
        </ng-template>
    </data-table-cell>
    <data-table-cell columnName="Type">
        <ng-template let-item>{{item.Type}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="Size">
        <ng-template let-item>{{item.Size}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="Price">
        <ng-template let-item>{{item.Price}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="CurrentPrice">
        <ng-template let-item>{{item.CurrentPrice}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="SL">
        <ng-template let-item>{{item.SL}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="TP">
        <ng-template let-item>{{item.TP}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="pipPl">
        <ng-template let-item>{{item.PipPL}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="OpenTime">
        <ng-template let-item>{{item.Time | utcSecondsToLocal | formatDate:'YYYY/MM/DD HH:mm'}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="Status">
        <ng-template let-item>{{item.Status}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="Comment">
        <ng-template let-item>{{item.Comment}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="close">
        <ng-template let-item>
            <div class="flex justify-content-center">
                <trading-close-button  (click)="closeOrder(item)"></trading-close-button>
            </div>
        </ng-template>
    </data-table-cell>
</data-table>
