@import "global-styles/variables";
@import "global-styles/mixins/themify";
@import "global-styles/themes/themes";

.watchlist-tile {
  &.up {
    .price-change {
      color: $greenColor !important;
    }
  }

  &.down {
    .price-change {
      color: $redColor !important;
    }
  }
}

.tile-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
}


.instrument, .price-column {
  margin: 0 30px;
}

.tile-header {
  font-size: 10px;
  font-weight:700;
}


@include themify($themes, true) {
  .watchlist-tile {
   background-color: themed('tableBorders');
    border-radius: 5px;
    color: themed('valueTextColor');
    overflow:hidden;


    .instrument, .price-value, .price-change {
      color: themed('valueTextColor');
    }
    .name-exchange {
      color: themed('titleTextColor');
    }
  }
  .selected {
    border: 1px solid themed('accentColor') !important;
  }
}



.watchlist-tile-wrapper

{
 border: 2px solid transparent;
}


.watchlist-tile-wrapper:hover

{
 border: 2px solid #fff;
}




.tile-header .name-symbol {
  display: inline-block;
  float: left;
      font-weight: bold;
  padding-left: 5px;
  padding-top: 5px;
  overflow: hidden;
  max-width:100%;
}



canvas.chartjs-render-monitor {
  background-color: #000;
}


.price-change {
  float: right;
  font-size: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
  max-width: 42%;
  font-weight: bold;
}

.price-value {
  float: left;
  font-size: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  max-width: 58%;
  overflow: hidden;
  font-weight: bold;
}

.tile-footer {

  height: 30px;
  margin-bottom: 5px;
  font-weight: bold;
  margin-top: 45px;
}

  
