:host{
    .root{
 
        max-height:441px;
        height: 100%;
        border-radius: 6px;
        background: #000;
        border-bottom:0px solid transparent;
        color: #fff;
        width: 100%;
    }

    .header{
        padding-left: 6px;
        padding-top: 6px;
        height: 36px;
       
    }
    .header-name{
        font-size: 12px;
        color: #fff;
       
    }

    .chart-wrapx{
        min-height: 320px;
        max-height:570px;
        overflow: hidden;
      
    }



    @media screen and (max-width: 500px) {

        .chart-wrapx{
            height: 222px !important;
            max-height:222px;
            min-height: 144px;
            overflow: hidden;
          
       
    }
}
    
}