:host{
    .root{
        padding: 6px 9px;
        max-height:350px;
        height: 100%;
        border-radius: 6px;
        background: #fefffe;
        border-bottom:0px solid transparent;
    }

    .header{
        padding-left: 12px;
    padding-top: 6px;
       
    }
    .header-name{
        font-size: 11px;
        color: #474d57;
        font-weight: 700;
    }

    .chart-wrapx{
        height: 250px;
        overflow: hidden;
      
    }



    @media screen and (max-width: 500px) {

        .chart-wrapx{
            height: 150px;
            overflow: hidden;
          
       
    }
}
    
}