<div class="content">
  <div class="wrapper">
    <div class="gauge">
      <div class="slice-colors">
        <div class="st slice-item"></div>
        <div class="st slice-item"></div>
        <div class="st slice-item"></div>
        <div class="st slice-item"></div>
        <div class="st slice-item"></div>
      </div>
      <span class="needle" [ngClass]="scoreClass"></span>
      <div class="gauge-center">
        <div class="score">
          <div>{{score}}/5</div>
          <div class="score-title">Account Score</div>
        </div>
      </div>
    </div>
  </div>
</div>