<!--<div class="add-link-dialog-wrapper" *ngIf="visible">-->
<!--    <div class="add-link-dialog">-->
<!--        <p class="title" [translate]="'qaInput.addLinkModal.insertHyperlink'"></p>-->
<!--        <input #linkInput type="text" class="form-control" value="http://" (keydown)="onInput($event)">-->
<!--        <div class="btn-wrapper">-->
<!--            <div class="btn submit" (click)="submit()" [translate]="'qaInput.addLinkModal.ok'"></div>-->
<!--            <div class="btn cancel" (click)="cancel()" [translate]="'qaInput.addLinkModal.cancel'"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->