@import "global-styles/themes/themes";
@import "global-styles/mixins/themify";
@import "global-styles/variables";
@import "themes/themes";
@import "mixins/themify";

:host {
    width: 100%;
    height: 100%;
    position: relative;

    .tcd-component, .tcd-component-host {
        width: 100%;
        height: 100%;
    }

    .play-button {
        width: 40px !important;
        height: 40px !important;
        font-size: 34px;
        display: inline-flex;
        background: #d8d8d82e;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        bottom: calc(50% - 20px);
        margin: 0px;
        padding: 0px;
        right: 50px;
        cursor: pointer;
        z-index: 100;
    }

    .loading-text {
        position: absolute;
        top: 50%;
        left: calc(50% - 36px);
        font-size: 18px;
    }
}

@include themify($themes, true) {
}
