@import "../../styles/variables";
@import "global-styles/variables";

.post-btn {
  font-size: 12px;
  width: 150px;
}

.title {
  font-size: 13px;
  font-family: $primaryFontFamily;
  color: $primeColor;
}

textarea {
  font-size: 13px;
  min-height: 75px;
}