<div class="positions">
    <data-table [rows]="items" [blinking]="blinking" [selectable]="true" [allowColumnsVisibilityChange]="true" [expandOnClick]="false" 
        [selectedRow]="selectedItem" (onRowSelect)="selectItem($event)" (onDoubleClick)="doubleClicked($event)"
        [hiddenColumns]="['Net Risk']"
        (onContextMenuSelected)="handleContextMenuSelected($event)">
        <data-table-header-cell columnName="Side" [columnWidth]="1" [columnMinWidth]="1" [sortable]="false"></data-table-header-cell>
        <data-table-header-cell columnName="Symbol" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'symbol' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Size" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'size' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Price" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.entryPrice' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Current Price" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.currentPrice' | translate}}</data-table-header-cell>
        <!-- <data-table-header-cell columnName="Margin Ratio" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.marginRatio' | translate}}</data-table-header-cell> -->
        <!-- <data-table-header-cell columnName="Margin" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.margin' | translate}}</data-table-header-cell> -->
        <!-- <data-table-header-cell columnName="Mnt. Margin" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.mntMargin' | translate}}</data-table-header-cell> -->
        <!-- <data-table-header-cell columnName="Leverage" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.leverage' | translate}}</data-table-header-cell> -->
        <data-table-header-cell columnName="PNL" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.pnl' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="LiqPrice" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.liqPrice' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Net Risk" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.risk' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Risk (%)" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.riskP' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Close" [columnMinWidth]="36"></data-table-header-cell>
    

        <data-table-cell columnName="Side">
            <ng-template let-item>
                <div class="color-column" [ngClass]="{'side-buy': item.Side === OrderSide.Buy, 'side-sell': item.Side === OrderSide.Sell}"></div>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="Symbol">
            <ng-template let-item><span class="symbol-column">{{item.Symbol}}</span></ng-template>
        </data-table-cell>
        <data-table-cell columnName="Size">
            <ng-template let-item>
                <div [ngClass]="{'side-buy': item.Side === OrderSide.Buy, 'side-sell': item.Side === OrderSide.Sell}">{{item.Size.toFixed(2)}}</div>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="Price">
            <ng-template let-item>{{item.Price?.toFixed(getDecimals(item.Symbol))}}</ng-template>
        </data-table-cell>
        <data-table-cell columnName="Current Price">
            <ng-template let-item>{{item.CurrentPrice?.toFixed(getDecimals(item.Symbol))}}</ng-template>
        </data-table-cell>
        <!-- <data-table-cell columnName="Margin">
            <ng-template let-item>{{item.Margin?.toFixed(2)}}</ng-template>
        </data-table-cell> -->
        <!-- <data-table-cell columnName="Mnt. Margin">
            <ng-template let-item>{{item.MaintMargin?.toFixed(2)}}</ng-template>
        </data-table-cell> -->
        <!-- <data-table-cell columnName="Leverage">
            <ng-template let-item>{{item.Leverage?.toFixed(2)}}</ng-template>
        </data-table-cell> -->
        <data-table-cell columnName="PNL">
            <ng-template let-item>
                <span [ngClass]="{'positive-value': item.NetPL > 0, 'negative-value': item.NetPL < 0}">
                    {{item.NetPL?.toFixed(getDecimals(item.Symbol))}}
                </span>
            </ng-template>
        </data-table-cell>

        <data-table-cell columnName="LiqPrice">
            <ng-template let-item>{{item.LiquidationPrice ? item.LiquidationPrice.toFixed(getDecimals(item.Symbol)) : "-"}}</ng-template>
        </data-table-cell>

        <data-table-cell columnName="Net Risk">
            <ng-template let-item>{{item.Risk ? item.Risk.toFixed(2) : '-'}}</ng-template>
        </data-table-cell>
        <data-table-cell columnName="Risk (%)">
            <ng-template let-item>
                <span class="{{item.RiskClass | currencyGuardRiskClassPipe}}">
                    {{item.RiskClass | currencyGuardRiskPipe}} {{item.RiskPercentage ? '(' + item.RiskPercentage.toFixed(2) + '%)' : ''}}
                </span>
            </ng-template>
        </data-table-cell>

        <data-table-cell columnName="Close">
            <ng-template let-item>
                <div class="flex justify-flex-end">
                    <trading-close-button  (click)="closePosition(item)"></trading-close-button>
                </div>
            </ng-template>
        </data-table-cell>

        <data-table-menu-item [id]="'closePosition'">
            <ng-template>
                {{'tradeManager.closePosition' | translate}}
            </ng-template>
        </data-table-menu-item>
        <data-table-menu-item [id]="'view'">
            <ng-template>
                {{'tradeManager.viewChart' | translate}}
            </ng-template>
        </data-table-menu-item>
    </data-table>
    
</div>
