:host{
    .root{
        padding: 15px;
        margin: 15px;
        box-shadow: rgba(11, 14, 17, 0.08) 0px 2px 4px;
        border-radius: 4px;
        background: rgb(255, 255, 255);
        border-bottom:0px solid transparent;
    }

    .header{
        margin-bottom: 15px;        
    }
    .header-name{
        font-size: 11px;
        color: rgb(71, 77, 87);
        font-weight: 700;
        margin-left:5px;
    }
}