:host{
    .root{
        padding: 10px;
        margin: 10px;
        background-color: white;
    }

    .header{
        margin-bottom: 10px;        
    }
    .header-name{
        font-size: 13px;
        font-weight: bold;
    }
}