<div class="crypto-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()"><i class="crypto-icon crypto-icon-close"></i></button>
            <h4 class="modal-title">{{'withdraw' | translate}}</h4>
        </div>
        <div class="modal-body">
            <form class="form-wrapper" [formGroup]="withdrawForm">
                <div class="crypto-form-unit">
                    <div class="form-unit__label">{{'tradeManager.destinationAddress' | translate}}:</div>
                    <mat-form-field class="crypto-input with-hint full-width">
                        <input matInput class="input crypto-input crypto-input-address" formControlName="address">
                        <mat-error [formError]="'address'"></mat-error>
                    </mat-form-field>
                </div>

                <div class="crypto-form-unit">
                    <div class="form-unit__label">{{"amount" | translate}}:</div>
                    <div class="flex">
                        <mat-form-field class="crypto-input with-hint full-width">
                            <input matInput class="input crypto-input" formControlName="amount">
                            <mat-hint>
                                <small class="crypto-caption">{{'tradeManager.maxWithdraw' | translate}}
                                    -   {{balance}} {{currency}}</small>
                            </mat-hint>
                        </mat-form-field>
                        <button (click)="withdrawAll()"
                                class="crypto-button crypto-button_action withdraw-all-btn">{{'tradeManager.withdrawAll' | translate}}</button>
                    </div>
                </div>

                <div class="crypto-form-unit" *ngIf="feeInputRequired">
                    <div class="form-unit__label">{{"tradeManager.fee" | translate}}:</div>
                    <mat-form-field class="crypto-input with-hint full-width">
                        <input matInput class="input crypto-input" formControlName="fee">
                        <mat-error [formError]="'address'"></mat-error>
                    </mat-form-field>
                </div>

                <div class="crypto-form-unit" *ngIf="pinInputRequired">
                    <div class="form-unit__label">{{"tradeManager.twoStepAuthPin" | translate}}:</div>
                    <pin-input formControlName="pin"
                               [description]="'tradeManager.twoStepAuthDesc' | translate"></pin-input>
                </div>
                <div class="flex justify-flex-end m-top-10">
                    <button [disabled]="withdrawForm.invalid" (click)="withdraw()"
                            class="crypto-button crypto-button_primary">{{'tradeManager.processWithdraw' | translate}}</button>
                </div>
            </form>
            <table class="crypto-table_ellipsis crypto-table crypto-table_striped">
                <thead>
                <tr>
                    <th class="title crypto-caption" colspan="2">{{'time' | translate}}</th>
                    <th class="title crypto-caption" colspan="2">{{'tradeManager.address' | translate}}</th>
                    <th class="title crypto-caption">{{'amount' | translate}}</th>
                    <th class="title crypto-caption">{{'tradeManager.fee' | translate}}</th>
                    <th class="title crypto-caption">{{'status' | translate}}</th>
                    <td class="cancel-withdraw-column"></td>
                </tr>
                </thead>
                <tbody class="table-body">
                <tr *ngFor="let withdraw of withdraws; trackBy: trackByID">
                    <td colspan="2">{{getFormattedDate(withdraw.created_at)}}</td>
                    <td colspan="2">{{withdraw.address}}</td>
                    <td>{{withdraw.amount}}</td>
                    <td>{{withdraw.fee}}</td>
                    <td>{{withdraw.state}}</td>
                    <td class="cancel-withdraw-column">
                        <button class="crypto-button-delete close-order-button"
                                *ngIf="withdraw.state === ETransactionState.
                                Pending || withdraw.state === ETransactionState.Confirmed"
                              (click)="cancelWithdraw(withdraw)">
                          <i class="crypto-icon crypto-icon-close"></i>
                      </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
