<div class="flex justify-content-center align-items-center svg-image">
    <a href="https://www1.oanda.com" target="_blank">
        <img src="assets/img/oanda-vector-logo.svg" alt="Oanda broker">
    </a>
</div>
 
<div class="connected-broker-area">
    <form [formGroup]="addAccountForm">
        <div class="mat-form-field-wrapper crypto-form-unit">
            <span class="form-unit__label">{{'broker.accessToken' | translate}}:</span>
            <input type="text" class="full-width crypto-input oandaTokenInput" formControlName="accessToken"
                   placeholder="{{'broker.accessToken' | translate}}" *ngIf="!brokerConnected">
            <span *ngIf="brokerConnected">{{activeAccount}}</span>
        </div>
    </form>
</div>


<div class="connectBrokerBlock">
    <button class="crypto-button crypto-button_primary w-100" (click)="connect()" *ngIf="!brokerConnected">
        {{'broker.connect' | translate}}
    </button>
    <button class="crypto-button crypto-button_primary w-100" (click)="disconnect()" *ngIf="brokerConnected">
        {{'broker.disconnect' | translate}}
    </button>
</div>

<hr  *ngIf="brokerConnected">

<loader *ngIf="showSpinner"></loader>

