@import "../../../styles/themes/themes";
@import "mixins/themify";
@import "global-styles/variables";

:host {
  flex-grow: 1;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: auto;
  flex-direction: column;

  // /deep/ .mat-tab-label {
  //   height: 26px !important;
  // }
  // /deep/ mat-header-cell {
  //   height: 25px;
  // }
  // /deep/ mat-row {
  //   height: 25px;
  // }
  /deep/ mat-table {
    min-width: 650px;
  }
}

@include themify($themes, true) {
  /deep/ mat-row:nth-child(even) {
    background-color: themed("nthChild") !important;
  }

  /deep/ .mat-tab-header-pagination-chevron {
    border-color: themed("valueTextColor");
  }
}
