<div class="wallets-list">
        <mat-radio-group [value]="(activeWallet$ | async).address" class="flex flex-direction-column" (change)="onSelect($event)">
            <div *ngFor="let wallet of (getWalletsObs() | async); let lastWallet = last; trackBy: trackBy" class="wallet-item">
                <mat-radio-button [value]="wallet.address">
                    <div class="flex flex-direction-column align-items-start">
                        <div class="wallet-name">
                            {{'wallet' | translate}}
                            {{wallet.currency}}
                        </div>
                        <div class="wallet-balance">
                            {{wallet.balance}}
                        </div>
                    </div>
                </mat-radio-button>
                <div *ngIf="!lastWallet" class="delimiter"></div>
            </div>
        </mat-radio-group>
</div>
