<div class="crypto-modal">


    <div class="modal-header mtbheader">
           


    </div>

    <div class="modal-content mtbcontent">
     

        <div class="modal-body">
            <!-- <ng-container [ngSwitch]="applicationType">
                <ng-container *ngSwitchCase="ApplicationType.Stock">
                </ng-container>
                <ng-container *ngSwitchCase="ApplicationType.Crypto">
                    <ng-container [ngSwitch]="brokerType">
                        <bitmex-broker-login-component
                                *ngSwitchCase="EBrokerInstance.BitmexBroker"></bitmex-broker-login-component>
                    </ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="ApplicationType.Forex">
                    <ng-container [ngSwitch]="brokerType">
                        <oanda-broker-login *ngSwitchCase="EBrokerInstance.OandaBroker"></oanda-broker-login>
                        <mt-broker-login *ngSwitchCase="EBrokerInstance.MT5"></mt-broker-login>
                    </ng-container>
                </ng-container>
            </ng-container> -->
            <div *ngIf="isTradingAllowed; else outOfAccess">
                <ng-container [ngSwitch]="brokerType">
                    <oanda-broker-login [policyAccepted]="policyAccepted" *ngSwitchCase="EBrokerInstance.OandaBroker">
                    </oanda-broker-login>
                    <mt-broker-login [brokerInstance]="EBrokerInstance.MT5" [policyAccepted]="policyAccepted" *ngSwitchCase="EBrokerInstance.MT5">
                    </mt-broker-login>
                    <mt-broker-login [brokerInstance]="EBrokerInstance.MT4" [policyAccepted]="policyAccepted" *ngSwitchCase="EBrokerInstance.MT4">
                    </mt-broker-login>
                </ng-container>
                <div class="policy-agreement-wrapper">
                    <span>
                        <input type="checkbox" id="accept-broker-policy" [(ngModel)]="policyAccepted">
                        <label for="accept-broker-policy">I accept the</label>
                    </span>
                    <span>
                        <a (click)="privacyPolicy()">Terms Of Use & Privacy Policy</a>
                    </span>
                </div>
            </div>
            <ng-template #outOfAccess>
                <div *ngIf="isDemoAllowed; else upgradeSubscription">
                    <div class="out-of-access">
                      
                        <div class="text">
                            <a class="typeform-share button" href="https://form.typeform.com/to/MxuaQLwU" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#000000;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:21px;line-height:52.5px;text-align:center;margin:0;height:52.5px;padding:0px 35px;border-radius:4px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Apply for Beta Program </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
                        </div>
                    </div>
                </div>
                <ng-template #upgradeSubscription>
                    <div class="out-of-access">
                        <div class="image">
                            <img class="BFTimage" src="assets/img/bftnavigatorlogo.svg">
                        </div>
                        <div class="text">
                            Upgrade your subscription to get access for trading.
                        </div>
                    </div>
                </ng-template>
            </ng-template>
        </div>
    </div>
</div>