@import "mixins/themify";
@import "themes/themes";
@import "global-styles/variables";

:host {
  .out-of-access{ 
    .text {
      margin: 20px 0px;
      text-align: center;
    }
  }
  .crypto-modal {
    div.modal-body {
      position: static;
      margin-top:0px !important;
    }
  }
  .broker-connection-footer {
    display: flex;
    font-size: 14px;
    flex-direction: column;

    label, a {
      font-family: $primaryFontFamily;
    }
    
    a {
      text-decoration: none;
      color: #3d61cc;
      margin-left: 5px;
      cursor: pointer;
    }
  }

  .add-broker-form {
    margin-top: 5px;
    display: flex;
    font-size: 0.9em;
  }

  .policy-agreement-wrapper {
    margin-top: 20px;
    display: inline-flex;
    align-items: center;

    input[type=checkbox] {
      margin: 0 10px 0 0;
    }
  }

  @media (max-width: 768px) { 
    .broker-connection-footer {
      display: inline-block;
      font-size: 12px;
    }
  }

  /deep/ .disabled {
    opacity: 0.35;
    pointer-events: none;
  }
}

@include themify($themes, true) {

  .text {
    color: themed('valueTextColor');
  }

  .broker-connection-footer {
    label {
      color: themed('valueTextColor');
    }
  }
}



.modal-header.mtbheader {
  background: url(/assets/img/mtb_bg2.png);
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid transparent !important;
}

.mtbcontent {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}



