<div class="crypto-modal">


    <div class="modal-content mtbcontent">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()"><i class="crypto-icon crypto-icon-close"></i></button>
            <h4 class="modal-title">
               
                <span >MetaTrader Bridge</span>
            </h4>
        </div>
     

        <div class="modal-body">
            <div *ngIf="isTradingAllowed; else outOfAccess">
                <ng-container [ngSwitch]="brokerType">
                    <mt-broker-login [brokerInstance]="EBrokerInstance.MT5" [policyAccepted]="policyAccepted" *ngSwitchCase="EBrokerInstance.MT5">
                    </mt-broker-login>
                    <mt-broker-login [brokerInstance]="EBrokerInstance.MT4" [policyAccepted]="policyAccepted" *ngSwitchCase="EBrokerInstance.MT4">
                    </mt-broker-login>
                </ng-container>
                <div class="policy-agreement-wrapper">
                    <span>
                        <input type="checkbox" id="accept-broker-policy" [(ngModel)]="policyAccepted">
                        <label for="accept-broker-policy">I accept the</label>
                    </span>
                    <span>
                        <a (click)="privacyPolicy()">Terms Of Use & Privacy Policy</a>
                    </span>
                </div>
            </div>
            <ng-template #outOfAccess>
                <div class="out-of-access">
                    <div class="image">
                        <img class="BFTimage" src="assets/img/bftnavigatorlogo.svg">
                    </div>
                    <div class="text">
                        Upgrade your subscription to get access for trading.
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>