<div class="crypto-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()"><i class="crypto-icon crypto-icon-close"></i></button>
            <h4 class="modal-title">Profit Sharing Agreement & Terms of Use</h4>
</div>
<div class="modal-body">

    <h1 dir="ltr" style="margin-top:24pt;margin-bottom:0pt;padding:0pt 0pt 6pt 0pt;">
        <span class="header_class">Introduction</span>
    </h1>
    <p class="par_class">
        <span class="content_class">By accessing https://breakfreetrading.com or using any product or service provided by Breakfree Trading, you agree to abide by these Profit Sharing Agreement & Terms of Use. If you disagree with any part of these terms, you must discontinue your use of Breakfree Trading's website and services.</span>
    </p>
    <p class="par_class">
        <span class="content_class">This agreement outlines the terms for profit sharing arising from the use of neural technology on user accounts, including copy traders, shared signals, and other related services.</span>
    </p>
    <h2 dir="ltr" style="margin-top:24pt;margin-bottom:0pt;padding:0pt 0pt 6pt 0pt;">
        <span class="header_class">Profit Sharing</span>
    </h2>
    <p class="par_class">
        <span class="content_class">Once a user's monthly subscription is covered by profits from the utilization of neural technology, the user agrees to pay 10% of all net profits resulting from neural technology use across all their trading accounts. This includes accounts engaged in copy trading, shared signals, and any other trading-related activity.</span>
    </p>
    <p class="par_class">
        <span class="content_class">Should a user be found in breach of this agreement by avoiding the payment of the 10% net profits or attempting to understate their net profits, Breakfree Trading retains the right to permanently ban the user from current and future use of all Breakfree Trading technologies without refund.</span>
    </p>
    <p class="par_class">
        <span class="content_class">The term “Breakfree Trading”, including all its products and services, refers to any product, service, content, software, and other offerings associated with Breakfree Trading.</span>
    </p>
    <p class="par_class">
        <span class="content_class">Your continued use of Breakfree Trading's services signifies your full acceptance of these terms. All visitors, users, and other individuals or entities accessing our services are bound by this agreement.</span>
    </p>
    <p class="par_class">
        <span class="content_class">Monthly profits will be calculated on a monthly basis, and you will receive an invoice for calculated profits. Of course it must be fair, and if theres any issues or complications we are happy to figure it out together between user and Breakfree Trading.</span>
    </p>


   
    </div>
</div>