<div class="crypto-modal {{imageClass}}">
    <div class="offer-container">
        <div class="header">
            Neural Agent
        </div>
        <div class="header2">
            Limited Special Offer for You
        </div>
        <div class="cards">
            <div class="card1">
                <div class="card-content">
                    <div class="line1">
                        -20%
                    </div>
                    <div class="line2">
                        3 Month
                    </div>
                    <div class="line2">
                        God Plan
                    </div> 
                    <div class="line3">
                        $699
                    </div>
                    <div class="line4">
                        $559
                    </div>
                    <div class="button" (click)="get3monthGodPlan()">
                        Get Now
                    </div>
                </div>
            </div>
            <div class="card2">
                <div class="card-content">
                    <div class="line1">
                        -30%
                    </div>
                    <div class="line2">
                        1 Year
                    </div>
                    <div class="line2">
                        God Plan
                    </div> 
                    <div class="line3">
                        $2499
                    </div>
                    <div class="line4">
                        $1777
                    </div>
                    <div class="button" (click)="get12monthGodPlan()">
                        Get Now
                    </div>
            </div>
        </div>
    </div>
    <div class="progress-container">
        <div class="items-left">
            <div class="header3">Only {{itemsLeft}} items left!</div>
        </div>
        <div class="items-left-pb">
            <mat-progress-bar mode="determinate" [value]="percentageLeft"></mat-progress-bar>
        </div>
    </div>
</div>