<sidebar-container>
    <div class="section-label hidden">{{'app.menu' | translate}}</div>
    <sidebar-section>
        
        <div class="section-item flex-child" routerLink="">
            <div class="item-icon">
                <i class="crypto-icon crypto-icon-platform"></i></div>

<!--            <div class="item-text">{{'exchange' | translate}}</div>-->
            <div class="item-text" routerLink="/platform">{{'app.toPlatform' | translate}}</div>
        </div>
        <div class="section-item flex-child" routerLink="/admin"  *ngIf="isAdminPanelShown">
            <div class="item-icon">
                <i class="crypto-icon crypto-icon-admin-dashboard"></i></div>
            <div class="item-text">{{'app.adminPanel' | translate}}</div>
        </div>
        <div class="section-item flex-child hidden" routerLink="scripting">
            <div class="item-icon">
                <i class="crypto-icon crypto-icon-script"></i></div>
            <div class="item-text">{{'app.scripting' | translate}}</div>
        </div>
        <div class="section-item flex-child" routerLink="settings">
            <div class="item-icon">
                <i class="crypto-icon crypto-icon-settings"></i></div>
            <div class="item-text">{{'app.settings' | translate}}</div>
        </div>
        <div  class="section-item flex-child sa-child" >
            <a id="downloadlink" href="#" download>
            <div class="item-icon sa-icon">
                <img class="sa-icon" src="/assets/img/bft_bird.svg"> </div>
            <div class="item-text">Download</div>
             </a>
        </div>
    
        <div class="section-item flex-child  hidden" [routerLink]="['/', AppRoutes.Landing, LandingRoutes.Forums]">
            <div class="item-icon">
                <i class="crypto-icon crypto-icon-forum"></i></div>
            <div class="item-text">{{'app.forums' | translate}}</div>
        </div>
        <div class="section-item flex-child  hidden" [routerLink]="['/', AppRoutes.Landing, LandingRoutes.QA]">
            <div class="item-icon">
                <i class="crypto-icon crypto-icon-question-vote"></i></div>
            <div class="item-text">{{'Q&A' | translate}}</div>
        </div>
        <div class="section-item flex-child  hidden" [routerLink]="['/', AppRoutes.Landing, LandingRoutes.News]">
            <div class="item-icon">
                <i class="crypto-icon crypto-icon-news"></i></div>
            <div class="item-text">{{'news' | translate}}</div>
        </div>


      
    </sidebar-section>
    <sidebar-section class="hidden">
        <div class="section-label flex align-items-center justify-space-between">
            <span>{{'tools.title' | translate}}</span>
            <i class="crypto-icon crypto-icon-more cursor-pointer" routerLink="/platform/tools"></i>
        </div>
        <div class="section-item flex-child" routerLink="/platform/tools/news">
            <div class="item-icon">
                <i class="crypto-icon crypto-icon-news"></i>
            </div>
            <div class="item-text">{{'tools.news' | translate}}</div>
        </div>
        <div class="section-item flex-child" routerLink="/platform/tools/alerts-manager">
            <div class="item-icon">
                <i class="crypto-icon crypto-icon-alert"></i>
            </div>
            <div class="item-text">{{'tools.alertsWidget' | translate}}</div>
        </div>
<!--        <div class="section-item flex-child" routerLink="/platform/tools/trends">-->
<!--            <div class="item-icon">-->
<!--                <i class="crypto-icon crypto-icon-market-trend"></i>-->
<!--            </div>-->
<!--            <div class="item-text">{{'tools.trends' | translate}}</div>-->
<!--        </div>-->
        <div class="section-item flex-child" routerLink="/platform/tools/economic-calendar">
            <div class="item-icon">
                <i class="crypto-icon crypto-icon-calendar"></i>
            </div>
            <div class="item-text">{{'tools.economicCalendar' | translate}}</div>
        </div>
        <div class="section-item flex-child" routerLink="/platform/tools/notifications">
            <div class="item-icon">
                <i class="crypto-icon crypto-icon-platform-alert"></i>
            </div>
            <div class="item-text">{{'tools.notifications' | translate}}</div>
        </div>
        <div class="section-item flex-child" routerLink="/platform/tools/public-chat">
            <div class="item-icon">
                <i class="crypto-icon crypto-icon-chat"></i>
            </div>
            <div class="item-text">{{'tools.publicChat' | translate}}</div>
        </div>
        <div class="section-item flex-child" routerLink="/platform/tools/private-chat">
            <div class="item-icon">
                <i class="crypto-icon crypto-icon-private-chat"></i>
            </div>
            <div class="item-text">{{'tools.privateChat' | translate}}</div>
        </div>
    </sidebar-section>
    <sidebar-section *ngIf="showTradingPanel">
        <div class="section-label">{{'app.type&broker' | translate}}</div>
        <!-- <div class="app-type-select m-bottom-10">
            <selector class="bordered"
                      [options]="appTypes"
                      [selectedOption]="selectedApplicationType"
                      [optionCaption]="appTypeCaption"
                      (onSelect)="setApplicationType($event)"></selector>
        </div> -->
        <broker-select class="full-width" [applicationType]="applicationType$ | async"></broker-select> 
    </sidebar-section>
    <!-- <sidebar-section class="relative-wrapper buy-app-section">
        <buy-app></buy-app>
    </sidebar-section> -->
    <sidebar-section [noPadding]="true">
        <theme-language-select></theme-language-select>
    </sidebar-section>
    <sidebar-section>
        
        <div class="section-item flex-child" (click)="supportClick()">
            <div class="item-icon">
                <i class="crypto-icon crypto-icon-chat"></i></div>
            <div class="item-text">{{'app.support' | translate}}</div>
        </div> 
        <div class="section-item flex-child" (click)="clearSession()">
            <div class="item-icon">
                <i class="crypto-icon crypto-icon-remove-records"></i></div>
            <div class="item-text">{{'app.clearSession' | translate}}</div>
        </div>
      
    </sidebar-section>
</sidebar-container>

