@import "variables";
@import "../../styles/themes/themes";
@import "mixins/themify";

:host {
  .layout-management-container {
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }
  .menu-item {
    display: flex;
    padding: 4px 15px;
    cursor: pointer;
  }
  .separator {
    display: flex;
    width: 100%;
    margin: 6px 0px;
  }
}

@media (max-width: 600px) {
}

@include themify($themes, true) {
  .menu-item {
    color: themed('valueTextColor');
    &:hover {
      color: themed('accentColor');;
    }
  }
  .separator {
    border-top: 1px solid themed('gutterColor');
  }
  
}