<div #modal class="crypto-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" title="{{'file.close' | translate}}" (click)="close()"><i
                    class="crypto-icon crypto-icon-close"></i></button>
            <h4 class="modal-title">
                {{title | async}}
            </h4>
        </div>
        <div class="modal-body">
            <div>
                <div class="message-container">
                    <div class="manage-message" [ngClass]="{'flex' : !isImage}">
                        <div *ngIf='isImage' class="image-container">
                            <img class="circle" src="{{imageUrl}}">
                        </div>
                        <file-info-simple [File]='File' [FileInfo]='FileInfo' *ngIf='!isImage'>
                        </file-info-simple>
                        <div class="manage-buttons flex" [ngClass]="(isImage)?'end':'center'">
                            <div class="manage-buttons-container pointer">
                                <i title="{{'download' | translate}}" class="fa fa-download" (click)="download()"
                                   *ngIf='isReadOnly' title="{{'file.download' | translate}}"></i>


                                <upload-file-input *ngIf='!isReadOnly'
                                                   [config]="uploadFileInputConfig"
                                                   [onFilesSelected]="handleNewFile">
                                    <i class="fa fa-edit"
                                       title="{{'file.selectOtherFile' | translate}}"></i>
                                </upload-file-input>
                            </div>
                        </div>
                    </div>

                    <div class="file-comment" *ngIf="progress || isReadOnly">
                        <label>{{captionValue}}</label>
                    </div>
                </div>
            </div>
            <div class="preloader-wrapper" *ngIf="progress">
                <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
            </div>
            <div class="massage-input-wrapper flex" *ngIf="!progress && !isReadOnly">
                <input style="background: none" class="crypto-input flex-grow-1" #messageInput [(ngModel)]="captionValue"
                       placeholder="{{'file.caption' | translate}}">
                <div class="input-actions flex align-items-center">
                    <emoji-picker (onEmojiClick)="addEmoji($event)"></emoji-picker>
                    <!-- <div class="crypto-icon crypto-icon-send-message" (click)="sendMessage$.next(userMessage)"></div> -->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="flex justify-flex-end">
                <div>
                    <button class="crypto-button crypto-button_danger m-right-15" (click)="close();"
                            *ngIf="!isReadOnly">
                        {{ 'file.cancel' | translate }}
                    </button>

                    <button class="crypto-button crypto-button_primary" [disabled]="!uploadBtnEnabled"
                            (click)="upload()">
                        {{ 'file.ok' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
