@import "global-styles/themes/themes";
@import "global-styles/mixins/themify";
@import "global-styles/variables";
@import "themes/themes";
@import "mixins/themify";

:host {
    width: 100%;
    height: 100%;

    .comment-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .sub-comments-container {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        margin: 5px 0px 0px 16px;
        padding-left: 8px;
    }

    .continue-thread {
        cursor: pointer;
        display: inline-flex;
        margin: 5px 32px;
    }

    .sub-comment-item .comment-avatar {
        min-width: 30px !important;
    }

    .sub-comment-item .comment-avatar .comment-avatar-img {
        width: 24px !important;
        height: 24px !important;
    }

    .sub-comment-item .sub-comments-container {
        margin: 5px 0px 0px 12px !important;
    }

    .comment-content-user-level {
        display: flex;
        /deep/ {
            .rank-avatar {
                width: 20px !important;
                height: 20px !important;
                img {
                    width: 20px !important;
                    height: 20px !important;
                }
                .rank-level {
                    font-size: 9px !important;
                    font-weight: 700 !important;
                    line-height: 1px;
                }
            }
        }
    }

    .comment-item {
        display: flex;
        width: 100%;
        min-width: 180px;

        .comment-avatar {
            display: flex;
            min-width: 40px;
            min-height: 100%;
            flex-direction: column;

            .comment-avatar-img {
                display: flex;
                width: 100%;
                justify-content: center;
                position: relative;
                name-avatar {
                    width: 32px;
                }
                .user-management {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            }

            .extend-comment {
                font-size: 16px;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: end;
                justify-content: center;
                .extend-comment-button {
                    padding: 3px;
                    cursor: pointer;
                }
            }
        }

        .remove-comment,
        .edit-comment {
            display: flex;
            justify-content: left;

            i {
                padding: 4px;
                cursor: pointer;
                border-radius: 5px;
                height: fit-content;
            }
        }

        .edit-comment {
            font-size: 10px;
            margin-left: 20px;
        }

        .remove-comment {
            font-size: 8px;
        }

        .comment-content {
            display: flex;
            width: auto;
            // max-width: calc(100% - 50px);
            flex-direction: column;

            .comment-content-header {
                display: flex;
                justify-content: left;
                align-items: baseline;

                .comment-content-header-left {
                    display: flex;
                    justify-content: left;
                    align-items: center;

                    .comment-content-username {
                        font-weight: 700;
                        text-transform: capitalize;
                        font-size: 11px;
                    }

                    .comment-content-user-level {
                        margin-left: 3px;
                        margin-top: 0px;
                    }
                }
                .comment-content-header-right {
                    display: flex;
                    justify-content: right;
                    font-size: 0.8em;
                }
            }

            .comment-content-data {
                margin-top: 2px;
                display: flex;
                flex-direction: column;

                .comment-content-data-replay {
                    margin-bottom: 8px;
                    padding: 8px;
                    border-radius: 5px;
                    font-size: 0.8em;
                    // overflow: hidden;
                    // white-space: nowrap;
                    // text-overflow: ellipsis;
                }

                .comment-content-data-text {
                    display: inline-block;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            .comment-content-footer {
                display: flex;
                justify-content: left;
                align-items: center;
                margin-bottom: 2px;
                margin-top: 2px;

                .comment-like-container,
                .comment-dislike-container {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    border-radius: 3px;
                    height: 100%;
                    margin-right: 3px;
                    padding: 2px 5px;

                    i {
                        margin-right: 5px;
                        display: flex;
                        align-items: center;
                    }
                    .comment-like-counter {
                        display: flex;
                        align-items: center;
                    }
                }

                .comment-dislike-container {
                    display: none;
                }

                .replay-button {
                    display: flex;
                    justify-content: left;
                    border-radius: 3px;
                    align-items: center;
                    font-size: 0.8em;
                    margin-right: 3px;
                    padding: 2px 5px;
                    cursor: pointer;
                    height: 100%;
                }

                .card-time {
                    margin-left: 8px;
                    cursor: pointer;
                    border-radius: 3px;
                    font-size: 0.8em;
                    display: flex;
                    align-items: center;
                    opacity: 0.7;
                    height: 100%;
                    width: 100%;
                    justify-content: right;
                    margin-right: 5px;
                }

                .remove-comment,
                .edit-comment {
                    margin-left: 8px;
                    cursor: pointer;
                    border-radius: 3px;
                    height: 100%;
                }
            }
        }
    }

    .comment-content-data-text::first-letter {
        text-transform: uppercase;
    }
}

@include themify($themes, true) {
    .comment-wrapper {
        background: themed("comment-wrapper-bg");
        border-radius: 15px;
        padding: 5px 10px 5px 10px;
        max-width: 280px;
        overflow: hidden;
    }

    .comment-row {
        border-bottom: 1px solid;
        border-color: themed("sonar-feed-border") !important;
    }

    .continue-thread {
        color: themed("accentColor");
    }

    .sub-comments-splitter {
        position: absolute;
        height: 100%;
        width: 10px;
        bottom: 15px;
        left: -6px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        .sub-comments-splitter-line {
            background: themed("sonar-feed-border") !important;
            height: 100%;
            width: 1px;
            display: flex;
        }
        &:hover {
            .sub-comments-splitter-line {
                width: 3px !important;
            }
        }
    }

    .comment-like-container,
    .comment-dislike-container,
    .replay-button {
        &:hover {
            background-color: themed("sonar-feed-post-button");
        }
    }

    .remove-comment,
    .edit-comment {
        i {
            &:hover {
                background-color: themed("sonar-feed-post-button");
            }
        }
    }
}

.sonar-user-management-menu {
    font-size: 14px;
    padding: 5px 0px;
    display: flex;
    flex-direction: column;

    .ban {
        display: flex;
        padding: auto;
        padding: 5px;
    }

    .crypto-button {
        width: 100%;
        padding: 0px;
    }
}
