@import "global-styles/themes/themes";
@import "global-styles/mixins/themify";
@import "global-styles/variables";
@import "themes/themes";
@import "mixins/themify";

:host {
    width: 100%;
    height: 100%;

    .comment-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .sub-comments-container {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        margin: 5px 0px 0px 17px;
        padding-left: 17px;
    }

    .sub-comment-item {

    }

    .comment-content-user-level {
        display: flex;
        /deep/ {
            .rank-avatar {
                width: 20px !important;
                height: 20px !important;
                img {
                    width: 20px !important;
                    height: 20px !important;
                }
                .rank-level {
                    font-size: 10px !important;
                    font-weight: 500 !important;
                }
            }
        }
    }

    .comment-item {
        display: flex;
        width: 100%;
        min-width: 180px;

        .comment-avatar {
            display: flex;
            flex-direction: column;
            min-width: 40px;
            height: 100%;

            .comment-avatar-img {
                display: flex;
                width: 32px;
                height: 32px;
                justify-content: center;
            }
        }

        .remove-comment {
            display: flex;
            justify-content: left;

            i {
                padding: 4px;
                cursor: pointer;
                border-radius: 5px;
                font-size: 8px;
                height: fit-content;
            }
        }

        .comment-content {
            display: flex;
            width: auto;
            // max-width: calc(100% - 50px);
            flex-direction: column;

            .comment-content-header {
                display: flex;
                justify-content: left;
                align-items: baseline;

                .comment-content-header-left {
                    display: flex;
                    justify-content: left;
                    align-items: center;

                    .comment-content-username {
                        font-weight: 700;
                        text-transform: capitalize;
                        font-size: 11px;
                    }

                    .comment-content-user-level {
                        margin-left: 5px;
                        margin-top: -2px;
                    }
                }
                .comment-content-header-right {
                    display: flex;
                    justify-content: right;
                    font-size: 0.8em;
                }
            }

            .comment-content-data {
                margin-top: 2px;
                display: flex;
                flex-direction: column;

                .comment-content-data-replay {
                    margin-bottom: 8px;
                    padding: 8px;
                    border-radius: 5px;
                    font-size: 0.8em;
                    // overflow: hidden;
                    // white-space: nowrap;
                    // text-overflow: ellipsis;
                }

                .comment-content-data-text {
                    display: inline-block;
                }
            }

            .comment-content-footer {
                display: flex;
                justify-content: left;
                align-items: center;
                margin-bottom: 2px;
                margin-top: 2px;

                .comment-like-container,
                .comment-dislike-container {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    border-radius: 3px;
                    height: 100%;
                    margin-right: 3px;
                    padding: 2px 5px;

                    i {
                        margin-right: 5px;
                        display: flex;
                        align-items: center;
                    }
                    .comment-like-counter {
                        display: flex;
                        align-items: center;
                    }
                }

                .replay-button {
                    display: flex;
                    justify-content: left;
                    border-radius: 3px;
                    align-items: center;
                    font-size: 0.8em;
                    margin-right: 3px;
                    padding: 2px 5px;
                    cursor: pointer;
                    height: 100%;
                }

                .card-time {
                    margin-left: 8px;
                    cursor: pointer;
                    border-radius: 3px;
                    font-size: 0.8em;
                    display: flex;
                    align-items: center;
                    opacity: 0.7;
                    height: 100%;
                }
                .remove-comment {
                    margin-left: 8px;
                    cursor: pointer;
                    border-radius: 3px;
                    height: 100%;
                }
            }
        }
    }

    .comment-content-data-text::first-letter {
        text-transform: uppercase;
    }
}

@include themify($themes, true) {
    .comment-wrapper {
        background: themed("comment-wrapper-bg");
        border-radius: 15px;
        padding: 5px 10px 5px 10px;
    }

    .comment-row {
        border-bottom: 1px solid;
        border-color: themed("sonar-feed-border") !important;
    }

    .sub-comments-container::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        bottom: 15px;
        left: 0px;
        border-left: 1px solid;
        border-color: themed("sonar-feed-border") !important;
    }

    .comment-like-container,
    .comment-dislike-container,
    .replay-button {
        &:hover {
            background-color: themed("sonar-feed-post-button");
        }
    }

    .remove-comment {
        i {
            &:hover {
                background-color: themed("sonar-feed-post-button");
            }
        }
    }
}
