<div class="comment-container">
    <div class="comment-item">
        <div class="comment-avatar">
            <div class="comment-avatar-img">
                <div [matMenuTriggerFor]="menu" class="flex user-management" *ngIf="isAdmin"></div>
                <mat-menu #menu="matMenu" xPosition="before">
                    <div class="sonar-user-management-menu">
                        <div class="ban">
                            <button class="crypto-button crypto-button_action" (click)="banUser(comment)">Ban this
                                user</button>
                        </div>
                    </div>
                </mat-menu>
                <name-avatar [name]="comment.userName" [src]="comment.userAvatarId"></name-avatar>
            </div>
            <div class="extend-comment" *ngIf="comment.isCollapsed">
                <div class="extend-comment-button" (click)="showComment(comment)">
                    <i class="fa fa-expand" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="comment-content">
            <div class="comment-wrapper">
                <div class="comment-content-header">
                    <div class="comment-content-header-left">
                        <div class="comment-content-username">{{comment.userName}}{{comment.isOwnComment ? " (You)" :
                            ""}}</div>
                        <div class="comment-content-user-level">
                            <badge [level]="comment.userLevel" [rank]="comment.levelName"></badge>
                        </div>
                    </div>
                    <div class="comment-content-header-right">
                    </div>
                </div>
                <div class="comment-content-data">
                    <div class="comment-content-data-text">
                        {{comment.text}}
                    </div>
                </div>
            </div>


            <div class="comment-content-footer">
                <div class="comment-like-container" [ngClass]="{'disabled': comment.isOwnComment}"
                    (click)="likeComment(comment)">
                    <i class="fa fa-thumbs-up" aria-hidden="true"
                        *ngIf="comment.hasUserLike; else nonActiveCommentLike"></i>
                    <ng-template #nonActiveCommentLike>
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </ng-template>
                    <span class="comment-like-counter">{{comment.likesCount}}</span>
                </div>
                <div class="comment-dislike-container" [ngClass]="{'disabled': comment.isOwnComment}"
                    (click)="dislikeComment(comment)">
                    <i class="fa fa-thumbs-down" aria-hidden="true"
                        *ngIf="comment.hasUserDislike; else nonActiveCommentDislike"></i>
                    <ng-template #nonActiveCommentDislike>
                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                    </ng-template>
                    <span class="comment-dislike-counter">{{comment.dislikesCount}}</span>
                </div>
                <div class="replay-button" (click)="replay(comment.id)">
                    Reply
                </div>
                <div class="card-time">{{createTimeString(comment.time)}}</div>
                <div class="edit-comment" *ngIf="comment.isOwnComment">
                    <i class="fa fa-pencil" (click)="editComment(comment.id)"></i>
                </div>
                <div class="remove-comment" *ngIf="comment.isOwnComment">
                    <i class="crypto-icon crypto-icon-close" (click)="removeComment(comment.id)"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="sub-comments-container" *ngIf="comment.comments && comment.comments.length">
        <ng-container *ngIf="!comment.isCollapsed; else collapsedCommentContainer">
            <div class="sub-comments-splitter" (click)="collapseComment(comment)">
                <div class="sub-comments-splitter-line"></div>
            </div>

            <ng-container *ngIf="comment.isRootComment && !isRootExpanded() && hasSubCommentsThread; else expanded">
                <div class="sub-comment-item" [ngClass]="{'own-comment': comment.comments[0].isOwnComment}">
                    <sonar-feed-comment [comment]="comment.comments[0]" (onCommentLike)="likeComment($event)"
                        (onCommentDislike)="dislikeComment($event)" (onAddReplay)="replay($event)"
                        (onRemoveComment)="removeComment($event)" (onExpandComment)="expandComment($event)"
                        (onEditComment)="editComment($event)" (onBanUser)="banUser($event)"
                        (onCommentLikeDelete)="deleteLike($event)" [expandedComments]="expandedComments"
                        [isExpanded]="false"></sonar-feed-comment>
                    <div class="continue-thread" (click)="continueThread()">Continue this thread</div>
                </div>
            </ng-container>
            <ng-template #expanded>
                <ng-container *ngIf="isExpanded">
                    <div class="sub-comment-item" *ngFor="let c of comment.comments"
                        [ngClass]="{'own-comment': c.isOwnComment}">
                        <sonar-feed-comment [comment]="c" (onCommentLike)="likeComment($event)"
                            (onCommentDislike)="dislikeComment($event)" (onAddReplay)="replay($event)"
                            (onRemoveComment)="removeComment($event)" (onExpandComment)="expandComment($event)"
                            (onEditComment)="editComment($event)" (onBanUser)="banUser($event)"
                            (onCommentLikeDelete)="deleteLike($event)" [expandedComments]="expandedComments"
                            [isExpanded]="true"></sonar-feed-comment>
                    </div>
                </ng-container>
            </ng-template>
        </ng-container>
        <ng-template #collapsedCommentContainer>
        </ng-template>
    </div>
</div>