<div class="positions">
    <data-table [rows]="items" [blinking]="blinking" [selectable]="true" [allowColumnsVisibilityChange]="true"
        [expandOnClick]="false" [selectedRow]="selectedItem" (onRowSelect)="selectItem($event)"
        (onDoubleClick)="doubleClicked($event)" [hiddenColumns]="hiddenColumns"
        (onHiddenColumnsChanged)="onHiddenColumnsChanged($event)"
        (onContextMenuSelected)="handleContextMenuSelected($event)">
        <data-table-header-cell columnName="Side" [columnWidth]="1" [columnMinWidth]="1" [sortable]="false">
        </data-table-header-cell>
        <data-table-header-cell columnName="Symbol" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">
            {{'symbol' | translate}}</data-table-header-cell>
        <!-- <data-table-header-cell columnName="Side" [sortable]="true">{{'side' | translate}}</data-table-header-cell> -->
        <data-table-header-cell columnName="Size" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'size' |
            translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Price" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">
            {{'tradeManager.entryPrice' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Current Price" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">
            {{'tradeManager.currentPrice' | translate}}</data-table-header-cell>
        <!-- <data-table-header-cell columnName="Pip PL" [sortable]="true">{{'tradeManager.pipPl' | translate}}</data-table-header-cell> -->
        <data-table-header-cell columnName="Net PL" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">
            {{'tradeManager.netPl' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Commission" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">
            {{'tradeManager.commission' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Swap" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">
            {{'tradeManager.swap' | translate}}</data-table-header-cell>
        <!-- <data-table-header-cell columnName="Trade Guard" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.tradeGuard' | translate}}</data-table-header-cell> -->
        <data-table-header-cell columnName="Net Risk" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">
            {{'tradeManager.risk' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Risk (%)" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">
            {{'tradeManager.riskP' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="TradeGuard" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">
            {{'tradeManager.recommendations' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="Close" [columnMinWidth]="36"></data-table-header-cell>


        <data-table-cell columnName="Side">
            <ng-template let-item>
                <div class="color-column"
                    [ngClass]="{'side-buy': item.Side === OrderSide.Buy, 'side-sell': item.Side === OrderSide.Sell}">
                </div>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="Symbol">
            <ng-template let-item><span class="symbol-column">{{item.Symbol}}</span></ng-template>
        </data-table-cell>
        <!-- <data-table-cell columnName="Side">
            <ng-template let-item>
                <order-side [side]="item.Side"></order-side>
            </ng-template>
        </data-table-cell> -->
        <data-table-cell columnName="Size">
            <ng-template let-item>
                <div [ngClass]="{'side-buy': item.Side === OrderSide.Buy, 'side-sell': item.Side === OrderSide.Sell}">
                    {{item.Size.toFixed(2)}}</div>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="Price">
            <ng-template let-item>{{item.Price?.toFixed(getDecimals(item.Symbol))}}</ng-template>
        </data-table-cell>
        <data-table-cell columnName="Current Price">
            <ng-template let-item>{{item.CurrentPrice?.toFixed(getDecimals(item.Symbol))}}</ng-template>
        </data-table-cell>
        <!-- <data-table-cell columnName="Pip PL">
            <ng-template let-item>
                <span [ngClass]="{'positive-value': item.PipPL > 0, 'negative-value': item.PipPL < 0}">
                    {{item.PipPL?.toFixed(1)}}
                </span>
            </ng-template>
        </data-table-cell> -->
        <data-table-cell columnName="Net PL">
            <ng-template let-item>
                <span [ngClass]="{'positive-value': item.NetPL > 0, 'negative-value': item.NetPL < 0}">
                    {{item.NetPL?.toFixed(2)}}
                </span>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="Commission">
            <ng-template let-item>{{item.Commission?.toFixed(2)}}</ng-template>
        </data-table-cell>
        <data-table-cell columnName="Swap">
            <ng-template let-item>{{item.Swap?.toFixed(2)}}</ng-template>
        </data-table-cell>
        <!-- <data-table-cell columnName="Trade Guard">
            <ng-template let-item>
                <div matTooltip='Trade risk - {{item.VAR.toFixed(2)}}%' class="{{item.VAR | tradeGuardRiskClassPipe}}">
                    {{item.VAR | tradeGuardRiskPipe}}
                </div>
            </ng-template>
        </data-table-cell> -->
        <data-table-cell columnName="Net Risk">
            <ng-template let-item>{{item.Risk ? item.Risk.toFixed(2) : '-'}}</ng-template>
        </data-table-cell>
        <data-table-cell columnName="Risk (%)">
            <ng-template let-item>
                <span class="{{item.RiskClass | currencyGuardRiskClassPipe}}">{{item.RiskClass | currencyGuardRiskPipe}}
                    {{item.RiskPercentage ? '(' + item.RiskPercentage.toFixed(2) + '%)' : ''}}</span>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="TradeGuard">
            <ng-template let-item>
                <div tooltip [matTooltip]="getRecommendationsTooltip(item.Recommendations)">
                    {{getPositionRecommendationsText(item.Recommendations)}}
                </div>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="Close">
            <ng-template let-item>
                <div class="flex justify-flex-end">
                    <trading-close-button (click)="closePosition(item)"></trading-close-button>
                </div>
            </ng-template>
        </data-table-cell>

        <data-table-menu-item [id]="'closePosition'">
            <ng-template>
                {{'tradeManager.closePosition' | translate}}
            </ng-template>
        </data-table-menu-item>
        <data-table-menu-item [id]="'view'">
            <ng-template>
                {{'tradeManager.viewChart' | translate}}
            </ng-template>
        </data-table-menu-item>
    </data-table>

</div>