<div class="crypto-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()">&times;</button>
            <h4 class="modal-title">{{'deposit' | translate}}</h4>
        </div>
        <div class="modal-body">
            <div class="crypto-caption deposit-address-title">{{'tradeManager.depositAddressMessage' | translate}}</div>
            <div class="flex justify-content-center qr-container">
                <img [src]="qrURL" alt="qr" class="qr-img">
            </div>
            <div class="flex justify-content-center qr-container crypto-caption align-items-center">
                <input readonly #codeContainer type="text" class="text-center crypto-input full-width"
                       [value]="depositAddress" placeholder="">
                <span class="crypto-icon button-icon copy-to-clipboard" (click)="addToClipboard(codeContainer)"
                      title="{{'copyToClipboard' | translate}}">
                    <img src="../assets/img/svg-icons/copy.svg" alt="copy to clipboard">
                </span>
            </div>
            <table class="crypto-table_ellipsis crypto-table crypto-table_striped">
                <thead>
                <tr>
                    <th class="title crypto-caption" colspan="2">{{'type' | translate}}</th>
                    <th class="title crypto-caption" colspan="2">{{'tradeManager.compleatedAt' | translate}}</th>
                    <th class="title crypto-caption" colspan="2">{{'tradeManager.address' | translate}}</th>
                    <th class="title crypto-caption" colspan="2">{{'id' | translate}}</th>
                    <th class="title crypto-caption">{{'amount' | translate}}</th>
                    <th class="title crypto-caption">{{'tradeManager.fee' | translate}}</th>
                    <th class="title crypto-caption">{{'tradeManager.status' | translate}}</th>
                </tr>
                </thead>
                <tbody class="table-body">
                <tr *ngFor="let transaction of history; trackBy: trackByID">
                    <td>{{transaction.transactType}}</td>
                    <td colspan="2">{{getFormattedDate(transaction.completed_at)}}</td>
                    <td colspan="2">{{transaction.address}}</td>
                    <td colspan="2">{{transaction.transactID}}</td>
                    <td>{{transaction.amount}}</td>
                    <td>{{transaction.fee}}</td>
                    <td>{{transaction.state}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
