@import "../../styles/themes/themes";
@import "mixins/themify";
@import "variables";

:host {
  .badge-container {
    display: flex;
    position: relative;
  }
  .rank-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    img {
      width: 30px;
      height: 30px;
      // margin-right: 2px;
      opacity: 0.75;
    }
  }
  .rank-level {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    text-align: center;
    display: flex;
    text-shadow: 1px 1px #000000;
    // font-family: monospace;
  }
}

@include themify($themes, true) {
}