@import "../../styles/themes/themes";
@import "mixins/themify";
@import "variables";

:host {
  .badge-container {
    display: flex;
  }
  .rank-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 30px;
      height: 30px;
      margin-right: 2px;
      opacity: 0.75;
    }
  }
  .rank-level {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    position: fixed;
    text-align:center;
    text-shadow: 1px 1px #000000;
    margin-left:-1px;
  }
}

@include themify($themes, true) {
}