@import "global-styles/themes/themes";
@import "global-styles/mixins/themify";
@import "global-styles/variables";


:host {
  .bftStrategyBacktest {
    flex-direction: column;
    height: 100%;
  //  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  //  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  //  height: fill-available;
   overflow: auto;
  }

  .top-line {
      padding: 5px;
      .column {
        
      }
  }

  .copyable {
    cursor: pointer;
  }

  .crypto-button {
    margin: 10px;
    padding: 4px 14px;
  }
}


@include themify($themes, true) {
  .crypto-button {
    color: themed('valueTextColor');
  }

  .crypto-button {
    background-color: themed('inputBackgroundColor');
  }

  .bft-ext_hit-test-panel-status .row {
    border-color: themed('inputBackgroundColor');
  }
}




.bft-ext_hit-test-panel-status {
  font-size: 12px;
  width: 100%;
  min-width: 210px;
}




span.value1 {
  float: left;
  color: #191919;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  padding-left:5px;
 
}


span.value2 {
  float: right;
  padding-right: 5px;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.bft-p {

  border-bottom: 1px solid #000;
}




.bft-ext_hit-test-panel-status .row {
  border-bottom: 1px solid;
}

.Copyvalue-top {
  padding-top: 10px;
  font-weight: 600;
  margin-bottom: 5px;
}

.value2.copyable::after {
  background-size: 10px 20px;
  float: right;
  margin-left: 5px !important;
  margin-right: 0px !important;
  color: #000;
  background-image: url(/assets/img/copy.svg);
  display: inline-block;
  width: 10px;
  height: 20px;
  content: "";
  background-position: top;
  margin-top: -4px
}

span.value2.copyable:hover {

  font-weight:600;
  
  }

.bft-panel-top {
  
    font-weight: 600;

    margin-bottom: 5px;
  }

  .bftStrategyBacktest{
    padding:15px;

  }

  span.value.header {
  
    font-weight: 600;
    padding-top: 3px !important;
    padding-bottom: 3px !important;


}

span.value1.entry {
    padding-left: 5px;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.row.entries {
    padding-top: 10px;
    border-bottom: 0px !important;
}

.row.targets {
    padding-top: 10px;
    border-bottom: 0px !important;
}

.row.stoploss {
  padding-top: 10px;
  border-bottom: 0px !important;
}

span.value1.target {
  padding-left: 5px;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.row.tradeoverview {
  border-bottom: 0px !important;
  margin-bottom: 10px;
}

span.leftbord {
  width: 2px;
  height: 13px;
  display: inline-block;
  margin-bottom: -2px;
  margin-right: 4px;
  margin-left: -5px;
  
}




.row.targets span.leftbord {
  background: #2e5e9a;


}

.row.entries span.leftbord {
  background: #629320;

}

.row.tradeoverview span.leftbord {
  background:#191919;

}

.row.stoploss span.leftbord {
  background: #d3bb42;

}

span.value.header {}


.row.targets .header {
  color: #2e5e9a;


}

.row.entries .header {
  color: #629320;

}

.row.tradeoverview .header {
  color:#191919;

}

.row.stoploss .header {
  color: #d3bb42;

}

.row.ent:hover {
  background: #6293205e;
}

.row.ent:hover:hover span.value2.copyable {

  font-weight:600;
  
  }


.marketoverview-selector {
  display: inline-block;
  float: right;
}

.marketoverview-selector .mat-select-value {
  font-size: 11px;
  padding: 0px !important;
}

