@import "./styles/themes/themes";
@import "global-styles/mixins/themify";

.lm_tab {
  height: 28px !important;
  .lm_title {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
  }
}

.lm_add-component {
  height: 24px !important;
  margin-top: 0 !important;
}

.lm_tab {
  height: 27px;
  padding: 0px 15px 0 15px !important;
  box-sizing: border-box !important;
  overflow: hidden;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;

  &.closable-tab {
    padding: 0px 22px 0 12px !important;
  }

  .link-selector {
    position: absolute;
    z-index: 2;
    left: -2px;
    top: 0px;
    i {
      width: auto;
      height: auto;
      position: relative;
    }
  }
}

.lm_controls {
  margin-top: -2px !important;

  .crypto-icon {
    font-size: 10px;
    display: inline-block;
    margin: 0px 7px 0;
    cursor: pointer;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}

@include globalThemifyFromComponent($themes) {
  .golden-layout {
    //background-color: themed('add-component-bg-color');
  }

  .lm_goldenlayout {
    background-color: themed('headerBgColor') !important;
  }

  .lm_content {
    background: themed('lmContent') !important;
    //background-color: transparent !important;
  }

  .lm_tabdropdown_list  {
    background-color: rgba(themed('tabBgColor'), 1);

    .lm_tab {
      background-color: rgba(themed('tabBgColor'), 1) !important;
    }
  }

  .lm_header {
    background-color: themed('headerBgColor');

    .lm_tab {
      background: themed('tabBgColor');

      .lm_title {
        color: themed('tabColor') !important;
      }

      &.lm_active {
        background-color: themed('activeTabBgColor');
        border-top: 1px solid #3d61cc;

        .lm_title {
          color: themed('activeTabColor') !important;
        }
      }
    }

    .add-component-btn {
      .fa-plus {
        color: themed('addTabBtnColor');
      }
    }
  }

  .lm_splitter {
    opacity: 1;
    background-color: themed('splitterBgColor');

    .lm_dragging {
      background-color: themed('splitterDraggingBgColor');
    }

    z-index: 39;
  }

  .lm_header {
    .crypto-icon {
      color: themed('headerControlsColor');
    }

    .lm_tabdropdown {
      opacity: 0.7 !important;
      margin-top: 0px;

      &:before {
        color: themed('headerControlsColor');
      }
    }
  }

  //.placeholder {
  //  .new-component {
  //    border: 1px dashed themed('layoutPlaceholderBorderColor');
  //
  //    .title {
  //      color: themed('layoutPlaceholderTitleColor');
  //    }
  //
  //    .add-btn {
  //      background-color: themed('layoutPlaceholderBtnBgColor');
  //    }
  //  }
  //}

  div.lm_dropTargetIndicator {
    box-shadow: themed('dropTargetBoxShadow') !important;

    .lm_inner {
      opacity: 1 !important;
      background-color: themed('dropTargetInnerBgColor') !important;
    }
  }
}


.lm_header .lm_title {
  font-size: 10px !important;
  font-weight:700;
  // white-space: nowrap;
  // max-width: 100px;
  margin-top: 6px;
}


// li.lm_tab.closable-tab.tab-with-linker:hover .lm_close_tab{
//   opacity:1 !important;
//   transition-duration: 0.22s;
//   transition-delay: 0.25s;
//   animation-delay: 0.25s;
  
// }

// .lm_close_tab {
//   opacity:0.0 !important;
//   transition-duration: 0.22s;

// }

// .lm_close_tab {
//   top: 1px !important;
//   right:5px !important;
// }

// li.lm_tab.tab-with-linker.lm_active .color-selector {
//  opacity: 1;
//  transition-duration: 0.22s;

// }

// li.lm_tab.tab-with-linker .color-selector{
//   opacity: 0.5;
//   transition-duration: 0.22s;
//  }
 