<!--<div class="public-chat">-->
<!--    <active-thread-->
<!--            [class.maximized]="hiddenThreadList"-->
<!--            [activeThread]="activeThread" *ngIf="activeThread"-->
<!--            (onMaximise)="hiddenThreadList = !hiddenThreadList"></active-thread>-->
<!--    <thread-list-->
<!--            [type]="ThreadType.Public"-->
<!--            [class.hidden]="hiddenThreadList"-->
<!--            [style.height]="activeThread ? '50%' : '100%'"-->
<!--            (onActiveThreadChanged)="activeThread = $event"></thread-list>-->
<!--</div>-->
<!--<base-chat [type]="ThreadType.Public" *showByTag="ComponentIdentifier.publicChat"></base-chat>-->

<ng-container *ngIf="hasAccess; else outOfAccess">
    <ng-container *ngIf="chatPolicyAccepted; else chatPolicy">
        <base-chat *showByTag="ComponentIdentifier.publicChat"></base-chat>
    </ng-container>

    <ng-template #chatPolicy>
        <div class="out-of-access">
            <div class="out-of-access-box">
                <div class="image">
                    <img class="BFTimage" src="assets/img/bftnavigatorlogo.svg">
                </div>
                <div class="text early-access-text">

                    Welcome to Chat. This is a friendly place for the Breakfree Community to interact with other users. <br><br>
                    Breakfree is happy to receive complaints, issues or negativity on support@breakfreetrading.com.
                    <br><br>
                   Inside the chat/community there is <b>zero tolerance</b> for complaints, issues or negativity regarding Breakfree in chat while the community is being built. 
                   <br> <br>
                   If you receive a ban from the chat, the only way to be unbanned is to create a new account. You can continue to use Breakfree technologies even if you are banned, but not as part of the chat community. 
                </div>
                <div class="accept-buttons">
                    <button class="crypto-button crypto-button_primary" (click)="acceptRule()">
                       I Accept Chat Rules
                    </button>
                </div>
            </div>
        </div>
    </ng-template>
</ng-container>

<ng-template #outOfAccess>
    <div class="out-of-access" (click)="processCheckout()">
        <div class="out-of-access-box">
            <div class="image">
                <img class="BFTimage" src="assets/img/bftnavigatorlogo.svg">
            </div>
            <div class="text">
                Upgrade your subscription to get access to Chat.
            </div>
        </div>
    </div>
</ng-template>