<!--<div class="public-chat">-->
<!--    <active-thread-->
<!--            [class.maximized]="hiddenThreadList"-->
<!--            [activeThread]="activeThread" *ngIf="activeThread"-->
<!--            (onMaximise)="hiddenThreadList = !hiddenThreadList"></active-thread>-->
<!--    <thread-list-->
<!--            [type]="ThreadType.Public"-->
<!--            [class.hidden]="hiddenThreadList"-->
<!--            [style.height]="activeThread ? '50%' : '100%'"-->
<!--            (onActiveThreadChanged)="activeThread = $event"></thread-list>-->
<!--</div>-->
<!--<base-chat [type]="ThreadType.Public" *showByTag="ComponentIdentifier.publicChat"></base-chat>-->

<ng-container *ngIf="hasAccess; else outOfAccess">
    <ng-container *ngIf="chatPolicyAccepted; else chatPolicy">
        <base-chat *showByTag="ComponentIdentifier.publicChat"></base-chat>
    </ng-container>

    <ng-template #chatPolicy>
        <div class="out-of-access">
            <div class="out-of-access-box">
                <div class="image">
                    <img class="BFTimage" src="assets/img/bftnavigatorlogo.svg">
                </div>
                <div class="text early-access-text">
                    Any negativity leads to instant ban. Only way to unban is by buying a new account. Complaining and negativity reserved to support@breakfreetrading.com
                </div>
                <div class="accept-buttons">
                    <button class="crypto-button crypto-button_primary" (click)="acceptRule()">
                        Accept Rule
                    </button>
                </div>
            </div>
        </div>
    </ng-template>
</ng-container>

<ng-template #outOfAccess>
    <div class="out-of-access" (click)="processCheckout()">
        <div class="out-of-access-box">
            <div class="image">
                <img class="BFTimage" src="assets/img/bftnavigatorlogo.svg">
            </div>
            <div class="text">
                Upgrade your subscription to get access to Chat.
            </div>
        </div>
    </div>
</ng-template>