@import "../../../../global-styles/themes/themes";
@import "../../../../global-styles/mixins/themify";
@import "../../../../global-styles/variables";

:host {
  display: block;
  height: 100%;

  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
