@import "../../themes/themes";
@import "mixins/themify";
@import "global-styles/variables";

:host {
  display: block;
  overflow: auto;
  width: 100%;

  .register-page {
    display: flex;
    margin: 20vh 0;

    .form-header {
      &__title.signUp {
        color: #3d61cc;
      }
    }
  }

  .crypto-button {
    font-family: 'PT Sans';
  }

  .logo:before {
    vertical-align: unset;
  }

  .overlay {
    flex-direction: column;
  }

  .stepper {
    background: transparent;
  }

  .input-wrapper_confirm {
    margin-bottom: 19px;

    &.input-wrapper_info-shown {
      margin-bottom: 0px;
    }
  }

  .policy-agreement-wrapper {
    display: inline-flex;
    align-items: center;

    input[type=checkbox] {
      margin: 0 10px 0 0;
    }

    span {
      font-size: 0.85em;
      font-family: $primaryFontFamily;

      a {
        text-decoration: none;
        color: #3d61cc;
      }
    }
  }

  .register-btn {
    margin-top: 15px;
  }

  .form-info_server-error {
    align-items: flex-start;
    margin-top: 5px;

    i,
    span {
      font-size: 14px;
    }
  }
}

.policy-agreement-wrapper span {
  color: #757575;
}

//.policy-agreement-wrapper span {
//  @include themify($themes, true) {
//    color: themed('regularColor');
//  }
//}
@include themify($themes, true) {
  color: themed('regularColor');
}




button.btn.crypto-button.crypto-button-full-width.button_success.login-btn {
  background-color: black;
  opacity: 0.8;
  font-weight: bold;
}




.overlay {
  background: #fff !important;
  display:block ;
  padding:0px;
  border-radius:5px;
  overflow:hidden;
}

.form-wrapper {
  padding:15px;

}

.form-header-bft {
  background:#191919;
  color:#fff;
  font-size:12px;
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
  
}


.form-header-bft img {

  width: 200px;
  filter: invert(1);
}



::before {
  color: #000000b5;
}

span.form-header__title.signIn {
  color: black !important;
}

.form-header {
  padding-top:10px;
}


.register-btn {
  background: #191919 !important;
}