<div class="content">
    <div>
        <h1>Create Account</h1>
        <span>Create your Breakfree Trading Account in seconds. </span>


        <div class="beta google">
            <div class="login-with-google" (click)="doLoginWithGoogle()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28" height="28">
                    <path fill="#4285F4"
                        d="M23.6 14.23c0-.71-.06-1.4-.18-2.05H14v3.87h5.38a4.6 4.6 0 01-2 3.02v2.5h3.24c1.89-1.73 2.98-4.3 2.98-7.34z">
                    </path>
                    <path fill="#34A853"
                        d="M14 24c2.7 0 4.96-.9 6.62-2.42l-3.23-2.51c-.9.6-2.04.95-3.39.95-2.6 0-4.8-1.76-5.6-4.12H5.06v2.6A10 10 0 0014 24z">
                    </path>
                    <path fill="#FBBC05"
                        d="M8.4 15.9a6.01 6.01 0 010-3.8V9.5H5.06a10 10 0 000 9l3.34-2.6z"></path>
                    <path fill="#EA4335"
                        d="M14 7.98c1.47 0 2.79.5 3.82 1.5L20.7 6.6A10 10 0 005.06 9.5l3.34 2.6c.8-2.36 3-4.12 5.6-4.12z">
                    </path>
                </svg>
                <span class="third-party-capture">Sign up with Google</span>
            </div>
        </div>

        <div class="beta facebook">
            <div class="login-with-fb" (click)="doLoginWithFB()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28" height="28">
                    <path fill="#1877F2"
                        d="M14 4a10 10 0 011.56 19.88v-6.99h2.33l.45-2.89h-2.78v-1.88c0-.79.39-1.56 1.63-1.56h1.26V8.1s-1.14-.2-2.24-.2c-2.28 0-3.77 1.4-3.77 3.9V14H9.9v2.9h2.54v6.98A10.01 10.01 0 0114 4z">
                    </path>
                </svg>
                <span class="third-party-capture">Sign up with Facebook</span>
            </div>

        </div>

    </div>

    <span class="splitter"></span>
    <span class="continuewith">or with email</span>

    <div class="register-page flex">
        <div class="background"></div>
        <div class="overlay-wrapper">
            <div class="">
                <form class="form-wrapper" [formGroup]="registerFormGroup" novalidate
                    (ngSubmit)="doRegistration()">
                    <div class="crypto-form-unit">
                        <label class="labeln" for="password">Email</label>
                        <mat-form-field class="crypto-input full-width with-hint">
                            <input matInput type="email" formControlName="email">
                            <i class="crypto-icon crypto-icon-email" matSuffix></i>
                            <mat-error>Email is not valid</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="crypto-form-unit">
                        <label class="labeln" for="password">Password</label>
                        <mat-form-field class="crypto-input full-width with-hint">
                            <input matInput type="password" formControlName="password">
                            <i class="crypto-icon crypto-icon-pasword" matSuffix></i>
                            <mat-error>
                                <span
                                    *ngIf="registerFormGroup.controls['password'].errors?.required">Password
                                    is
                                    required</span>
                                <span
                                    *ngIf="registerFormGroup.controls['password'].errors?.passwordValidation">
                                    {{registerFormGroup.controls['password'].errors.passwordValidation[0].message}}
                                </span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="crypto-form-unit">
                        <label class="labeln" for="password">Confirm password</label>
                        <mat-form-field class="crypto-input full-width with-hint">
                            <input matInput type="password" formControlName="confirmPassword"
                                [errorStateMatcher]="errorMatcher">
                            <i class="crypto-icon crypto-icon-pasword" matSuffix></i>
                            <mat-error *ngIf="registerFormGroup.hasError('mismatchPasswords')">
                                <span>Passwords does not match</span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <label class="policy-agreement-wrapper">
                        <input type="checkbox" formControlName="acceptPolicy">
                        <span>I accept the <a (click)="privacyPolicy()">Terms of use & Privacy Policy</a></span>
                    </label>

                    <div *ngIf="serverError" class="notification is-error">
                        <span>{{serverError}}</span>
                    </div>
                    <button type="submit"
                        class="btn crypto-button crypto-button-full-width action-btn"
                        [disabled]="registerFormGroup.invalid || processing" mat-button>
                        <div class="lds-ellipsis" *ngIf="processing">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <span *ngIf="!processing">Register</span>
                    </button>
                </form>
            </div>
            <div class="addition" (click)="doLogin()">Returning user? Log back in</div>
        </div>
    </div>

</div>