@import "../../themes/themes";
@import "mixins/themify";
@import "global-styles/variables";


:host {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
  font-family:  $primaryFontFamily;

  .overlay-wrapper{
    margin:0px !important;
  }

  .h1welcomeback{
    font-size:24px;
  }

  .remember-wrapper {
    input[type=checkbox] {
      margin-top: 0;
      vertical-align: middle;
    }

    label {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
    }

    span {
    .forgotPassword {
      vertical-align: text-bottom;
      float: right;
      cursor: pointer;
    }
      font-size: 12px;
      font-family: $primaryFontFamily;
      float: right;
      cursor: pointer;
    }
  }

  .logo:before {
    vertical-align: unset;
  }

  .button-on-error {
    font-size: 12px;
    margin: 5px 0;
    font-family: $primaryFontFamily;
    text-decoration: underline;
    cursor: pointer;
  }

  /deep/ pin-input .input-wrapper {
    margin-bottom: 0;
  }
}


span.continuewithx {
  display: flex;
  align-content: center;
  padding-top: 24px;
  padding-bottom: 12px;
  align-items: center;
  font-size: 12px;
}

.content {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.orspan{
  width: 270px;
  text-align: center;
  margin-top: -2px;
}

  .login-with-fb, .login-with-google {
    display: flex;
    align-items: center;
    justify-content: center;
    width:180px;
}


.continue{
  font-size:14px;
  line-height: 12px;
}

// span.splitter {
//   width: 100%;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   display: block;
//   height: 0.01rem;
//   background: #19191963;
// }

.login_bg_container{
  z-index: 0;
  position:fixed;
  width:100%;
  height:100%;
  opacity:0.3;
}

.form-wrapper {
  padding: 0px !important;
  width: 100% !important;
}


.beta {
  margin-top: 24px;
  background: #ffffff;
  padding: 10px;
  border-radius: 5px;
  color: #1a1a1a;
  text-align: center;
  font-size: 12px;
  border: 1px solid #000;
  position: relative;
  font-weight: 600;
  transition-duration: 0.22s;
  cursor: pointer;
  display: flex;
    justify-content: center;
    
}


.overlay-wrapper{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.form-wrapper{
  width:100% !important;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch;
}