<div class="intro-text">
<h1>Welcome Breakfree Trader</h1>
<span class="space">Here is a introduction to Navigator, and several resources to help you on your way.</span>
<span>Bring back this menu anytime by clicking in the top right menu on this icon <i class="fa-solid fa-hand-holding-medical"></i></span>
</div>

<div class="wistia-holder">
<div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><iframe src="https://fast.wistia.net/embed/iframe/94gmnz4jwq?seo=true&videoFoam=true" title="BFT Navigator Introduction_final Video" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" msallowfullscreen width="100%" height="100%"></iframe></div></div>
</div>



<div class="action-holders">
    <h1>Next Steps</h1>
    <div class="button-holders">
    
        <div class="button" (click)="openNeuralTradingAcademy()">
            Watch Neural Trading Academy <i class="fa-regular fa-arrow-right"></i>
        </div>

        <div class="button" (click)="openNeural()">
            Sign up for Automated Neural Agent<i class="fa-regular fa-arrow-right"></i>
        </div>

</div>

</div>