<div class="page-wrapper">
    <div class="pricingsection">
        <div class="wrapper-2">
            <div data-duration-in="300" data-duration-out="100" data-w-id="5e61cf30-be0b-048e-50fd-1661c1367252"
                class="pricing-tabs w-tabs">
                <div class="pricing-tabs-menu-2 w-tab-menu">
                    <a data-w-tab="Tab 1" class="monthly-tab-tab-1-2 w-inline-block w-tab-link" [ngClass]="{'w--current': SelectedTab == CheckoutTab.Monthly}" (click)="monthlyClicked()">
                        <div class="text-block-42">Monthly</div>
                    </a>
                    <a data-w-tab="Tab 4" class="monthly-tab-tab-1-2 w-inline-block w-tab-link" [ngClass]="{'w--current': SelectedTab == CheckoutTab.Month3}" (click)="month3Clicked()">
                        <div class="text-block-42">3-month access <span class="text-span-47">(save 33%)</span></div>
                    </a>
                    <a data-w-tab="Tab 5" class="monthly-tab-tab-1-2 w-inline-block w-tab-link" [ngClass]="{'w--current': SelectedTab == CheckoutTab.Month12}" (click)="month12Clicked()">
                        <div class="text-block-42">12-month access <span class="text-span-49">(save 50%)</span>
                        </div>
                    </a>
                </div>
                <div class="tabs-content w-tab-content">
                    <div #monthlyContent data-w-tab="Tab 1" [ngClass]="{'w--tab-active': SelectedTab == CheckoutTab.Monthly}" class="w-tab-pane">
                        <div class="w-layout-grid grid-2">
                            <div class="pricing-table-4">
                                <div class="plan-name-3 highlighted"><img src="assets/img/checkout/starter-header.jpg"
                                        loading="lazy"
                                        alt="">
                                    <div class="pricing-plan-line highlighted"></div>
                                </div>
                                <div class="price-tag-4 free">$15<span class="text-span-48">/mo</span></div>
                                <div class="plan-info-4">Explore our community & next-generation trading algorithm on <strong>limited</strong> markets and <strong>one timeframe</strong><br></div>
                                <a class="button full-width w-inline-block" (click)="checkoutStarter1M()">
                                    <div class="button-text">Start 7-day free trial</div>
                                    <div class="button-bg-cta"></div>
                                </a>
                                <div class="start-now">or skip trial and <a (click)="checkoutStarter1MNonTrial()">pay now</a></div>
                                <div class="text-block-26"><strong class="bold-text-13">Features:</strong></div>
                                <ul role="list" class="pricing-list-3">
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-50">Breakfree Trading™ Algorithm</strong> access to <strong class="bold-text-64">Forex </strong>markets on daily timeframe
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div>
                                            <strong class="bold-text-54">Sonar - </strong>Delivers high-probability trade feed in real-time (on 1D&nbsp;timeframe)
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div>
                                            <strong class="bold-text-54">X-Mode - </strong>see in real-time where price is likely to reverse &nbsp;(on 1D timeframe)
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-10">Bridge -</strong> Connect one of 600+ compatible brokers and manage trades directly from one app
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="text-span-50">TradeGuard™</strong> and <span class="text-span-50">automatic risk management - </span>&nbsp;actively prevents you from making bad trades
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-52">Real-Time Trend Detection</strong> 2.0 <strong> - always know which way market is going</strong>
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-10">Customizable charts &amp; </strong>watchlists
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="pricing-table-4">
                                <div class="plan-name-3 highlighted"><img src="assets/img/checkout/Add-a-heading-15.png"
                                        loading="lazy"
                                        sizes="(max-width: 479px) 87vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, 94vw"
                                        srcset="assets/img/checkout/Add-a-heading-15-p-500.png 500w, assets/img/checkout/Add-a-heading-15-p-800.png 800w, assets/img/checkout/Add-a-heading-15.png 935w"
                                        alt="">
                                    <div class="pricing-plan-line highlighted"></div>
                                </div>
                                <div class="price-tag-4 monthly">$69<span class="text-span-48">/mo</span></div>
                                <div class="plan-info-4">
                                    <strong>20x </strong><strong>your opportunities</strong>. Discover high-probability trades across even more markets and more timeframes
                                </div>
                                <a class="button full-width w-inline-block" (click)="checkoutDiscovery1M()">
                                    <div class="button-bg-cta"></div>
                                    <div class="button-text">Start 7-day free trial</div>
                                </a>
                                <div class="start-now">or skip trial and <a (click)="checkoutDiscovery1MNonTrial()">pay now</a></div>
                                <div class="text-block-26"><strong class="bold-text-11">All features from Starter plus:</strong></div>
                                <ul role="list" class="pricing-list-3">
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-27">
                                            <strong>Breakfree Trading™ Algorithm</strong> access to<strong> Forex, Gold, Silver </strong>markets
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div>
                                            <strong>Sonar</strong> - high-probability trade feed (on 1D, 4h, 1h timeframes)
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div>
                                            <strong>X-Mode - </strong>see in real-time where price is likely to reverse &nbsp;(on 1D, 4h, 1h timeframes)
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-70">Email, push and SMS alerts</strong> - never miss a trade
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-63">24/7</strong> Support
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="pricing-table-4">
                                <div class="plan-name-3 highlighted"><img src="assets/img/checkout/Add-a-heading-12.png"
                                        loading="lazy"
                                        sizes="(max-width: 479px) 87vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, 94vw"
                                        srcset="assets/img/checkout/Add-a-heading-12-p-500.png 500w, assets/img/checkout/Add-a-heading-12-p-800.png 800w, assets/img/checkout/Add-a-heading-12.png 935w"
                                        alt="">
                                    <div class="pricing-plan-line highlighted"></div>
                                </div>
                                <div class="price-tag-4 monthly">$199<span class="text-span-48">/mo</span></div>
                                <div class="plan-info-4"><strong class="bold-text-68">100x your opportunities</strong>. Discover high-probability trades across all possible markets and all timeframes</div>
                                <a class="button full-width w-inline-block" (click)="checkoutPro1M()">
                                    <div class="button-text">Start 7-day free trial</div>
                                    <div class="button-bg-cta"></div>
                                </a>
                                <div class="start-now">or skip trial and <a (click)="checkoutPro1MNonTrial()">pay now</a></div>
                                <div class="text-block-26"><strong class="bold-text-12">All features from Discovery plus:</strong></div>
                                <ul role="list" class="pricing-list-3">
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-55">Breakfree Trading™ Algorithm</strong> access to <strong class="bold-text-71">Forex, Stocks, Cryptocurrencies, Futures, Indices, Bond </strong>markets<strong></strong>
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-54">Sonar </strong> - on all timeframes
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-59">X-Mode </strong> - on all timeframes (down to 1-minute)
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-70">Unlimited email, push and SMS alerts</strong>
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-69">24/7 </strong><strong class="bold-text-60">Priority </strong>Support
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div #month3Content data-w-tab="Tab 4" [ngClass]="{'w--tab-active': SelectedTab == CheckoutTab.Month3}" class="w-tab-pane">
                        <div class="w-layout-grid grid-2">
                            <div class="pricing-table-4">
                                <div class="plan-name-3 highlighted"><img src="assets/img/checkout/starter-header.jpg"
                                        loading="lazy"
                                        alt="">
                                    <div class="pricing-plan-line highlighted"></div>
                                </div>
                                <div class="price-tag-4 free">$40<span class="text-span-48">/3-mo</span></div>
                                <div class="plan-info-4">Explore our community & next-generation trading algorithm on <strong>limited</strong> markets and <strong>one timeframe</strong><br></div>
                                <a class="button full-width w-inline-block" (click)="checkoutStarter3M()">
                                    <div class="button-text">Buy Now</div>
                                    <div class="button-bg-cta"></div>
                                </a>
                                <div class="text-block-26"><strong class="bold-text-13">Features:</strong></div>
                                <ul role="list" class="pricing-list-3">
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-50">Breakfree Trading™ Algorithm</strong> access to <strong class="bold-text-64">Forex </strong>markets on daily timeframe
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div>
                                            <strong class="bold-text-54">Sonar - </strong>Delivers high-probability trade feed in real-time (on 1D&nbsp;timeframe)
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div>
                                            <strong class="bold-text-54">X-Mode - </strong>see in real-time where price is likely to reverse &nbsp;(on 1D timeframe)
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-10">Bridge -</strong> Connect one of 600+ compatible brokers and manage trades directly from one app
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="text-span-50">TradeGuard™</strong> and <span class="text-span-50">automatic risk management - </span>&nbsp;actively prevents you from making bad trades
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-52">Real-Time Trend Detection</strong> 2.0 <strong> - always know which way market is going</strong>
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-10">Customizable charts &amp; </strong>watchlists
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="pricing-table-4">
                                <div class="plan-name-3 highlighted"><img src="assets/img/checkout/Add-a-heading-15.png"
                                        loading="lazy"
                                        sizes="(max-width: 479px) 87vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, 94vw"
                                        srcset="assets/img/checkout/Add-a-heading-15-p-500.png 500w, assets/img/checkout/Add-a-heading-15-p-800.png 800w, assets/img/checkout/Add-a-heading-15.png 935w"
                                        alt="">
                                    <div class="pricing-plan-line highlighted"></div>
                                </div>
                                <div class="price-tag-4 monthly">$147<span class="text-span-48">/3-mo</span></div>
                                <div class="plan-info-4">
                                    <strong>20x </strong><strong>your opportunities</strong>. Discover high-probability trades across even more markets and more timeframes
                                </div>
                                <a class="button full-width w-inline-block" (click)="checkoutDiscovery3M()">
                                    <div class="button-bg-cta"></div>
                                    <div class="button-text">Buy now for 28% off</div>
                                </a>
                                <div class="text-block-26"><strong class="bold-text-17">All features from Starter plus:</strong></div>
                                <ul role="list" class="pricing-list-3">
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-27">
                                            <strong>Breakfree Trading™ Algorithm</strong> access to<strong> Forex, Gold, Silver </strong>markets
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div>
                                            <strong>Sonar</strong> - high-probability trade feed (on 1D, 4h, 1h timeframes)
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div>
                                            <strong>X-Mode - </strong>see in real-time where price is likely to reverse &nbsp;(on 1D, 4h, 1h timeframes)
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-70">Email, push and SMS alerts</strong> - never miss a trade
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-63">24/7</strong> Support
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="pricing-table-4">
                                <div class="plan-name-3 highlighted"><img src="assets/img/checkout/Add-a-heading-12.png"
                                        loading="lazy"
                                        sizes="(max-width: 479px) 87vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, 94vw"
                                        srcset="assets/img/checkout/Add-a-heading-12-p-500.png 500w, assets/img/checkout/Add-a-heading-12-p-800.png 800w, assets/img/checkout/Add-a-heading-12.png 935w"
                                        alt="">
                                    <div class="pricing-plan-line highlighted"></div>
                                </div>
                                <div class="price-tag-4 monthly">$397<span class="text-span-48">/3-mo</span></div>
                                <div class="plan-info-4"><strong class="bold-text-68">100x your opportunities</strong>. Discover high-probability trades across all possible markets and all timeframes</div>
                                <a class="button full-width w-inline-block" (click)="checkoutPro3M()">
                                    <div class="button-text">Buy now for 33% off</div>
                                    <div class="button-bg-cta"></div>
                                </a>
                                <div class="text-block-26"><strong class="bold-text-12">All features from Discovery plus:</strong></div>
                                <ul role="list" class="pricing-list-3">
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-55">Breakfree Trading™ Algorithm</strong> access to <strong class="bold-text-71">Forex, Stocks, Cryptocurrencies, Futures, Indices, Bond </strong>markets<strong></strong>
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-54">Sonar </strong> - on all timeframes
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-59">X-Mode </strong> - on all timeframes (down to 1-minute)
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-70">Unlimited email, push and SMS alerts</strong>
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-69">24/7 </strong><strong class="bold-text-60">Priority </strong>Support
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div #month12Content data-w-tab="Tab 5" [ngClass]="{'w--tab-active': SelectedTab == CheckoutTab.Month12}" class="w-tab-pane">
                        <div class="w-layout-grid grid-2">
                            <div class="pricing-table-4">
                                <div class="plan-name-3 highlighted"><img src="assets/img/checkout/starter-header.jpg"
                                        loading="lazy"
                                        alt="">
                                    <div class="pricing-plan-line highlighted"></div>
                                </div>
                                <div class="price-tag-4 free">$126<span class="text-span-48">/yr</span></div>
                                <div class="plan-info-4">Explore our community & next-generation trading algorithm on <strong>limited</strong> markets and <strong>one timeframe</strong><br></div>
                                <a class="button full-width w-inline-block" (click)="checkoutStarter12M()">
                                    <div class="button-text">Buy Now</div>
                                    <div class="button-bg-cta"></div>
                                </a>
                                <div class="text-block-26"><strong class="bold-text-13">Features:</strong></div>
                                <ul role="list" class="pricing-list-3">
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-50">Breakfree Trading™ Algorithm</strong> access to <strong class="bold-text-64">Forex </strong>markets on daily timeframe
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div>
                                            <strong class="bold-text-54">Sonar - </strong>Delivers high-probability trade feed in real-time (on 1D&nbsp;timeframe)
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div>
                                            <strong class="bold-text-54">X-Mode - </strong>see in real-time where price is likely to reverse &nbsp;(on 1D timeframe)
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-10">Bridge -</strong> Connect one of 600+ compatible brokers and manage trades directly from one app
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="text-span-50">TradeGuard™</strong> and <span class="text-span-50">automatic risk management - </span>&nbsp;actively prevents you from making bad trades
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-52">Real-Time Trend Detection</strong> 2.0 <strong> - always know which way market is going</strong>
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-10">Customizable charts &amp; </strong>watchlists
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="pricing-table-4">
                                <div class="plan-name-3 highlighted"><img src="assets/img/checkout/Add-a-heading-15.png"
                                        loading="lazy"
                                        sizes="(max-width: 479px) 87vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, 94vw"
                                        srcset="assets/img/checkout/Add-a-heading-15-p-500.png 500w, assets/img/checkout/Add-a-heading-15-p-800.png 800w, assets/img/checkout/Add-a-heading-15.png 935w"
                                        alt="">
                                    <div class="pricing-plan-line highlighted"></div>
                                </div>
                                <div class="price-tag-4 monthly">$555<span class="text-span-48">/yr</span></div>
                                <div class="plan-info-4">
                                    <strong>20x </strong><strong>your opportunities</strong>. Discover high-probability trades across even more markets and more timeframes
                                </div>
                                <a class="button full-width w-inline-block" (click)="checkoutDiscovery12M()">
                                    <div class="button-bg-cta"></div>
                                    <div class="button-text">Buy now for 33% off</div>
                                </a>
                                <div class="text-block-26"><strong class="bold-text-17">All features from Starter plus:</strong></div>
                                <ul role="list" class="pricing-list-3">
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-27">
                                            <strong>Breakfree Trading™ Algorithm</strong> access to<strong> Forex, Gold, Silver </strong>markets
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div>
                                            <strong>Sonar</strong> - high-probability trade feed (on 1D, 4h, 1h timeframes)
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div>
                                            <strong>X-Mode - </strong>see in real-time where price is likely to reverse &nbsp;(on 1D, 4h, 1h timeframes)
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-70">Email, push and SMS alerts</strong> - never miss a trade
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-63">24/7</strong> Support
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="pricing-table-4">
                                <div class="plan-name-3 highlighted"><img src="assets/img/checkout/Add-a-heading-12.png"
                                        loading="lazy"
                                        sizes="(max-width: 479px) 87vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, 94vw"
                                        srcset="assets/img/checkout/Add-a-heading-12-p-500.png 500w, assets/img/checkout/Add-a-heading-12-p-800.png 800w, assets/img/checkout/Add-a-heading-12.png 935w"
                                        alt="">
                                    <div class="pricing-plan-line highlighted"></div>
                                </div>
                                <div class="price-tag-4 monthly">$1187<span class="text-span-48">/yr</span></div>
                                <div class="plan-info-4"><strong class="bold-text-68">100x your opportunities</strong>. Discover high-probability trades across all possible markets and all timeframes</div>
                                <a class="button full-width w-inline-block" (click)="checkoutPro12M()">
                                    <div class="button-text">Buy now for 50% off</div>
                                    <div class="button-bg-cta"></div>
                                </a>
                                <div class="text-block-26"><strong class="bold-text-12">All features from Discovery plus:</strong></div>
                                <ul role="list" class="pricing-list-3">
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-55">Breakfree Trading™ Algorithm</strong> access to <strong class="bold-text-71">Forex, Stocks, Cryptocurrencies, Futures, Indices, Bond </strong>markets<strong></strong>
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-54">Sonar </strong> - on all timeframes
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-59">X-Mode </strong> - on all timeframes (down to 1-minute)
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-70">Unlimited email, push and SMS alerts</strong>
                                        </div>
                                    </li>
                                    <li class="pricing-list-item-4">
                                        <div class="check-circle-icon"></div>
                                        <div class="text-block-41">
                                            <strong class="bold-text-69">24/7 </strong><strong class="bold-text-60">Priority </strong>Support
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>