<div class="page-wrapper">
    <div class="pricingsection">
        <div class="wrapper-2">
            <div data-duration-in="300" data-duration-out="100" data-current="Tab 4" data-easing="ease" class="w-tabs">
                <div class="pricing-tabs-menu w-tab-menu">
                  <a data-w-tab="Tab 4" class="tab-link w-inline-block w-tab-link w--current" [ngClass]="{'w--current': SelectedTab == CheckoutTab.Monthly}" (click)="monthlyClicked()">
                    <div>Monthly </div>
                  </a>
                  <a data-w-tab="Tab 5" class="tab-link w-inline-block w-tab-link" [ngClass]="{'w--current': SelectedTab == CheckoutTab.Month3}" (click)="month3Clicked()">
                    <div class="text-block-54">Quarterly <sup class="superscript">(Save up to 33%)</sup></div>
                  </a>
                  <a data-w-tab="Tab 6" class="tab-link w-inline-block w-tab-link" [ngClass]="{'w--current': SelectedTab == CheckoutTab.Month12}" (click)="month12Clicked()">
                    <div class="text-block-54">Yearly<sup class="superscript">(Save up to 50%)</sup></div>
                  </a>
                </div>
                <div class="w-tab-content">
                  <div data-w-tab="Tab 1" [ngClass]="{'w--tab-active': SelectedTab == CheckoutTab.Monthly}" class="w-tab-pane">
                    <div class="w-layout-grid pricing-grid">
                      <div class="pricing-plan">
                        <div class="text-center">
                          <h4>Discovery</h4>
                          <div class="price-wrapper">
                            <div class="dollar-sign">$</div>
                            <div class="display-heading-2 no-bottom-margin">69</div>
                          </div>
                          <div class="small-text-2">Monthly</div>
                        </div>
                        <div class="button-row">
                          <div class="button bordered checkout new pricingcta w-inline-block" (click)="checkoutDiscovery1M()">
                            <div>Start 7-day trial</div>
                          </div>
                        </div>
                        <div class="skiptrial w-inline-block" (click)="checkoutDiscovery1MNonTrial()">
                          <div>Or skip trial and buy now</div>
                        </div>
                        <h6 class="checklist-heading">Features:</h6>
                        <div class="w-layout-grid checklist pricing-checklist">
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">BFT Navigator</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Breakfree Trading Algorithm</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Trade Forex, Indexes and Metals</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">X-Mode &amp; Sonar 15m+</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Real-time Trend Detection 3.0</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">BFT Academy (24 videos)</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Risk Management Suite</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Strategy Mode</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Trade Guard</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Access to Inner Circle Community</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Connect to any Broker / Binance</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">10 sms alerts a day</div>
                          </div>
                        </div>
                        <div class="icon-link support-button w-inline-block" (click)="showSupport()">
                          <div class="fine-print-text">Talk to a Team Member</div>
                        </div>
                      </div>
                      <div class="justify-content-left">
                        <div class="plan-badge hidden">
                          <div>Most Popular</div>
                        </div>
                        <div class="pricing-plan bordered">
                          <div class="text-center">
                            <h4>Pro</h4>
                            <div class="price-wrapper">
                              <div class="dollar-sign">$</div>
                              <div class="display-heading-2 no-bottom-margin">129</div>
                            </div>
                            <div class="small-text-2">Monthly</div>
                          </div>
                          <div class="button-row">
                            <div class="button bordered checkout new pricingcta w-inline-block" (click)="checkoutPro1M()">
                              <div>Start 7-day trial</div>
                            </div>
                          </div>
                          <div class="skiptrial w-inline-block" (click)="checkoutPro1MNonTrial()">    
                            <div>Or skip trial and buy now</div>
                          </div>
                          <h6 class="checklist-heading">All features from discovery plus:</h6>
                          <div class="w-layout-grid checklist pricing-checklist">
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">X-Mode &amp; Sonar 1m+ </div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">Trade Stocks, Crypto</div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">X-Mode 1m, 5m</div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">25 sms alerts a day</div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">Priority support</div>
                            </div>
                          </div>
                          <div class="icon-link support-button w-inline-block" (click)="showSupport()">
                            <div class="fine-print-text">Talk to a Team Member</div>
                          </div>
                        </div>
                      </div>
                      <div class="justify-content-left">
                        <div class="pricing-plan bordered exclusive">
                          <div class="text-center">
                            <h4>Neural <br><span class="early">(Limited Early Access)</span></h4>
                            <div class="price-wrapper">
                              <div class="dollar-sign">$</div>
                              <div class="display-heading-2 no-bottom-margin">249</div>
                            </div>
                            <div class="small-text-2">Monthly</div>
                          </div>
                          <div class="button-row">
                            <div class="button bordered checkout new pricingcta w-inline-block" (click)="checkoutML1M()">
                              <div>Buy early access now</div>
                            </div>
                          </div>
                          <h6 class="checklist-heading">All features from pro plus:</h6>
                          <div class="w-layout-grid checklist pricing-checklist">
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">Neural Mode 1m+ </div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">20 Neural Enabled markets</div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">Realtime AI powered predictions</div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">50 sms alerts a day</div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">Early access to new features</div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">Priority support</div>
                            </div>
                          </div>
                          <div class="icon-link support-button w-inline-block" (click)="showSupport()">
                            <div class="fine-print-text">Talk to a Team Member</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div data-w-tab="Tab 2" [ngClass]="{'w--tab-active': SelectedTab == CheckoutTab.Month3}" class="w-tab-pane">
                    <div class="w-layout-grid pricing-grid">
                      <div class="pricing-plan">
                        <div class="text-center">
                          <h4>Discovery</h4>
                          <div class="price-wrapper">
                            <div class="dollar-sign">$</div>
                            <div class="display-heading-2 no-bottom-margin">147</div>
                          </div>
                          <div class="small-text-2">Quarterly</div>
                        </div>
                        <div class="button-row">
                          <div class="button bordered checkout new pricingcta w-inline-block" (click)="checkoutDiscovery3M()">
                            <div>Buy now</div>
                          </div>
                        </div>
                        <h6 class="checklist-heading">Features:</h6>
                        <div class="w-layout-grid checklist pricing-checklist">
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">BFT Navigator</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Breakfree Trading Algorithm</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Trade Forex, Indexes and Metals</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">X-Mode &amp; Sonar (15m, 1h, 4h &amp; 1D) </div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Real-time Trend Detection 3.0</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">BFT Academy (24 videos)</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Risk Management Suite</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Strategy Mode</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Trade Guard</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Access to Inner Circle Community</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Connect to any Broker / Binance</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">10 sms alerts a day</div>
                          </div>
                        </div>
                        <div class="icon-link support-button w-inline-block" (click)="showSupport()">
                          <div class="fine-print-text">Talk to a Team Member</div>
                        </div>
                      </div>
                      <div class="justify-content-left">
                        <div class="plan-badge hidden">
                          <div>Most Popular</div>
                        </div>
                        <div class="pricing-plan bordered">
                          <div class="text-center">
                            <h4>Pro</h4>
                            <div class="price-wrapper">
                              <div class="dollar-sign">$</div>
                              <div class="display-heading-2 no-bottom-margin">259</div>
                            </div>
                            <div class="small-text-2">Quarterly</div>
                          </div>
                          <div class="button-row">
                            <div class="button bordered checkout new pricingcta w-inline-block" (click)="checkoutPro3M()">
                              <div>Buy now</div>
                            </div>
                          </div>
                          <h6 class="checklist-heading">All features from discovery plus:</h6>
                          <div class="w-layout-grid checklist pricing-checklist">
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">X-Mode &amp; Sonar (1m &amp; 5m) </div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">Trade Stocks, Crypto</div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">X-Mode 1m, 5m</div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">25 sms alerts a day</div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">Priority support</div>
                            </div>
                          </div>
                          <div class="icon-link support-button w-inline-block" (click)="showSupport()">
                            <div class="fine-print-text">Talk to a Team Member</div>
                          </div>
                        </div>
                      </div>
                      <div class="justify-content-left">
                        <div class="pricing-plan bordered exclusive">
                          <div class="text-center">
                            <h4>Neural <br><span class="early">(Limited Early Access)</span></h4>
                            <div class="price-wrapper">
                              <div class="dollar-sign">$</div>
                              <div class="display-heading-2 no-bottom-margin">699</div>
                            </div>
                            <div class="small-text-2">Quarterly</div>
                          </div>
                          <div class="button-row">
                            <div class="button bordered checkout new pricingcta w-inline-block" (click)="checkoutML3M()">
                              <div>Buy now</div>
                            </div>
                          </div>
                          <h6 class="checklist-heading">All features from pro plus:</h6>
                          <div class="w-layout-grid checklist pricing-checklist">
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">Neural Mode (All timeframes) </div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">20 Neural Enabled markets</div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">Realtime AI powered predictions</div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">50 sms alerts a day</div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">Early access to new features</div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">Priority support</div>
                            </div>
                          </div>
                          <div class="icon-link support-button w-inline-block" (click)="showSupport()">
                            <div class="fine-print-text">Talk to a Team Member</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div data-w-tab="Tab 3" [ngClass]="{'w--tab-active': SelectedTab == CheckoutTab.Month12}" class="w-tab-pane">
                    <div class="w-layout-grid pricing-grid">
                      <div class="pricing-plan">
                        <div class="text-center">
                          <h4>Discovery</h4>
                          <div class="price-wrapper">
                            <div class="dollar-sign">$</div>
                            <div class="display-heading-2 no-bottom-margin">555</div>
                          </div>
                          <div class="small-text-2">Yearly</div>
                        </div>
                        <div class="button-row">
                          <div class="button bordered checkout new pricingcta w-inline-block" (click)="checkoutDiscovery12M()">
                            <div>Buy now</div>
                          </div>
                        </div>
                        <h6 class="checklist-heading">Features:</h6>
                        <div class="w-layout-grid checklist pricing-checklist">
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">BFT Navigator</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Breakfree Trading Algorithm</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Trade Forex, Indexes and Metals</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">X-Mode &amp; Sonar (15m, 1h, 4h &amp; 1D) </div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Real-time Trend Detection 3.0</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">BFT Academy (24 videos)</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Risk Management Suite</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Strategy Mode</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Trade Guard</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Access to Inner Circle Community</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">Connect to any Broker / Binance</div>
                          </div>
                          <div class="checklist-item-small"><i class="fa fa-check"></i>
                            <div class="small-text-2 text-white">10 sms alerts a day</div>
                          </div>
                        </div>
                        <div class="icon-link support-button w-inline-block" (click)="showSupport()">
                          <div class="fine-print-text">Talk to a Team Member</div>
                        </div>
                      </div>
                      <div class="justify-content-left">
                        <div class="plan-badge hidden">
                          <div>Most Popular</div>
                        </div>
                        <div class="pricing-plan bordered">
                          <div class="text-center">
                            <h4>Pro</h4>
                            <div class="price-wrapper">
                              <div class="dollar-sign">$</div>
                              <div class="display-heading-2 no-bottom-margin">779</div>
                            </div>
                            <div class="small-text-2">Yearly</div>
                          </div>
                          <div class="button-row">
                            <div class="button bordered checkout new pricingcta w-inline-block" (click)="checkoutPro12M()">
                              <div>Buy now</div>
                            </div>
                          </div>
                          <h6 class="checklist-heading">All features from discovery plus:</h6>
                          <div class="w-layout-grid checklist pricing-checklist">
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">X-Mode &amp; Sonar (1m &amp; 5m) </div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">Trade Stocks, Crypto</div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">X-Mode 1m, 5m</div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">25 sms alerts a day</div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">Priority support</div>
                            </div>
                          </div>
                          <div class="icon-link support-button w-inline-block" (click)="showSupport()">
                            <div class="fine-print-text">Talk to a Team Member</div>
                          </div>
                        </div>
                      </div>
                      <div class="justify-content-left">
                        <div class="pricing-plan bordered exclusive">
                          <div class="text-center">
                            <h4>Neural <br><span class="early">(Limited Early Access)</span></h4>
                            <div class="price-wrapper">
                              <div class="dollar-sign">$</div>
                              <div class="display-heading-2 no-bottom-margin">2499</div>
                            </div>
                            <div class="small-text-2">Yearly</div>
                          </div>
                          <div class="button-row">
                            <div class="button bordered checkout new pricingcta w-inline-block" (click)="checkoutML12M()">
                              <div>Buy now</div>
                            </div>
                          </div>
                          <h6 class="checklist-heading">All features from pro plus:</h6>
                          <div class="w-layout-grid checklist pricing-checklist">
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">Neural Mode (All timeframes) </div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">20 Neural Enabled markets</div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">Realtime AI powered predictions</div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">50 sms alerts a day</div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">Early access to new features</div>
                            </div>
                            <div class="checklist-item-small"><i class="fa fa-check"></i>
                              <div class="small-text-2 text-white">Priority support</div>
                            </div>
                          </div>
                          <div class="icon-link support-button w-inline-block" (click)="showSupport()">
                            <div class="fine-print-text">Talk to a Team Member</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>