<div class="instrument-search">
    <form>
        <mat-form-field class="crypto-autocomplete" (click)="onClick()">
            <input class="watchlistinput"
                   matInput
                   #instrument_input
                   [placeholder]="getPlaceholderText() || ('Add market' | translate)"
                   [matAutocomplete]="auto"
                   [formControl]="inputControl"
                   (blur)="handleBlur()"
                   (click)="handleClick()"
                   (focus)="onFocus()">
            <i matSuffix class="crypto-icon crypto-icon-search icon-size"></i>

            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith"
                              (optionSelected)="handleInstrumentSelected($event)">
                <mat-option *ngFor="let instrument of (filteredInstruments | async)" [value]="instrument"
                            class="instrument-search-option" title="{{instrument.symbol}} - {{instrument.company}} - {{instrument.exchange}}">
                    <span>{{instrument.symbol}}</span>
                    <span class="description">{{instrument.company}}</span>
                    <span class="exchange">{{instrument.exchange}}</span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>

</div>
