/deep/ .instrument-search-option {
  .mat-option-text {
    display: flex;
    justify-content: space-between;

    .crypto-autocomplete {
      mat-form-field {
        width: 100% !important;
      }
    }
  }

  .exchange {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .description {
    max-width: 50%;
    padding-left: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
  }
}

form {
  line-height: 1;
}

.icon-size {
  font-size: 1.6em
}



.instrument-search {
  overflow: hidden !important ;
  border-radius: 5px !important;
  max-height:25px;
  padding-left:5px;
  overflow:hidden;

}


input{
  font-size: 10px !important;
  font-weight: 700 !important;
  height:25px !important;
  max-height:25px;
}


.instrument-search i{
  display:none;

}