<div class="wrapper">
    <div class="placeholder loading-placeholder" *ngIf="showPlaceholder">
<!--        <preloader [scaleCoef]="0.35" [dotColor]="'rgba(255, 255, 255, 0.75)'"></preloader>-->
    </div>
    <div class="placeholder error-placeholder" *ngIf="showErrorPlaceholder">
        <span translate="imageFromCam.error"></span>
    </div>
    <div [style.display]="stream ? 'block' : 'none'" class="video-wrapper">
        <video #video width="100%" height="100%" autoplay></video>
        <canvas #canvas width="400px" height="300px"></canvas>
    </div>
</div>
