@import "../../../../global-styles/themes/themes";
@import "../../../../global-styles/mixins/themify";


:host {
  .crypto-modal {
    min-width: auto;
    max-height: 90vh;
  }

  .modal-content {
    max-width: 480px;
    padding: 17px 22px 29px 22px;
    font-size: 13px;

    .modal-body {
      max-height: calc(80vh - 180px);
    }

    .currency-logo {
      height: 100px;
      width: 100%;
      padding: 20px;
    }

    .balance-section {
      max-width: 436px;
      height: 151px;
      border-radius: 5px;
      padding: 23px 18px 23px 25px;

      .balance {
        display: grid;
        justify-content: center;
        text-align: center;

        div {
          color: #8798ad;

          span {
            color: #d5d5dc;
          }
        }

        div:nth-child(1) {
          font-size: 11px !important;
          color: #8798ad;
        }

        span:nth-child(2) {
          font-size: 30px !important;
        }
      }
    }
  }


  .crypto-form-unit {
    margin-top: 15.6px;
  }

  /deep/ .crypto-input {
    width: 100%;
  }

  /deep/ .mat-checkbox-layout {
    white-space: normal;
    padding-top: 8px;
  }

  /deep/ .mat-checkbox-frame {
    border-radius: 8px;
  }

  /deep/ .mat-checkbox-background {
    border-radius: 8px;
  }

  /deep/ .mat-checkbox-checkmark {
    display: none;
  }

  /deep/ .mat-form-field-infix {
    display: flex !important;
    justify-self: center;
    justify-items: center;
  }

  /deep/ .mat-checkbox-inner-container {
    position: relative;
    bottom: 11px;
  }

  /deep/ {
    .mat-form-field-subscript-wrapper {
      bottom: -15px !important;
    }
  }

  .crypto-icon {
    font-size: 13px;
    cursor: pointer;
  }

  .crypto-button {
    height: 40px;
    border-radius: 5px;
    margin-top: 18px;
  }

  .footer-modal {
    span {
      color: #8798ad;
    }
  }


  .footer-content {
    padding: 12px 0 8px 0;
  }

  .icon-section {
    height: 85px;
    z-index: 1;
  }

  /deep/ currency-icon {
    z-index: 1;
    margin: auto;
  }

  /deep/ .symbol-flag {
    height: 55px !important;
    width: 55px;
  }

}

@include themify($themes, true) {
  .modal-content {
    background-color: themed('appModalsPanelColor');
    color: themed('valueTextColor');

    .balance-section {
      background-color: themed('inputInModalsBackgroundColor');
    }

    .about-deposit {
      color: themed('titleTextColor');
    }
  }

  .crypto-button {
    background-color: themed('buyColor');
    color: white;
  }

  .bt {
    color: themed('valueTextColor');
  }

  /deep/ .mat-checkbox-checked .mat-checkbox-background {
    background-color: themed('buyColor');
  }
}
