@import "global-styles/variables";
@import "global-styles/themes/themes";
@import "global-styles/mixins/themify";
@import "modules/Layout/styles/themes/themes";

:host {
  font-family: "Fira Sans", sans-serif;
  height: 100%;
  width: 100%;
  display: flex;

  .root {
    height: 100%;
    width: 100%;
    display: flex;
  }

  /deep/ {
    .legacy-button {
      display: none !important;
    }
  }
}