@import "mixins/themify";
@import "themes/themes";
@import "global-styles/variables";

:host {
  .crypto-modal {
    .crypto-icon-close {
      font-size: 14px !important;
    }
    div.modal-body {
      position: static;
      margin-top:0px !important;
      padding: 0px !important;
      display: flex;
      flex-direction: column;
      border-radius:15px;
    }
  }

  .crypto-modal .modal-content .close {
    right: 14px;
    top: 21px;
}
  .modal-header {
    background: transparent;
    height:auto;
    .modal-title {
      font-size: 20px !important;
      padding-top:15px;
    }
  }

  .instrument-type-container {
    display: flex;
    max-width: 550px;
    flex-flow: wrap;
    padding: 5px 10px;
    border-bottom: 2px solid;
    .instrument-type {
      display: flex;
      font-size: 12px;
      margin: 3px 3px;
      font-weight:700;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 15px;
      opacity:0.75;
    }
  }

  .instrument-input-container {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 15px 10px;
    border-bottom: 2px solid;
    .crypto-input {
      width: 100%;
      background-color: transparent;
      padding: 0px;
      font-size: 23px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .result-instruments {
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 10px;
    position: relative;
    height: 30vh;
  }

  .loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .no-data {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .result-instrument {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding: 10px 10px;
    border-bottom: 1px solid;
    cursor: pointer;
    border-radius: 5px;
    border: 0px;
    margin-right:5px;
  }

  .instrument-name, .instrument-company, .instrument-datafeed {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .instrument-name {
    max-width: 150px;
    width: 25%;
    font-weight: 700;
  }

  .instrument-mapping {
    max-width: 50px;
    width: 5%;
    text-align: right;
  }

  .instrument-company {
    max-width: 300px;
    width: 45%;
    opacity: 0.75;
  }

  .instrument-datafeed {
    text-transform: uppercase;
    max-width: 80px;
    width: 25%;
    background: #5f5f5f2e;
    text-align: center;
    border-radius: 2px;
    font-weight: 700;
    font-size: 11px;
    padding-top: 2px;
    opacity:0.75;
  }

  .loader-container {
    width: 75px;
    height: 75px;
  }

  @media (max-height: 600px) {
    .modal-body {
      max-height: calc(100vh - 100px);
    }
  }
  @media (max-height: 500px) {
    .modal-body {
      max-height: calc(100vh - 60px);
    }
  }
}

@include themify($themes, true) {

  .text {
    color: themed('valueTextColor');
  } 

  .result-instrument {
    border-bottom-color: themed('activeBackgroundColor');
  }

  .instrument-input-container {
    border-bottom-color: themed('new-search-field-selector-bg');
  } 

  .search-icon, .crypto-input {
    color: themed('titleTextColor');
  }

  .instrument-datafeed {
    color: themed('provider-text-color');
  }

  .close, .modal-title, .instrument-name, .instrument-company, .no-data {
    color: themed('valueTextColor');
  }

  .instrument-type {
    color: themed('valueTextColor');
    background: themed('tableBorders');
  }

  .result-instrument {
    &.preselected {
      background: themed('new-search-field-selector-bg');
    }
  }

  .instrument-type {
    color: themed('valueTextColor');
    background: themed('card-background-color');

    &.active {
      font-weight: 700 !important;
      color: white;
      background: themed('new-sort-color-bg');
    }
  }

  .policy-agreement-wrapper {
    label {
      color: themed('valueTextColor');
    }
  }

  .instrument-type-container{
    border-bottom-color: themed('new-search-field-selector-bg');
  }

  .instrument-mapping {
    color: themed('accentColor');
  }

  div.modal-body {
    background-color: themed('new-search-field-bg');
  }

  /deep/.highlight {
    //color: themed('accentColor');
    color: #6170f3;
    background: #5858ff30;
    padding: 2px 0px;
  }
}