<div class="notifications-container">
    <div class="notifications" *ngIf="notifications && notifications.length; else noNotification">
        <div class="notifications-header">Notifications</div>
        <div class="notification" *ngFor="let notification of notifications">
            <div class="columns" (click)="openPost(notification)">
                <div class="avatar">
                    <name-avatar [name]="notification.userName" [src]="notification.userAvatarId"></name-avatar>
                </div>
                <div class="content">
                    <div class="header">
                        <div class="header-left">
                            <div class="username">{{notification.userName}}</div>
                            <div class="user-level">
                                <badge [level]="notification.userLevel" [rank]="notification.levelName"></badge>
                            </div>
                        </div>
                        <div class="header-right">
                            {{notification.time}}
                            <span class="unread" *ngIf="!notification.isRead"></span>
                        </div>
                    </div>
                    <div class="data">
                        {{notification.text}}
                    </div>
                </div>
            </div>
        </div>
        <div class="load-more-reactions" *ngIf="canLoadMore" (click)="loadMore($event)">
            Load More
        </div>
    </div>
    <ng-template #noNotification>
        <div class="notifications-header">Notifications</div>

        <div class="no-notifications">
            <img class="widget-icon" src="/assets/img/bells-solid.svg">
            <span class="emptynotifications">
                This is where you get updates on your activity.
            </span>
        </div>
    </ng-template>

    <div class="loader-container" *ngIf="loading">
        <bft-loader class="loader-component"></bft-loader>
    </div>
</div>