@import "../../../../../../styles/themes/themes";
@import "mixins/themify";

:host {
    .crypto-modal {
        min-width: 100px !important;
    }

    .modal-content {
        max-width: 450px;
    }
    .content, .checkbox-container {
        font-size: 12px;
    }
    .btns-wrapper {
        justify-content: space-between;

        button {
            margin-left: 20px;
        }
    }

    .checkbox-container {
        display: flex;
        align-items: center;
        label {
            &::before {
                background: #c7ccd4 !important;
            }
        } 
    }
}

@include themify($themes, true) {
    .content, .checkbox-container {
        color: themed("valueTextColor");
    }
}
