.mt-group, .binance-group {
  display: flex;
  column-gap: 9px;
  row-gap: 9px;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;

}

.mt-group div, .binance-group div {
  display: flex;
  -moz-column-gap: 9px;
  column-gap: 9px;
  row-gap: 9px;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}

.broker-select-container .crypto-button {
  width: 100%;
}

.disconnect-broker {
  margin-top: 20px;
  button {
    width: 100%;
  }
}


.broker-select-container{
  column-gap: 9px;
  display: flex;
  row-gap: 9px;
  flex-direction: row;
  
}

.section-title { 
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
}

.section-title {
  color: #000; /* Replace with your desired color */
}

