<div class="broker-select-container m-top-10">
    <selector *ngIf="!isBrokerConnected"
              class="bordered"
              [options]="availableBrokers"
              [selectedOption]="selectedBroker"
              [placeholder]="'addAccount' | translate"
              (optionClick)="onBrokerSelect($event)"></selector>

    <div class="disconnect-broker" *ngIf="!isBrokerConnected" [class.disabled]="!selectedBroker">
        <button class="crypto-button crypto-button_action cursor-pointer"
                (click)="connectCurrentBroker()">{{'tradeManager.connect' | translate}}</button>
    </div>
    <div class="disconnect-broker" *ngIf="isBrokerConnected">
        <button class="crypto-button crypto-button_danger cursor-pointer"
                (click)="disconnectCurrentBroker()">{{'tradeManager.disconnect' | translate}}</button>
    </div>
</div>