<div class="wallet-container">
    <div class="wallet-tabs">
        <mat-tab-group>
            <mat-tab label="Wallets">
                <companion-wallets></companion-wallets>
            </mat-tab> 
            <mat-tab label="End date deposits for processing">
                <companion-ended-end-date-deposits></companion-ended-end-date-deposits>
            </mat-tab>
            <mat-tab label="User Withdraws">
                <requested-withdraws></requested-withdraws>
            </mat-tab>
            <mat-tab label="Redeems">
                <redeems></redeems>
            </mat-tab>
            <mat-tab label="Forgotten pins">
                <forgot-pin></forgot-pin>
            </mat-tab>
            <mat-tab label="Transfer Logs">
                <transfer-logs></transfer-logs>
            </mat-tab>
            <mat-tab label="P2P Accounts">
                <p2p-accounts></p2p-accounts>
            </mat-tab>
            <mat-tab label="P2P KYC Awaiter">
                <p2p-kyc-accounts></p2p-kyc-accounts>
            </mat-tab>
            <mat-tab label="P2P Ads">
                <p2p-ads></p2p-ads>
            </mat-tab>
            <mat-tab label="P2P Ads History">
                <p2p-ads [history]="true"></p2p-ads>
            </mat-tab>
            <mat-tab label="P2P Dispute Orders">
                <p2p-dispute-orders></p2p-dispute-orders>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>