<div class="wallet-container">
    <div class="wallet-tabs">
        <mat-tab-group>
            <mat-tab label="Wallets">
                <companion-wallets></companion-wallets>
            </mat-tab> 
            <mat-tab label="End date deposits for processing">
                <companion-ended-end-date-deposits></companion-ended-end-date-deposits>
            </mat-tab>
            <mat-tab label="User Withdraws">
                <requested-withdraws></requested-withdraws>
            </mat-tab>
            <mat-tab label="Redeems">
                <redeems></redeems>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>