@import "../../../../styles/themes/themes";
@import "mixins/themify";

:host {
  .crypto-modal {
    min-width: 350px;
    max-width: 600px;
  }

  .input-control, .crypto-button {
    width: 80px;
    padding: 8px 0px;
  }

  .disabled {
    opacity: 0.35;
    pointer-events: none;
  }

  .btns-wrapper {
    justify-content: flex-end; 
  }

  .message-wrapper {
    font-size: 12px;
  }
}

@include themify($themes, true) {
  .message-wrapper {
    color: themed('valueTextColor');
  }
}



.modal-header.bftorderheader {
  background: #2E2E38;
  padding: 10px 25px;
  overflow: hidden;
  border-bottom:0px;
}

.bftorderheader .modal-title {
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}

.modal-content.bftordermodal {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-top: 10px;
}



.bftorderheader button.close {
  top: 15px;
  right: 25px;
  opacity: 0.5 !important;
  font-size: 9px;
  color: #fff !important;
}

.bftordermodal .modal-body {
  margin-top: 0px !important;
}
.bftordermodal .crypto-text.is-secondary {
  font-weight: bold !important;
}