@import "../../../../styles/themes/themes";
@import "mixins/themify";

:host {
  .crypto-modal {
    min-width: 350px;
    max-width: 600px;
  }

  .input-control, .crypto-button {
    width: 100px;
    padding: 8px 0px;
  }

  .disabled {
    opacity: 0.35;
    pointer-events: none;
  }

  .btns-wrapper {
    justify-content: flex-end; 
  }

  .message-wrapper {
    font-size: 12px;
  }
}
