<div class="crypto-modal bftorderpanel">


    <div class="modal-header bftorderheader">
        <button type="button" class="close" (click)="close()"><i class="crypto-icon crypto-icon-close"></i></button>
        <h4 class="modal-title">{{'tradeManager.closePositionDialogTitle' | translate}}</h4>
    </div>


    <div class="modal-content bftordermodal">
       
        <div class="modal-body">
           <div class="message-wrapper">Confirm close of all '{{position.Symbol}}' positions</div>
        </div>
        <div class="modal-footer">
            <div class="btns-wrapper flex" [class.disabled]="showSpinner">
                 <button class="crypto-button crypto-button_primary"
                        (click)="submit()">
                        {{'close' | translate}}
                </button>
            </div>
        </div>
    </div>
    <loader *ngIf="showSpinner"></loader>
</div>
