@import "global-styles/variables";
@import "global-styles/themes/themes";
@import "global-styles/mixins/themify";
@import "global-styles/mixins/dialog-tab-header";

@include dialogTabHeader();

:host {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  .change-password {
    margin-top: 39px;
    width: 100%;
    .section {
      padding: 12px 28px;
      margin-top: -31px;
      border-radius: 5px;
      min-height: 81px;

      .crypto-form-unit {
        width: 32%;
      }
    }

    .crypto-button {
      position: relative;
      top: 23px;
    }
  }
}

@include themify($themes, true) {
  .change-password {
    .section {
      background-color: themed('appPanelColor');
      box-shadow: themed('box-shadowPanel');
    }
  }

  .data, .crypto-button {
    color: themed('valueTextColor');
  }

  .crypto-button {
    background-color: themed('inputBackgroundColor');
  }

  .change-button {
    background-color: themed('appPanelColor') !important;
  }

}
