<div class="section flex" *ngIf="!isPasswordChanging">
    <button class="crypto-button change-button" (change)="toggleChangePassword()" (click)="passwordChanging()">
        {{'changePassword'| translate}}
    </button>
</div>

<div [formGroup]="formGroup" *ngIf="isPasswordChanging" class="change-password">
    <div class="section flex justify-space-between">
        <div class="flex justify-space-between" style="width: 80%">
            <div class="crypto-form-unit">
                <div class="form-unit__label">{{"currentPassword" | translate}}:</div>
                <mat-form-field class="crypto-input with-hint full-width">
                    <input matInput type="password" formControlName="currentPassword" autocomplete="current-password"
                           placeholder="{{'currentPassword' | translate}}">
                    <mat-error formError="currentPassword"></mat-error>
                </mat-form-field>
            </div>

            <div class="crypto-form-unit">
                <div class="form-unit__label">{{"newPassword" | translate}}:</div>
                <mat-form-field class="crypto-input with-hint">
                    <input matInput type="password" formControlName="newPassword" autocomplete="new-password"
                           placeholder="{{'newPassword' | translate}}">
                    <mat-error formError="newPassword"></mat-error>
                </mat-form-field>
            </div>

            <div class="crypto-form-unit">
                <div class="form-unit__label">{{"confirmPassword" | translate}}:</div>
                <mat-form-field class="crypto-input with-hint">
                    <input matInput type="password" [errorStateMatcher]="errorMatcher" autocomplete="new-password"
                           formControlName="confirmPassword"
                           placeholder="{{'confirmPassword' | translate}}">
                    <mat-error *ngIf="formGroup.hasError('mismatchPasswords')">
                        {{"validationErrors.mismatchPasswords" | appTranslate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="buttons flex">
            <button class="crypto-button crypto-button_success"
                    [disabled]="formGroup.invalid"
                    [ngClass]="{'is-loading': processing}"
                    (click)="changePassword()">{{'change' | translate}}</button>
            <button class="crypto-button" (change)="toggleChangePassword()" (click)="passwordChanging()">
                {{'close' | translate}}
            </button>
        </div>
    </div>
</div>
