<div class="wallet-container">
    <div class="wallet-id">
        Ad #{{adId}}
    </div>
    <div class="wallet-tabs">
        <mat-tab-group>
            <mat-tab label="Orders">
                <p2p-ad-orders [adId]="adId"></p2p-ad-orders>
            </mat-tab>
            <!-- <mat-tab label="Withdraws">
                <companion-wallet-withdraw [wallet]="wallet"></companion-wallet-withdraw>
            </mat-tab>
            <mat-tab label="End Date Deposits">
                <companion-wallet-end-date-deposit [wallet]="wallet"></companion-wallet-end-date-deposit>
            </mat-tab>
            <mat-tab label="Balances">
                <companion-wallet-balance [wallet]="wallet"></companion-wallet-balance>
            </mat-tab> -->
        </mat-tab-group>
    </div>
</div>