<!--<div class="root flex flex-direction-column">-->
<!--    <div class="background" [ngStyle]="{'background-image': 'url(assets/img/login-page/Bg-sign-in.png)'}"></div>-->
<!--    <mat-progress-bar mode="indeterminate" class="progressbar" *ngIf="showProgress"></mat-progress-bar>-->
<!--    <navigation></navigation>-->
<!--    <div class="flex-grow-1 h-0 overflow-y-auto content-wrapper">-->
<!--        <router-outlet></router-outlet>-->
<!--    </div>-->
<!--</div>-->

<base-sidebar [contentPaddingTop]="0">
    <landing-nav class="navigation"></landing-nav>
    <landing-container-sidebar class="sidebar"></landing-container-sidebar>
</base-sidebar>
