@import "themes/themes";
@import "mixins/themify";

:host {
  .content {
   font-size: 12px;
   padding: 15px;
  }
  .definition {
    font-weight: 700;
  }
  .ladder-wrapper  {
 
  }

  .ranktop {
    border-top: 1px solid #eaecef;
    border-bottom: 1px solid #eaecef;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0px 10px;
    min-height: 40px;
}
.rank {
  font-weight: 700;
  min-width: 70px;
  width: 20%;
}

 .ranktop img {
  height: 30px;
}

.descripton {
  font-weight: 700;
  font-size: 11px;
  min-width: 60px;
  width: 20%;
}

.reward {
  display: flex;
  min-width:100px;
  

}

.bonus {
  font-weight: 700;
  font-size: 12px;
}
span.plus {
  font-size: 22px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 700;
  vertical-align: middle;
}



.ranktop.header {
  background: #f9f9fa;
  color: #848e9c;
  border: none !important;
  font-weight: 700;
  
    
}

.content {
  background: #fff;
}



}

@include themify($themes, true) {
  
}
