<div class="content">
    <h4>Start your Breakfree Trading Journey</h4>
    <p>Complete daily and weekly mission, collect experience points, increase your level and rank.</p>
    <br />
    <h5>Ranks</h5>
    <p>
        <span class="definition">Newbie</span> - level 1 to 3
    </p>
    <p>
        <span class="definition">Bronze</span> - level 4 to 6. Unlock Sonar 15m Trades for Pro and 1hr for Discovery.
    </p>

    <p>
        <span class="definition">Silver</span> - level 7 to 11
    </p>

    <p>
        <span class="definition">Gold</span> - level 12 to 17
    </p>

    <p>
        <span class="definition">Platinum</span> - level 18 to 24
    </p>

    <p>
        <span class="definition">Master</span> - level 25 to 30
    </p>

    <p>
        <span class="definition">Legend</span> - level 30
    </p>

    <br />
    <h5>Definitions</h5>
    <p>
        <span class="definition">Completed trade</span> - closed trade with positive PL.
    </p>
</div>