<div class="content">


 <div class="ladder-wrapper">

    <div class="ranktop"> 
        <div class="rank">Newbie</div>
        <div class="descripton">Level 1</div>
        <div class="reward"></div>
    </div>


    <div class="ranktop"> 
        <div class="rank">Bronze</div>
        <div class="descripton">Level 4</div>
        <div class="reward">  
            <span class="insidereward"> 
                <img src="/assets/img/ranks/badge_bronze.png" /></span>
                 <span class="plus">+</span>  
                 <span class="insidereward">Sonar low timeframe mode</span>
                </div>
    </div>

    
    <div class="ranktop"> 
        <div class="rank">Silver</div>
        <div class="descripton">Level 7</div>
        <div class="reward"> 
            <span class="insidereward"> 
             <img src="/assets/img/ranks/badge_silver.png" />
            </span>
        </div>
    </div>

    
    <div class="ranktop"> 
        <div class="rank">Gold</div>
        <div class="descripton">Level 12</div>
        <div class="reward"> 
            <span class="insidereward">  
             <img src="/assets/img/ranks/badge_gold.png" />
            </span>
        </div>
    </div>

    
    <div class="ranktop"> 
        <div class="rank">Platinum</div>
        <div class="descripton">Level 18</div>
        <div class="reward"> 
            <span class="insidereward">  
                <img src="/assets/img/ranks/badge_platinum.png" />
            </span>
         </div>
    </div>

    
    <div class="ranktop"> 
        <div class="rank">Master</div>
        <div class="descripton">Level 25</div>
        <div class="reward"> 
            <span class="insidereward"> 
            <img src="/assets/img/ranks/badge_master.png" /> </span>  
            <span class="plus">+</span> 
            <span class="insidereward">Free Breakfree Trading Pro for life</span>
        
        </div>
    </div>

    <div class="ranktop"> 
        <div class="rank">Legend</div>
        <div class="descripton">Level 30</div>
        <div class="reward">  
            <span class="insidereward">
                <img src="/assets/img/ranks/badge_grandmaster.png"> 
            </span>
        </div>
    </div>


    

 </div>


</div>