<div class="content">


 <div class="ladder-wrapper">

    <div class="ranktop header"> 
        <div class="rank">Rank</div>
        <div class="descripton">Level</div>
        <div class="reward">Reward</div>
    </div>

    <div class="ranktop"> 
        <div class="rank">Newbie</div>
        <div class="descripton">Level 1</div>
        <div class="reward"></div>
    </div>


    <div class="ranktop"> 
        <div class="rank">Bronze</div>
        <div class="descripton">Level 4</div>
        <div class="reward">  
            <span class="insidereward"> 
                <img src="/assets/img/ranks/badge_bronze.png" />
                 <!-- <span class="plus">+</span>   -->
                 <!-- <span class="bonus">Unlock 15min/1h Sonar trades</span> -->
                </span>
                </div>
    </div>

    
    <div class="ranktop"> 
        <div class="rank">Silver</div>
        <div class="descripton">Level 7</div>
        <div class="reward"> 
            <span class="insidereward"> 
             <img src="/assets/img/ranks/badge_silver.png" />
            </span>
        </div>
    </div>

    
    <div class="ranktop"> 
        <div class="rank">Gold</div>
        <div class="descripton">Level 12</div>
        <div class="reward"> 
            <span class="insidereward">  
             <img src="/assets/img/ranks/badge_gold.png" />
             <span class="plus">+</span> 
             <span class="bonus">Free BFT Merchandise</span>
            </span>
        </div>
    </div>

    
    <div class="ranktop"> 
        <div class="rank">Platinum</div>
        <div class="descripton">Level 18</div>
        <div class="reward"> 
            <span class="insidereward">  
                <img src="/assets/img/ranks/badge_platinum.png" />
            </span>
         </div>
    </div>

    
    <div class="ranktop"> 
        <div class="rank">Master</div>
        <div class="descripton">Level 25</div>
        <div class="reward"> 
            <span class="insidereward"> 
            <img src="/assets/img/ranks/badge_master.png" />
            <span class="plus">+</span> 
            <span class="bonus">Free BFT Pro for life</span>
            </span>  
        </div>
    </div>

    <div class="ranktop"> 
        <div class="rank">Legend</div>
        <div class="descripton">Level 30</div>
        <div class="reward">  
            <span class="insidereward">
                <img src="/assets/img/ranks/badge_grandmaster.png"> 
            </span>
        </div>
    </div>


    

 </div>

 <div class="disclaimer">Any attempts to exploit or achieve XP unfairly will result in a permanent ban from the XP system. Titles and badges will be stripped. Account XP history may be subject to manual review before rewards are granted.</div>


</div>