<div class="crypto-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()"><i class="crypto-icon crypto-icon-close"></i></button>
            <h4 class="modal-title">
                <span *ngIf="mode === EventEditorAction.Create">Create event</span>
                <span *ngIf="mode === EventEditorAction.Update">Update event</span>
                <span *ngIf="mode === EventEditorAction.SetActual">Update actual value</span>
            </h4>
        </div>
        <div class="modal-body">
            <form [formGroup]="formGroup">
                <ng-container *ngIf="mode === EventEditorAction.Create || mode === EventEditorAction.Update">
                    <div class="crypto-form-unit control-date">
                        <span class="form-unit__label">Date</span>
                        <mat-form-field class="crypto-date-input with-hint full-width">
                            <input matInput readonly [matDatepicker]="date"
                                   placeholder="Date of event"
                                   formControlName="date"
                                   (click)="date.open()"
                            >
                            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                            <mat-datepicker #date></mat-datepicker>
                            <mat-error>Required field</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="crypto-form-unit control-time">
                        <span class="form-unit__label">Time</span>
                        <mat-form-field class="crypto-date-input with-hint full-width">
                            <input matInput
                                   [ngxTimepicker]="time"
                                   placeholder="Time" [disableClick]="true"
                                   (click)="time.open()"
                                   formControlName="time"
                                   readonly>
                            <ngx-material-timepicker-toggle [for]="time"></ngx-material-timepicker-toggle>
                            <ngx-material-timepicker #time></ngx-material-timepicker>
                            <mat-error>Required field</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="crypto-form-unit">
                        <span class="form-unit__label">Title</span>
                        <mat-form-field class="crypto-date-input with-hint full-width">
                            <input matInput type="text" placeholder="Title" formControlName="title">
                            <mat-error>Title have to contain 1-{{formGroupValidators.titleMaxLength}}characters
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="crypto-form-unit">
                        <span class="form-unit__label">Description</span>
                        <mat-form-field class="crypto-date-input with-hint full-width">
                            <input matInput type="text" placeholder="Description" formControlName="description">
                            <mat-error>Description have to contain 1-{{formGroupValidators.descriptionMaxLength}}
                                characters
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="crypto-form-unit">
                        <span class="form-unit__label">Volatility</span>
                        <mat-form-field class="crypto-select with-hint full-width">
                            <mat-select formControlName="volatility">
                                <mat-option *ngFor="let volatility of volatilityList"
                                            [value]="volatility">{{EEventVolatility[volatility]}}</mat-option>
                            </mat-select>
                            <mat-error>Required field</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="crypto-form-unit">
                        <span class="form-unit__label">Actual</span>
                        <mat-form-field class="crypto-date-input with-hint full-width">
                            <input matInput type="text" placeholder="Actual" formControlName="actual">
                            <mat-error>Actual have to contain 1-{{formGroupValidators.actualMaxLength}}characters
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="crypto-form-unit">
                        <span class="form-unit__label">Consensus</span>
                        <mat-form-field class="crypto-date-input with-hint full-width">
                            <input matInput type="text" placeholder="Consensus" formControlName="consensus">
                            <mat-error>Consensus have to contain 1-{{formGroupValidators.actualMaxLength}}characters
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="crypto-form-unit">
                        <span class="form-unit__label">Previous</span>
                        <mat-form-field class="crypto-date-input with-hint full-width">
                            <input matInput type="text" placeholder="Previous" formControlName="previous">
                            <mat-error>Previous have to contain 1-{{formGroupValidators.actualMaxLength}}characters
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="crypto-form-unit margin-bottom">
                        <span class="form-unit__label">Symbols</span>
                        <div class="tags-wrapper">
                            <tags-input [tags]="symbols"
                                        [mode]="TagsInputMode.Manual"
                                        placeholder="Add symbols..."
                                        (onAddTag)="addSymbol($event)"
                                        (onRemoveTag)="removeSymbol($event)">
                            </tags-input>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="mode === EventEditorAction.SetActual">
                    <div class="crypto-form-unit">
                        <span class="form-unit__label">Actual</span>
                        <mat-form-field class="crypto-date-input with-hint full-width">
                            <input matInput type="text" placeholder="Actual" formControlName="actual">
                            <mat-error>Actual have to contain 1-{{formGroupValidators.actualMaxLength}}characters
                            </mat-error>
                        </mat-form-field>
                    </div>
                </ng-container>
            </form>
        </div>
        <div class="modal-footer">
            <div class="btns-wrapper">
                <ng-container>
                    <button class="crypto-button crypto-button_primary full-width"
                            [disabled]="formGroup.invalid"
                            [ngClass]="processing ? 'is-loading' : ''"
                            *ngIf="mode === EventEditorAction.Create"
                            (click)="createEvent()">
                        Create
                    </button>
                    <button class="crypto-button crypto-button_primary full-width"
                            [disabled]="formGroup.invalid"
                            [ngClass]="processing ? 'is-loading' : ''"
                            *ngIf="mode === EventEditorAction.Update || mode === EventEditorAction.SetActual"
                            (click)="updateEvent(mode)">
                        Update
                    </button>
                </ng-container>
            </div>
        </div>
    </div>
</div>
