<div class="conatent-container">
    <div class="filter-row">
        <binance-futures-order-parameters-selection (refreshChange)="refreshRequired()" [(instrument)]="instrument"
            [(fromDate)]="fromDate" [(fromTime)]="fromTime" [(toDate)]="toDate" [(toTime)]="toTime">
        </binance-futures-order-parameters-selection>
    </div>
    <div class="table">
        <bft-loader *ngIf="refreshing"></bft-loader>
        <data-table [rows]="items" [blinking]="blinking" [selectable]="true" [allowColumnsVisibilityChange]="true"
            [expandOnClick]="false" [selectedRow]="selectedItem" (onRowSelect)="selectItem($event)"
            (onDoubleClick)="doubleClicked($event)" [hiddenColumns]="['Id', 'TIF']"
            (onContextMenuSelected)="handleContextMenuSelected($event)">
            <data-table-header-cell columnName="Side" [columnWidth]="1" [columnMinWidth]="1" [sortable]="false">
            </data-table-header-cell>
            <data-table-header-cell columnName="Id" [sortable]="true">{{'tradeManager.orderId' | translate}}
            </data-table-header-cell>
            <data-table-header-cell columnName="Symbol" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">
                {{'tradeManager.symbol' | translate}}</data-table-header-cell>
            <data-table-header-cell columnName="Type" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">
                {{'tradeManager.type' | translate}}</data-table-header-cell>
            <data-table-header-cell columnName="Size" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">
                {{'tradeManager.size' | translate}}</data-table-header-cell>
            <data-table-header-cell columnName="Executed Size" [columnWidth]="140" [columnMinWidth]="10"
                [sortable]="true">{{'tradeManager.executedSize' | translate}}</data-table-header-cell>
            <data-table-header-cell columnName="Price" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">
                {{'tradeManager.entryPrice' | translate}}</data-table-header-cell>
            <data-table-header-cell columnName="Executed Price" [columnWidth]="140" [columnMinWidth]="10"
                [sortable]="true">
                {{'tradeManager.executedPrice' | translate}}</data-table-header-cell>
            <data-table-header-cell columnName="Stop Price" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">
                {{'tradeManager.stopPrice' | translate}}</data-table-header-cell>
            <data-table-header-cell columnName="Status" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">
                {{'tradeManager.status' | translate}}</data-table-header-cell>
            <data-table-header-cell columnName="TIF" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">
                {{'tradeManager.tif' | translate}}</data-table-header-cell>
            <data-table-header-cell columnName="Date" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">
                {{'tradeManager.date' | translate}}</data-table-header-cell>

            <data-table-cell columnName="Side">
                <ng-template let-item>
                    <div class="color-column"
                        [ngClass]="{'side-buy': item.Side === OrderSide.Buy, 'side-sell': item.Side === OrderSide.Sell}">
                    </div>
                </ng-template>
            </data-table-cell>
            <data-table-cell columnName="Id">
                <ng-template let-item>{{item.Id}}</ng-template>
            </data-table-cell>
            <data-table-cell columnName="Symbol">
                <ng-template let-item><span class="symbol-column">{{item.Symbol}}</span></ng-template>
            </data-table-cell>
            <data-table-cell columnName="Type">
                <ng-template let-item>{{item.Type}}</ng-template>
            </data-table-cell>
            <data-table-cell columnName="Size">
                <ng-template let-item>
                    <div
                        [ngClass]="{'side-buy': item.Side === OrderSide.Buy, 'side-sell': item.Side === OrderSide.Sell}">
                        {{item.Size}}</div>
                </ng-template>
            </data-table-cell>
            <data-table-cell columnName="Executed Size">
                <ng-template let-item>{{item.ExecutedSize ? item.ExecutedSize : "-"}}
                </ng-template>
            </data-table-cell>
            <data-table-cell columnName="Price">
                <ng-template let-item>{{item.Price ? item.Price.toFixed(getDecimals(item.Symbol)) : "-"}}</ng-template>
            </data-table-cell>
            <data-table-cell columnName="Executed Price">
                <ng-template let-item>{{item.ExecutedPrice ? item.ExecutedPrice.toFixed(getDecimals(item.Symbol)) :
                    "-"}}</ng-template>
            </data-table-cell>
            <data-table-cell columnName="Stop Price">
                <ng-template let-item>{{item.StopPrice ? item.StopPrice.toFixed(getDecimals(item.Symbol)) : "-"}}
                </ng-template>
            </data-table-cell>
            <data-table-cell columnName="Status">
                <ng-template let-item>{{item.Status}}</ng-template>
            </data-table-cell>
            <data-table-cell columnName="TIF">
                <ng-template let-item>{{item.TIF}}</ng-template>
            </data-table-cell>
            <data-table-cell columnName="Date">
                <ng-template let-item>{{item.Time | formatDate:'YYYY/MM/DD HH:mm'}}</ng-template>
            </data-table-cell>

        </data-table>
    </div>
</div>