<div class="crypto-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                {{'tradingOrderStatus.CancelOrder'| translate}}
            </h4>
        </div>
        <div class="modal-body" [formGroup]="CancelOrderForm">
            <div class="crypto-form-unit margin-bottom">
                <div class="form-unit__label">{{'id'| translate}}:</div>
                <mat-form-field class="crypto-input full-width">
                    <input matInput type="text" formControlName="idInput" [placeholder]="'id' | translate">
                </mat-form-field>
            </div>
            <div class="buttons flex justify-flex-end" (click)="sendId()">
                <button class="crypto-button crypto-button_primary">
                    {{'submit' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>
