<div class="orders flex flex-direction-column full-height">
    <div class="table-wrapper flex-grow-1 h-0 overflow-y-auto flex">
        <div class="flex flex-direction-column w-100">
<!--            <crypto-order-table [rows]="openedOrders"-->
<!--                                (orderClose)="closeOrder($event)"-->
<!--                                [type]="CryptoOrdersTableType.Opened"></crypto-order-table>-->
<!--            <crypto-order-table [rows]="closedOrders"-->
<!--                                [type]="CryptoOrdersTableType.Closed"></crypto-order-table>-->
        </div>

        <!--        <div style="width: 415px">-->
        <!--            <order></order>-->
        <!--        </div>-->
    </div>
</div>
