@import "../../themes/themes";
@import "mixins/themify";
@import "global-styles/variables";

:host {
  font-family: "Fira Sans", sans-serif;
  height: 100%;
  width: 100%;
  display: flex;

  .root {
    height: 100%;
    width: 100%;
    display: flex;
  }
}
