@import "global-styles/themes/themes";
@import "global-styles/mixins/themify";
@import "global-styles/variables";

:host {

  .output {
    position: relative;
    text-align: center;
    top: 40px;
  }
  .scanning-time {
    font-size: 11px;
    margin: 2px 8px;
  }
  .top-line {
    display: none !important;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 50px;
    flex-shrink: 0;
    padding-left: 10px;
  }

  /deep/ .mat-tab-label { 
    height: 26px !important;
  }
  /deep/ mat-header-cell {
    height: 25px;
  }
  /deep/ mat-row {
    height: 25px;
  }

  .high {
    color: $lightGreenColor;
  }

  .medium {
    color: $lightBlueColor;
  }

  .low {
    color: $lightRedColor;
  }
  
  // .symbol-column { 
  //   font-weight: bolder;
  // }
  /deep/ .mat-row {
    .matMenuTrigger {
      height: 14px !important;
      margin-left: -13px;
    }
  }

}


@include themify($themes, true) {
  .top-line {
    background-color: themed('appPanelColor');
    border-bottom: 1px solid themed('appBackgroundColor');
  }

  .output, .scanning-time {
    color: themed('titleTextColor');
  }

  // /deep/ mat-row:nth-child(even) {
  //   background-color: themed('nthChild') !important;
  // }

  // .crypto-button {
  //   color: themed('valueTextColor');
  // }

  // .crypto-button {
  //   background-color: themed('inputBackgroundColor');
  // }
  // .place-order {
  //   &:hover { 
  //     color: themed('accentColor');
  //   }
  // }
}