<div class="bftScanner">
   <div class="top-line flex justify-content-left">
      <div class="segment-select">
         <mat-form-field floatLabel="never" class="crypto-select full-width">
            <mat-select (selectionChange)="segmentSelected($event.value)" [value]="activeSegment">
               <mat-option *ngFor="let option of segments" [value]="option">
                  {{option}}
               </mat-option>
            </mat-select>
         </mat-form-field>
      </div>
      <div class="tf-select">
         <mat-form-field floatLabel="never" class="crypto-select full-width">
            <mat-select (selectionChange)="timeframeSelected($event.value)" [value]="activeTimeframe">
               <mat-option *ngFor="let option of timeframes" [value]="option">
                  {{option}}
               </mat-option>
            </mat-select>
         </mat-form-field>
      </div>
   </div>

   <div class="scanning-time">Scanned: {{scanningTime}}</div>

   <mat-tab-group class="full-height tabs">
      <mat-tab label="Realtime"> 
         <div class="content-wrapper flex-grow-1 h-0">
            <div class="full-height padding-wrapper">
               <data-table #dataTableComponent [rows]="scannerResultsFiltered" [selectable]="true" [expandOnClick]="false"
                  [selectedRow]="selectedScannerResult" [allowColumnsVisibilityChange]="false" [trackByIndex]="false"
                  (onRowSelect)="handleScannerResultsClick($event)" [groups]="groups" [groupingField]="groupingField">
      
                  <data-table-header-cell columnName="featured" [sortable]="false" [columnWidth]="20">
                  </data-table-header-cell>
                  <data-table-header-cell columnName="symbol" [sortable]="true">
                     {{'instrument' | translate}}
                  </data-table-header-cell>
                  <data-table-header-cell columnName="type" [sortable]="false">
                     {{'type' | translate}}
                  </data-table-header-cell> 
                  <data-table-header-cell columnName="tte" [sortable]="false">
                     {{'tte' | translate}}
                  </data-table-header-cell>
                  <data-table-header-cell columnName="tp" [sortable]="false">
                     {{'tp' | translate}}
                  </data-table-header-cell>
      
               <data-table-cell columnName="featured">
                     <ng-template let-scannerVM>
                         <color-selector [activeColor]="getFeaturedDetails(scannerVM)" (activeColorChange)='handleColorSelected($event, scannerVM)'  (click)="click($event)" [path]="'flag'">
                         </color-selector>
                     </ng-template>
                 </data-table-cell>
                  <data-table-cell columnName="symbol">
                     <ng-template let-scannerVM>
                        <div class="symbol-column">
                           {{scannerVM.symbol}} : <span style = "text-transform:capitalize;">{{scannerVM.exchange}}</span>
                        </div>
                     </ng-template>
                  </data-table-cell>
                  <data-table-cell columnName="type">
                     <ng-template let-scannerVM>
                        {{scannerVM.type}}
                     </ng-template>
                  </data-table-cell>
                  <data-table-cell columnName="tte">
                     <ng-template let-scannerVM>
                        {{scannerVM.tte}}
                     </ng-template>
                  </data-table-cell>
                  <data-table-cell columnName="tp">
                     <ng-template let-scannerVM>
                        <div [ngClass]="{'high':scannerVM.volatility == 'High', 'medium':scannerVM.volatility == 'Mid', 'low':scannerVM.volatility == 'Low'}">
                           {{scannerVM.tp}}
                        </div>
                     </ng-template>
                  </data-table-cell>
               </data-table>
               <div *ngIf="output" class="output">
                  {{output}}
               </div>
            </div>
         </div>
      </mat-tab> 
      <mat-tab label="History"> 
         <div class="full-height padding-wrapper">
            <data-table #dataTableComponent [rows]="scannerHistoryResultsFiltered" [selectable]="true" [expandOnClick]="false"
               [selectedRow]="selectedScannerResult" [allowColumnsVisibilityChange]="false"
               (onRowSelect)="handleScannerResultsClick($event, true)">
   
               <data-table-header-cell columnName="symbol" [sortable]="true">
                  {{'instrument' | translate}}
               </data-table-header-cell>
               <data-table-header-cell columnName="type" [sortable]="false">
                  {{'type' | translate}}
               </data-table-header-cell> 
               <data-table-header-cell columnName="tte" [sortable]="false">
                  {{'tte' | translate}}
               </data-table-header-cell>
               <data-table-header-cell columnName="tp" [sortable]="false">
                  {{'tp' | translate}}
               </data-table-header-cell>
               <data-table-header-cell columnName="time" [sortable]="false">
                  {{'time' | translate}}
               </data-table-header-cell>
   
               <data-table-cell columnName="symbol">
                  <ng-template let-scannerVM>
                     <div class="symbol-column">
                        {{scannerVM.symbol}} : <span style = "text-transform:capitalize;">{{scannerVM.exchange}}</span>
                     </div>
                  </ng-template>
               </data-table-cell>
               <data-table-cell columnName="type">
                  <ng-template let-scannerVM>
                     {{scannerVM.type}}
                  </ng-template>
               </data-table-cell>
               <data-table-cell columnName="tte">
                  <ng-template let-scannerVM>
                     {{scannerVM.tte}}
                  </ng-template>
               </data-table-cell>
               <data-table-cell columnName="tp">
                  <ng-template let-scannerVM>
                     <div [ngClass]="{'high':scannerVM.volatility == 'High', 'medium':scannerVM.volatility == 'Mid', 'low':scannerVM.volatility == 'Low'}">
                        {{scannerVM.tp}}
                     </div>
                  </ng-template>
               </data-table-cell>
               <data-table-cell columnName="time">
                  <ng-template let-scannerVM>
                     {{scannerVM.time}}
                  </ng-template>
               </data-table-cell>
            </data-table>
         </div>
      </mat-tab>
  </mat-tab-group>
</div>