@import "global-styles/themes/themes";
@import "global-styles/mixins/themify";
@import "global-styles/variables";

:host {
  .tf-select {
    margin-left: 20px;
  }

  .out-of-access {
    height: 100%;
  }

  .out-of-subscription {
    margin-top: 30px;
  }
  
  .out-of-access, .out-of-subscription { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100%;

    .text {
      margin: 20px 10px;
      display: flex;
      text-align: center;
    }
  
    .image {
      display: flex;
      justify-content: center;
    }
    img {
      width: 200px;
    }
  }

  .bftScanner {
    height: 100%;
  }
  .output {
    position: relative;
    text-align: center;
    top: 40px;
  }
  .scanning-time {
    font-size: 11px;
    margin: 4px 8px;
    text-align: right;
  }
  .top-line {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    height: 50px;
    flex-shrink: 0;
    padding-left: 10px;
    border: none;
  }

  /deep/ .mat-tab-body-wrapper { 
    height: 100%;
  }
  
  /deep/ .mat-tab-labels { 
    background-color: transparent;
  }

  /deep/ .mat-tab-label { 
    height: 26px !important;
  }
  /deep/ mat-header-cell {
    height: 25px;
  }
  /deep/ mat-row {
    height: 25px;
  }

  .high {
    color: $lightGreenColor;
  }

  .medium {
    color: $lightBlueColor;
  }

  .low {
    color: $lightRedColor;
  }
  
  // .symbol-column { 
  //   font-weight: bolder;
  // }
  /deep/ .mat-row {
    .matMenuTrigger {
      height: 14px !important;
      margin-left: -13px;
    }
  }

}


@include themify($themes, true) {
  .top-line {
    background-color: themed('appPanelColor');
    border-bottom: 1px solid themed('appBackgroundColor');
  }

  .output, .scanning-time {
    color: themed('titleTextColor');
  }

  .text {
    color: themed('valueTextColor');
  }

  // /deep/ mat-row:nth-child(even) {
  //   background-color: themed('nthChild') !important;
  // }

  // .crypto-button {
  //   color: themed('valueTextColor');
  // }

  // .crypto-button {
  //   background-color: themed('inputBackgroundColor');
  // }
  // .place-order {
  //   &:hover { 
  //     color: themed('accentColor');
  //   }
  // }
}