<!-- <div class="bftScanner" *ngIf="isAuthorizedCustomer; else outOfAccess"> -->
<div class="bftScanner">
   <div class="content">
      <div class="top-line">
         <!-- <div class="segment-select">
            <mat-form-field floatLabel="never" class="crypto-select full-width bft-form-select">
               <mat-select (selectionChange)="segmentSelected($event.value)" [value]="activeSegments" multiple>
                  <mat-option *ngFor="let option of segments" [value]="option">
                     {{option}}
                  </mat-option>
               </mat-select>
            </mat-form-field>
         </div> -->
         <div class="filters">
            <div class="tf-select">
               <mat-form-field floatLabel="never" class="crypto-select full-width bft-form-select">
                  <mat-select (selectionChange)="timeframeSelected($event.value)" [(ngModel)]="activeTimeframes"
                     multiple>
                     <mat-option *ngFor="let option of timeframes" [value]="option">
                        {{option}}
                     </mat-option>
                  </mat-select>
               </mat-form-field>
            </div>
            <div class="type-select">
               <mat-form-field floatLabel="never" class="crypto-select full-width bft-form-select">
                  <mat-select (selectionChange)="typeSelected($event.value)" [(ngModel)]="activeTypes" multiple>
                     <mat-option *ngFor="let option of types" [value]="option">
                        {{option}}
                     </mat-option>
                  </mat-select>
               </mat-form-field>
            </div>
            <div class="alerts">
               <i class="fa fa-clock-o" (click)="addAlert()"></i>
            </div>
         </div>
         <div class="new-sonar">
            <div class="item-favs"
            (click)="changeViewTrigger()">New Sonar</div>
         </div>
      </div>

      <mat-tab-group class="tabs">
         <mat-tab label="Realtime">
            <div class="content-wrapper flex-grow-1">
               <div class="full-height padding-wrapper result-wrapper">
                  <ng-container *ngFor="let groupedResult of groupedResults(); trackBy: trackByTimeframe">
                     <div *ngIf="dataExistsInGroup(groupedResult)" class="timeframe-container"
                        [ngClass]="{'blur': !isAuthorizedCustomer && !isGuest}">
                        <div class="timeframe-name">{{groupedResult.timeframe}}</div>
                        <div *ngIf="showRestrictions(groupedResult); else dataContainer">
                           <div class="access-restrictions" (click)="manageSubscriptions()"
                              *ngIf="isProAccessRestriction(groupedResult)">
                              Upgrade to Pro for access to this Sonar setups.
                           </div>
                           <!-- <div class="access-restrictions" (click)="manageSubscriptions()"
                              *ngIf="isDiscoveryAccessRestriction(groupedResult)">
                              Upgrade to Discovery for access to this Sonar setups.
                           </div> -->
                           <div class="timeframe-restrictions" *ngIf="isLevelRestriction(groupedResult)">
                              Before Sonar enables this timeframe, you need to achieve level 4. <br> Don't worry,
                              trades are still available if you dig through this timeframe manually.
                              <br><br>
                              <b>Enjoy your Breakfree journey.</b>
                           </div>
                        </div>
                        <ng-template #dataContainer>
                           <div class="timeframe-wrapper tiles-wrapper w-100">
                              <ng-container *ngFor="let group of groupedResult.data; trackBy: trackByMarketType">
                                 <div class="sonar-tile-wrapper"
                                    *ngFor="let result of group.data; trackBy: trackByResult">
                                    <scanner-card [result]="result" (click)="handleScannerResultsClick(result)">
                                    </scanner-card>
                                    <div class="featured-settings" tooltip
                                       [matTooltip]="'If you click the flag and select a color, Sonar will keep this trade in the top list even if it clears.'">
                                       <color-selector [activeColor]="getFeaturedDetails(result)"
                                          class="featured-selector result-data"
                                          (activeColorChange)='handleColorSelected($event, result)'
                                          (click)="click($event)" [path]="'flag'">
                                       </color-selector>
                                    </div>
                                 </div>
                              </ng-container>
                           </div>
                        </ng-template>
                     </div>
                  </ng-container>

                  <div *ngIf="output" class="output">
                     {{output}}
                  </div>

                  <!-- <ng-template #subscriptionOutput>
                     <div class="out-of-subscription" *ngIf="!isPro" (click)="manageSubscriptions()">
                        <div class="access-restrictions">
                           Upgrade to Pro for access to 15m Sonar setups.
                        </div>
                     </div>
                  </ng-template> -->

               </div>
            </div>
         </mat-tab>
         <mat-tab label="History">
            <div class="content-wrapper flex-grow-1">
               <div class="full-height padding-wrapper" [ngClass]="{'blur': !isAuthorizedCustomer && !isGuest}">
                  <data-table #dataTableComponent [rows]="scannerHistoryResultsFiltered" [selectable]="true"
                     [expandOnClick]="false" [selectedRow]="selectedScannerResult"
                     [allowColumnsVisibilityChange]="false" (onRowSelect)="handleScannerResultsClick($event, true)">

                     <data-table-header-cell columnName="symbol" [columnMinWidth]="40" [sortable]="true">
                        {{'instrument' | translate}}
                     </data-table-header-cell>
                     <data-table-header-cell columnName="timeframe" [columnMinWidth]="75" [sortable]="false">
                        {{'timeframe' | translate}}
                     </data-table-header-cell>
                     <data-table-header-cell columnName="setup" [columnMinWidth]="40" [sortable]="false">
                        {{'setup' | translate}}
                     </data-table-header-cell>
                     <data-table-header-cell columnName="volume" [columnMinWidth]="40" [sortable]="false">
                        {{'volume' | translate}}
                     </data-table-header-cell>
                     <data-table-header-cell columnName="time" [columnMinWidth]="120" [sortable]="false">
                        {{'time' | translate}}
                     </data-table-header-cell>

                     <data-table-cell columnName="symbol">
                        <ng-template let-scannerVM>
                           <div class="symbol-column cell-data">
                              {{scannerVM.symbol.toUpperCase()}}
                           </div>
                        </ng-template>
                     </data-table-cell>
                     <data-table-cell columnName="timeframe">
                        <ng-template let-scannerVM>
                           <div class="cell-data">
                              {{toTimeframe(scannerVM.timeframe)}} {{scannerVM.trend == trends.Up ? "Long" : "Short"}}
                           </div>
                        </ng-template>
                     </data-table-cell>
                     <data-table-cell columnName="setup">
                        <ng-template let-scannerVM>
                           <div class="cell-data">
                              <ng-container [ngSwitch]="scannerVM.origType">
                                 <ng-container *ngSwitchCase="origType.EXT">
                                    <!-- <img class="svgfiller"  src="assets/img/EXT2.svg"/> -->
                                    <span>EXT</span>
                                 </ng-container>
                                 <ng-container *ngSwitchCase="origType.BRC">
                                    <!-- <img class="svgfiller"  src="assets/img/BRC2.svg"/> -->
                                    <span>BRC</span>
                                 </ng-container>
                                 <ng-container *ngSwitchCase="origType.SwingExt">
                                    <!-- <img class="svgfiller"  src="assets/img/SWING2.svg"/> -->
                                    <span>SWING</span>
                                 </ng-container>
                                 <ng-container *ngSwitchCase="origType.SwingN">
                                    <!-- <img class="svgfiller"  src="assets/img/SWING2.svg"/> -->
                                    <span>SWING</span>
                                 </ng-container>
                              </ng-container>
                           </div>
                        </ng-template>
                     </data-table-cell>
                     <data-table-cell columnName="volume">
                        <ng-template let-scannerVM>
                           <div class="cell-data"
                              [ngClass]="{'high':scannerVM.volatility == 'High', 'medium':scannerVM.volatility == 'Mid', 'low':scannerVM.volatility == 'Low'}">
                              {{scannerVM.tp}} vol
                           </div>
                        </ng-template>
                     </data-table-cell>
                     <data-table-cell columnName="time">
                        <ng-template let-scannerVM>
                           <div class="cell-data">
                              {{scannerVM.time}}
                           </div>
                        </ng-template>
                     </data-table-cell>
                  </data-table>
               </div>
            </div>
         </mat-tab>
      </mat-tab-group>
   </div>

   <div class="out-of-access" (click)="processCheckout()" *ngIf="!isAuthorizedCustomer && !isGuest">
      <div class="out-of-access-box">
         <div class="image">
            <img class="BFTimage" src="assets/img/bftnavigatorlogo.svg">
         </div>
         <div class="text">
            Upgrade to Discovery or Pro to utilize Sonar in realtime.
         </div>
      </div>
   </div>

</div>

<bft-loader *ngIf="loading && isAuthorizedCustomer"></bft-loader>