@import "../../styles/themes/themes";
@import "mixins/themify";
@import "variables";

:host {
  .badge-container {
    display: flex;
  }
  .rank-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 25px;
      height: 25px;
      margin-right: 2px;
    }
  }
}

@include themify($themes, true) {
}