:host {

    .performance-container {
        padding: 6px 14px;
        width: 100%;
    }
    .pnlcharts {
        display: flex;
        flex-direction: row;
        -moz-column-gap: 8px;
        column-gap: 8px;
        row-gap: 8px;
        max-width: 100%;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    
    }
    .chartdivthing{
        display: flex;
        width: 49%;
        padding: 3px;
        border: 1px solid #ffffff4f;
    }


    .chartdivthing chart-wrapper {
       width: 100%;
       display: flex;
       flex-direction: column;
    }

    .chartdivthing chart-wrapper div {
        width: 100%;
        display: flex;
     }

    .acc-infox {
        display: flex;
        justify-content: space-between;
        background: #000;
        width: 100%;

    .overview {
        font-size: 12px;
    font-weight: bold;
    color: #fff;


    border-radius: 3px;
    margin-bottom: 6px;
    display: flex;
}

    }
    .acc-info {
        display: flex;
        justify-content: left;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        column-gap: 12px;
    
    }
    .acc-info-param-body {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 3px;
    }

    @media screen and (max-width: 730px) {

        .chartdivthing
        {
            
            width: 100% !important;
        }


        .acc-info {
            display: flex;
            row-gap: 8px;
            justify-content: center;
            border-radius: 6px;
            -moz-column-gap: 16px;
            column-gap: 3px;
            overflow: hidden;
            align-items: flex-start;
            flex-wrap: wrap;
        }

        .acc-infox {
            display: flex;
            justify-content: center;
            background: #000;
            width: 100%;
        }
        .acc-info-param {
            padding-right: 5px;
            padding-left: 5px;
        }
        .acc-info-param-value {
            font-size: 12px !important;
            color: #9e9e9e;
        }
    }

    .acc-info-param-value-add {
     
        font-size: 12px ;
    }

    .acc-info-param {
        display: flex;
        flex-direction: column;
    }
    .acc-info-param-header {
        font-size: 12px;
        color: #e4e4e4;
    }

    .column1 {
        grid-column: 1;
        display: flex;
        flex-direction: row;
        align-content: center;
        -moz-column-gap: 3px;
        column-gap: 3px;
        align-items: center;
        text-align: left;
        margin-left:3px;
 
       
        border-radius: 3px;
    }

    .column2 {
        grid-column: 2;
        display: flex;
    flex-direction: row;
    align-content: center;
    -moz-column-gap: 3px;
    column-gap: 3px;
    align-items: center;
    text-align: left;


    border-radius: 3px;
    }

    .column3 {
        grid-column: 3;
        display: flex;
        flex-direction: row;
        align-content: center;
        -moz-column-gap: 3px;
        column-gap: 3px;
        align-items: center;
        text-align: left;
     
      
        border-radius: 3px;
    }
    .acc-info-param-body {
        .acc-info-param-value {
            font-size: 12px;
            color: #9e9e9e;
        }
        @media screen and (min-width: 420px) {
            .acc-info-param-value {
                font-size: 12px;
                color: #9e9e9e;
            }
        }

        .acc-info-param-value-add {
            font-size: 12px;
        }
        .green {
            color: #4fd54a;
        }
        .red {
            color: #6E260E;
        }
    }
    .period-wrp {
        display: flex;
        padding: 0px;
        border-radius: 3px;
    }
    }

    .period-selectors {
        display: flex;
        justify-content: center;
        border-radius: 6px;
    }

    .selector-wrapper {

    }
    .selector-button {
        padding: 3px 4px;
        color: #ffffff7a;
        border-radius: 0px !important;
        font-size: 12px;
        background-color: #000;
    }

    .selector-button:hover{
        background-color: #4d4b4b;
        color: #fff;
        border-radius: 0px !important;
    }
    
    
    @media screen and (min-width: 420px) {
        .selector-button {
            padding: 3px 4px;
            color: #ffffff7a;
            border-radius: 0px !important;
            font-size: 11px;
        }

    .btn-selected {
        background: #000000;
        font-weight: bold;
        border-radius: 0px !important;
        color: #fff;
    }
    .doBlur {
        filter: blur(2px);
    }

    .broker-not-connected {
        display: flex;
        justify-content: center;
        -moz-column-gap: 8px;
        column-gap: 8px;
        row-gap: 8px;
        align-items: center;
        height: 100%;
        font-size: 12px;

        flex-direction: column;
    }
    .connected {
        width: 35px;

    }
}


.mobile-hidden {
    display: flex;
}

.mobile-show {
    display: none;
}

@media screen and (max-width: 555px) {
    .mobile-show {
        display: flex !important;
    }
    .mobile-hidden {
        display: none !important;
    }
    .period-selectors {
        display: flex;
        justify-content: flex-end;
        border-radius: 6px;
        margin-top: -40px;
        z-index: 999999;
        position: relative;
        padding-bottom: 12px;
    }
}

