<div [ngClass]="{'doBlur':showSpinner}"  *ngIf="isBrokerConnected; else brokerNotConnected" class="performance-container"> 
    <bft-loader *ngIf="showSpinner"></bft-loader>
    <div>
        <div class="acc-info">
            <div class="acc-info-param column1">
                <div class="acc-info-param-header">Estimated Balance</div>
                <div class="acc-info-param-body">
                    <div class="acc-info-param-value">{{EstBalance}}</div>
                    <div class="acc-info-param-value-add">{{EstBalanceUSD}}</div>
                </div>
            </div>
            <div class="acc-info-param column2">
                <div class="acc-info-param-header">Today's PnL</div>
                <div class="acc-info-param-body">
                    <div class="acc-info-param-value">{{DailyPnLVal}}</div>
                    <div class="acc-info-param-value-add" [ngClass]="{'green':DailyPnLsign > 0, 'red': DailyPnLsign < 0}">
                        {{DailyPnLValPercent}}
                    </div>
                </div>
            </div>
            <div class="acc-info-param column3">
                <div class="acc-info-param-header">This Month's PnL</div>
                <div class="acc-info-param-body">
                    <div class="acc-info-param-value">{{MonthlyPnLVal}}</div>
                    <div class="acc-info-param-value-add" [ngClass]="{'green':MonthlyPnLsign > 0, 'red': MonthlyPnLsign < 0}">
                        {{MonthlyPnLValPercent}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="period-selectors">
        <div *ngFor="let pselector of periodSelectors">
        <div class="selector-wrapper">
            <button class="selector-button" [ngClass]="{'btn-selected': pselector.isSelected}" (click)="selectPeriod(pselector)">
                {{pselector.name}}
            </button>            
        </div>
    </div>
    </div>

    <div *ngFor="let chartSett of ChartsSettingsSet">
        <chart-wrapper [ChartSettings] = 'chartSett' [ChartData]='ChartDataSet[chartSett.index]'>
        </chart-wrapper>
    </div> 
</div>
<ng-template #brokerNotConnected>
    <div class="broker-not-connected">Broker Not Connected</div>
  </ng-template>
