<div class="crypto-modal" cdkDrag cdkDragRootElement=".cdk-overlay-pane" style="min-width:400px">
    <div class="modal-content">
        <div class="modal-header" cdkDragHandle>
            <button type="button" class="close" (click)="close()"><i class="crypto-icon crypto-icon-close"></i></button>
            <h4 class="modal-title">Symbol Mapping</h4>
        </div>
        <div class="modal-body">
            <bft-loader *ngIf="loading"></bft-loader>
            <div class="table-wrapper">
                <data-table [rows]="MappedAray" table>
                    <data-table-header-cell columnName="feedName">
                        Feed Symbol
                    </data-table-header-cell>
                    <data-table-header-cell columnName="brokerName">
                        Broker Symbol
                    </data-table-header-cell>
                    <data-table-header-cell columnName="remove" [columnWidth]="10">
                    </data-table-header-cell>

                    <data-table-cell columnName="feedName">
                        <ng-template let-item>
                            <span>{{item.Item1}}</span>
                        </ng-template>
                    </data-table-cell>
                    <data-table-cell columnName="brokerName" >
                        <ng-template let-item>
                            <span>{{item.Item2}}</span>
                        </ng-template>
                    </data-table-cell>
                    <data-table-cell columnName="remove" >
                        <ng-template let-item>
                            <div class="remove-mapping">
                                <i class="crypto-icon crypto-icon-close" title="Remove" (click)="Remove(item)"></i>
                            </div>
                        </ng-template>
                    </data-table-cell>
                </data-table>
            </div>
            <div class="footer-wrapper">

                <instrument-search  (onSelect)="handleDFeedInstrumentChange($event)" #feedInstrumentSearch
                [instrumentSearchCallback]="instrumentDFeedSearchCallback" class="left"></instrument-search>
                
                <instrument-search  (onSelect)="handleBrokerInstrumentChange($event)" #brokerInstrumentSearch            
                [instrumentSearchCallback]="instrumentBrokerSearchCallback" class="left"></instrument-search>
                <div class="add-mapping">
                    <i (click)="Add(item)" class="crypto-icon crypto-icon-add"></i>
                </div>
            </div>
            
            <!-- <div class="button-wrapper justify-flex-end">
                <button class="full-width crypto-button crypto-button_success submit-btn" (click)="close()">
                    Close
                </button>
            </div> -->
        </div>        
    </div>
</div>