@import "mixins/themify";
@import "themes/themes";

i {
  font-size: 28px;
}

.crypto-icon-more {
  transform: rotateZ(90deg) scale(2);
}

.section-label {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
}

.section-item {
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  justify-content: space-around;

  &.active {
    opacity: 1;
  }

  .item-icon {
    margin-right: 10px;
    border-radius: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 8px;
    padding-left: 8px;
    display: flex;
    flex-shrink: 1;
    margin-bottom: 5px;
    margin-left: 10px;

  }

  .item-text {
    text-transform: capitalize;
    font-size: 10px;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    display: flex;
    justify-content: initial;
    flex-shrink: 1;
  }
}

@include themify($themes, true) {
  .section-item {
   color: themed('titleTextColor');
  }

  .section-label {
    color: themed('valueTextColor');
  }
}
