<div class="crypto-modal">
    <div class="modal-content flex flex-direction-column">
        <div class="flex justify-space-between">
            <span>{{'deposit' | translate}}</span>
            <i class="crypto-icon crypto-icon-close cursor-pointer" (click)="close()"></i>
        </div>
       <div class="icon-section flex justify-content-center">
            <currency-icon [name]="currency.toLowerCase()"></currency-icon>
       </div>
        <div class="flex justify-content-center">
            <background-icon></background-icon>
        </div>
        <div class="modal-body h-100">
            <div class="qrcode-section flex justify-space-between">
                <div class="qr">
                    <img [src]="qrURL" alt="qr" class="qr-img">
                </div>
                <div class="about-deposit">
                    <p>1.{{'depositCoins' | translate}}</p>
                    <p>2.{{'addressWarning'| translate}}</p>
                    <div class="bt flex justify-content-center"><span>{{'onlySend'| translate}} {{currency}} {{'thisAddress' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="deposit-address">
                <div class="crypto-form-unit">
                    <div class="form-unit__label">{{'deposit' | translate}} {{'address' | translate}}</div>
                    <mat-form-field class="crypto-input">
                        <input matInput type="text" value="{{address}}" readonly>
                        <i class="crypto-icon crypto-icon-copy copy-button" (click)="copyAddress(address)"></i>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <button class="crypto-button w-100 " (click)="close()">OK</button>
    </div>
</div>
