<div class="crypto-modal" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()"><i class="crypto-icon crypto-icon-close"></i></button>
            <h4 class="modal-title">{{'tradeManager.closeOrderDialogTitle' | translate}}</h4>
        </div>
        <div class="modal-body">
            <div class="flex-row">
                <div class="flex-column">
                    <div class="crypto-form-unit margin-bottom">
                        <div class="form-unit__label">{{'symbol' | translate}}</div>
                    </div>
                </div>
                <div class="flex-column">
                    <div class="crypto-form-unit margin-bottom">
                        <div class="crypto-text is-secondary">
                            {{order.Symbol}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-column">
                    <div class="crypto-form-unit margin-bottom">
                        <div class="form-unit__label">#{{'tradeManager.orderId' | translate}}</div>
                    </div>
                </div>
                <div class="flex-column">
                    <div class="crypto-form-unit margin-bottom">
                        <div class="crypto-text is-secondary">
                            {{order.Id}}
                        </div>
                    </div>
                </div>
            </div>      
            <div class="flex-row">
                <div class="flex-column">
                    <div class="crypto-form-unit margin-bottom">
                        <div class="form-unit__label">{{'size' | translate}}</div>
                    </div>
                </div>
                <div class="flex-column">
                    <div class="crypto-form-unit margin-bottom">
                        <div class="crypto-text is-secondary">
                            {{order.Size}}
                        </div>
                    </div>
                </div>
            </div> 

            <div class="flex-row">
                <div class="flex-column">
                    <div class="crypto-form-unit margin-bottom">
                        <div class="form-unit__label">{{'tradeManager.fillPolicy' | translate}}</div>
                    </div>
                </div>
                <div class="flex-column">
                    <div class="crypto-form-unit margin-bottom">
                        <div class="crypto-text is-secondary">
                            <selector [selectedOption]="fillPolicy" [options]="orderFillPolicies"
                                (onSelect)="handleFillPolicySelected($event)"></selector>
                        </div>
                    </div>
                </div>
            </div>  

            <div class="flex-row">
                <div class="flex-column">
                    <div class="crypto-form-unit margin-bottom">
                        <div class="form-unit__label">{{'tradeManager.amountToClose' | translate}}</div>
                    </div>
                </div>
                <div class="flex-column">
                    <div class="crypto-form-unit margin-bottom">
                        <div class="crypto-text is-secondary">
                            <mat-form-field class="crypto-input bft-form-input input-control">
                                <input matInput numericInput [floatOnly]="true" [range]="{min: minAmountValue, max: order.Size}" type="number"
                                    [step]="sizeStep" [(ngModel)]="amountToClose">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btns-wrapper flex justify-space-between" [class.disabled]="showSpinner">
                <button class="crypto-button crypto-button_action"
                        (click)="resetAmount()">
                        {{'tradeManager.resetAmount' | translate}}
                </button> 
                 <button class="crypto-button crypto-button_primary"
                        (click)="submit()">
                        {{'close' | translate}}
                </button>
            </div>
        </div>
    </div>
    <bft-loader *ngIf="showSpinner"></bft-loader>
</div>
