@import "../../../styles/themes/themes";
@import "mixins/themify";

:host {
  flex-grow: 1;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: auto;

  /deep/ .mat-tab-body-wrapper {
    flex-grow: 1;
    height: 0px;
    //padding: 4px 0 0;
    padding: 0;
  }

  .controls {
    padding: 10px 5px;
    text-align: right;
  }

  .selectAccount {
    selector {
      display: inline-block;
      width: 200px;
      margin-left: 20px;

      /deep/ ul {
        max-height: 250px !important;
        overflow: auto;
      }
    }

    .caption {
      font-size: 0.9em;
    }
  }
}

.tabs-wrapper {
  padding: 4px;
}

@include themify($themes, true) {
  .control .caption  {
    color: themed('valueTextColor');
  }
  .notConnected{
    font-size: 12px;
    color: themed('titleTextColor');
  }
}
