<div [ngSwitch]="instanceType" class="h-100">
<div>
    <div class="controls">
            <button (click)="connect()"
                    style="margin:10px"                    
                    class="crypto-button crypto-button_action">
                    <span *ngIf="brokerConnected">Disconnect</span>
                    <span *ngIf="!brokerConnected">Connect</span>
            </button>
            <button (click)="placeOrder()"
                    style="margin:10px"
                    [disabled]="!brokerConnected"
                    class="crypto-button crypto-button_action">Place Order
            </button>
        </div>
        <!--<div class="controls">
            <button (click)="placeOrder()"
                    class="crypto-button crypto-button_action">Place Order
            </button>
        </div>-->
    </div>    
    <oanda-trade-manager></oanda-trade-manager>
    <oanda-trade-manager *ngSwitchCase="EBrokerInstance.OandaBroker" class="h-100"></oanda-trade-manager>
    <div *ngSwitchDefault class="flex align-items-center justify-content-center w-100 h-100">
        <span> sdklfjdg</span>
        <span class="notConnected caption">{{"tradeManager.connectToBroker" | translate}}</span>
    </div>
</div>