@import "../../../../global-styles/themes/themes";
@import "../../../../global-styles/mixins/themify";

:host {
  width: 600px;
  script-editor {
    height: 600px;
    width: 600px;
    /deep/ .documentation-control {
      display: none;
    }
  }
}


.section-header {
  padding: 10px;
  width: 600px;
  height: 40px;
  font-size: 13px;
}

.crypto-icon {
  cursor: pointer;
}

@include themify($themes, true) {
  .section-header {
    background-color: themed('appPanelColor');
    color: themed('valueTextColor');
  }
}
