<data-table [rows]="items">
    <data-table-header-cell columnName="time" [sortable]="true">{{'time' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="id"
                            [sortable]="true">{{'tradeManager.orderId' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="filledTradeId"
                            [sortable]="true">{{'tradeManager.tradeId' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="symbol" [sortable]="true">{{'symbol' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="side" [sortable]="true">{{'side' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="type" [sortable]="true">{{'type' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="size" [sortable]="true">{{'size' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="price" [sortable]="true">{{'price' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="status" [sortable]="true">{{'status' | translate}}</data-table-header-cell>


    <data-table-cell columnName="time">
        <ng-template let-item>{{item.time | utcSecondsToLocal | formatDate:'YYYY/MM/DD HH:mm:ss'}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="id">
        <ng-template let-item>{{item.id}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="filledTradeId">
        <ng-template let-item>{{item.filledTradeId ? item.filledTradeId : "-"}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="symbol">
        <ng-template let-item>{{item.symbol}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="side">
        <ng-template let-item>
            <order-side [side]="item.side"></order-side>
        </ng-template>
    </data-table-cell>
    <data-table-cell columnName="type">
        <ng-template let-item>{{item.type}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="size">
        <ng-template let-item>{{item.size}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="price">
        <ng-template let-item>{{item.price}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="status">
        <ng-template let-item>{{item.status}}</ng-template>
    </data-table-cell>
</data-table>
