<ng-container [ngSwitch]="active_component">
    <sonar-feed-wall  *ngSwitchCase="ActiveSonarComponent.New" (onOpenChart)="viewOnChart($event)" [state]="state"
        (stateChanged)="handleWallStateChanged($event)" (changeView)="setLegacyView()"></sonar-feed-wall>

    <breakfree-trading-scanner *ngSwitchDefault
        (stateChanged)="handleLegacyStateChanged($event)" (initialized)="legacyScannerComponentInitialized($event)"
        (onOpenChart)="viewOnChart($event)" (changeView)="setNewView()" #scanner></breakfree-trading-scanner>
</ng-container>