<data-table [rows]="items" [selectable]="true" [allowColumnsVisibilityChange]="true" [expandOnClick]="false" 
            [selectedRow]="selectedItem" (onRowSelect)="selectItem($event)" (onDoubleClick)="doubleClicked($event)"
            [hiddenColumns]="['Id', 'Open Time', 'Commission', 'Swap', 'Comment', 'Net Risk']"
            (onContextMenuSelected)="handleContextMenuSelected($event)">
    <data-table-header-cell columnName="Side" [columnWidth]="1" [columnMinWidth]="1" [sortable]="false"></data-table-header-cell>
    <data-table-header-cell columnName="Id"  [sortable]="true" >{{'tradeManager.orderId' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Symbol" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'symbol' | translate}}</data-table-header-cell>
    <!-- <data-table-header-cell columnName="Side" [sortable]="true">{{'side' | translate}}</data-table-header-cell> -->
    <!-- <data-table-header-cell columnName="Type" [sortable]="true">{{'type' | translate}}</data-table-header-cell> -->
    <data-table-header-cell columnName="Size" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'size' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Price" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.entryPrice' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Current Price" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.currentPrice' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="SL" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.SL' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="TP" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.TP' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Net PL" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.netPl' | translate}}</data-table-header-cell>
    <!-- <data-table-header-cell columnName="Pip PL" [sortable]="true">{{'tradeManager.pipPl' | translate}}</data-table-header-cell> -->
    <data-table-header-cell columnName="Open Time" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.openTime' | translate}}</data-table-header-cell>
    <!-- <data-table-header-cell columnName="ExpirationType" [sortable]="false">{{'tradeManager.expirationType' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="ExpirationDate" [sortable]="true">{{'tradeManager.expirationDate' | translate}}</data-table-header-cell> -->
    <!-- <data-table-header-cell columnName="Status" [sortable]="true">{{'status' | translate}}</data-table-header-cell> -->
    <data-table-header-cell columnName="Commission" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.commission' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Swap" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.swap' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="VAR" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.VAR' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Net Risk" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.risk' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Risk (%)" [columnWidth]="140" [columnMinWidth]="10" [sortable]="true">{{'tradeManager.riskP' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Comment" [columnWidth]="140" [columnMinWidth]="10" [sortable]="false">{{'tradeManager.comment' | translate}}</data-table-header-cell>
    <data-table-header-cell columnName="Close" [columnMinWidth]="36"></data-table-header-cell>

    <data-table-cell columnName="Side">
        <ng-template let-item>
            <div class="color-column" [ngClass]="{'side-buy': item.Side === OrderSide.Buy, 'side-sell': item.Side === OrderSide.Sell}"></div>
        </ng-template>
    </data-table-cell>
    <data-table-cell columnName="Id">
        <ng-template let-item>{{item.Id}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="Symbol">
        <ng-template let-item><span class="symbol-column">{{item.Symbol}}</span></ng-template>
    </data-table-cell>
    <!-- <data-table-cell columnName="Side">
        <ng-template let-item>
            <order-side [side]="item.Side"></order-side>
        </ng-template>
    </data-table-cell> -->
    <!-- <data-table-cell columnName="Type">
        <ng-template let-item>{{item.Type}}</ng-template>
    </data-table-cell> -->
    <data-table-cell columnName="Size">
        <ng-template let-item>
            <div [ngClass]="{'side-buy': item.Side === OrderSide.Buy, 'side-sell': item.Side === OrderSide.Sell}">{{item.Size.toFixed(2)}}</div>
        </ng-template>
    </data-table-cell>
    <data-table-cell columnName="Price">
        <ng-template let-item>{{item.Price?.toFixed(getDecimals(item.Symbol))}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="Current Price">
        <ng-template let-item>{{item.CurrentPrice?.toFixed(getDecimals(item.Symbol))}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="SL">
        <ng-template let-item>{{item.SL?.toFixed(getDecimals(item.Symbol))}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="TP">
        <ng-template let-item>{{item.TP?.toFixed(getDecimals(item.Symbol))}}</ng-template>
    </data-table-cell>
    <!-- <data-table-cell columnName="Pip PL">
        <ng-template let-item>
            <span [ngClass]="{'positive-value': item.PipPL > 0, 'negative-value': item.PipPL < 0}">
                {{item.PipPL?.toFixed(1)}}
            </span>
        </ng-template>
    </data-table-cell> -->
    <data-table-cell columnName="Net PL">
        <ng-template let-item>
            <span [ngClass]="{'positive-value': item.NetPL > 0, 'negative-value': item.NetPL < 0}">
                {{item.NetPL?.toFixed(2)}}
            </span>
        </ng-template>
    </data-table-cell>
    <data-table-cell columnName="Open Time">
        <ng-template let-item>{{item.Time | formatDate:'YYYY/MM/DD HH:mm'}}</ng-template>
    </data-table-cell>
    <!-- <data-table-cell columnName="ExpirationType">
        <ng-template let-item>{{item.ExpirationType}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="ExpirationDate">
        <ng-template let-item>
            <span *ngIf="item.ExpirationDate; else noDate">
                {{item.ExpirationDate | utcSecondsToLocal | formatDate:'YYYY/MM/DD HH:mm'}}
            </span>
            <ng-template #noDate>
                -
            </ng-template>
        </ng-template>
    </data-table-cell> -->
    <!-- <data-table-cell columnName="Status">
        <ng-template let-item>{{item.Status}}</ng-template>
    </data-table-cell> -->
    <data-table-cell columnName="Commission">
        <ng-template let-item>{{item.Commission?.toFixed(2)}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="Swap">
        <ng-template let-item>{{item.Swap?.toFixed(2)}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="VAR">
        <ng-template let-item>{{item.VAR ? item.VAR.toFixed(2) : '-'}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="Net Risk">
        <ng-template let-item>{{item.Risk ? item.Risk.toFixed(2) : '-'}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="Risk (%)">
        <ng-template let-item>{{item.RiskPercentage ? item.RiskPercentage.toFixed(2) + '%' : '-'}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="Comment">
        <ng-template let-item>{{item.Comment}}</ng-template>
    </data-table-cell>
    <data-table-cell columnName="Close">
        <ng-template let-item>
            <div class="flex justify-flex-end">
                <trading-close-button  (click)="closeOrder(item)"></trading-close-button>
            </div>
        </ng-template>
    </data-table-cell>

    <data-table-menu-item [id]="'edit'">
        <ng-template>
            {{'tradeManager.editOrder' | translate}}
        </ng-template>
    </data-table-menu-item>
    <data-table-menu-item [id]="'closeOrder'">
        <ng-template>
            {{'tradeManager.closeOrder' | translate}}
        </ng-template>
    </data-table-menu-item>
    <data-table-menu-item [id]="'view'">
        <ng-template>
            {{'tradeManager.viewChart' | translate}}
        </ng-template>
    </data-table-menu-item>
    
</data-table>
