@import "../../../../styles/themes/themes";
@import "mixins/themify";
@import "global-styles/variables";

.accountInfoRow{
  //margin-top: 10px;
  font-size: 12px;
  padding-top: 5px;
}


@include themify($themes, true) {
  .accountInfoRow {
    color: themed('titleTextColor');
  }
}

:host {
  .status-img {
    width: 12px;
    height: 12px;
    margin-right: 12px;
  }

  .connected {
    .path-data {
      fill: $lightGreenColor; 
    }
  }
  .pending {
    .path-data {
      fill: $yellowColor; 
    }
  }
  .not_connected {
    .path-data {
      fill: $lightRedColor; 
    }
  }
}

