<div class="positions">
    <data-table #table [rows]="items">
        <data-table-header-cell columnName="symbol" [sortable]="true">{{'symbol' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="side" [sortable]="true">{{'side' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="units" [sortable]="true">{{'quantity' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="avgPrice" [sortable]="true">{{'tradeManager.todayAvgPrice' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="lastPrice" [sortable]="true" [dataAccessor]="lastPriceDataAccessor">{{'tradeManager.last' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="lastUpl" [sortable]="true" [dataAccessor]="unrealizedDataAccessor">{{'tradeManager.unrealized' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="pl" [sortable]="true">{{'tradeManager.realized' | translate}}</data-table-header-cell>
        <data-table-header-cell columnName="close" [columnWidth]="30"></data-table-header-cell>


        <data-table-cell columnName="symbol"><ng-template let-item>{{item.symbol}}</ng-template></data-table-cell>
        <data-table-cell columnName="side">
            <ng-template let-item>
                <order-side [side]="item.side"></order-side>
            </ng-template>
        </data-table-cell>
        <data-table-cell columnName="units"><ng-template let-item>{{item.units}}</ng-template></data-table-cell>
        <data-table-cell columnName="avgPrice"><ng-template let-item>{{item.avgPrice}}</ng-template></data-table-cell>
        <data-table-cell columnName="lastPrice"><ng-template let-item>{{getLastPrice(item.symbol)}}</ng-template></data-table-cell>
        <data-table-cell columnName="lastUpl"><ng-template let-item>
            <div numberColor>{{getLastUpl(item) | number : '1.4-4'}}</div>
        </ng-template></data-table-cell>
        <data-table-cell columnName="pl"><ng-template let-item>
            <div numberColor>{{item.pl}}</div>
        </ng-template></data-table-cell>
        <data-table-cell columnName="close">
            <ng-template let-item>
                <div class="flex justify-content-center align-items-center">
                    <trading-close-button (click)="closePosition(item)"></trading-close-button>
                </div>
            </ng-template>
        </data-table-cell>

    </data-table>
</div>
