<div class="crypto-modal modal-content">
    <div class="page-wrapper">
        <div class="phone-number-container flex">
            <div class="flex header">
                <i class="crypto-icon crypto-icon-phone-contur"></i>
                <div class="header-text">{{'breakfreeTrading.addYourPhoneNumber' | translate}}</div>
            </div>

            <div class="flex header-disclaimer">
                <span>To begin your free trial & receive new trade alerts via SMS, please enter your mobile phone number</span>
            </div>

            <div class="flex phone-number-input inputrow" [class.disabled]="showVerification">
                <div class="input-container">
                    <span class="title">Format '+[country_code][number]'</span>
                    <mat-form-field class="crypto-input bft-form-input">
                        <input [(ngModel)]="phoneNumber" matInput ng-trim="false" type="text" placeholder="{{'breakfreeTrading.phoneNumber' | translate}}">
                    </mat-form-field>
                </div>
                <button class="crypto-button" (click)="handleAddPhoneNumberButtonClick()">{{'breakfreeTrading.addPhone'| translate}}</button>
            </div>
            <div class="flex phone-verification-input inputrow" *ngIf="showVerification">
                <div class="input-container">
                    <span class="title">Code sent on your phone</span>
                    <mat-form-field class="crypto-input bft-form-input">
                        <input [(ngModel)]="verificationCode" matInput ng-trim="false" type="text" placeholder="{{'breakfreeTrading.verificationCode' | translate}}">
                    </mat-form-field>
                </div>
                <button class="crypto-button" (click)="handleVerifyCodeButtonClick()">{{'breakfreeTrading.verify'| translate}}</button>
            </div>
        </div>
    </div>
    <bft-loader *ngIf="loading"></bft-loader>
</div>