@import "variables";
@import "themes/themes";
@import "mixins/themify";


@include themify($themes, true) {

  ::ng-deep mat-cell:last-of-type {
    padding-right: 10px;
  }

  .symbol {
    color: themed('valueTextColor');
  }

  .sell {
    color: themed('sellColor');
  }
  .buy {
    color: themed('buyColor');
  }
}

/deep/ .mat-cell {
  @include themify($themes, true) {
    color: themed('valueTextColor') !important;
  }
}

:host {
  .positive-value {
    color: $lightGreenColor;
  }

  .negative-value {
    color: $lightRedColor;
  }

  .close-position-column {
    box-sizing: content-box;
    width: 26px;

    .close-position-button {
      margin: auto;
      margin-right: 0;
    }
  }
  .positions {
    //margin-top: 10px;
  }

  .columnRemove {
    text-align: center;

    .fa-trash {
      cursor: pointer;
      color: $redColor;
    }
  }

  .position-item {
    cursor: pointer;
  }

  .tableActions {
    width: 20px;
    text-align: center;
    cursor: pointer;

    i {
      font-size: 19px;
      position: relative;
      top: 3px;
    }
  }
}
