<div>
    <div class="top-line flex align-items-center">
        <name-avatar class="avatar" [src]="discussion.creator?.avatarId"
                     [name]="discussion.creator?.userName || 'User removed'"></name-avatar>
        <span class="created-date">asked {{discussion.created | date:'dd LLL'}}</span>
        <span class="author">{{discussion.creator?.userName || 'User removed'}}</span>
    </div>
    <div>
        <a class="title" [routerLink]="url">{{discussion.title}}</a>
    </div>
    <div class="tags-wrapper" *ngIf="discussion.categories && discussion.categories.length">
        <div class="crypto-tag tag" *ngFor="let category of discussion.categories">
            <span>{{category.name}}</span>
        </div>
    </div>
</div>
