@import "global-styles/themes/themes";
@import "global-styles/mixins/themify";
@import "global-styles/variables";
:host {
  width: 100%;
  height: 100%;

  .trend-column {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .up {
    background-color: rgba(94, 175, 128, 0.3);
  }
  .strong-up {
    background-color: rgba(94, 175, 128, 0.6);
  }
  .down {
    background-color: rgba(189, 91, 106, 0.3);
  }
  .strong-down {
    background-color: rgba(189, 91, 106, 0.6);
  }
  .sideways {
    background-color: rgba(128, 128, 128, 0.1);
  }

  .trend-state-up,
  .trend-state-down,
  .trend-state-sideways {
    font-size: 9px;
    color: rgba(128, 128, 128, 0.3);
    &.drive {
      color: rgba(95, 226, 150, 0.7) !important;
    }
    &.capitulation {
      color: rgba(225, 119, 140, 0.7) !important;
    }
  }

  .trend-state-sideways {
    color: transparent;
  }

  .trend-cell-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }

  .volatility-cell-container {
    display: flex;
    height: 100%;
    justify-content: center;
    font-size: 10px;
    opacity: 0.5;
  }

  .trend-strength-value {
    font-size: 11px;
  }

  @media (max-width: 400px) {
    .trend-strength-value {
      font-size: 10px !important;
    }

    .volatility-cell-container {
      font-size: 9px;
    }
  }

  @media (max-width: 320px) {
    .trend-strength-value {
      font-size: 9px !important;
    }
    
    .volatility-cell-container {
      font-size: 8px;
    }
  }
}

@media (max-width: 360px) {
  .trend-state-up,
  .trend-state-down,
  .trend-state-sideways {
    display: none !important;
  }
}

@media (max-width: 549px) {
  .trend-state-up,
  .trend-state-down,
  .trend-state-sideways {
    position: absolute;
    right: 1px;
    font-size: 9px;
    color: rgba(128, 128, 128, 0.3);
    &.drive {
      color: rgba(95, 226, 150, 0.7) !important;
    }
    &.capitulation {
      color: rgba(225, 119, 140, 0.7) !important;
    }
  }
}
