<div class="trend-column" [class.sideways]="Strength === ETrendIndexStrength.Sideways"
   [class.up]="Strength === ETrendIndexStrength.Up" [class.down]="Strength === ETrendIndexStrength.Down"
   [class.strong-up]="Strength === ETrendIndexStrength.StrongUp"
   [class.strong-down]="Strength === ETrendIndexStrength.StrongDown">
   <div class="trend-cell-container">
      <span class="trend-strength-value">{{StrengthValue.toFixed(0)}}%</span>
      <span class="trend-state-up" [class.drive]="StrengthValue > 0" [class.capitulation]="StrengthValue < 0"
         *ngIf="TrendState == 2">↑</span>
      <span class="trend-state-down" [class.drive]="StrengthValue > 0" [class.capitulation]="StrengthValue < 0"
         *ngIf="TrendState == 0">↓</span>
      <!-- <span class="trend-state-sideways" *ngIf="TrendState == 1">|</span> -->
   </div>
   <div class="volatility-cell-container" *ngIf="!!VolatilityValue">
      <span class="volatility-value hidden">{{VolatilityValue.toFixed(0)}}%</span>
   </div>
   <div class="duration-cell-container" *ngIf="!!Duration">
      <span class="duration-value  hidden">{{Duration}}</span>
   </div>
   <div class="phase-cell-container" *ngIf="!!TrendPhase">
      <span class="phase-value">{{TrendPhaseString(TrendPhase)}}</span>
   </div>
</div>