@mixin hoverOpacity($opacity, $hoveredOpacity, $transitionDuration: 0s) {
  & {
    opacity: $opacity;
    transition: opacity $transitionDuration;

    &:hover {
      opacity: $hoveredOpacity;
    }
  }
}
