<div class="login_container">
    <div class="left_part">
        <div class="page">
            <div class="navimgholder"><img width="100px" height="100" src="/assets/img/bft_bird_w.svg" alt="">
            </div>
            <div class="left">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div> 
    <div class="right_part">
        <div class="video_container" *ngIf="showVideo">
            <embed src="https://fast.wistia.net/embed/iframe/o0fmmsmleg?videoFoam=true" />
        </div>
    </div>

    <!-- <div class="col-md-8 hidden">
        <div class="full-height background">
            <div class="quoteholder"><span id="actualquote">Good trades take time.</span>
            </div>
        </div>
    </div> -->
</div>