@import "../../themes/themes";
@import "mixins/themify";
@import "global-styles/variables";


:host {
  height: 100%;
  width: 100%;
  display: block;
  overflow: auto;
  font-family:  $primaryFontFamily;
  background:#fff;

  .login_container {
    display: flex;
    height: 100%;
  }

  .left_part {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-left: 15px solid #191919;
  }

  .right_part {
    display: flex;
    background:#191919;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .video_container {
    width: 100%;
    margin: 20px;
    height: calc(((100vw / 2) - 40px) / 1.77);
    
    embed {
      height: 100%;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
      .right_part {
          display: none;
      }
  }

  .logo:before {
    vertical-align: unset;
  }

  /deep/ {
      .button_success:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      .remember-wrapper {
      span {
        @include themify($themes, true) {
          color: themed('regularColor');
        }
      }
      }

      .notification {
        @include themify($themes, true) {
          color: themed('regularColor');
        }
      }

      .button-on-error {
        @include themify($themes, true) {
          color: themed('accentColor');
        }
      }

      body {
        background-color: #f2f2f2;
      }

      .form-wrapper {
        padding:15px;
        width:290px !important;
      }

      ::before {
        color: #000000b5;
      }

      .signIn {
        color: black !important;
      }

      .beta {
        margin-top: 10px;
        background: #ffffff;
        padding: 10px;
        border-radius: 5px;
        color: #1a1a1a;
        text-align: center;
        font-size: 12px;
        border: 1px solid #000;
        position: relative;
        font-weight: 600;
        transition-duration: 0.22s;
        cursor: pointer;
      }

      .beta:hover {
        margin-top: 15px;
        background: #191919;
        padding: 15px;
        border-radius: 5px;
        color: #fff;
        text-align: center;
        font-size: 14px;
        position: relative;
        font-weight: 600;
      }

      .beta svg {
        vertical-align: middle;
        float: left;
        height: 20px;
        width: 20px;
        overflow: visible;
      }

      .beta:hover .beta.svg {
        height: 30px !important;
        width: 30px !important;
        fill:white;
      }

      .beta span {
        vertical-align: middle;
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus textarea:-webkit-autofill,
      textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
      select:-webkit-autofill,
      select:-webkit-autofill:hover,
      select:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
        font-size:12px;
        font-weight:600;
      }

      .mat-form-field-flex {
        background-color: #fff !important;
      }

      .lds-ellipsis div {
        background:#000 !important;;
        transition-duration: 0.22s;
      }

      .splitter {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        height: 0.01rem;
        background: #19191963;
      }

      .navimgholder {
        width: 100px;
        height: 100px;
        background: #191919;
        position: absolute;
        left: 0px;
        top: 0px;
      }

      .navimgholder img {
        padding: 20px;
      }

      .continuewith {
        text-align: center;
        width: 100%;
        display: block;
        font-size: 12px;
      }

      .margintop20 {
        margin-top:20px !important;
      }
      .marginbottom-5 {
        margin-bottom:-5px !important;
      }

      label.labeln {
        font-size: 12px;
        font-family: inherit;
        margin-bottom: 5px;
        display: block;
        font-weight: bold;
      }

      .policy-agreement-wrapper input {
        margin: 0px;
      }

      .policy-agreement-wrapper {
        font-size: 12px;
      }

    .action-btn:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    .action-btn {
      border:1px solid black;
      border-radius:5px;
      font-weight: bold;
      font-size:12px;
      background:#fff;
      color:#000;
      padding:5px;
      transition-duration: 0.22s;
      opacity: 1;
      margin-top: 15px;

      &:hover:not(:disabled) {
        background-color: black;
        color:#fff;
        font-weight: bold;
        font-size:14px;
        transition-duration: 0.22s;
        padding:10px;
        opacity: 1;
      }
    }
    
  }
}

span#actualquote {
  padding: 15px;
  color: #fff;
}

.quoteholder {display: block;position: relative;margin-top: 60vh;margin-left: 10vh;}


// .lds-ellipsis div {
//   background:#000 !important;;
//   transition-duration: 0.22s;
// }

.full-height {
  display:block;
  height:100%;
  transform: translateY(0px);
}

.full-height.background {
 background-image: url(https://images.unsplash.com/photo-1604724434236-a7cebeaa13e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);
}

.page {
}

.left {
  padding-top: 50px;
  margin:0 auto;
}

// span.splitter {
//   width: 100%;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   display: block;
//   height: 0.01rem;
//   background: #19191963;
// }