
    <div class="login_container" >
        
       <!--  <div class="login_bg_container" id="particle-container"></div>-->
       <div class="login_bg_container">
        
        <video autoplay muted loop id="myVideo" onerror="alert('Error: ' + this.error.code);">
            <source src="/assets/loop1.mp4" type="video/mp4">
          </video>
      </div>

                
      <div class="fishingbottom" >
        <div>Powered by</div>
        <img class="logoxxx" src="/assets/img/logo-v1_lightx6.png" alt="">
        
        
    </div>
   

        <div class="left_part">
            
            <div class="page">


                
             
                <div class="left">
                    
                    <router-outlet></router-outlet>
                </div>


                <div class="bottompart">
                   
            
               
                   
                </div>
            </div>
        </div> 
        
    </div>
