@import "../../themes/themes";
@import "mixins/themify";
@import "global-styles/variables";

:host {
  height: 100%;
  width: 100%;
  display: block;
  overflow: auto;
  font-family: $primaryFontFamily;
  background: #000;

  .login_container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }

  .left_part {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    max-width: 450px;
    min-height: 450px;

    max-height: 800px;
    height: auto;
    background: #fff;
    color: #000;
    z-index: 2;
    border-radius: 9px;
    box-shadow: 0 1px 4px rgba(0,0,0,.09);
  }
  .welcomeback {
    font-size: 24px !important;
    font-weight: 600;
  }

  .right_part {
    display: flex;
    background: #191919;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .video_container {
    width: 100%;
    margin: 20px;
    height: calc(((100vw / 2) - 40px) / 1.77);

    embed {
      height: 100%;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .right_part {
      display: none;
    }
  }

  .logo:before {
    vertical-align: unset;
  }

  /deep/ {
    .button_success:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    .remember-wrapper {
      span {
        @include themify($themes, true) {
          color: themed("regularColor");
        }
      }
    }

    .notification {
      @include themify($themes, true) {
        color: themed("regularColor");
      }
    }

    .button-on-error {
      @include themify($themes, true) {
        color: themed("accentColor");
      }
    }

    body {
      background-color: #f2f2f2;
    }

    .form-wrapper {
      padding: 15px;
      width: 290px !important;

      .crypto-form-unit {
        color: #191919;
      }
    }

    ::before {
      color: #000000b5;
    }

    .signIn {
      color: black !important;
    }

    .beta {
      margin-top: 10px;
      background: #efefef;
      padding: 10px;
      border-radius: 5px;
      color: #1a1a1a;
      text-align: center;
      font-size: 12px;
      border: 1px solid #000;
      position: relative;
      font-weight: 600;
      transition-duration: 0.22s;
      cursor: pointer;
    }

    .beta:hover {
      margin-top: 15px;
      background: #191919;
      padding: 15px;
      border-radius: 5px;
      color: #fff;
      text-align: center;
      font-size: 14px;
      position: relative;
      font-weight: 600;
    }

    .beta svg {
      vertical-align: middle;
      float: left;
      height: 20px;
      width: 20px;
      overflow: visible;
    }

    .beta:hover .beta.svg {
      height: 30px !important;
      width: 30px !important;
      fill: white;
    }

    .beta span {
      vertical-align: middle;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
      font-size: 12px;
      font-weight: 600;
    }

    .mat-form-field-flex {
      background-color: #fff !important;
    }

    .lds-ellipsis div {
      background: #000 !important;
      transition-duration: 0.22s;
    }

    .splitter {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      display: block;
      height: 0.01rem;
      background: #19191963;
    }

    .navimgholder {

      background: #191919;

      left: 0px;
      top: 0px;
      z-index: 3;
    }

    .navimgholder img {
      width: 45px;
      height: 45px;
    }

    .logoxxx {
     
      height: 25px;
    }

    .fishingbottom {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      -moz-column-gap: 8px;
      column-gap: 5px;
      z-index: 9999;
      position: absolute;
      bottom: 0;
      color: #ffffffe0;
      font-weight: bold;
      bottom: 0px;
      width: 100%;
      background: #000;
      padding: 8px 0px;
      font-size: 11px;
  
    }



    .continuewith {
      text-align: center;
      width: 100%;
      display: block;
      font-size: 14px;
    }

    .margintop20 {
      margin-top: 20px !important;
    }
    .marginbottom-5 {
      margin-bottom: -5px !important;
    }

    label.labeln {
      font-size: 12px;
      font-family: inherit;
      margin-bottom: 5px;
      display: block;
      font-weight: bold;
    }

    .policy-agreement-wrapper input {
      margin: 0px;
    }

    .policy-agreement-wrapper {
      font-size: 12px;
    }

    .action-btn:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
    .remember-wrapper {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding-top: 16px;
    }

    .action-btn {
      border: 1px solid black;
      border-radius: 5px;
      font-weight: bold;
      font-size: 12px;
      background: #191919;
      color: #fff;
      padding: 5px;
      transition-duration: 0.22s;
      opacity: 1;
      margin-top: 15px;
      height: 47px;

      &:hover:not(:disabled) {
        background-color: #292929;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        transition-duration: 0.22s;
        padding: 10px;
        opacity: 1;
      }
    }
  }

  /deep/ {
    span.continuewithx {
      display: flex;
      align-content: center;
      padding-top: 24px;
      padding-bottom: 12px;
      align-items: center;
      font-size: 14px;
    }

    .no-borders-input {
      margin: 10px 0px;
      /deep/.mat-form-field-flex {
        border-radius: 0px;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 0px;
      }
      .mat-input-element::placeholder {
        color: #191919;
        padding-left: 0px !important;
        margin-left: 0px !important;
      }

      .mat-input-element {
        padding: 0px;
        font-size: 13px;
      }
    }
  }
}

span#actualquote {
  padding: 15px;
  color: #fff;
}

.quoteholder {
  display: block;
  position: relative;
  margin-top: 60vh;
  margin-left: 10vh;
}

// .lds-ellipsis div {
//   background:#000 !important;;
//   transition-duration: 0.22s;
// }

.full-height {
  display: block;
  height: 100%;
  transform: translateY(0px);
}

.full-height.background {
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  align-content: flex-start;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

// span.splitter {
//   width: 100%;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   display: block;
//   height: 0.01rem;
//   background: #19191963;
// }

.login_bg_container {
  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.login_bg_container {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  opacity: 0.3;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
