<div class="trade-manager full-height">
    <mat-tab-group class="full-height">
        <mat-tab label="{{'tradeManager.positions' | translate}}">
            <mt5-positions></mt5-positions>
        </mat-tab>
        <mat-tab label="{{'tradeManager.openOrders' | translate}}">
            <mt5-open-orders></mt5-open-orders>
        </mat-tab>
        <mat-tab label="{{'tradeManager.orderHistory' | translate}}">
            <mt5-history-orders></mt5-history-orders>
        </mat-tab>
        <mat-tab label="{{'tradeManager.accountInfo' | translate}}">
            <mt5-account-info></mt5-account-info>
        </mat-tab>
    </mat-tab-group>
</div>

<div class="controls">
    <mt5-account-info-bar></mt5-account-info-bar>
    <button (click)="placeOrder()"
            style="margin:10px"
            [disabled]="!brokerConnected"
            class="crypto-button crypto-button_success">Place Order
    </button>
</div>
