<div class="trade-manager full-height">
    <div class="color-selector">
        <color-selector [activeColor]="linkerColor" [path]="'circle'" (activeColorChange)='handleColorSelected($event)'>
        </color-selector>
    </div>
    <mat-tab-group class="full-height">
        <mat-tab label="{{'tradeManager.positions' | translate}} {{positionsAmount ? '[' + positionsAmount + ']' : ''}}">
            <mt5-positions (onPositionClose)="handlePositionClose($event)" (onOpenChart)="handleOpenChart($event)"></mt5-positions>
        </mat-tab>
        <mat-tab label="{{'tradeManager.openOrders' | translate}} {{ordersAmount ? '[' + ordersAmount + ']' : ''}}">
            <mt5-open-orders (onOrderClose)="handleOrderClose($event)" (onOrderEdit)="handleOrderEdit($event)" (onOpenChart)="handleOpenChart($event)"></mt5-open-orders>
        </mat-tab> 
         <mat-tab label="{{'tradeManager.pendingOrders' | translate}} {{pendingAmount ? '[' + pendingAmount + ']' : ''}}">
            <mt5-pending-orders (onOrderClose)="handleOrderClose($event)" (onOrderEdit)="handleOrderEdit($event)" (onOpenChart)="handleOpenChart($event)"></mt5-pending-orders>
        </mat-tab>
        <mat-tab label="{{'tradeManager.orderHistory' | translate}}">
            <mt5-history-orders (onOpenChart)="handleOpenChart($event)"></mt5-history-orders>
        </mat-tab>
        <mat-tab label="{{'tradeManager.accountInfo' | translate}}">
            <mt5-account-info></mt5-account-info>
        </mat-tab>
    </mat-tab-group>
</div>

<div class="controls">
    <mt5-account-info-bar></mt5-account-info-bar>
    <button (click)="placeOrder()"
            style="margin:10px"
            [disabled]="!brokerConnected"
            class="crypto-button crypto-button_success">Place Order
    </button>
</div>
