@import "../../../styles/themes/themes";
@import "mixins/themify";
@import "global-styles/variables";

:host {
  flex-grow: 1;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: auto;
  flex-direction: column;

  /deep/ .side-buy {
    color: $lightGreenColor;
  }

  /deep/ .side-sell {
    color: $lightRedColor;
  }
  
  /deep/ .color-column { 
    width: 10px;
    height: 24px;
    position: relative;
    left: -10px;
  }
  
  /deep/ .symbol-column { 
    font-weight: bolder;
  }

  /deep/ .color-column.side-buy {
    background-color: $lightGreenColor;
  }

  /deep/ .color-column.side-sell {
    background-color: $lightRedColor;
  }

  /deep/ .positive-value {
    color: $lightGreenColor;
  }

  /deep/ .negative-value {
    color: $lightRedColor;
  }

  .crypto-button {
    padding: 0px 10px !important;
    height: 26px;
    margin: 0px !important;
  }

  /deep/ .mat-tab-body-wrapper { 
    height: 100% !important;
  } 
  /deep/ .mat-tab-label { 
    height: 26px !important;
  }
  /deep/ mat-header-cell {
    height: 25px;
  }
  /deep/ mat-row {
    height: 25px;
  }

  .selectAccount {
    selector {
      display: inline-block;
      width: 200px;
      margin-left: 20px;

      /deep/ ul {
        max-height: 250px !important;
        overflow: auto;
      }
    }

    .caption {
      font-size: 0.9em;
    }
  }

  .trade-manager {
    //padding: 10px;
    width: 100%;
    //height: calc(100% - 50px);
    overflow: auto;

    sortable-table {
      flex-grow: 1;
    }
  }

  .controls {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
}

.tabs-wrapper {
  padding: 10px 5px;
}

@include themify($themes, true) {
  .control .caption {
    color: themed('valueTextColor');
  }

  /deep/ mat-row:nth-child(even) {
    background-color: themed('nthChild') !important;
  }
}
