<div class="root">
<!--    <p class="menu-name">Forums:</p>-->
<!--    <p class="menu-item" routerLink="investor" routerLinkActive="active">Investor</p>-->
<!--    <p class="menu-item" routerLink="basic-trader" routerLinkActive="active">Basic Trader</p>-->
<!--    <p class="menu-item" routerLink="advanced-trader" routerLinkActive="active">Advanced Trader</p>-->
<!--    <p class="menu-item" routerLink="institutional" routerLinkActive="active">Institutional</p>-->
<!--    <div class="delimiter"></div>-->
    <p class="menu-item" routerLink="categories" routerLinkActive="active">Categories</p>
<!--    <p class="menu-item">Tags</p>-->
</div>
